<!DOCTYPE html>
<html>

<head>
	{{> html-head title="COMPONENT/COMPOUND/SECTION/TEMPLATE" }}
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>COMPONENT/COMPOUND/SECTION/TEMPLATE</h1>
	</div>

	{{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
