<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Product Card" }}
</head>

<body>
  <div class="container my-4 pt-4">
    <h1>Collection Banner Image wit Block Text</h1>
  </div>
  {{> compounds/bottom-banner reverse="true" background="bg-aea" }}
  <div class="container my-4 pt-4">
    <h1>Collection Banner Image wit Block Text</h1>
  </div>
  {{> compounds/bottom-banner reverse="true" background="bg-secondary" }}
  <div class="container my-4 pt-4">
    <h1>Collection Banner Image wit Block Text</h1>
  </div>
  {{> compounds/bottom-banner background="bg-secondary" }}
  <div class="container my-4 pt-4">
    <h1>Collection Banner Image wit Block Text</h1>
  </div>
  {{> compounds/bottom-banner badge="true" background="bg-tsw" reverse="true" }}

  {{> js jquery=true main=true }}
</body>

</html>
