<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Collection Banner" }}
</head>

<body class="container-fluid p-0">
  <div class="container mt-4">
    <h1>Collection Banner All Products</h1>
  </div>
  {{> collection-banner-all-products }}
  <div class="container mt-4">
    <h1>Collection Banner TSW Caption</h1>
  </div>
  <figure class="collection-banner text-center">
    <a href="/">
      <picture class="no-gutters__in-container">
        <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
        <source srcset="https://via.placeholder.com/375x394"/>
        <img class="w-100" src="https://via.placeholder.com/375x394"/>
      </picture>
    </a>
    <figcaption class="bg-tsw text-white p-2 p-lg-2 mx-auto text-center d-inline-block">
      <p class="h1 m-0 px-2">TASMANIAN SPRING WATER</p>
    </figcaption>
  </figure>
  <div class="container mt-4">
    <h1>Collection Banner AEA Caption</h1>
  </div>
  <figure class="collection-banner text-center">
    <a href="/">
      <picture class="no-gutters__in-container">
        <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
        <source srcset="https://via.placeholder.com/375x394"/>
        <img class="w-100" src="https://via.placeholder.com/375x394"/>
      </picture>
    </a>
    <figcaption class="bg-aea text-white p-2 p-lg-4 mx-auto text-center d-inline-block">
      <p class="h1 m-0 px-2">Australian Emu Apple and Glow Berries™</p>
    </figcaption>
  </figure>
  <div class="container mt-4">
    <h1>Collection Banner APC Caption</h1>
  </div>
  <figure class="collection-banner text-center">
    <a href="/">
      <picture class="no-gutters__in-container">
        <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
        <source srcset="https://via.placeholder.com/375x394"/>
        <img class="w-100" src="https://via.placeholder.com/375x394"/>
      </picture>
    </a>
    <figcaption class="bg-apc text-white p-2 p-lg-4 mx-auto text-center d-inline-block">
      <p class="h1 m-0 px-2">Australian Pink Clay</p>
    </figcaption>
  </figure>
</body>
</html>
