<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Image With Text" }}
</head>

<body class="mobile-wrapper">
  <div class="container">
    <h1>Image With Text</h1>
  </div>
  <div class="container-fluid mt-4 p-lg-0 mb-6 mb-lg-7">
    <figure class="imagewtext row flex-row-reverse mb-lg-2 mt-5 imagewtext--reverse align-items-center">
      <div class="col-12 col-lg-9 order-lg-last">
        <div class="no-gutters__in-container">
          <picture>
            <source srcset="https://via.placeholder.com/800x450/FEEDEF" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/380x336/FEEDEF" class="w-100">
          </picture>
        </div>
      </div>
      <figcaption class="col-12 col-lg-3">
        <div class="imagewtext__content imagewtext__reverse p-4 px-lg-6 py-7 bg-aea text-white text-center text-lg-left">
          <p class="font-banner-secondary text-white font-weight-bold pt-1 pt-lg-2">SAVE 20% with our Perfect Skin Kit</p>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  <div class="container-fluid mt-4 p-lg-0 mb-6 mb-lg-7">
    <figure class="imagewtext row flex-row-reverse mb-lg-2 mt-5 imagewtext--reverse">
      <div class="col-12 col-lg-9 order-lg-last">
        <div class="no-gutters__in-container">
          <picture>
            <source srcset="https://via.placeholder.com/800x450/FEEDEF" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/380x336/FEEDEF" class="w-100">
          </picture>
          <div class="imagewtext__badge position-absolute">
            <picture>
              <source src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/SS_TSW-Sticker_Green.png?v=1598008922"/>
              <img src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/SS_TSW-Sticker_Green.png?v=1598008922" class="w-100"/>
            </picture>
          </div>
        </div>
      </div>
      <figcaption class="col-12 col-lg-3">
        <div class="imagewtext__content imagewtext__reverse mt-lg-3 p-4 px-lg-6 py-7 bg-tsw text-white text-center text-lg-left">
          <p class="font-banner-secondary text-white font-weight-bold pt-1 pt-lg-2">SAVE 20% with our Perfect Skin Kit</p>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  <div class="container-fluid mt-4 p-lg-0 mb-6 mb-lg-7">
    <figure class="imagewtext imagewtext--reverse row mb-lg-2 mt-5">
      <div class="col-12 col-lg-9 pr-lg-0">
        <div class="no-gutters__in-container">
          <picture>
            <source srcset="https://via.placeholder.com/800x345/FEEDEF" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/380x336/FEEDEF" class="w-100">
          </picture>
        </div>
      </div>
      <figcaption class="col-12 col-lg-3 order-last order-lg-first">
        <div class="imagewtext__content-reverse mt-lg-3 p-4 px-lg-6 py-7 bg-apc text-white text-center text-lg-left">
          <p class="font-banner-secondary text-white font-weight-bold pt-2">SAVE 20% with our Perfect Skin Kit</p>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  {{> range-apc }}
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  {{> range-aea }}
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  {{> range-tsw}}
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  <div class="mt-4 p-lg-0 container">
    <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 justify-content-center align-items-center">
      <figcaption class="col-12 col-lg-5 order-last">
        <div class="imagewtext--large__content mt-lg-0 p-2 pt-lg-6 pb-lg-6 px-lg-6 bg-tsw text-left text-white imagewtext__tsw-decoration">
          <p class="font-banner-secondary text-white font-weight-bold text-center text-lg-left">Take the plunge</p>
          <ul class="list-unstyled py-2 py-lg-4 text-left between-space px-2 px-lg-0">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center pt-3 pt-lg-0 font-weight-normal"><i class="h6 sni sni__checklist text-white d-inline mr-1 mb-0 mt-1"></i>Deeply hydrated, healthy skin</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-white d-inline mr-1 mb-0 mt-1"></i>Repaired skin barrier + reduced moisture loss</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-white d-inline mr-1 mb-0 mt-1"></i>Smooth texture & even skin tone</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-white d-inline mr-1 mb-0 mt-1"></i>Skin so soft, you could dive right i</li>
          </ul>
        </div>
      </figcaption>
      <div class="col-12 col-lg-5">
        <picture class="d-block imagewtext--large__picture no-gutters__in-container">
          <source srcset="https://via.placeholder.com/470x470" media="(min-width: 992px)"/>
          <img src="https://via.placeholder.com/350x350" class="w-100"/>
        </picture>
      </div>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  <div class="mt-4 p-lg-0 container-fluid">
    <figure class="imagewtext imagewtext--reverse row flex-row-reverse mb-lg-2 mt-5 justify-content-center align-items-center">
      <figcaption class="col-12 col-lg-6">
        <div class="imagewtext__content-reverse-text mt-lg-0 bg-secondary-light text-center text-lg-left">
          <p class="font-banner text-secondary pt-2 pt-lg-0 font-weight-bold">Show your pores who’s boss.</p>
          <ul class="list-unstyled py-2 py-lg-4 text-left">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Deep cleansed, detoxified skin</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Refined pores &amp; a perky complexion</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Smooth texture &amp; even skin tone</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Shine-free, radiant results</li>
          </ul>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
      <div class="col-12 col-lg-6 order-first order-lg-last">
        <div class="no-gutters__in-container">
          <picture class="position-absolute dots-decoration">
            <img src="https://cdn.shopify.com/s/files/1/0253/9847/6905/t/115/assets/pores-pink-dotes.svg?v=11807568851721078718"/>
          </picture>
          <picture class="position-relative">
            <source srcset="https://via.placeholder.com/640x560" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/375x375" class="w-100"/>
          </picture>
        </div>
      </div>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5"></div>
  </div>
  <div class="mt-4 p-lg-0 container">
    <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 justify-content-center">
      <figcaption class="col-12 col-lg-6 order-last">
        <div class="imagewtext--large__content bg-aea-light text-left py-4 py-lg-6 pl-0 pl-lg-6 imagewtext__aea-decoration">
          <p class="font-banner text-aea font-weight-bold text-center text-lg-left">Glow, you good thing!</p>
          <ul class="list-unstyled py-2 py-lg-4 text-left between-space px-2 px-lg-0">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Glow, with lit-from-within skin</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Smooth and even skin tone</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Plump, juicy, hydrated skin</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Reduced appearance of  fine lines and pigmentation</li>
          </ul>
        </div>
      </figcaption>
      <div class="col-12 col-lg-6">
        <picture class="d-block imagewtext--large__picture no-gutters__in-container">
          <source srcset="https://via.placeholder.com/540x540" media="(min-width: 992px)"/>
          <img src="https://via.placeholder.com/350x350" class="w-100">
        </picture>
      </div>
    </figure>
  </div>
  {{> js jquery=true popper=false bootstrap=false main=true }}
</body>

</html>
