<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Image With Text" }}
</head>

<body>
  <div class="container">
    <h1>Range APC</h1>
  </div>
  {{> sections/range-apc }}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range AEA</h1>
    </div>
  </div>
  {{> sections/range-aea }}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range TSW</h1>
    </div>
  </div>
  {{> sections/range-tsw}}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range Intro TSW</h1>
    </div>
  </div>
  <div class="mt-4 p-0 container">
    <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 mx-0 justify-content-center align-items-center">
      <figcaption class="col-12 col-lg-5 order-last p-0">
        <div class="mx-g imagewtext--large__content mt-lg-0 p-2 pt-lg-6 pb-lg-6 px-lg-6 bg-tsw text-left text-white imagewtext__tsw-decoration">
          <p class="text-white font-weight-bold text-center text-lg-left h1">Take the plunge</p>
          <ul class="list-unstyled pt-0 pb-2 py-lg-4 text-left between-space px-2 px-lg-0">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center pt-5 pt-lg-0 font-weight-normal">
              <i class="sni sni__range-tsw text-primary d-inline mr-1 mb-0 mt-1"></i>
              Deeply hydrated, healthy skin
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="sni sni__range-tsw text-primary d-inline mr-1 mb-0 mt-1"></i>
              Repaired skin barrier + reduced moisture loss
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="sni sni__range-tsw text-primary d-inline mr-1 mb-0 mt-1"></i>
              Smooth texture & even skin tone
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="sni sni__range-tsw text-primary d-inline mr-1 mb-0 mt-1"></i>
              Skin so soft, you could dive right i
            </li>
          </ul>
        </div>
      </figcaption>
      <div class="col-12 col-lg-5 p-0">
        <picture class="d-block imagewtext--large__picture">
          <source srcset="https://via.placeholder.com/470x470" media="(min-width: 992px)"/>
          <img src="https://via.placeholder.com/350x350" class="w-100"/>
        </picture>
      </div>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5">
      <h1>Range Intro AEA</h1>
    </div>
  </div>
  <div class="mt-4 p-0 container-fluid">
    <figure class="imagewtext imagewtext--reverse row flex-row-reverse mb-lg-2 mt-5 justify-content-center align-items-center mx-0">
      <div class="col-12 col-lg-6 order-first order-lg-last p-0">
        <picture class="position-absolute dots-decoration">
          <img src="../images/pores-pink-dotes.svg" data-skip-inject-svg="true">
        </picture>
        <picture class="position-relative">
          <source srcset="https://via.placeholder.com/640x560" media="(min-width: 992px)"/>
          <img src="https://via.placeholder.com/375x375" class="w-100"/>
        </picture>
      </div>
      <figcaption class="col-12 col-lg-6 p-0">
        <div class="mx-g mt-n6 mt-lg-0 ml-lg-n6 mr-lg-0 imagewtext__content-reverse-text mt-lg-0 bg-secondary-light text-center text-lg-left p-4">
          <p class="text-secondary pt-2 pt-lg-0 font-weight-bold px-2 h1">Show your pores who’s boss.</p>
          <ul class="list-unstyled py-2 py-lg-4 text-left px-3">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
              Deep cleansed, detoxified skin
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
              Refined pores &amp; a perky complexion
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
              Smooth texture &amp; even skin tone
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
              Shine-free, radiant results
            </li>
          </ul>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="my-5">
    <div class="container py-5">
      <h1>Range Intro AEA</h1>
    </div>
  </div>
  <div class="mt-4 container">
    <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 justify-content-center">
      <figcaption class="col-12 col-lg-6 order-last p-0">
        <div class="mx-g imagewtext--large__content bg-aea-light text-left py-2 py-lg-6 pl-0 pl-lg-6 imagewtext__aea-decoration">
          <p class="text-aea font-weight-bold text-center text-lg-left h1">Glow, you good thing!</p>
          <ul class="list-unstyled py-2 py-lg-4 text-left between-space px-2 px-lg-0">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal pt-2">
              <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
              Glow, with lit-from-within skin
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
              Smooth and even skin tone
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
              Plump, juicy, hydrated skin
            </li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
              <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
              Reduced appearance of  fine lines and pigmentation
            </li>
          </ul>
        </div>
      </figcaption>
      <div class="col-12 col-lg-6 p-0 p-lg-2">
        <picture class="d-block imagewtext--large__picture">
          <source srcset="https://via.placeholder.com/540x540" media="(min-width: 992px)">
            <img src="https://via.placeholder.com/350x350" class="w-100">
          </picture>
        </div>
      </figure>
    </div>
    {{> js jquery=true popper=false bootstrap=false main=true }}
  </body>

  </html>
