<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Image With Text" }}
</head>

<body>
  <div class="container">
    <h1>Range APC</h1>
  </div>
  {{> sections/range-apc }}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range AEA</h1>
    </div>
  </div>
  {{> sections/range-aea }}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range TSW</h1>
    </div>
  </div>
  {{> sections/range-tsw}}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range Intro TSW</h1>
    </div>
  </div>
  {{> compounds/range-intro-tsw }}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range Intro apc</h1>
    </div>
  </div>
  {{> compounds/range-intro-apc }}
  <div class="my-5">
    <div class="container py-5">
      <h1>Range Intro AEA</h1>
    </div>
  </div>
  {{> compounds/range-intro-aea }}
  {{> js jquery=true popper=false bootstrap=false main=true }}
  </body>

</html>
