<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Image With Text" }}
</head>

<body>
  <div class="container">
    <h1>Image With Text</h1>
  </div>
  <div class="container-fluid mt-4 p-lg-0">
    <figure class="imagewtext mobile-wrapper row flex-row-reverse position-relative mb-lg-2 mt-5">
      <div class="col-12 col-lg-9 order-lg-last">
        <div class="no-gutters__in-container imagewtext--right-reverse">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/sandandskyaus_2x_55d6a249-c104-4dae-9b45-24a9308517f2_800x.png" media="(min-width: 992px)" />
            <img src="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/APC_Range_Content_M_3_2x_3c369f13-532f-4d93-ac64-446fad756eaf_540x.jpg?v=1595304479" class="w-100">
          </picture>
        </div>
      </div>
      <figcaption class="col-12 col-lg-3">
        <div class="imagewtext__content imagewtext--reverse mt-lg-2 p-4 pt-lg-6 pb-lg-6 px-lg-6 bg-aea text-white text-center text-lg-left mr-lg-6">
          <p class="font-banner">SAVE 20% with our Perfect Skin Kit</p>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="my-6 d-flex"></div>
  <div class="container-fluid mt-4 p-lg-0">
    <figure class="imagewtext mobile-wrapper row flex-row flex-lg-nowrap position-relative mb-lg-2 mt-5">
      <div class="col-12 col-lg-9">
        <div class="no-gutters__in-container imagewtext--left-reverse">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/APC_Range_Content_D_3_2x_ecb2f330-142f-4d62-8d4f-f857bf6083d3_800x.jpg?v=1573549390" media="(min-width: 992px)"/>
            <img src="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/APC_Range_Content_M_3_2x_3c369f13-532f-4d93-ac64-446fad756eaf_540x.jpg?v=1595304479" class="w-100"/>
          </picture>
        </div>
      </div><figcaption class="col-12 col-lg-3 order-last order-lg-first ml-lg-6">
        <div class="imagewtext__content mt-lg-2 p-4 pt-lg-6 pb-lg-6 px-lg-6 bg-apc text-white text-center text-lg-left">
          <p class="font-banner">SAVE 20% with our Perfect Skin Kit</p>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="my-6 d-flex"></div>
  <div class="mt-4 p-lg-0">
    <div class="container apc-decoration position-relative">
      <p class="mt-4 h4 font-banner-dark">The power of Aussie earth to</p>
      <p class="font-banner font-weight-bold mb-2 font-banner--dark">Detoxify and refine</p>
      <figure class="imagewtext mobile-wrapper row flex-row-reverse position-relative mb-lg-2 mt-5 justify-content-center apc-decoration__content">
        <figcaption class="col-12 col-lg-6 order-last position-relative">
          <div class="imagewtext__content-secondary mt-lg-2 p-4 pt-lg-6 pb-lg-6 px-lg-6 text-left bg-secondary-light no-gutters__in-container">
            <p class="h4 mt-2">Sourced from Southern and Western Australia, and combined with the best Australian botanical ingredients, Australian Pink Clay powerfully absorbs impurities, drawing out toxins and combating pollution.</p>
            <p class="h4 mt-2">Non-drying and gentle on sensitive skin, it instantly reduces the appearance of pores.</p>
          </div>
          <picture class="d-none d-lg-block position-absolute leaf">
            <img src="../images/leaf.svg"/>
          </picture>
        </figcaption>
        <div class="col-12 col-lg-4">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/APC_Range_Content_D_1_2x_9e6c98ce-3f43-447b-8395-920ec4655a1f_540x.jpg?v=1573549390" media="(min-width: 992px)"/>
            <img src="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/APC_Range_Content_D_1_2x_9e6c98ce-3f43-447b-8395-920ec4655a1f_360x.jpg?v=1573549390" class="w-100">
          </picture>
        </div>
      </figure>
    </div>
  </div>
  <div class="my-6 d-flex"></div>
  <div class="mt-4 p-lg-0">
    <div class="container aea-decoration position-relative">
      <p class="mt-4 h4 font-banner-dark">The power of Aussie earth to</p>
      <p class="font-banner font-weight-bold mb-2 font-banner--dark">Plump & Brighten</p>
      <figure class="imagewtext mobile-wrapper row flex-row-reverse position-relative mb-lg-2 mt-5 justify-content-center">
        <figcaption class="col-12 col-lg-6 order-last position-relative">
          <div class="imagewtext__content-secondary mt-lg-2 p-4 pt-lg-6 pb-lg-6 px-lg-6 bg-aea-light text-left no-gutters__in-container">
            <p class="h4 mt-2">Buried deep in the Aussie bush is a national treasure. Bursting with antioxidants, Australian Emu Apple boosts Vitamin C absorption and shields against free radicals. Meaning? Skin that’s younger, longer. And a glow that just keeps going!</p>
          </div>
        </figcaption>
        <div class="col-12 col-lg-4">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/2019_09_SAND_AND_SKY_EMU_009_540x.png?v=1571756759" media="(min-width: 992px)"/>
            <img src="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/2019_09_SAND_AND_SKY_EMU_009_360x.png?v=1571756759" class="w-100">
          </picture>
        </div>
      </figure>
    </div>
    <div class="my-6 d-flex"></div>
    <div class="mt-4 p-lg-0">
      <div class="container tsw-decoration position-relative">
        <p class="mt-4 h4 font-banner-dark">The power of Tasmanian water to</p>
        <p class="font-banner font-weight-bold mb-2 font-banner--dark">Strengthen and hydrate</p>
        <figure class="imagewtext mobile-wrapper row flex-row-reverse position-relative mb-lg-2 mt-5 justify-content-center align-items-center overflow-hidden">
          <figcaption class="col-12 col-lg-6 order-last position-relative">
            <div class="triangle left d-lg-none"></div>
            <div class="triangle right d-lg-none"></div>
            <div class="imagewtext__content-secondary mt-lg-0 p-4 pt-lg-6 pb-lg-6 px-lg-6 bg-tsw-light text-left no-gutters__in-container">
              <p class="h4 mt-2">Found deep within a pristine lake in a remote national park, Tasmanian Spring Water is a hydrating, strengthening force of nature. Revitalising skin from the first drop, it quenches, plumps and fortifies with a unique blend of naturally occurring essential minerals.</p>
              <p class="h4 mt-2">Teaming up with Hyaluronic Acid for improved moisture retention, it delivers instant hydration and radiance, plus lasting relief from dryness and sensitivity.</p>
            </div>
          </figcaption>
          <div class="col-12 col-lg-5">
            <picture>
              <source srcset="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/TSW_RANGE-duo-1_720x.jpg?v=1598188835" media="(min-width: 992px)"/>
              <img src="https://cdn.shopify.com/s/files/1/0248/5370/8886/files/TSW_RANGE-duo-1_360x.jpg?v=1598188835" class="w-100"/>
            </picture>
          </div>
        </figure>
      </div>
    </div>
    {{> js jquery=true popper=false bootstrap=false main=true }}
  </body>

  </html>
