<!DOCTYPE html>
<html>
<head>
  {{> html-head title="Map With Text" }}
</head>
<body class="mobile-wrapper">
  <div class="container">
    <h1>Map With Text</h1>
  </div>

  <div class="bg-secondary-light">
    <div class="mt-4 p-lg-0 container">
      <figure class="mobile-wrapper row flex-row position-relative mb-lg-2 mt-5 justify-content-center align-items-center py-4">
        <figcaption class="col-12 col-lg-6 position-relative font-banner text-secondary font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
          From bush to your bathroom.
        </figcaption>
        <div class="col-12 col-lg-6 pl-lg-0 position-relative">
          <picture class="position-relative">
            <source srcset="../images/apc-map-desktop.svg" media="(min-width: 992px)"/>
            <img src="../images/apc-map-mobile.svg" class="w-100"/>
          </picture>
        </div>
      </figure>
    </div>
  </div>
  <div class="bg-aea-light">
    <div class="mt-4 p-lg-0 container aea-map position-relative">
      <figure class="mobile-wrapper row flex-row position-relative mb-lg-2 mt-5 justify-content-center align-items-center py-6">
        <figcaption class="col-12 col-lg-5 position-relative font-banner text-aea font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
          From bush to your bathroom.
        </figcaption>
        <div class="col-12 col-lg-6 pl-lg-0 position-relative">
          <picture class="position-relative">
            <source srcset="../images/aea-map-desktop.svg" media="(min-width: 992px)"/>
            <img src="../images/aea-map-mobile.svg" class="w-100"/>
          </picture>
        </div>
      </figure>
    </div>
  </div>
  <div class="bg-tsw-light">
    <div class="mt-4 p-lg-0 container tsw-map position-relative">
      <figure class="mobile-wrapper row flex-row position-relative mb-lg-2 mt-5 justify-content-center py-6">
        <figcaption class="col-12 col-lg-5 position-relative font-banner gray-muted font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
          From bush to your bathroom.
        </figcaption>
        <div class="col-12 col-lg-7 pl-lg-0 position-relative text-center">
          <picture class="position-relative">
            <img src="//cdn.shopify.com/s/files/1/0248/5370/8886/files/TSW_RANGE-map2_540x.png?v=1598188835" class="img-fluid"/>
          </picture>
        </div>
      </figure>
    </div>
  </div>
</body>
