<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Mega Menu" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Mega Menu Shop</h1>
	</div>
	{{> compounds/mega-menu-shop }}
	<div class="container px-g mt-4">
		<h1>Mega Menu About</h1>
	</div>
	{{> compounds/mega-menu-about }}
	{{> js jquery=true main=true }}
</body>

</html>
