<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Mega Menu Post Card" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Mega Menu Post Card</h1>
		<div class="row">
			<div class="col-12 col-lg-4">
				{{> compounds/mega-menu-post-card }}
			</div>
			<div class="col-lg-4">
				{{> compounds/mega-menu-post-card }}
			</div>
		</div>
	</div>

	{{> js jquery=true main=true }}
</body>

</html>
