<!DOCTYPE html>
<html>

<head>
    {{> html-head title="Mobile Menu" }}
</head>

<body>
    <div class="container px-g mt-4">
        <h1>Mobile Menu</h1>
    </div>
    {{> compounds/mobile-menu }}
    {{> js jquery=true main=true }}
</body>

</html>
