<!DOCTYPE html>
<html>
	<head>
		{{> html-head title="Post Card" }}
	</head>
	<body>
		<div class="container">
			<h1>POST CARD</h1>
			<article class="post-card mb-4 mb-lg-3">
				<figure class="mb-2 no-gutters__in-container">
					<img src="https://via.placeholder.com/375x190.jpg/EFADBA" class="w-100">
				</figure>
				<time>04 May, 2020</time>
				<h2 class="mt-1 mb-1">5 things you’re doing wrong with your hair care routine</h2>
				<p>Give these myths the brush off for a healthy scalp & shiny hair!</p>
			</article>
		</div>
		{{> js jquery=true bootstrap=true main=true }}
	</body>
</html>
