<!DOCTYPE html>
<html>
	<head>
		{{> html-head title="Post Card" }}
	</head>
	<body>
		<div class="container px-g">
			<h1>POST CARD</h1>
			<article class="post-card mb-4 mb-lg-3">
				<figure class="mb-3 mx-ng mx-lg-auto">
					<a href="#" class="d-block hover-overlay">
						<img src="https://via.placeholder.com/375x190.jpg?text=1" class="w-100">
					</a>
				</figure>
				<time>05 Apr, 2021</time>
				<h2 class="my-2">
					<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
				</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</article>

			<h1>POST CARDS GRID</h1>
			<ul class="row mb-5 list-unstyled">
				<li class="col-12 col-lg-4">
					<article class="post-card mb-5 mb-lg-4">
						<figure class="mb-2 mx-ng mx-lg-auto">
							<a href="#" class="d-block hover-overlay">
								<img src="https://via.placeholder.com/375x190.jpg?text=1" class="w-100">
							</a>
						</figure>
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients</a>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-5 mb-lg-4">
						<figure class="mb-2 mx-ng mx-lg-auto">
							<a href="" class="d-block hover-overlay">
								<img src="https://via.placeholder.com/375x190.jpg?text=2" class="w-100">
							</a>
						</figure>
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-5 mb-lg-4">
						<figure class="mb-2 mx-ng mx-lg-auto">
							<a href="#" class="d-block hover-overlay">
								<img src="https://via.placeholder.com/375x190.jpg?text=3" class="w-100">
							</a>
						</figure>
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</article>
				</li>
			</ul>


			<h1>POST CARDS GRID NO IMAGE</h1>
			<ul class="row mb-5 list-unstyled">
				<li class="col-12 col-lg-4">
					<article class="post-card">
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients</a>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card">
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card">
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</article>
				</li>
			</ul>

			<h1>POST CARDS CAROUSEL</h1>
			<article class="post-card mb-4 mb-lg-3">
				<figure id="carouselWithGroupedControls" class="carousel carousel--fixed-height slide mb-2 mx-ng mx-lg-auto" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselWithGroupedControls" data-slide-to="0" class="active rounded-circle border-0"></li>
						<li data-target="#carouselWithGroupedControls" data-slide-to="1" class="rounded-circle border-0"></li>
						<li data-target="#carouselWithGroupedControls" data-slide-to="2" class="rounded-circle border-0"></li>
					</ol>
					<div class="carousel-inner">
						<figure class="mb-0 carousel-item active">
							<img src="https://via.placeholder.com/770x513" class="w-100" alt="First slide">
						</figure>
						<figure class="mb-0 carousel-item">
							<img src="https://via.placeholder.com/252x448" class="w-100" alt="Second slide">
						</figure>
						<figure class="mb-0 carousel-item">
							<img src="https://via.placeholder.com/528x793" class="w-100" alt="Third slide">
						</figure>
					</div>
					<a class="carousel-control carousel-control-prev carousel-control--background rounded-0 carousel-control--right-lg" href="#carouselWithGroupedControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon sni sni__chevron-prev text-secondary justify-content-center align-items-center" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control carousel-control-next carousel-control--background rounded-0 carousel-control--right-lg" href="#carouselWithGroupedControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon sni sni__chevron-next text-secondary justify-content-center align-items-center" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</figure>
				<time>05 Apr, 2021</time>
				<h2 class="my-2">
					<a class="link-secondary" href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
				</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</article>
		</div>
		{{> js jquery=true bootstrap=true main=true }}
	</body>
</html>
