<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Card" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Product Card</h1>

		<div class="row">
			{{> compounds/product-card color="ff6f8d"}}
			{{> compounds/product-card color="cc3195"}}
			{{> compounds/product-card color="66b3df"}}
		</div>
	</div>
</body>

</html>
