<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Review Card" }}
</head>

<body>
	<div class="mt-4">
		<h1 class="container">Review Card</h1>

		{{> review-card content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. "}}
	</div>
</body>

</html>
