<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Review Card" }}
</head>

<body>
	<div class="mt-4">
		<h1 class="container px-g">Review Card</h1>
		<div class="row px-g">
			<figure class="col-9 col-lg-2 mb-0">
				<img src="https://via.placeholder.com/255x255" alt="Placeholder" class="d-block w-100">
				<figcaption class="m-0 bg-secondary-light font-size-sm px-g py-3">
					<p class="mb-3 text-body">@greivy.nyc</p>
					<i class="d-block text-body">I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother.
						<a href="#" class="text-underline text-body review-card__more">More</a>
					</i>
				</figcaption>
			</figure>
		</div>
	</div>
</body>
</html>
