<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Search Box" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Search Box</h1>
	</div>
	{{> compounds/search-box }}
	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
