<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Secondary Navbar" }}
</head>
<body class="container px-g">
	<h1 class="mt-4">Mobile Second Nav Scrollable</h1>
	<div class="row">
		{{> compounds/secondary-nav }}
	</div>
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
