<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Upsell" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Upsell</h1>
	</div>

	{{> js jquery=false popper=false bootstrap=false main=false }}
</body>

</html>
