<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Upsell" }}
</head>

<body>
	<div class="container px-g mt-4">

		<div class="row">
			<div class="col-12 col-lg-5">
				<h1>Upsell</h1>
				<figure class="upsell media align-items-center">
					<img src="https://via.placeholder.com/129x163/F7E3F0" alt="Generic placeholder image">
					<figcaption class="media-body px-3">
						<h4 class="mt-0">Perfect Skin Kit</h4>
						<p class="font-size-sm mb-3">Porefining Face Mask + Flash Perfection Exfoliator</p>
						<button class="btn btn-outline-primary"><span class="font-weight-normal text-linethrough mr-1">$92.50</span><span class="mr-1">$74.20</span>Add to cart</button>
					</figcaption>
				</figure>
				<h1>Upsell With Discount Bar</h1>
				<figure class="upsell media align-items-center mt-4" role="group">
					<figure class="m-0 position-relative">
						<figcaption class="position-absolute w-100 text-center font-size-sm py-1 bg-secondary text-white">Save 20%</figcaption>
						<img src="https://via.placeholder.com/129x163/F7E3F0" alt="Generic placeholder image">
					</figure>
					<figcaption class="media-body px-3">
						<h4 class="mt-0">Perfect Skin Kit</h4>
						<p class="font-size-sm mb-3">Porefining Face Mask + Flash Perfection Exfoliator</p>
						<button class="btn btn-outline-primary"><span class="font-weight-normal text-linethrough mr-1">$92.50</span><span class="mr-1">$74.20</span>Add to cart</button>
					</figcaption>
				</figure>

				<h1>Supercharge Results</h1>
				<figure class="media align-items-center bg-white">
					<img src="https://via.placeholder.com/129x129/F7E3F0" alt="Generic placeholder image">
					<figcaption class="media-body px-3 font-size-sm">Lock in hydration for longer. Use Tasmanian Spring Water Splash Serum to rehydrate and repair the skin barrier.</figcaption>
				</figure>
			</div>

		</div>

	</div>

	{{> js jquery=false popper=false bootstrap=false main=false }}
</body>

</html>
