<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Upsell" }}
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<div class="row">
			<div class="col-12 col-lg-5">

				<h1>Upsell</h1>
				<figure class="upsell bg-gray-100 media p-g">
					<img src="https://via.placeholder.com/100x126/F7E3F0" alt="Generic placeholder image">
					<figcaption class="media-body pl-g">
						<p class="font-weight-bold mt-0 mb-2">Dreamy Glow Drops Besties Kit</p>
						<p class="mb-2">Porefining Face Mask (60g) + FREE applicator brush</p>
						<span class="font-weight-bold mr-1">$92.50</span><span class="text-linethrough text-muted mr-1">$74.20</span>
						<button class="btn d-block mt-2 btn-outline-primary">Add to cart</button>
					</figcaption>
				</figure>

				<h1>Upsell With Discount Bar</h1>
				<div class="text-center bg-secondary text-white py-1 font-size-sm">Save 20% with a bundle</div>
				<figure class="upsell bg-gray-100 media p-g">
					<img src="https://via.placeholder.com/100x126/F7E3F0" alt="Generic placeholder image">
					<figcaption class="media-body pl-g">
						<p class="font-weight-bold mt-0 mb-2">Dreamy Glow Drops Besties Kit</p>
						<p class="mb-2">Porefining Face Mask (60g) + FREE applicator brush</p>
						<span class="font-weight-bold mr-1">$92.50</span><span class="text-linethrough text-muted mr-1">$74.20</span>
						<button class="btn d-block mt-2 btn-outline-primary">Add to cart</button>
					</figcaption>
				</figure>

			</div>
		</div>
	</div>

	{{> js jquery=false popper=false bootstrap=false main=false }}
</body>

</html>
