.announcement-bar--abtest-active {
	display: none;
}

html.uk-store {
	.modal--newsletter {
		top: 2em;

		.union {
			height: 2em;
		}

		.close {
			right: 1em;
			top: 1em;
		}

		.modal-content {
			top: 0;
			background: linear-gradient(rgba(255,129,153,1) 0%, rgba(253,223,229,1) 38%, rgba(255,255,255,0) 43%), url("https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Clear_Skin_Kit_-_Floating_Spills_plain_bg_1.jpg?v=1644221858") no-repeat center bottom;
			background-size: contain;

			@include media-breakpoint-up(lg) {
				top: auto;
				background: white;
			}
		}

		.completed-bg {
			background: url("https://cdn.shopify.com/s/files/1/0277/5262/8295/files/popup_bg_final.png?v=1644859446") no-repeat center top;
			background-size: cover;

			@include media-breakpoint-up(lg) {
				background: white;
			}
		}

		.bottom-close {
			background-color: $range-apc-light;
		}

		@include media-breakpoint-up(lg) {
			.text-white {
				color: $body-color !important;
			}
		}

		@include media-breakpoint-down(md) {
			input,
			.countries-options__label,
			.countries-options__input {
				border: 0;
			}

			.countries-options__input {
				border-left: 1px solid $gray-600;
			}
		}

		.validated:after {
			position: absolute;
			content: url(icon-svg('check-circle.svg', #{$primary}, #{$font-size-xs}));
			width: $font-size-xs;
			height: $font-size-xs;
			right: calc-em(10);
			bottom: 1.1em;
		}

		.validated.row:after {
			right: calc-em(17);
			bottom: 1.4em;
		}
	}

	.modal--newsletter-open {
		.main-header {
			z-index: $zindex-modal;
		}

		@include media-breakpoint-up(lg) {
			.navbar,
			.announcement-bar:not(.announcement-bar--open-modal) {
				&:before {
					content: ' ';
					background-color: black;
					opacity: .5;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					z-index: $zindex-modal-backdrop;
				}
			}

			.announcement-bar:not(.announcement-bar--open-modal) {
				&:before {
					top: 0;
				}
			}
		}
	}

	.countries-options {
		&__label {
			border: 1px solid $gray-600;
			height: 100%;
			width: calc(100% - 5px);
			padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width 0;
			background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") no-repeat right 0.7em center/1em 0.5625em;
		}

		&__select {
			opacity: 0;
		}

		&__input {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}



	&.newsletter-abtest {
		.announcement-bar {
			background-color: $gray-100;

			&--abtest-active {
				display: block;
			}

			&:not(.announcement-bar--abtest-active) {
				display: none;
			}

			&--open-modal {
				.chevron-left {
					height: calc-em(32);
					left: 1em;
				}
	
				.chevron-right {
					height: calc-em(32);
					right: 1em;
				}
	
				a {
					padding: calc-em(9.5) 0;
				}
			}
		}
	}

	&.newsletter-without-announcement-abtest {
		@include media-breakpoint-down(md) {
			.modal--newsletter {
				top: auto;
			}

			.modal-content {
				margin-left: $grid-gutter-width !important;
				margin-right: $grid-gutter-width !important;
				top: auto;
				position: relative !important;
				border-radius: 0.3rem !important;
			}

			.bottom-close {
				display: none !important;
			}

			.close {
				display: block !important;
			}

			.modal--newsletter-open .navbar:before {
				top: 0;
				left: 0;
				z-index: $zindex-modal-backdrop;
				width: 100vw;
				height: 100%;
				background-color: #000;
				opacity: .5;
				position: fixed;
				content: ' ';
			}

			.modal-content__wrapper {
				margin-bottom: 0 !important;
			}
		}
	}
}
