.announcement-bar {
	padding: calc-em(9.5) 0;
	a {
		color: white;
		text-decoration: none;
	}

	&__timer ul {
        border-bottom: 2px solid #fff;
    }

	&__marquee {
		transform: initial;
		height: calc-em(32);
	}

	&__content {
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 60s linear infinite;
		top: calc-em(3);
	}
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}
}