.announcement-bar--abtest-active {
	display: none;
}

html.uk-store.newsletter-abtest {
	.announcement-bar--abtest-active {
		display: block;
	}

	.announcement-bar:not(.announcement-bar--abtest-active) {
		display: none;
	}

	.announcement-bar {
		background-color: $gray-100;
	}
	.announcement-bar--open-modal {
		.chevron-left {
			height: calc-em(32);
			left: 1em;
		}

		.chevron-right {
			height: calc-em(32);
			right: 1em;
		}

		a {
			padding: calc-em(9.5) 0;
		}
	}

	.modal--newsletter {
		top: 2em;

		.union {
			height: 2em;
		}

		.close {
			right: 1em;
			top: 1em;
		}

		.modal-content {
			top: 0;

			@include media-breakpoint-up(lg) {
				top: auto;
			}
		}

		.bottom-close {
			background-color: $range-tsw-light;
		}
	}

	.modal--newsletter-open .main-header {
		z-index: $zindex-modal;

		.navbar {
			&:before {
				@include media-breakpoint-up(lg) {
					content: ' ';
					background-color: black;
					opacity: .5;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					z-index: $zindex-modal-backdrop;
				}
			}
		}

		.announcement-bar:not(.announcement-bar--open-modal) {
			&:before {
				@include media-breakpoint-up(lg) {
					content: ' ';
					background-color: black;
					opacity: .5;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					z-index: $zindex-modal-backdrop;
					top: 0;
				}
			}
		}
	}

	.countries-options {
		&__label {
			border: 1px solid $gray-600;
			height: 100%;
			width: calc(100% - #{$grid-gutter-width-lg});
			padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width 0;
			background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") no-repeat right 0em center/1em 0.5625em;
		}

		&__select {
			opacity: 0;
		}
	}
}