.btn {
	&-primary,
	&-secondary,
	&-primary.disabled,
	&-primary:disabled,
	&-outline-primary:hover,
	&-outline-primary:not(:disabled):not(.disabled).active,
	&-outline-primary:not(:disabled):not(.disabled):active {
		color: $white;
	}

	&-primary.disabled,
	&-primary:disabled {
		background: $input-btn-primary-disabled-color;
		border: $input-btn-primary-disabled-color;
		opacity: 1;
	}

	&-outline-primary {
		border-color: $primary;
		background-color: $white;

		&.disabled,
		&:disabled {
			border-color: $gray-600;
			color: $gray-600;
		}
	}

	&--auth {
		height: 40px;
	}
}
