html.au-store,
html.us-store,
html.uk-store {
    .button-black-abtest-active {
        a {
            color: $secondary;
            text-decoration: none;

            &.text-secondary,
            &.text-primary,
            &.text-body:not(.nav-link):not(.product-card__text):not([data-target]) {
                color: $secondary !important;

                &:hover {
                    color: $secondary !important;
                }
            }

            &.text-underline, span {
                text-decoration: none !important;

                &:hover {
                    text-decoration: underline !important;
                }
            }

            &:not(.btn):not(.product-card__text) {
                &:hover {
                    text-decoration: underline;
                }
            }
        } 

        .product-card__text,
        .nav-link,
        .search-box__clear,
        .search-box__close,
        .dropdown-item {
            color: #272727;

            &:hover {
                color: $body-color;
                text-decoration: none !important;
            }
        }

        .mega-menu a {
            color: #272727;

            span {
                text-decoration: none;
                display: inline-block;
            }

            &:hover {
                color: $body-color;

                span {
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }

        .tab-ingredient__content a.text-body {
            color: $body-color !important;

            &:hover {
                color: $secondary !important;
            }
        }

        .mega-menu-post-card {
            .text-primary, u {
                color: $secondary !important;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            h4 {
                color: $body-color !important;
            }
        }

        .mobile-nav__menu a:not(.btn-primary) {
            color: $body-color;

            &:hover {
                color: $secondary;
                text-decoration: none;
            }
        }

        .product-form__shipping-accordion u {
            text-decoration: none;
        }

        footer a,
        .mobile-nav__other-menu a {
            color: #969696 !important;

            &:hover {
                color: $secondary !important;
                text-decoration: none !important;
            }
        }

        .hero-carousel,
        .collection-banner {
            picture:first-child {
                display: none;
            }
            picture:last-child {
                display: block !important;
            }
        }

        .product-form-banner {
            picture:first-child {
                display: none !important;
            }
            picture:last-child {
                display: block !important;
            }
        }

        .announcement-bar {
            a, a:hover {
                color: #fff;
                text-decoration: none !important;
            }
        }

        .cart-item a {
            color: $body-color;
        }

        .btn-outline-primary {
            background-color: white;
            border-color: #272727;
            color: #272727;

            &:hover,
            &:active,
            &:focus,
            &:visited,
            &:active,
            &:not(:disabled):not(.disabled):active:focus,
            &:not(:disabled):not(.disabled).active:focus {
                box-shadow: none;
                background-color: #272727;
                border-color: #272727;
                color: white;
            }
        }

        .btn-primary {
            background-color: #272727;
            border-color: #272727;
            color: white;

            &:hover,
            &:active,
            &:focus,
            &:visited,
            &:active,
            &:not(:disabled):not(.disabled):active:focus,
            &:not(:disabled):not(.disabled).active:focus {
                box-shadow: none;
                background-color: $body-color;
                border-color: $body-color;
            }
        }

        .collection-section,
        .featured-products-tab__heading,
        .featured-products-carousel,
        .instagram-carousel {
            .btn-primary {
                background-color: white;
                border-color: #272727;
                color: #272727;

                &:hover {
                    background-color: #272727;
                    border-color: #272727;
                    color: white;
                }
            }
        }

        .product-card .btn-outline-primary {
            background-color: #272727;
            border-color: #272727;
            color: white;

            &:hover {
                background-color: $body-color;
                border-color: $body-color;
            }
        }
        
        .progress-box {
            background-color: $gray-100 !important;

            .progress-bar {
                background-color: #272727 !important;
            }
        }

        .a-beauty-banner {
            a {
                text-decoration: underline;
                color: $secondary;
            }
        }

        .post-card a {
            color: $body-color;

            &:hover {
                color: $secondary;
                text-decoration: none !important;
            }
        }

        .blog-post-grid__sidebar {
            .post-card a {
                color: $body-color;

                &:hover {
                    color: $secondary;
                    text-decoration: none;
                }
            }

            .upsell__article a {
                color: #272727;
            }

            .btn__submit img:not(.d-none) {
                display: none;
            }

            .btn__submit img.d-none {
                display: block !important;
            }
        }

        .video-modal .close {
            background-color: #272727 !important;
        }

        .howto-video__apc-light,
        .howto-video__tsw-light,
        .howto-video__aea-light {
            background-color: white;

            .container {
                border-top: 1px solid $gray-400;
                border-bottom: 1px solid $gray-400;
                padding-top: 2em;
                padding-bottom: 2em;
            }
        }


        .newsletter-banner {
            background-color: #FFF3F8 !important;
            background-image: url(asset-url('newsletter-pattern-mobile-abtest.svg'));

            @include media-breakpoint-up(lg) {
                background-image: url(asset-url('newsletter-pattern-abtest.svg'));
            }

            h2,
            svg,
            input::placeholder  {
                color: #272727 !important;
            }

            input,
            button {
                background-color: white !important;
                border-color: #272727 !important;
                color: #272727 !important;
            }
        }

        .usp-banner {
            background-color: $gray-100 !important;

            svg,
            span {
                color: #272727 !important;
            }

            .decor {
                display: none;
            }
        }

        .hp-abeauty-section .bg-light {
            background-color: white !important;
        }

        .product-variant .custom-control-input:checked ~ .active-border {
            border-color: #272727;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            background-color: #272727;
            border-color: #272727;
        }

        .react-yotpo-widget button.btn.btn-link.p-0.ml-1 {
            color: $secondary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .dropdown--account .dropdown-item:active {
            background-color: $secondary;
        }

        footer h4 {
            color: #272727 !important;
        }

        .reading-proggress-bar {
            background-color: $range-apc-light;

            &__proggress {
                background-color: $secondary;
            }
        }
    }
}