.btn {
	&-primary,
	&-secondary,
	&-primary.disabled,
	&-primary:disabled,
	&-outline-primary:hover,
	&-outline-primary:not(:disabled):not(.disabled).active,
	&-outline-primary:not(:disabled):not(.disabled):active {
		color: $white;
	}

	&-outline-primary {
		border-color: $primary-light;
		background-color: $white;

		&.disabled,
		&:disabled {
			border-color: $gray-400;
			color: $gray-400;
		}
	}
}
