.custom-switch {
  padding-left: $custom-switch-width;
  height: $custom-switch-indicator-size-height;

  .custom-control-label {
    &::before {
      border: 0;
      height: $custom-switch-indicator-size-height;
      background-color: $gray-600;
      width: $custom-switch-width;
    }

    &::after {
      width: $custom-switch-indicator-size-height;
      height: $custom-switch-indicator-size-height;
      top: 1px;
      left: -($custom-switch-width + $custom-control-gutter);
      border: 1px solid $custom-control-indicator-checked-disabled-bg;
    }

    &::before,
    &::after {
      text-align: center;
      line-height: $custom-switch-indicator-size-height;
    }
  }

  .custom-control-input ~ .custom-control-label {
    &::after {
      content: 'Off';
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      background-color: $primary;
    }

    &::after {
      content: 'On';
      transform: translateX(2.5em);
    }
  }
}

.phone-countries {
  &__label {
      border: 1px solid $gray-600;
      height: 100%;
      width: calc(100% - 5px);
      padding: calc-em(15) $grid-gutter-width $grid-gutter-width 0;
      background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") no-repeat right 0.7em center/1em 0.5625em;
  }

  &__select {
      opacity: 0;
  }

  &__input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
}