.dropdown-menu {
	left: auto;
	right: 0;
	transition: height 0.3s;
	height: 0;
	visibility: hidden;
}

.dropdown-item {
	&.active {
		background-color: transparent;
		color: $body-color;

		&:after {
			content: ' ';
			width: .5em;
			height: .5em;
			border-radius: 50%;
			background-color: $body-color;
			margin: auto -1em auto .5em;
			display: inline-block;
		}
	}
}

.dropdown-toggle {
	&:after {
		border: none;
	}
}

.dropdown {
	&--onhover {
		&:hover {
			.svg {
				transform: rotate(180deg) translateX(0%);
			}

			.dropdown-menu {
				transition: height .5s ease;
				height: 16.5em;
				visibility: visible;
				margin-top: -0.5em;
				z-index: $zindex-fixed; //above blog sticky sidebar
			}
		}
	}

	&--account {
		.dropdown-toggle:after {
			content: none;
		}

		.dropdown-menu {
			border-color: transparent !important;

			&:not(.dropdown-menu__logged-in) {
				min-width: calc-em(300);
			}

			&.show {
				visibility: visible;
				height: auto;
			}
		}

		.collapsing {
			transition: none;
		}

		label.error {
			color: $secondary;
			font-size: $font-size-xs;
		}
	}
}
