.dropdown-menu {
	left: auto;
	right: 0;
	transition: height 0.3s;
	height: 0;
	visibility: hidden;
}

.dropdown-item {
	&.active {
		background-color: transparent;
		color: $body-color;

		&:after {
			content: ' ';
			width: .5em;
			height: .5em;
			border-radius: 50%;
			background-color: $body-color;
			margin: auto -1em auto .5em;
			display: inline-block;
		}
	}
}

.dropdown-toggle:not(.dropdown-toggle--with-icon) {
	&:after {
		border: none;
	}
}

.dropdown {
	&--onhover {
		.dropdown-menu {
			max-height: 0;
			transition: max-height .8s ease;
		}

		&:hover {
			.svg {
				transform: rotate(180deg) translateX(0%);
			}

			.dropdown-menu {
				transition: max-height .8s ease;
				height: auto;
				max-height: 100vh;
				visibility: visible;
				margin-top: -0.5em;
				z-index: $zindex-fixed; //above blog sticky sidebar
			}
		}
	}

	&--account {
		.dropdown-toggle:after {
			content: none;
		}

		.dropdown-menu {
			border-color: transparent !important;
			position: fixed;
			width: 100%;
			top: calc-em(35);
			z-index: $zindex-fixed;

			&:not(.dropdown-menu__logged-in) {
				@include media-breakpoint-up(lg) {
					width: calc-em(330);
				}
			}

			&.show {
				visibility: visible;
				height: auto;
			}


			@include media-breakpoint-down(lg) {
				.cookies-banner-show & {
					top: calc-em(120);
				}

				.cookies-banner-show--expanded & {
					top: calc-em(300);
				}
			}
		}

		.collapsing {
			transition: none;
		}

		label.error {
			color: $secondary;
			font-size: $font-size-xs;
		}
	}

	&--filter {
		.dropdown-menu {
			min-width: $dropdown-min-width;

			&.show {
				visibility: visible;
				height: auto;
				top: 1.8em;
				border-top: 0;
				border-radius: 0 0 1.5em 1.5em;
			}

			.dropdown-item {
				font-size: $font-size-sm;
			}
		}

		.dropdown-toggle {
			border-radius: $rounded-pill;
			border: 1px solid $border-color;
			min-width: $dropdown-min-width;
			font-size: $font-size-base;

			&:after {
				position: absolute;
				right: map-get($spacers, 2);
				top: 1.25em;
			}

			&__badge {
				width: $font-size-lg;
				height: $font-size-lg;
			}
	}

		.dropdown-item {
			font-size: $font-size-base;
		}

		&.show {
			.dropdown-toggle {
				border: 1px solid $border-color;
				border-radius: 1.5em 1.5em 0 0;
				border-bottom: 0;
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		@include media-breakpoint-up(lg) {
			.dropdown-toggle {
				border: 1px solid transparent;
				border-radius: $btn-border-radius-lg;
				font-size: $font-size-lg;
			}

			&.show {
				.dropdown-toggle {
					border-radius: $btn-border-radius-lg;
				}
			}

			.dropdown-menu {
				&.show {
					top: 2.5em;
					border-radius: 0 0 $btn-border-radius-lg $btn-border-radius-lg;
				}
			}

		}
	}
}
