input.text-white::placeholder {
	color: $white;
}

.custom-radio {
	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			box-shadow: inset 0px 0px 0px 3px #fff;
		}
		&::after {
			background-image: none;
		}
	}
}

.custom-checkbox {
	width: calc-em(19, 16);
	height: calc-em(19, 16);
	cursor: pointer;

    &:before {
        font-size: calc-em(11, 16)
    }
}
