input.text-white::placeholder {
	color: $white;
}

.custom-radio {
	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			box-shadow: inset 0px 0px 0px 3px #fff;
		}
		&::after {
			background-image: none;
		}
	}
}
