input.text-white::placeholder {
	color: $white;
}

/* Chrome, Safari, Edge, Opera - remove arrow appearance type number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.custom-radio {
	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			box-shadow: inset 0px 0px 0px 3px #fff;
		}
		&::after {
			background-image: none;
		}
	}
}

.quantity-box {
	.form-control {
		width: 2em;
	}

	button {
		padding: $input-padding-y-sm $input-padding-x-sm;
		&:focus {
			outline: none;
		}

		&[disabled] {
			color: transparent;
		}
	}
}

.floating-label {
	input, select {
		padding-top: calc-em(20.5);
		padding-bottom: calc-em(10);
		&::placeholder {
			color: transparent;
		}
	}

	input.font-size-sm {
		padding: calc-em(20.5, 14) calc-em(16, 14) calc-em(10, 14);
		height: calc-em(50, 14);
	}

	&__text {
		top: 50%;
		left: calc-em(17, 14);
		color: $gray-400;
		transform: translateY(-50%);
		transform-origin: left;
		transition: transform 100ms linear,
		top 100ms linear;
	}

	input:focus + &__text,
	input:not(:placeholder-shown) + &__text,
	select + &__text {
		top: calc-em(15);
		transform: translateY(-50%) scale(0.85);
	}

	&.validated {
		&::after {
			position: absolute;
			content: url(icon-svg('check-circle.svg', #{$primary}, #{$font-size-xs}));
			width: $font-size-xs;
			height: $font-size-xs;
			right: calc-em(10);
			bottom: 1em;
		}
	}
}

.custom-radio {
	.custom-control-label::before {
		border-color: $text-muted;
	}

	.custom-control-input:checked~.custom-control-label {
		&::before {
			box-shadow: inset 0px 0px 0px 2px #fff;
		}

		&::after {
			background-image: none;
		}
	}
}

.custom-checkbox {
	.custom-control-label::before {
		border-color: $text-muted;
	}

	.custom-control-input:checked~.custom-control-label {
		&::before {
			background-color: $primary;
			border-color: $primary;
		}

		&::after {
			background-image: url(icon-svg('checklist.svg', #{$white}));
			background-size: 70%;
			background-position: center;
		}
	}
}

.countries-options {
	&__label {
		border: 1px solid $gray-600;
		height: 100%;
		width: calc(100% - #{$grid-gutter-width});
		padding: $grid-gutter-width 10px $grid-gutter-width 0;
		background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") no-repeat right 0em center/1em 0.5625em;
	}

	&__select {
		opacity: 0;
		border: 0;
	}

	input {
		border-radius: 0;
	}
}
