input.text-white::placeholder {
	color: $white;
}

/* Chrome, Safari, Edge, Opera - remove arrow appearance type number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-radio {
	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			box-shadow: inset 0px 0px 0px 3px #fff;
		}
		&::after {
			background-image: none;
		}
	}
}

.quantity-box {
	.form-control {
		width: 2em;
	}

	button {
		padding: $input-padding-y-sm $input-padding-x-sm;
		&:focus {
			outline: none;
		}

		&[disabled] {
			color: transparent;
		}
	}
}

.floating-label {
	input {
		padding-top: calc-em(20.5, 14);
		padding-bottom: calc-em(10, 14);
		&::placeholder {
			color: transparent;
		}
	}

	&__text {
		top: 50%;
		left: $input-padding-x;
		color: $gray-400;
		transform: translateY(-50%);
		transform-origin: left;
		transition: transform 100ms linear,
		top 100ms linear;
	}

	input:focus + &__text,
	input:not(:placeholder-shown) + &__text {
		top: calc-em(15, 14);
		transform: translateY(-50%) scale(0.85);
	}

	select + &__text {
		left: calc-em(11, 12);
		top: calc-em(8, 12);
		transform: none;
	}
}

.custom-select--large {
	background-size: calc-em(18, 16) calc-em(18, 16);
	background-image: escape-svg(url('data:image/svg+xml,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.86602 12.5C8.48112 13.1667 7.51888 13.1667 7.13398 12.5L1.0718 2C0.686897 1.33333 1.16802 0.5 1.93782 0.5L14.0622 0.5C14.832 0.5 15.3131 1.33333 14.9282 2L8.86602 12.5Z" fill="#484848"/></svg>'));
}
