$supernova-icon-font: "supernova-icon";

@font-face {
	font-family: $supernova-icon-font;
	src: url("/sandandsky-styleguides/fonts/supernova-icon.svg?d3e429eebd234b828aa081555c7dcbf5#supernova-icon") format("svg"),
url("/sandandsky-styleguides/fonts/supernova-icon.ttf?d3e429eebd234b828aa081555c7dcbf5") format("truetype"),
url("/sandandsky-styleguides/fonts/supernova-icon.woff?d3e429eebd234b828aa081555c7dcbf5") format("woff"),
url("/sandandsky-styleguides/fonts/supernova-icon.woff2?d3e429eebd234b828aa081555c7dcbf5") format("woff2");
}

.sni,
.sni-after {
	display: flex;
}

.sni-text,
.sni:before,
.sni-after:after {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"checklist": "\f101",
	"chevron-up": "\f102",
	"plus": "\f103",
	"search": "\f104",
	"ss": "\f105",
);

.sni.sni__checklist:before,
.sni-after.sni__checklist:after {
	content: map-get($supernova-icon-map, "checklist");
}
.sni.sni__chevron-up:before,
.sni-after.sni__chevron-up:after {
	content: map-get($supernova-icon-map, "chevron-up");
}
.sni.sni__plus:before,
.sni-after.sni__plus:after {
	content: map-get($supernova-icon-map, "plus");
}
.sni.sni__search:before,
.sni-after.sni__search:after {
	content: map-get($supernova-icon-map, "search");
}
.sni.sni__ss:before,
.sni-after.sni__ss:after {
	content: map-get($supernova-icon-map, "ss");
}
