$supernova-icon-font: "supernova-icon";

$supernova-icon-asset: url("/sandandsky-styleguides/fonts/supernova-icon.woff2?e8c67c51994c323f0b84eb5bba0850a3") format("woff2"),
url("/sandandsky-styleguides/fonts/supernova-icon.woff?e8c67c51994c323f0b84eb5bba0850a3") format("woff") !default;

@font-face {
	font-family: $supernova-icon-font;
	src: $supernova-icon-asset;
}

.sni,
.sni-after {
	display: flex;
}

.sni-text,
.sni:before,
.sni-after:after {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"apc-leaf": "\f101",
	"australia": "\f102",
	"cart": "\f103",
	"check": "\f104",
	"chevron-down": "\f105",
	"chevron-next": "\f106",
	"chevron-prev": "\f107",
	"chevron-up": "\f108",
	"close-circle": "\f109",
	"close": "\f10a",
	"credit-card": "\f10b",
	"dermatologist": "\f10c",
	"earth": "\f10d",
	"facebook": "\f10e",
	"five-stars": "\f10f",
	"gluten": "\f110",
	"hyperlink": "\f111",
	"info-circle": "\f112",
	"instagram": "\f113",
	"klarna-logo": "\f114",
	"koala": "\f115",
	"long-arrow-right": "\f116",
	"minus": "\f117",
	"nasties": "\f118",
	"paraben": "\f119",
	"pegs": "\f11a",
	"peta": "\f11b",
	"phthalates": "\f11c",
	"pinterest": "\f11d",
	"play": "\f11e",
	"plus": "\f11f",
	"range-aea": "\f120",
	"range-apc": "\f121",
	"range-tsw": "\f122",
	"returns": "\f123",
	"search": "\f124",
	"shake": "\f125",
	"shipping": "\f126",
	"silicone": "\f127",
	"snapchat": "\f128",
	"square": "\f129",
	"ss": "\f12a",
	"star-full": "\f12b",
	"star-half": "\f12c",
	"star-hollow": "\f12d",
	"sulfate": "\f12e",
	"thumbs-down": "\f12f",
	"thumbs-up": "\f130",
	"tiktok": "\f131",
	"times": "\f132",
	"trophy": "\f133",
	"user": "\f134",
	"verified": "\f135",
	"youtube": "\f136",
);

.sni.sni__apc-leaf:before,
.sni-after.sni__apc-leaf:after {
	content: map-get($supernova-icon-map, "apc-leaf");
}
.sni.sni__australia:before,
.sni-after.sni__australia:after {
	content: map-get($supernova-icon-map, "australia");
}
.sni.sni__cart:before,
.sni-after.sni__cart:after {
	content: map-get($supernova-icon-map, "cart");
}
.sni.sni__check:before,
.sni-after.sni__check:after {
	content: map-get($supernova-icon-map, "check");
}
.sni.sni__chevron-down:before,
.sni-after.sni__chevron-down:after {
	content: map-get($supernova-icon-map, "chevron-down");
}
.sni.sni__chevron-next:before,
.sni-after.sni__chevron-next:after {
	content: map-get($supernova-icon-map, "chevron-next");
}
.sni.sni__chevron-prev:before,
.sni-after.sni__chevron-prev:after {
	content: map-get($supernova-icon-map, "chevron-prev");
}
.sni.sni__chevron-up:before,
.sni-after.sni__chevron-up:after {
	content: map-get($supernova-icon-map, "chevron-up");
}
.sni.sni__close-circle:before,
.sni-after.sni__close-circle:after {
	content: map-get($supernova-icon-map, "close-circle");
}
.sni.sni__close:before,
.sni-after.sni__close:after {
	content: map-get($supernova-icon-map, "close");
}
.sni.sni__credit-card:before,
.sni-after.sni__credit-card:after {
	content: map-get($supernova-icon-map, "credit-card");
}
.sni.sni__dermatologist:before,
.sni-after.sni__dermatologist:after {
	content: map-get($supernova-icon-map, "dermatologist");
}
.sni.sni__earth:before,
.sni-after.sni__earth:after {
	content: map-get($supernova-icon-map, "earth");
}
.sni.sni__facebook:before,
.sni-after.sni__facebook:after {
	content: map-get($supernova-icon-map, "facebook");
}
.sni.sni__five-stars:before,
.sni-after.sni__five-stars:after {
	content: map-get($supernova-icon-map, "five-stars");
}
.sni.sni__gluten:before,
.sni-after.sni__gluten:after {
	content: map-get($supernova-icon-map, "gluten");
}
.sni.sni__hyperlink:before,
.sni-after.sni__hyperlink:after {
	content: map-get($supernova-icon-map, "hyperlink");
}
.sni.sni__info-circle:before,
.sni-after.sni__info-circle:after {
	content: map-get($supernova-icon-map, "info-circle");
}
.sni.sni__instagram:before,
.sni-after.sni__instagram:after {
	content: map-get($supernova-icon-map, "instagram");
}
.sni.sni__klarna-logo:before,
.sni-after.sni__klarna-logo:after {
	content: map-get($supernova-icon-map, "klarna-logo");
}
.sni.sni__koala:before,
.sni-after.sni__koala:after {
	content: map-get($supernova-icon-map, "koala");
}
.sni.sni__long-arrow-right:before,
.sni-after.sni__long-arrow-right:after {
	content: map-get($supernova-icon-map, "long-arrow-right");
}
.sni.sni__minus:before,
.sni-after.sni__minus:after {
	content: map-get($supernova-icon-map, "minus");
}
.sni.sni__nasties:before,
.sni-after.sni__nasties:after {
	content: map-get($supernova-icon-map, "nasties");
}
.sni.sni__paraben:before,
.sni-after.sni__paraben:after {
	content: map-get($supernova-icon-map, "paraben");
}
.sni.sni__pegs:before,
.sni-after.sni__pegs:after {
	content: map-get($supernova-icon-map, "pegs");
}
.sni.sni__peta:before,
.sni-after.sni__peta:after {
	content: map-get($supernova-icon-map, "peta");
}
.sni.sni__phthalates:before,
.sni-after.sni__phthalates:after {
	content: map-get($supernova-icon-map, "phthalates");
}
.sni.sni__pinterest:before,
.sni-after.sni__pinterest:after {
	content: map-get($supernova-icon-map, "pinterest");
}
.sni.sni__play:before,
.sni-after.sni__play:after {
	content: map-get($supernova-icon-map, "play");
}
.sni.sni__plus:before,
.sni-after.sni__plus:after {
	content: map-get($supernova-icon-map, "plus");
}
.sni.sni__range-aea:before,
.sni-after.sni__range-aea:after {
	content: map-get($supernova-icon-map, "range-aea");
}
.sni.sni__range-apc:before,
.sni-after.sni__range-apc:after {
	content: map-get($supernova-icon-map, "range-apc");
}
.sni.sni__range-tsw:before,
.sni-after.sni__range-tsw:after {
	content: map-get($supernova-icon-map, "range-tsw");
}
.sni.sni__returns:before,
.sni-after.sni__returns:after {
	content: map-get($supernova-icon-map, "returns");
}
.sni.sni__search:before,
.sni-after.sni__search:after {
	content: map-get($supernova-icon-map, "search");
}
.sni.sni__shake:before,
.sni-after.sni__shake:after {
	content: map-get($supernova-icon-map, "shake");
}
.sni.sni__shipping:before,
.sni-after.sni__shipping:after {
	content: map-get($supernova-icon-map, "shipping");
}
.sni.sni__silicone:before,
.sni-after.sni__silicone:after {
	content: map-get($supernova-icon-map, "silicone");
}
.sni.sni__snapchat:before,
.sni-after.sni__snapchat:after {
	content: map-get($supernova-icon-map, "snapchat");
}
.sni.sni__square:before,
.sni-after.sni__square:after {
	content: map-get($supernova-icon-map, "square");
}
.sni.sni__ss:before,
.sni-after.sni__ss:after {
	content: map-get($supernova-icon-map, "ss");
}
.sni.sni__star-full:before,
.sni-after.sni__star-full:after {
	content: map-get($supernova-icon-map, "star-full");
}
.sni.sni__star-half:before,
.sni-after.sni__star-half:after {
	content: map-get($supernova-icon-map, "star-half");
}
.sni.sni__star-hollow:before,
.sni-after.sni__star-hollow:after {
	content: map-get($supernova-icon-map, "star-hollow");
}
.sni.sni__sulfate:before,
.sni-after.sni__sulfate:after {
	content: map-get($supernova-icon-map, "sulfate");
}
.sni.sni__thumbs-down:before,
.sni-after.sni__thumbs-down:after {
	content: map-get($supernova-icon-map, "thumbs-down");
}
.sni.sni__thumbs-up:before,
.sni-after.sni__thumbs-up:after {
	content: map-get($supernova-icon-map, "thumbs-up");
}
.sni.sni__tiktok:before,
.sni-after.sni__tiktok:after {
	content: map-get($supernova-icon-map, "tiktok");
}
.sni.sni__times:before,
.sni-after.sni__times:after {
	content: map-get($supernova-icon-map, "times");
}
.sni.sni__trophy:before,
.sni-after.sni__trophy:after {
	content: map-get($supernova-icon-map, "trophy");
}
.sni.sni__user:before,
.sni-after.sni__user:after {
	content: map-get($supernova-icon-map, "user");
}
.sni.sni__verified:before,
.sni-after.sni__verified:after {
	content: map-get($supernova-icon-map, "verified");
}
.sni.sni__youtube:before,
.sni-after.sni__youtube:after {
	content: map-get($supernova-icon-map, "youtube");
}
