$supernova-icon-font: "supernova-icon";

@font-face {
	font-family: $supernova-icon-font;
	src: url("/sandandsky-styleguides/fonts/supernova-icon.svg?524cad38a7b955b2d4bfe17d13e030d5#supernova-icon") format("svg"),
url("/sandandsky-styleguides/fonts/supernova-icon.ttf?524cad38a7b955b2d4bfe17d13e030d5") format("truetype"),
url("/sandandsky-styleguides/fonts/supernova-icon.woff?524cad38a7b955b2d4bfe17d13e030d5") format("woff"),
url("/sandandsky-styleguides/fonts/supernova-icon.woff2?524cad38a7b955b2d4bfe17d13e030d5") format("woff2");
}

.sni,
.sni-after {
	display: flex;
}

.sni:before,
.sni-after:after {
	font-family: supernova-icon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$supernova-icon-map: (
	"search": "\f101",
);

.sni.sni__search:before,
.sni-after.sni__search:after {
	content: map-get($supernova-icon-map, "search");
}
