.product__ingredients {

	.sni__plus {

		&:hover {
			text-decoration: none;
		}

		&:before {
			font-size: calc-em(12, 16);
		}

		&:not(.collapsed):before {
			content: "#{map-get($supernova-icon-map, "minus")}";
		}

	}

}
