.klarna {

	&__list {
		.square {
			top: calc-em(5, 10);
			position: relative;
			margin-right: $grid-gutter-width;
			font-size: calc-em(10, 16);
			z-index: 1;
		}

		li:not(:last-child):after {
			top: calc-em(5, 16);
			left: calc-em(4, 16);
			height: 100%;
			border: 1px solid $gray-100;
			position: absolute;
			content: '';
		}

		.logo {
			top: -(calc-em(5, 16));
			font-size: calc-em(11, 16);
		}
	}

	.close {
		top: $grid-gutter-width;
		right: calc-em(10, 20);
		opacity: 1;
	}

	.modal-header > .svg {
		color: $gray-600;
		font-size: calc-em(18, 16);
	}
}
