.lds-ring {
	display: inline-block;
	position: relative;
	width: 45px;
	height: 40px;
	margin: 15px auto;
	display: none;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	margin: 8px;
	border: 3px solid #ddd;
	border-radius: 50%;
	-webkit-animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
	animation: lds-ring 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
	border-color: #ddd transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	-webkit-animation-delay: -.45s;
	animation-delay: -.45s;
}

.lds-ring div:nth-child(2) {
	-webkit-animation-delay: -.3s;
	animation-delay: -.3s;
}

.lds-ring div:nth-child(3) {
	-webkit-animation-delay: -.15s;
	animation-delay: -.15s;
}
