// safari 100vh bug : modal overlay cutoff on in-app browser fix
// https://bugs.webkit.org/show_bug.cgi?id=141832
@include media-breakpoint-down(sm) {
	.modal-backdrop {
		min-height: 100%;
	}
}

.modal--sweepstakes {
	.modal-dialog {
		@include media-breakpoint-up(lg) {
			max-width: 630px;
		}
	}

	.modal-content {
		border-radius: calc-em(20);
	}

	@include media-breakpoint-up(lg) {
		h2,
		p {
			color: white;
		}
	}
}

.modal--sweepstakes-cta {
	.modal-dialog {
		@include media-breakpoint-up(lg) {
			max-width: 630px;
		}
	}

	.modal-content {
		border-radius: calc-em(20);
	}

	&__close {
		cursor: pointer;
		top: calc-em(15);
		right: calc-em(15);
		z-index: $zindex-dropdown;
	}
}
