// safari 100vh bug : modal overlay cutoff on in-app browser fix
// https://bugs.webkit.org/show_bug.cgi?id=141832
@include media-breakpoint-down(sm) {
	.modal-backdrop {
		min-height: 100%;
	}
}

.modal  {
	.close {
		opacity: 1;
		right: 1em;
		top: 1em;
		z-index: $zindex-dropdown;
	}

	.modal-content {
		border-radius: calc-em(20);
	}
}

.modal--sweepstakes {
	.modal-dialog {
		@include media-breakpoint-up(lg) {
			max-width: 630px;
		}
	}

	@include media-breakpoint-up(lg) {
		h2,
		p {
			color: white;
		}
	}
}

.modal--sweepstakes-cta {
	.modal-dialog {
		@include media-breakpoint-up(lg) {
			max-width: 630px;
		}
	}
}

.modal--waitlist {
	@include media-breakpoint-down(md) {
		img {
			height: calc-em(235);
			object-fit: cover;
		}
	}

	.checkmark {
		height: calc-em(24);
	}
}

.modal-open {
	.terms--link a {
		background: $primary-light;
	}
}

.modal--checkout-upsell,
.modal--popup-upsell {
	.modal-dialog {
		max-width: 425px;
	}

	.percentage-icon {
		height: calc-em(36);
	}
}

.modal--popup-upsell {
	.modal-dialog {
		max-width: calc-em(386);
	}

	&__title {
		@include font-size($h1-font-size);
		@include media-breakpoint-up(lg) {
			@include font-size($h2-font-size-lg);
		}
	}
}
