// safari 100vh bug : modal overlay cutoff on in-app browser fix
// https://bugs.webkit.org/show_bug.cgi?id=141832
@include media-breakpoint-down(sm) {
	.modal-backdrop {
		min-height: 100%;
	}
}

.modal--waitlist {
	.modal-dialog {
		max-width: 570px;
	}

	.sni__times {
		right: 1em;
	}
}

.modal--sweepstakes {
	.modal-dialog {
		@include media-breakpoint-up(lg) {
			max-width: 630px;
		}
	}

	.modal-content {
		border-radius: calc-em(20);
	}

	@include media-breakpoint-up(lg) {
		h2,
		p {
			color: white;
		}
	}
}

.modal--gift-card {
	@include media-breakpoint-up(lg) {
		max-width: calc-em(1170);
	}

	&__close {
		cursor: pointer;
		right: $grid-gutter-width;
		top: calc-em(20);

		@include media-breakpoint-up(lg) {
			top: calc-em(55);
			right: calc-em(70);
		}
	}
}
