// safari 100vh bug : modal overlay cutoff on in-app browser fix
// https://bugs.webkit.org/show_bug.cgi?id=141832
@include media-breakpoint-down(sm) {
	.modal-backdrop {
		min-height: 100%;
	}
}

.modal--waitlist {
	.modal-dialog {
		max-width: 570px;
	}

	.sni__times {
		right: 1em;
	}
}

.modal--sweepstakes {
	.modal-dialog {
		@include media-breakpoint-up(lg) {
			max-width: 630px;
		}
	}

	.close {
		right: 1em;
		top: 1em;
	}

	.modal-content {
		border-radius: calc-em(20);
	}

	.countries-options {
		&__label {
			border: 1px solid $gray-600;
			height: 100%;
			width: calc(100% - #{$grid-gutter-width});
			padding: $grid-gutter-width 10px $grid-gutter-width 0;
			background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.6 22.6'%3e%3cpath d='M1.9 5.4l9.4 9.4 9.4-9.4 1.9 1.9-11.3 11.3L0 7.3l1.9-1.9z'/%3e%3c/svg%3e") no-repeat right 0em center/1em 0.5625em;
		}

		&__select {
			opacity: 0;
			border: 0;
		}

		input {
			border-radius: 0;
		}
	}
}