.navbar-brand {
	z-index: $zindex-sticky;

	.svg {
		color: $secondary;
		font-size: calc-em(45, 20);
	}
}

.nav-link {
	color: $body-color;

	&.active {
		color: $primary;
	}
}

.navbar-expand-lg {
	@include media-breakpoint-up(lg) {
		.navbar-nav {
			flex-basis: 40%;

			.nav-link {
				line-height: calc-em(22, 16);

				&:hover {
					text-decoration: none;
				}
			}
		}

		.nav-item {
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.nav {
	&-blog a {

		&.active,
		&:hover {
			text-decoration: underline;
		}
	}

	&__secondary {
		box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);

		&:before,
		&:after {
			content: '';
			width: $grid-gutter-width;
			top: 0;
			bottom: 0;
			position: absolute;
		}

		&:before {
			background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
			left: 0;
		}

		&:after {
			background: linear-gradient(270deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
			right: 0;
		}
	}

	&--filter {
		&__icon {
			flex: 1 0 100%;
			@include media-breakpoint-up(lg) {
				flex: initial;
			}
		}

		&__group {
			@include media-breakpoint-down(lg) {
				width: 100%;
				.dropdown {
					width: 50%;

					.dropdown-toggle {
						width: 100%;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&__category-desktop .dropdown-menu {
			min-width: calc-em(275);
			left: 0;
		}
	}


}
