.navbar-brand {
	&:before {
		font-size: calc-em(34, 20);
		@include media-breakpoint-up(xl) {
			font-size: calc-em(41, 20);
		}
	}

	@include media-breakpoint-up(lg) {
		svg {
			height: calc-em(33, 16);
		}
	}
}