.product-variant {

	.custom-control-label {
		padding-left: calc-em(50);
		&::before {
			left: calc-em(20);
			top: calc-em(25);
			transition: none;
			border-color: $body-color;
		}
	}

	.custom-control-input {
		~ .active-border {
			content: '';
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border: 1px solid $body-color;
			position: absolute;
			border-radius: calc-em(4, 16);
		}

		&:checked ~ .active-border {
			border-width: 2px;
			border-color: $primary;
		}
	}

	span {
		font-size: calc-em(18);

		@include media-breakpoint-up(lg) {
			font-size: calc-em(20);
		}
	}

	/* ABtest subscription */
	
	&--subscription {
		.embed-responsive {
			padding-top: calc-em(126);
			left: 0;
			z-index: -1;
		}

		.custom-control-label {
			padding-left: calc-em(20);

			&::before {
				border-color: $secondary;
				left: 0;
				top: map-get($spacers, 1);
			}

			&::after {
				display: none;
			}
		}

		&--v1 {
			@include media-breakpoint-down(lg) {
				margin-left: -#{map-get($spacers, 3)};
				margin-right: -#{map-get($spacers, 3)};
			}
		}

		&__selector {
			border: 2px solid $gray-400;
		}
	}
}
