html.us-store,
html.dev-store {
	.product-subscription--abtest {

		.product-variant--subscription-checked {
			.product-variant__title {
				display: none !important;

				&-subscription {
					display: flex !important;
				}
			}

			.product-variant__price-label {
				display: none !important;

				&-subscription {
					display: block !important;
				}
			}
		}

		.product-variant--subscription {
			display: block !important;

			.embed-responsive {
				padding-top: calc-em(105);
				left: 0;
				z-index: -1;
			}

			.custom-control-label {
				padding-left: calc-em(20);

				&::before {
					border-color: $secondary;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					border-radius: calc-em(2);
					background-position: left 2px center;
				}

				&::after {
					display: none;
				}
			}

			&__selector {
				.subscription-label {
					border: 2px solid $gray-400;
				}

				.custom-control-input:checked ~ .subscription-label {
					background-color: $secondary-light;
					border: 2px solid $secondary;
				}
			}

			&__modal {
				.close {
					position: absolute;
					opacity: 1;
					top: calc-em(15);
					right: calc-em(15);

					@include media-breakpoint-up(lg) {
						top: calc-em(19);
						right: calc-em(19);
					}
				}

				&-title {
					@include font-size($font-size-sm);

					@include media-breakpoint-up(lg) {
						@include font-size($font-size-base);
					}
				}
			}
		}
	}
}
