html.us-store {
	.product-variant-abtest {
		.product-variant {
			display: none;
		}

		.product-variant--abtest {
			display: block !important;

			.custom-control-label {
				&::before {
					display: none;
				}
			}

			.custom-control-input {
				~ .active-border {
					border: 1px solid $gray-400;
				}

				&:checked ~  .active-border {
					border-width: 2px;
					border-color: $primary;
					background: $primary-light;
	    		opacity: .3;
				}
			}

			img {
				width: 24%;
				@include media-breakpoint-up(lg) {
					width: 18%;
				}
			}
		}
	}
}