.product-image-carousel {
	picture::before {
		padding-top: percentage(1);
		@include media-breakpoint-up(lg) {
			padding-top: percentage(1440 / 1140);
		}
	}

	@include media-breakpoint-up(lg) {
		&__container, &__indicator {
			position: sticky;
			top: map-get($spacers, 3);
		}
	}

	&__indicator {
		&__item {
			@include media-breakpoint-down(md) {
				@include make-col(1, 5);
			}
		}
	}

	&__badge {
		top: 0;
		right: 0;
		width: calc-em(110);
		height: calc-em(112);
	}

	figcaption {
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(100%);
		@include media-breakpoint-up(lg) {
			top: 0;
			bottom: auto;
			transform: none;
		}
	}
}
