.swell-banner {
    border-radius: calc-em(10);
    height: calc-em(92);

    &__img {
        right: $grid-gutter-width/2;
    }

    &__text {
        z-index: 1;
        max-width: 55%;
        @include media-breakpoint-up(lg) {
            max-width: 100%;
        }
    }
}