.tab {

	.nav-link {
		border-bottom: 2px solid transparent !important;

		&.active {
			border-bottom-color: $primary !important;
			font-weight: bold;
		}
	}

	&--scroll {
		overflow: auto hidden;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&--filter {
		min-width: calc-em(270, 16);
	}
}
