.tooltip {
	background-color: $primary-light;
	top: 100%;
	transform: translateY(-100%);
	transition: all 0.4s ease-in-out;
	visibility: hidden;
	width: 100%;
	left: 0;
	right: 0;
	width: auto;

	@include media-breakpoint-up(lg) {
		left: auto;
		right: 0;
		margin-right: $grid-gutter-width;
		width: 100%;
	}

	.sni {
		cursor: pointer;
		position: absolute;
		right: calc-em(10, 20);
		top: 50%;
		transform: translateY(-50%);
		font-size: calc-em(24);
	}

	&.show {
		transform: translateY(0);
		visibility: visible;
	}
}
