<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Announcement Bar" }}
</head>

<body>
	<div class="container mt-4">
		<h1>Announcement Bar</h1>
	</div>
	<div class="announcement-bar bg-secondary">
		<div class="container font-weight-bold text-center">
			<a href="#">Up to 25% off + Free Gift worth $25.40</a>
		</div>
	</div>

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
