<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Announcement Bar" }}
</head>

<body>
	<div class="container mt-4">
		<h1>Announcement Bar</h1>
	</div>
	{{> components/announcement-bar }}

	<div class="container mt-4">
		<h1>Announcement Bar Scroll</h1>
	</div>
	{{> components/announcement-bar-scroll }}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
