<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Badges" }}
</head>

<body>
  <div class="container mt-4">
    <h1>Badge</h1>
    <div class="d-flex flex-column align-items-start">
      <span class="badge badge-gray font-size-sm mb-1 mt-1">Gray</span>
    </div>
  </div>
    {{> js jquery=true popper=false bootstrap=false main=true }}
  </body>

  </html>
