<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Breadcrumb" }}
</head>

<body>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-underline breadcrumb-item__link" href="#">Home</a>
        </li>
				<li class="breadcrumb-item">
          <a class="text-underline breadcrumb-item__link" href="#">Skintervention</a>
        </li>
        <li class="breadcrumb-item d-block active" aria-current="page">How To Style & Maintain Bangs: The Ultimate Guide How To Style & Maintain Bangs</li>
      </ol>
    </nav>
  </div>
</body>

</html>
