<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Product Image Carousel" }}
</head>
<body>
	<div class="container px-g mt-4">
		<h1>Product Image Vertical Carousel</h1>
		<div class="row">
			{{> product-image-carousel totalSlide=6 rangeclass="bg-aea"}}
		</div>
	</div>
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
