<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Dropdown" }}
</head>

<body>
	<div class="container mt-4 px-g">
		<h1>Dropdown</h1>
		<div class="dropdown">
			<a class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				US (USD)
			</a>
			<div class="dropdown-menu p-0 text-right" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5 active" href="#">United Kingdom (GBP)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">USA (USD)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Canada (CAD)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Australia (AUD)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Europe (EUR)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Rest of the World (USD)</a>
			</div>
		</div>
	</div>

	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
