<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Forms" }}
</head>

<body>
	<div class="container mt-4">
		<h1>Forms</h1>
		<div class="row">
			<div class="col col-lg-12">
				<form class="px-g">
					<div class="row form-group">
						<label for="inputText">Input:</label>
			    	<input type="text" class="form-control" id="inputText">
					</div>
					<div class="row form-group">
						<label for="inputSearch">Search:</label>
						<div class="input-group">
							<input type="text" id="inputSearch" class="form-control border-right-0" placeholder="input with icon">
							<div class="input-group-append">
								<span class="input-group-text sni sni__search"></span>
							</div>
						</div>
					</div>

					<div class="row form-group">
						<label for="inputSearch2" class="floating-label position-relative">
							<input type="text" id="inputSearch2" class="form-control" placeholder="input with icon">
							<span class="floating-label__text position-absolute font-size-sm">Input Label</span>
						</label>
					</div>

					<div class="row form-group">
						<label for="inputSearch">Select:</label>
						<div class="input-group">
							<select class="custom-select">
								<option selected>Select</option>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
						</div>
					</div>

					<div class="row form-group floating-label position-relative my-3">
						<select id="selectInput" class="custom-select h-auto pt-3 pb-2 px-2">
							<option selected>Select</option>
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
						</select>
						<label for="selectInput" class="floating-label__text mb-0 position-absolute font-size-xs">Select Label</label>
					</div>

					<div class="row form-group">
						<label for="inputSearch">Select Large</label>
						<div class="input-group">
							<select class="custom-select custom-select--large h-auto py-g">
								<option selected>$50.00 USD</option>
								<option>$75.00 USD</option>
								<option>$100.00 USD</option>
								<option>$150.00 USD</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<label for="inputSearch">Textarea:</label>
						<div class="input-group">
					    <textarea type="text" class="form-control" row="8" id="textarea" placeholder="textarea"></textarea>
						</div>
				  </div>
				</form>
			</div>
		</div>

		<h1>Form Horizontal</h1>
		<div class="row">
			<div class="col col-lg-12">
				<form class="px-g">
					<div class="row">
				    <div class="col-lg-6 px-0 px-lg-g">
							<label for="inputText1">Label</label>
				      <input type="text" class="form-control" id="inputText1">
				    </div>
				    <div class="col-lg-6 px-0 px-lg-g">
							<label for="inputText2">Label</label>
				      <input type="text" class="form-control" id="inputText2">
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>

	{{> js jquery=true main=true }}
</body>

</html>
