<!DOCTYPE html>
<html lang="en">

<head>
	{{> html-head title="Icon" }}

	<style>
		.preview {
			width: 100px;
			margin: 10px;
		}
		.preview .inner {
			height: 85px;
			background: #f5f5f5;
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
		}
		.preview .inner  {
			font-size: 40px;
			color: #333;
		}
		.label {
			display: inline-block;
			width: 100%;
			box-sizing: border-box;
			padding: 5px;
			font-size: 10px;
			font-family: Monaco, monospace;
			color: #666;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			background: #ddd;
			-webkit-border-radius: 0 0 3px 3px;
			-moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
			color: #666;
		}
	</style>
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Icon</h1>
		<div class="row mt-4 mx-0">
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__australia"></i>
				</span>
				<span class='label'>australia</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__chevron-next"></i>
				</span>
				<span class='label'>chevron-next</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__chevron-prev"></i>
				</span>
				<span class='label'>chevron-prev</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__chevron-up"></i>
				</span>
				<span class='label'>chevron-up</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__close-circle"></i>
				</span>
				<span class='label'>close-circle</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__koala"></i>
				</span>
				<span class='label'>koala</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__minus"></i>
				</span>
				<span class='label'>minus</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__nasties"></i>
				</span>
				<span class='label'>nasties</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__play"></i>
				</span>
				<span class='label'>play</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__plus"></i>
				</span>
				<span class='label'>plus</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__range-aea"></i>
				</span>
				<span class='label'>range-aea</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__range-apc"></i>
				</span>
				<span class='label'>range-apc</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__range-tsw"></i>
				</span>
				<span class='label'>range-tsw</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__returns"></i>
				</span>
				<span class='label'>returns</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__search"></i>
				</span>
				<span class='label'>search</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__shake"></i>
				</span>
				<span class='label'>shake</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__shipping"></i>
				</span>
				<span class='label'>shipping</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__ss"></i>
				</span>
				<span class='label'>ss</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__times"></i>
				</span>
				<span class='label'>times</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__trophy"></i>
				</span>
				<span class='label'>trophy</span>
			</div>
			<div class="preview d-flex flex-column text-center">
				<span class="inner d-flex justify-content-center align-items-center">
					<i class="sni sni__user"></i>
				</span>
				<span class='label'>user</span>
			</div>
		</div>
	</div>

</body>

</html>
