<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Logo" }}
</head>

<body>
	<div class="container mt-4">
		<h1>Logo</h1>
	</div>


	<nav class="navbar">
		<div class="container">
			<a href="#" class="navbar-brand mx-auto">
				<img class="svg" src="icons/logo-ss.svg" replace-to-svg />
			</a>
		</div>
	</nav>


	<div class="container">
		<h3>Logo with menu</h3>
	</div>
	<header class="navbar navbar-expand-lg flex-lg-wrap">
		<nav class="container">
			<button class="navbar-toggler col-2" type="button">
				<span class="d-block"></span>
			</button>

			<ul class="navbar-nav align-items-center d-none d-lg-flex">
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>

			<a href="#" class="navbar-brand mx-0"><img class="svg" src="icons/logo-ss.svg" replace-to-svg /></a>

			<ul class="navbar-nav d-none d-lg-flex justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>

			<a href="#" class="nav-link col-2 d-flex justify-content-end px-0 d-lg-none font-size-lg">
				<img class="svg font-size-lg" src="icons/cart.svg" replace-to-svg />
			</a>
		</nav>
	</header>

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
