<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Modal" }}
</head>

<body>
  <div class="container mt-4">
    <h1>Modal Waitlist</h1>
    <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-waitlist">Launch Modal</button>
  </div>
  <div class="container mt-4">
    <h1>Modal Sweepstakes</h1>
    <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-sweepstakes">Launch Modal</button>
  </div>
  <div class="container mt-4">
    <h1>Modal Newsletter</h1>
    <button class="btn btn-secondary" data-toggle="modal" data-target="#main-newsletter-modal">Launch Modal</button>
  </div>
  <div class="container mt-4">
    <h1>Modal Sweepstakes CTA</h1>
    <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-sweepstakes-cta">Launch Modal</button>
  </div>
  {{> components/modal-waitlist }}
  {{> components/modal-sweepstakes }}
  {{> components/modal-newsletter }}
  {{> components/modal-sweepstakes-cta }}
  {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
