<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Modal" }}
</head>

<body>
  <div class="container mt-4">
		<h1>Yotpo modal</h1>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#yotpoImageModal">Launch Modal</button>

		<h1>Yotpo carousel modal</h1>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#yotpoImageModalCarousel">Launch Modal</button>
  </div>
	{{> components/yotpo-modal}}
	{{> components/yotpo-modal-carousel}}
  {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
