<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Image Carousel" }}
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Product Image Carousel</h1>

		<div class="row">
			{{> components/product-image-carousel totalSlide=6}}
		</div>
	</div>


	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
