<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Tooltip" }}
</head>

<body>
	<div class="container mt-4 px-g">
		<div class="col-12">
			<h1>Tooltip</h1>
			<h3>Tooltip with close button</h3>
		</div>
	</div>
	<div class="container position-relative px-g">
		<div class="col-lg-4 tooltip text-center py-2 show rounded mx-ng">
			<i id="tooltip__close" class="sni sni__close-circle text-primary"></i>
			Item added to cart
			<a href="#" class="d-block text-body text-underline">Proceed to checkout</a>
		</div>
	</div>

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
