<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Tooltip" }}
</head>

<body>
	<div class="container mt-4 px-g">
		<div class="col-12">
			<h1>Tooltip</h1>
			<h3>Tooltip with close button</h3>
		</div>
	</div>
	<div class="container position-relative px-g">
		{{> components/tooltip show=true}}
	</div>

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
