<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Video Card" }}
</head>
<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Video Card & Modal</h1>
		<div class="row video-card">
			<picture class="position-relative col-12 col-lg-6 sni-after sni__play" data-toggle="modal" data-target="#videoCardModal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350">
				<source srcset="https://via.placeholder.com/600x600" media="(min-width: 992px)">
				<img src="https://via.placeholder.com/345x345" alt="Placeholder" class="d-block w-100">
			</picture>
		</div>
		{{> components/video-modal}}
	</div>
	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
