<!DOCTYPE html>
<html>

<head>
	{{> html-head title="A-Beauty Banner" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>A-Beauty Banner</h1>
	</div>

	{{> sections/a-beauty-banner}}
</body>

</html>
