<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Cart Drawer" }}
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Cart Drawer</h1>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart-drawer">Open modal</button>
		<p class="mt-2">Item Count: <span class="cart-drawer__count">0</span></p>
		<div class="row mb-2">
			<div class="col-12 col-lg-4 mb-1">
				<select id="product-select" class="form-control"></select>
			</div>
			<div class="col-12 col-lg-4">
				<button id="product-add" type="button" class="btn btn-primary">Add Product</button>
			</div>
		</div>
		<p>Products are copied from Dev store</p>
		<p>"Australian Emu Apple Enzyme Powder Polish" will give auto discount code "TESTAUTO"</p>
		<p>Valid discount code: "VALID", "MINIMAL50"</p>
		<p>No GWP type discount</p>
		<p>Free shipping minimal purchase is $70.00</p>
		<p>Manual GWP minimal purchase is $30.00</p>
	</div>

	{{> sections/cart-drawer}}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
