<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Collections Product" yotpo_stars="true" }}
</head>

<body>
  <div class="mobile-wrapper">
    <div class="container mt-4">
      <h1>List Products</h1>
    </div>
  </div>
  <section class="mobile-wrapper">
    {{> filter}}
    <div class="container mt-4">
      <div class="row justify-content-center">
        <!-- <p class="h1 col-12 text-center pb-2">Best Sellers</p> -->
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
      </div>
    </div>
  </section>
  {{> js jquery=true bootstrap=true main=true }}
</body>

</html>
