<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Collection Section" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Collection Section</h1>
	</div>

	{{> sections/collection-section class="my-5" color="ff6f8d" range="apc" header="Detoxify with Australian Pink Clay" button="Shop all Detoxify"}}

	{{> sections/collection-section class="my-5" color="cc3195" range="aea" header="Brighten with Australian Emu Apple" button="Shop all Brighten"}}

	{{> sections/collection-section class="my-5" color="66b3df" range="tsw" header="Hydrate with Tasmanian Spring Water" button="Shop all Hydrate"}}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
