<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Collection Section" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Collection Section</h1>
	</div>

	{{> sections/collection-section class="" color="ff6f8d" range="apc" title="Detoxify with Australian Pink Clay" button="Shop all Detoxify"}}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
