<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Footer" }}
</head>

<body>
  <div>
    <div class="container px-g mt-4">
      <h1>Footer</h1>
    </div>
  </div>

  {{> footer}}
</body>

</html>
