<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Header" }}
</head>

<body>
  <div class="mobile-wrapper">
    <div class="container mt-4">
      <h1>Header</h1>
    </div>
  </div>

  {{> header}}

  {{> js jquery=true bootstrap=true }}
</body>

</html>
