<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Footer" }}
</head>

<body style="padding-top: 100px;">
	{{> sections/footer}}
	
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>

</html>
