<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Hero Carousel" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Hero Carousel</h1>
	</div>

	{{> sections/hero-carousel totalSlide=3}}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
