<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Gift Section" }}
</head>
<body>
	<div class="container mt-4">
		<div class="row">
			<h1 class="col-12">How to Use</h1>
		</div>
	</div>

	{{> sections/howto-gift bg='howto-video__apc-light'}}

	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
