<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Section" }}
</head>

<body class="template-product">
	<div class="container mt-4">
		<h1>Product Section</h1>

		<div class="row align-items-start">
			{{> components/product-image-carousel totalSlide=6 rangeclass="range-bg__tsw"}}

			<div class="col-12 col-lg-5 d-flex flex-column order-lg-3">
				<h1 class="mt-4">Australian Pink Clay Flash Perfection Exfoliator</h1>
				<div class="yotpo bottomLine show-avg-score yotpo__show-text yotpo-small mb-1" data-appkey="6txi4aUWjmI6eNoVLssUgrIObhvqlGbIfVyePeRW"
					data-domain="dev-cocoandeve.myshopify.com" data-product-id="4543113265187" data-product-models="4543113265187"
					data-name="Sunny Honey Bali Bronzing Foam"
					data-url="https://dev.cocoandeve.com/products/sunny-honey-bali-bronzing-self-tan-mousse"
					data-image-url="//cdn.shopify.com/s/files/1/0286/1327/9779/products/FOAM_DARK_YELLOW_1_large.jpg%3Fv=1609922006"
					data-description="<div> <strong></strong>Anti-cellulite, anti-ageing self tan with zero nasties. Created using unique CellushapeTM formula to hydrate and firm the skin.<br> </div> <ul> <li>Blurs Pigmentation and Perfects Skin.</li> <li>Tropical Mango and Guava Scent. (No biscuit smells!)</li> <li>Lightweight, non-sticky formula.</li> <li>Fast drying and develops in just 2 hours</li> <li>Vegan. 100% Natural DHA. No Nasties</li> </ul>" data-bread-crumbs="Best Sellers;Tan;" data-yotpo-element-id="2">
				</div>
				<p class="my-2">Smooth uneven texture and clear congestion with this triple-action facial exfoliator.</p>


				<form class="product-form d-flex mb-3 order-lg-3">
					<div class="react-quantity-box"></div>
					<button class="btn btn-lg btn-primary btn-block ml-g ml-lg-3" type="submit">Add to Cart - $49.90</button>

				</form>
				<p class="mb-3 font-size-sm order-lg-4">Afterpay</p>
				<p class="mb-3 font-size-sm order-lg-5">Fast shipping worldwide</p>

				<ul class="tab nav nav-tabs order-lg-1" id="tab" role="tablist">
                    <li class="nav-item text-center">
                        <a class="nav-link border-0 pb-2 text-body active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Benefits</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Ingredients</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Routine</a>
                    </li>
                </ul>
				<div class="tab-content mt-3 mb-lg-4 order-lg-2" id="tabContent">
                    <div id="tab-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-1">
                        <p class="mb-2">Delivering a burst of powerful aquatic ingredients, the luxurious, ultra-lightweight formula smooths and strengthens skin – without weighing it down.</p>
						<ul class="list-check pl-4">
							<li class="my-2">Hydrates & strengthens with Tasmanian Spring Water</li>
							<li class="my-2">Hyaluronic Acid Complex locks in moisture</li>
							<li class="my-2">Fermented Sea Kelp smooths skin & targets wrinkles</li>
							<li class="my-2">Red Seaweed Extract forms ‘second skin’ to prevent dehydration</li>
							<li class="my-2">Ultra-lightweight gel-cream – ideal for all skin types</li>
						</ul>
                    </div>
                    <div id="tab-2" class="tab-pane tab-ingredients fade" role="tabpanel" aria-labelledby="tab-2">
                        <figure class="media mb-3">
							<img src="https://via.placeholder.com/40x40" alt="Generic placeholder image">
							<figcaption class="media-body ml-2">
								<strong>Australian Pink Clay:</strong> A magnet for toxins, our hero ingredient deeply cleanses the skin. Purifying and tightening pores before your eyes, it’s our key to clearing congestion and battling breakouts.
							</figcaption>
						</figure>
						<button class="btn-unstyled align-items-center sni-after sni__plus collapsed" data-toggle="collapse" href="#collapseIngredients" aria-expanded="false" aria-controls="collapseIngredients">Full ingredients list</button>
						<div class="collapse font-size-sm" id="collapseIngredients">
							<p class="mt-4">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
						</div>
                    </div>
                    <div id="tab-3" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>


				<figure class="upsell media align-items-center m-0 mt-4 order-lg-7">
					<img src="https://via.placeholder.com/129x163/F7E3F0" alt="Generic placeholder image">
					<figcaption class="media-body px-3">
						<h4 class="mt-0">Perfect Skin Kit</h4>
						<p class="font-size-sm mb-3">Porefining Face Mask + Flash Perfection Exfoliator</p>
						<button class="btn btn-outline-primary"><span class="font-weight-normal text-linethrough mr-1">$92.50</span><span class="mr-1">$74.20</span>Add to cart</button>
					</figcaption>
				</figure>

				<ul id="accordion" class="accordion list-unstyled border-top mt-4 mt-lg-2 order-lg-6">
					<li class="border-bottom">
						<button class="btn-unstyled text-body font-weight-bold py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible1" aria-expanded="true" aria-controls="collapsible1">Formula Facts</button>
						<div id="collapsible1" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
					<li class="border-bottom">
						<button class="btn-unstyled text-body font-weight-bold py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible2" aria-expanded="true" aria-controls="collapsible2">FAQs</button>
						<div id="collapsible2" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
					<li class="border-bottom">
						<button class="btn-unstyled text-body font-weight-bold py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible3" aria-expanded="true" aria-controls="collapsible3">Awards</button>
						<div id="collapsible3" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
					<li class="border-bottom">
						<button class="btn-unstyled text-body font-weight-bold py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible4" aria-expanded="true" aria-controls="collapsible4">Shipping & Return</button>
						<div id="collapsible4" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
				</ul>


			</div>
		</div>
    </div>

	{{> js jquery=true bootstrap=true main=true yotpo=true }}
</body>
</html>
