<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Range Products" yotpostars="true"}}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Range Products</h1>
	</div>

	<div class="container px-g mt-4">
		<p class="h1 text-center my-6">Our Range Products</p>
		<div class="row justify-content-center">
			{{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
			{{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
			{{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
		</div>
	</div>

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
