<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Range Intro" }}
</head>
<body>
  <div class="container mt-2">
    <h1>Range Info APC</h1>
  </div>
  {{> sections/apc }}
  <div class="container mt-6 pt-4">
    <h1>Range Info AEA</h1>
  </div>
  {{> sections/aea }}
  <div class="container mt-6 pt-4">
    <h1>Range Info TSW</h1>
  </div>
  {{> sections/tsw }}
</body>
</html>
