<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Range Intro" }}
</head>
<body>
  <div class="container mt-2">
    <h1>Range Info APC</h1>
  </div>
  <section class="apc-decoration position-relative">
    <div class="container">
      <p class="mt-4 h4 font-banner-dark">The power of Aussie earth to</p>
      <p class="font-banner font-weight-bold mb-2 font-banner--dark pr-2">Detoxify and refine</p>
      {{> range-apc }}
    </div>
  </section>
  <div class="container mt-6 pt-4">
    <h1>Range Info AEA</h1>
  </div>
  <section class="aea-decoration position-relative">
    <div class="container">
      <p class="mt-4 h4 font-banner-dark">The power of Aussie earth to</p>
      <p class="font-banner font-weight-bold mb-2 font-banner--dark">Plump & Brighten</p>
      {{> range-aea }}
    </div>
  </section>
  <div class="container mt-6 pt-4">
    <h1>Range Info TSW</h1>
  </div>
  <section class="tsw-decoration position-relative">
    <div class="container">
      <p class="mt-4 h4 font-banner-dark">The power of Tasmanian water to</p>
      <p class="font-banner font-weight-bold mb-2 font-banner--dark">Strengthen and hydrate</p>
      {{> range-tsw }}
    </div>
  </section>
</body>
</html>
