<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Review Carousel" }}
</head>
<body>
	<div class="mt-4">
		<h1 class="container">Review Carousel - variable content height</h1>
		{{> sections/review-testimonials}}
	</div>

	{{> js jquery=true popper=false bootstrap=true main=true }}
</body>

</html>
