<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Sidebar" }}
</head>

<body>
	<div class="container px-g">
		<h1>SIDEBAR</h1>
		<div class="row">
			<div class="col-12 col-lg-4">
				<aside class="bg-secondary-light mx-ng mx-lg-auto px-g py-4 px-lg-4">
					<h2 class="mb-4 text-center text-lg-left">You may also like</h2>
					<div id="carouselSidebar" class="carousel slide carousel--sidebar">
						<ol class="carousel-indicators mb-0 d-lg-none">
							<li data-target="#carouselSidebar" data-slide-to="0" class="rounded-circle bg-secondary active"></li>
							<li data-target="#carouselSidebar" data-slide-to="1" class="rounded-circle bg-secondary"></li>
						</ol>
						<ul class="list-unstyled carousel-inner mb-0 pb-1">
								<li class="carousel-item d-lg-block float-lg-none active">
									{{> compounds/post-card class="mb-2 mb-lg-3" title="Your essential guide to exfoliation" content="Strawberry legs is the appearance of black dots caused by clogged up hair follicles and dry skin. Try these simple steps to soothe and banish them for good!"}}
									{{> compounds/post-card class="mb-2 mb-lg-3" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="We love celebrating A-Beauty over here at Sand & Sky, starting with our amazing community. Sarah Davidson is an ex-lawyer turned wellness co-founder of Matcha Maiden, Matcha Mylkbar and host of feel-good podcast...."}}
								</li>
								<li class="carousel-item d-lg-block float-lg-none">
									{{> compounds/post-card class="mb-2 mb-lg-0" title="Your essential guide to exfoliation" content="Content creator and writer Ruchi Page caught our attention with her inclusive beauty and body positive messaging. Her ability to serve both killer looks and light up a room with"}}
								</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
