<!DOCTYPE html>
<html>

<head>
	{{> html-head title="USP Banner" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>USP Banner</h1>
	</div>

	{{> sections/usp-banner}}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
