<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Yotpo Section" }}
</head>

<body>
	<section class="container px-0 my-5 my-lg-7">
		<h2 class="h1 mb-0 px-g">Customer Reviews</h2>
		<div class="yotpo yotpo-main-widget new-yotpo-snippet px-2" data-product-id="4633315409991"
			data-name="Australian Pink Clay Porefining Face Mask"
			data-url="https://dev.sandandsky.com/products/porefining-face-mask"
			data-image-url="https://cdn.shopify.com/s/files/1/0093/6096/5717/products/SS_Web_APCPFM_Ecom_Carousel_900x1121_SB_290820.jpg"
			data-description="<div><p>Refine pores, detoxify and brighten with the original Australian Pink Clay Face Mask (60g). Powered by Aussie botanicals, this 4-in-1 treatment will get you glowing!</p><ul><li><span>Tightens pores &amp; brightens skin in 10 minutes* </span></li><li><span>Tackles pigmentation &amp; evens skin tone </span></li><li><span>Winner of 3 major beauty awards </span></li><li><span>4-in-1 treatment + <strong>FREE applicator brush </strong></span></li><li><span>Cruelty-free and ZERO nasties</span></li></ul>"
			data-yotpo-element-id="1">
		</div>
	</section>

	{{> js jquery=true bootstrap=true main=true yotpo=true }}
</body>

</html>
