<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Article" maincss="blog" }}
</head>
<body>
	{{> sections/header blognav=true}}
	<div class="reading-proggress-bar reading-proggress-bar--scrolled-down d-none position-fixed w-100 m-0">
    <div class="reading-proggress-bar__proggress"></div>
  </div>
	<div class="container px-g mt-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="text-underline breadcrumb-item__link" href="#">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a class="text-underline breadcrumb-item__link" href="#">Category</a>
				</li>
				<li class="breadcrumb-item d-block active" aria-current="page">What is Australian Pink Clay?</li>
			</ol>
		</nav>
		<article class="blog-post-grid row mt-3 mt-lg-4 mb-lg-5">
			<div class="blog-post-grid__content col-12 d-lg-block">
				<h1 class="text-center h2">How to soothe ‘Strawberry Legs’</h1>
				<picture class="d-block mt-3 mb-2 mx-ng mx-lg-auto">
					<source srcset="https://via.placeholder.com/1540x800.jpg/" media="(min-width: 992px)" />
					<img class="w-100" src="https://via.placeholder.com/750x446.jpg/?text=1">
				</picture>
				<div class="text-center mb-4 mx-4 mb-lg-5">Super popular in recent years, and a lifesaver for stressed tresses during lockdown(!), hair masking is everyone’s favourite #selfcaresunday ritual.</div>
				<h2 class="mb-2">1. Do it often, but not too often</h2>
				<p class="mb-4">Hair masking once or twice a week? Good. Masking every day? Not so good. When it comes to how often – and how much – you apply, more is not always more. This is why we recommend the following frequency when using our Like A Virgin Hair Masque: 2-3 times a week for dry hair, 1-2 times weekly for normal hair, and once a week for oily hair.</p>
				<p class="mb-4">Why can’t you use a masque more often? Well, not only can too much masking for your hair type weigh your locks down and lead to build up, it just isn’t necessary. Once your hair is nourished and hydrated enough, it won’t gain any additional benefit from another masque session. In other words? You’re basically washing product (and money) down the drain as your hair can’t absorb any more of the good stuff. <a href="">Link</a></p>
				<h2 class="mb-2">2. Start with a clean base</h2>
				<p class="mb-4">While your hair’s natural oils are a wonderful thing, helping to keep your scalp healthy and hair strong, supple and shiny, you only want to apply a masque on freshly washed hair. The same principle applies here as with skincare – you need to thoroughly cleanse your skin or hair for the products you apply to absorb properly and work their magic.</p>
				<p class="mb-4">For the best results and to avoid any unwanted greasiness or weight, you should therefore always shampoo your hair before masking. You can skip the conditioning step, though, as most hair masques act as a deep conditioner and treatment in one. Ours does!</p>
				<picture class="d-flex mt-4 mb-4">
					<source srcset="https://via.placeholder.com/1540x800.jpg/" media="(min-width: 992px)" />
					<img class="w-100" src="https://via.placeholder.com/690x430.jpg/">
				</picture>
				<h2 class="mb-2">3. Steer clear of your roots</h2>
				<p class="mb-4">If you think hair masques aren’t for oily hair, think again. All hair types can benefit from the use of masques, from thick and frizzy, to fine and oily-prone. However, you do need to be careful with application – especially if your hair is on the greasier end of the spectrum.</p>
				<p class="mb-4">Hair masques are generally formulated for intense nourishment and repair, and are therefore most beneficial to your mid-lengths and, especially, your dry, brittle ends! As the hair at your roots is closer to its virgin state, it doesn’t require as intensive a treatment.</p>
				<p class="mb-4">Even if your hair is coarse and dry? It’s a good idea to avoid applying a masque to the roots if you want to maintain volume and movement. This becomes even more crucial if your locks are ultra-fine!</p>
				<h2 class="mb-2">4. Apply your hair masque evenly</h2>
				<p class="mb-4">When using a hair masque, you want to make sure you coat every single strand to get uniform results. To do this, apply a generous amount of our Like A Virgin Hair Masque to the hair, then comb through your mid-lengths to ends with a wide-tooth comb. Or, for extra easy detangling, full coverage and zero breakage, try our Coco & Eve Tangle Tamer.</p>
				<h2 class="mb-2">5. Give it time to do its thing</h2>
				<p class="mb-4">A hair masque is not the same as shampoo or conditioner – it needs a bit more time to penetrate the strands and repair from the inside out. So, for silky soft results, apply your hair masque to towel dried hair and leave on for a minimum of 5 to 10 minutes before rinsing. Leave it longer if you have time on your hands.</p>
				<p class="mb-4">Got thirsty hair in dire need of some serious TLC? You can also apply our nourishing fig and coconut masque to dry hair and let it soak in for at least 20 mins. Or for butter-soft results, pop on a shower cap, silk scarf or our super-cute, static-free Microfibre Hair Towel Wrap and sleep in your hair masque overnight!</p>

				<time class="mb-2">23 April, 2020</time>
			</div>

			<aside class="blog-post-grid__sidebar position-lg-sticky sticky-bottom col-12 mt-3 mt-lg-0 mb-0 align-self-end d-flex d-lg-block flex-wrap">
				<section class="bg-secondary-light mt-lg-n2 mx-ng mx-lg-auto px-g py-3 px-lg-3 order-2">
					<h2 class="mb-3 text-center text-lg-left">Popular Reads</h2>
					<div id="carouselSidebar" class="carousel slide carousel--sidebar">
						<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
							<li data-target="#carouselSidebar" data-slide-to="0" class="rounded-circle border-0 bg-secondary active"></li>
							<li data-target="#carouselSidebar" data-slide-to="1" class="rounded-circle border-0 bg-secondary"></li>
						</ol>
						<ul class="list-unstyled carousel-inner mb-0 pb-1">
							<li class="carousel-item d-lg-block float-lg-none active">
								<article class="post-card mb-2 mb-lg-3">
									<h2><a href="#">Your essential guide to exfoliation</a></h2>
									<p class="mt-1 mb-3">Strawberry legs is the appearance of black dots caused by clogged up hair follicles and dry skin. Try these simple steps to soothe and banish them for good!</p>
								</article>
								<article class="post-card mb-2 mb-lg-3">
									<h2><a href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
									<p class="mt-1 mb-3">We love celebrating A-Beauty over here at Sand & Sky, starting with our amazing community. Sarah Davidson is an ex-lawyer turned wellness co-founder of Matcha Maiden, Matcha Mylkbar and host of feel-good podcast....</p>
								</article>
							</li>
							<li class="carousel-item d-lg-block float-lg-none">
								<article class="post-card mb-2 mb-lg-0">
									<h2><a href="#">Your essential guide to exfoliation</a></h2>
									<p class="mt-1 mb-3">Content creator and writer Ruchi Page caught our attention with her inclusive beauty and body positive messaging. Her ability to serve both killer looks and light up a room with...</p>
								</article>
							</li>
						</ul>
					</div>
				</section>
				<section class="bg-secondary-light mt-3 mt-lg-n2 mx-ng mx-lg-auto px-g py-3 px-lg-3 pb-lg-4">
					<h4 class="text-center text-lg-left mb-3 h2 true">Shop The Article</h4>
					<ul class="list-unstyled mb-0">
						<li class="mb-3">
							<form action="" class="d-flex align-items-center bg-white">
								<figure class="d-flex flex-grow-1 mb-0 align-items-center">
									<a href="#" class="flex-shrink-0">
										<picture class="d-block">
											<source srcset="https://via.placeholder.com/75x75" media="(min-width: 992px)">
											<img src="https://via.placeholder.com/75x75" alt="" class="w-100">
										</picture>
									</a>
									<figcaption class="d-flex flex-column ml-2">
										<a href="#" class="font-size-sm font-weight-bold mb-1">Australian Pink Clay Porefining Face Mask</a>
										<span class="font-size-sm">$53.00
											<span class="text-linethrough text-secondary font-weight-bold">$65.80</span>
											<span class="text-secondary font-weight-bold">(Save 19%)</span>
										</span>
									</figcaption>
								</figure>
								<button type="submit" class="btn flex-column flex-shrink-0 align-items-center font-size-sm upsell__add">
									<img src="../images/plus-circle.svg" alt="Generic placeholder image" data-skip-inject-svg="true">
								</button>
							</form>
						</li>
						<li>
							<form action="" class="d-flex align-items-center bg-white">
								<figure class="d-flex flex-grow-1 mb-0 align-items-center">
									<a href="#" class="flex-shrink-0">
										<picture class="d-block">
											<source srcset="https://via.placeholder.com/75x75" media="(min-width: 992px)">
											<img src="https://via.placeholder.com/75x75" alt="" class="w-100">
										</picture>
									</a>
									<figcaption class="d-flex flex-column ml-2">
										<a href="#" class="font-size-sm font-weight-bold mb-1">Australian Pink Clay Porefining Face Mask</a>
										<span class="font-size-sm">$53.00
											<span class="text-linethrough text-secondary font-weight-bold">$65.80</span>
											<span class="text-secondary font-weight-bold">(Save 19%)</span>
										</span>
									</figcaption>
								</figure>
								<button type="submit" class="btn flex-column flex-shrink-0 align-items-center font-size-sm upsell__add">
									<img src="../images/plus-circle.svg" alt="Generic placeholder image" data-skip-inject-svg="true">
								</button>
							</form>
						</li>
					</ul>
				</section>
			</aside>
		</article>
	</div>

	<section class="bg-secondary-light mt-n3 mt-lg-0">
		<div class="container px-g pt-4 pb-lg-2">
			<h2 class="text-center">You might also like</h2>
			<ul class="row mt-3 mt-lg-4 mb-0 list-unstyled">
				<li class="col-12 col-lg-4">
					<article class="post-card mb-5 mb-lg-4">
						<figure class="mb-3 mx-ng mx-lg-auto">
							<a href="#" class="d-block hover-overlay">
								<img src="https://via.placeholder.com/375x190.jpg?text=1" class="w-100" />
							</a>
						</figure>
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a href="#">3 Unlikely Aussie Ingredients</a>
						</h2>
						<p>There has never been a time in history where staying home and cancelling plans  have been synonymous with being a hero. That’s right, your 35th session of ‘Friends’ reruns are...</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-5 mb-lg-4">
						<figure class="mb-3 mx-ng mx-lg-auto">
							<a href="#" class="d-block hover-overlay">
								<img src="https://via.placeholder.com/375x190.jpg?text=2" class="w-100" />
							</a>
						</figure>
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
						</h2>
						<p>Bummed out by your breakouts? You’re not alone!Research shows up to 85% of Aussies will experience acne in their lifetime1  – and over 90% of adolescents2.From blackheads to pustules and those...</p>
					</article>
				</li>
				<li class="col-12 col-lg-4">
					<article class="post-card mb-5 mb-lg-4">
						<figure class="mb-3 mx-ng mx-lg-auto">
							<a href="#" class="d-block hover-overlay">
								<img src="https://via.placeholder.com/375x190.jpg?text=3" class="w-100" />
							</a>
						</figure>
						<time>05 Apr, 2021</time>
						<h2 class="my-2">
							<a href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a>
						</h2>
						<p>We’re on our way to the USA! Well, not us, obviously. With international travel off the agenda for the foreseeable, we’re staying put. Sand & Sky, however, is headed to...</p>
					</article>
				</li>
			</ul>
		</div>
	</section>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
