<!DOCTYPE html>
<html class="us-store">
<head>
	{{> html-head title="Blog" maincss="blog" }}
</head>
<body class="button-pink-abtest-active">
	{{> sections/header}}
	<div class="container px-g mt-4">
		<h1 class="text-center">SAND AND SKY BLOG</h1>
		<ul class="my-2 nav justify-content-center align-items-center nav-blog">
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">All</a></li>
			<li class="nav-item"><a href="#" class="nav-link  active py-0 h4 font-weight-normal px-lg-2 mb-0">Skintervention</a></li>
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">Skinsiders</a></li>
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">Skingredients</a></li>
		</ul>

		<div class="blog-grid row mt-4 mt-lg-5 mb-lg-5">
			{{> compounds/post-card class="blog-grid__post1 post-card__featured col-12 d-lg-block mb-5 mb-lg-4" img="1" time="true" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="There has never been a time in history where staying home and cancelling plans  have been synonymous with being a hero. That’s right, your 35th session of ‘Friends’ reruns are..."}}

			<div class="blog-grid__sidebar col-12 d-lg-block mb-5 mb-lg-0">
				<aside class="position-sticky sticky-top">
					<div class="bg-secondary-light mx-ng mx-lg-auto px-g py-4 px-lg-4">
						<h2 class="mb-3 text-center text-lg-left">Popular Reads</h2>
						<div id="carouselSidebar" class="carousel slide carousel--sidebar">
							<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
								<li data-target="#carouselSidebar" data-slide-to="0" class="rounded-circle border-0 bg-secondary active"></li>
								<li data-target="#carouselSidebar" data-slide-to="1" class="rounded-circle border-0 bg-secondary"></li>
							</ol>
							<ul class="list-unstyled carousel-inner mb-0 pb-1">
								<li class="carousel-item d-lg-block float-lg-none active">
									{{> compounds/post-card class="mb-2 mb-lg-3" title="Your essential guide to exfoliation" content="Strawberry legs is the appearance of black dots caused by clogged up hair follicles and dry skin. Try these simple steps to soothe and banish them for good!"}}
									{{> compounds/post-card class="mb-2 mb-lg-3" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="We love celebrating A-Beauty over here at Sand & Sky, starting with our amazing community. Sarah Davidson is an ex-lawyer turned wellness co-founder of Matcha Maiden, Matcha Mylkbar and host of feel-good podcast...."}}
								</li>
								<li class="carousel-item d-lg-block float-lg-none">
									{{> compounds/post-card class="mb-2 mb-lg-3" title="Your essential guide to exfoliation" content="Content creator and writer Ruchi Page caught our attention with her inclusive beauty and body positive messaging. Her ability to serve both killer looks and light up a room with"}}
									{{> compounds/post-card class="mb-2 mb-lg-3" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="Australian Pink Clay is everywhere in the beautysphere – but have you ever wondered what it is exactly, or what makes it such a purifying powerhouse? If the answer is,"}}
								</li>
							</ul>
						</div>
					</div>
				</aside>
			</div>

			{{> compounds/post-card class="blog-grid__post2 col-12 d-lg-block mb-5 mb-lg-0" img="2" time="true" title="3 Unlikely Aussie Ingredients" content="Is my routine correct? How many times should I exfoliate? Worry not, we're here to answer some of the most asked skincare questions on the net."}}

			{{> compounds/post-card class="blog-grid__post3 col-12 d-lg-block mb-5 mb-lg-0" img="3" time="true" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="Strawberry legs is the appearance of black dots caused by clogged up hair follicles and dry skin. Try these simple steps to soothe and banish them for good!"}}
		</div>

		<section class="howto-carousel bg-secondary-light pt-4 pt-lg-5 pb-2 mx-ng mx-lg-auto mb-6">
			<h2 class="text-center h1 py-2 py-lg-1 mb-2">The Ultimate How-Tos</h2>
			<div id="carouselLoopCentered" class="carousel slide carousel--loop">
				<a href="#carouselLoopCentered" role="button" data-slide="prev" class="carousel-control carousel-control-prev text-secondary rounded-0">
					<span class="carousel-control-prev-icon d-flex justify-content-center align-items-center" aria-hidden="true">
						<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
					</span>
					<span class="sr-only">Previous</span>
				</a>
				<a href="#carouselLoopCentered" role="button" data-slide="next" class="carousel-control carousel-control-next text-secondary rounded-0">
					<span class="carousel-control-next-icon d-flex justify-content-center align-items-center" aria-hidden="true">
						<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
					</span>
					<span class="sr-only">Next</span>
				</a>
				<div class="carousel--centered m-0">
					<div class="carousel-inner row flex-nowrap" role="listbox">
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4 active">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=1" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=1" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=2" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=2" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=3" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=3" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=4" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=4" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=5" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=5" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=6" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=6" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=7" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=7" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative d-flex justify-content-center" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=8" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=8" class="w-100">
								<div class="play-icon d-flex justify-content-center align-items-center"><img class="svg" src="icons/play.svg" replace-to-svg /></div>
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			{{> components/video-modal}}
		</section>

		<ul class="row mb-3 list-unstyled">
			<li class="col-12 col-lg-4">
				{{> compounds/post-card class="mb-5 mb-lg-4" img="1" time="true" title="3 Unlikely Aussie Ingredients" content="There has never been a time in history where staying home and cancelling plans  have been synonymous with being a hero. That’s right, your 35th session of ‘Friends’ reruns are..."}}
			</li>
			<li class="col-12 col-lg-4">
				{{> compounds/post-card class="mb-5 mb-lg-4" img="2" time="true" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="Bummed out by your breakouts? You’re not alone!Research shows up to 85% of Aussies will experience acne in their lifetime1  – and over 90% of adolescents2.From blackheads to pustules and those..."}}
			</li>
			<li class="col-12 col-lg-4">
				{{> compounds/post-card class="mb-5 mb-lg-4" img="3" time="true" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="We’re on our way to the USA! Well, not us, obviously. With international travel off the agenda for the foreseeable, we’re staying put. Sand & Sky, however, is headed to..."}}
			</li>
		</ul>
		<div class="w-100 text-center">
			<a href="#" class="btn btn-lg btn-outline-primary mb-5">Load more posts</a>
		</div>
	</div>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
