<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Blog" maincss="blog" }}
</head>
<body>
	{{> sections/header}}
	<div class="container px-g mt-4">
		<h1 class="text-center">SAND AND SKY BLOG</h1>
		<ul class="my-2 nav justify-content-center align-items-center">
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">All</a></li>
			<li class="nav-item"><a href="#" class="nav-link  active py-0 h4 font-weight-normal px-lg-2 mb-0">Skintervention</a></li>
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">Skinsiders</a></li>
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">Skingredients</a></li>
		</ul>

		<div class="blog-grid row mt-4 mt-lg-5 mb-lg-5">
			<article class="blog-grid__post1 post-card col-12 d-lg-block mb-5 mb-lg-4">
				<figure class="mb-3 mx-ng  mx-lg-auto">
					<a href="#" class="hover-overlay d-block">
						<img src="https://via.placeholder.com/375x190.jpg/?text=1" class="w-100">
					</a>
				</figure>
				<time class="d-block mb-2">05 Apr, 2021</time>
				<h2><a href="#" class="">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
				<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</article>

			<div class="blog-grid__sidebar col-12 d-lg-block mb-5 mb-lg-0">
				<aside class="position-sticky sticky-top">
					<div class="bg-secondary-light mx-ng mx-lg-auto px-g py-4 px-lg-4">
						<h2 class="mb-3 text-center text-lg-left">Popular Reads</h2>
						<div id="carouselSidebar" class="carousel slide carousel--sidebar">
							<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
								<li data-target="#carouselSidebar" data-slide-to="0" class="rounded-circle bg-secondary active"></li>
								<li data-target="#carouselSidebar" data-slide-to="1" class="rounded-circle bg-secondary"></li>
							</ol>
							<ul class="list-unstyled carousel-inner mb-0 pb-1">
								<li class="carousel-item d-lg-block float-lg-none active">
									<article class="post-card mb-2 mb-lg-3">
										<h2><a href="#" class="">Your essential guide to exfoliation</a></h2>
										<p class="mt-1 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</article>
									<article class="post-card mb-2 mb-lg-3">
										<h2><a href="#" class="">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
										<p class="mt-1 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</article>
								</li>
								<li class="carousel-item d-lg-block float-lg-none">
									<article class="post-card mb-2 mb-lg-0">
										<h2><a href="#" class="">Your essential guide to exfoliation</a></h2>
										<p class="mt-1 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</article>
									<article class="post-card mb-2 mb-lg-3">
										<h2><a href="#" class="">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
										<p class="mt-1 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</article>
								</li>
							</ul>
						</div>
					</div>
				</aside>
			</div>

			<article class="blog-grid__post2 post-card col-12 d-lg-block mb-5 mb-lg-0">
				<figure class="mb-3 mx-ng mx-lg-auto">
					<a href="#" class="hover-overlay d-block">
						<img src="https://via.placeholder.com/375x190.jpg/?text=2" class="w-100">
					</a>
				</figure>
				<time class="d-block mb-2">05 Apr, 2021</time>
				<h2><a href="#" class="">3 Unlikely Aussie Ingredients</a></h2>
				<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</article>

			<article class="blog-grid__post3 post-card col-12 d-lg-block mb-5 mb-lg-0">
				<figure class="mb-3 mx-ng mx-lg-auto">
					<a href="#" class="hover-overlay d-block">
						<img src="https://via.placeholder.com/375x190.jpg/?text=3" class="w-100">
					</a>
				</figure>
				<time class="d-block mb-2">05 Apr, 2021</time>
				<h2><a href="#" class="">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
				<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</article>
		</div>

		<section class="howto-carousel bg-secondary-light pt-4 pt-lg-5 pb-2 mx-ng mx-lg-auto mb-6">
			<h2 class="text-center h1 py-2 py-lg-1 mb-2">The Ultimate How-Tos</h2>
			<div id="carouselLoopCentered" class="carousel slide carousel--loop">
				<a href="#carouselLoopCentered" role="button" data-slide="prev" class="carousel-control carousel-control-prev text-secondary rounded-0">
					<span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a href="#carouselLoopCentered" role="button" data-slide="next" class="carousel-control carousel-control-next text-secondary rounded-0">
					<span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				<div class="carousel--centered m-0">
					<div class="carousel-inner row flex-nowrap" role="listbox">
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4 active">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=1" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=1" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=2" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=2" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=3" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=3" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=4" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=4" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/Cleanser-How-To.mp4?v=1618379350" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=5" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=5" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=6" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=6" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=7" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=7" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
						<figure class="video-card video-card--centered mb-0 carousel-item col-9 col-lg-4">
							<picture class="position-relative sni-after sni__play justify-content-center" data-toggle="modal" data-src="https://www.youtube.com/embed/xwAfY_vdE9I" data-target="#videoCardModal">
								<source srcset="https://via.placeholder.com/340x340?text=8" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/275x275?text=8" class="w-100">
							</picture>
							<figcaption class="text-center mt-2">
								<h2 class="mb-0">Multi-masking #selfcaresunday with Janet Amrani</h2>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			{{> components/video-modal}}
		</section>

		<ul class="row mb-6 list-unstyled">
			<li class="col-12 col-lg-4">
				<article class="post-card mb-5 mb-lg-4">
					<figure class="mb-3 mx-ng mx-lg-auto">
						<a href="#" class="hover-overlay d-block">
							<img src="https://via.placeholder.com/375x190.jpg/?text=1" class="w-100">
						</a>
					</figure>
					<time class="d-block mb-2">05 Apr, 2021</time>
					<h2><a href="#" class="">3 Unlikely Aussie Ingredients</a></h2>
					<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</article>
			</li>
			<li class="col-12 col-lg-4">
				<article class="post-card mb-5 mb-lg-4">
					<figure class="mb-3 mx-ng mx-lg-auto">
						<a href="#" class="hover-overlay d-block">
							<img src="https://via.placeholder.com/375x190.jpg/?text=1" class="w-100">
						</a>
					</figure>
					<time class="d-block mb-2">05 Apr, 2021</time>
					<h2><a href="#" class="">3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
					<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</article>
			</li>
			<li class="col-12 col-lg-4">
				<article class="post-card mb-5 mb-lg-4">
					<figure class="mb-3 mx-ng mx-lg-auto">
						<a href="#" class="hover-overlay d-block">
							<img src="https://via.placeholder.com/375x190.jpg/?text=1" class="w-100">
						</a>
					</figure>
					<time class="d-block mb-2">05 Apr, 2021</time>
					<h2><a href="#" class="">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
					<p class="mt-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</article>
			</li>
		</ul>
		<div class="w-100 text-center">
			<a href="#" class="btn btn-lg btn-outline-primary mb-5">Load more posts</a>
		</div>
	</div>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
