<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Blog" }}
</head>
<body>
	{{> sections/header}}
	<div class="container mt-4">
		<h1 class="text-center mb-0 h2">SAND AND SKY JOURNAL</h1>
	</div>
	{{> sections/footer}}
	{{> js jquery=true popper=true bootstrap=true main=true }}
</body>
</html>
