<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Collection - APC" yotpo_stars="true" }}
</head>

<body>
  <section class="p-0 pb-4">
    <figure class="collection-banner text-center">
      <a href="/">
        <picture>
          <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
          <source srcset="https://via.placeholder.com/375x394"/>
          <img class="w-100" src="https://via.placeholder.com/375x394"/>
        </picture>
      </a>
      <figcaption class="bg-apc text-white p-2 p-lg-4 mx-auto text-center d-inline-block">
        <p class="h1 m-0 px-2">Australian Pink Clay</p>
      </figcaption>
    </figure>
  </section>
  <section class="apc-decoration position-relative mb-4">
    <div class="container p-0">
      <p class="mt-4 h4 pl-4 pl-lg-0 text-dark font-weight-normal">The power of Aussie earth to</p>
      <p class="pl-4 font-banner font-weight-bold mb-2 text-dark pr-2">Detoxify and refine</p>
      {{> range-apc }}
    </div>
  </section>
  <section class="mt-0 mt-lg-6 pt-4 pt-lg-6">
    <h1 class="h1 text-center mb-6">Our Range Products</h1>
    <div class="container">
      <div class="row justify-content-center">
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195" title="Porefining Face Mask"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        <div class="w-100 d-none d-lg-block"></div>
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
      </div>
    </div>
  </section>
  <section class="p-0">
    <div class="bg-secondary-light">
      <div class="mt-4 p-lg-0 container">
        <figure class="row flex-row position-relative mb-lg-2 mt-5 justify-content-center align-items-center py-4">
          <figcaption class="col-12 col-lg-6 position-relative font-banner text-secondary font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
            From bush to your bathroom.
          </figcaption>
          <div class="col-12 col-lg-6 pl-lg-0 position-relative">
            <picture class="position-relative">
              <source srcset="../images/apc-map-desktop.svg" media="(min-width: 992px)"/>
              <img src="../images/apc-map-mobile.svg" class="w-100"/>
            </picture>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <section class="">
  <div class="mt-4 p-0 container-fluid">
    <figure class="imagewtext imagewtext--reverse row flex-row-reverse mb-lg-2 mt-5 justify-content-center align-items-center mx-0">
      <div class="col-12 col-lg-6 order-first order-lg-last p-0">
        <picture class="position-absolute dots-decoration">
          <img src="https://cdn.shopify.com/s/files/1/0253/9847/6905/t/115/assets/pores-pink-dotes.svg?v=11807568851721078718">
        </picture>
        <picture class="position-relative">
          <source srcset="https://via.placeholder.com/640x560" media="(min-width: 992px)"/>
          <img src="https://via.placeholder.com/375x375" class="w-100"/>
        </picture>
      </div><figcaption class="col-12 col-lg-6 p-0">
        <div class="mx-g mt-n6 mt-lg-0 ml-lg-n6 mr-lg-0 imagewtext__content-reverse-text mt-lg-0 bg-secondary-light text-center text-lg-left p-4">
          <p class="font-banner text-secondary pt-2 pt-lg-0 font-weight-bold px-2">Show your pores who’s boss.</p>
          <ul class="list-unstyled py-2 py-lg-4 text-left px-3">
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Deep cleansed, detoxified skin</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Refined pores &amp; a perky complexion</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Smooth texture &amp; even skin tone</li>
            <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>Shine-free, radiant results</li>
          </ul>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  </section>
  <div class="my-5 bg-light">
    <div class="container py-5">
      <h2 class="h1">What they say</h2>
    </div>
  </div>
  <section class="pt-4 pb-6">
    {{> compounds/collection-banner background="bg-apc" }}
  </section>
  {{> sections/usp-banner}}
  {{> sections/newsletter-banner}}
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
