<!DOCTYPE html>
<html>
<head>
	{{> html-head title="Collection Template" maincss="collection" }}
</head>
<body class="collection-template">
	{{> sections/header secondnav=false activefirst="active" hideCategoryNav=true}}
  <div class="collection-banner">
    <picture class="embed-responsive bg-shimmer">
      <source srcset="https://via.placeholder.com/1400x380" media="(min-width: 992px)">
      <img src="https://via.placeholder.com/750x840" alt="Slide 1" class="d-block w-100 embed-responsive-item fit--cover">
  	</picture>
  </div>
	<div class="container px-g mt-5">
		<div class="row justify-content-between align-items-center mb-3 d-none">
			<h1 id="collection__title" class="col-6 mb-0">Shop All</h1>
			<div class="col-6">
				<div class="floating-label position-relative d-lg-none">
					<select id="selectInput" class="custom-select mb-0 pt-3 pb-1">
						<option selected>Bestsellers</option>
						<option>Lowest price</option>
						<option>Highest price</option>
						<option>Top rated</option>
					</select>
					<label for="selectInput" class="floating-label__text mb-0 position-absolute font-size-sm">Sort by:</label>
				</div>
			</div>
		</div>

		<nav class="col px-0">
			<ul class="flex-nowrap tab nav nav-tabs tab--scroll mb-3 mb-lg-2 align-items-end justify-content-start" id="scrolltab" role="tablist">
				<li class="nav-item flex-shrink-0 text-center mb-0 pr-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body active" data-toggle="tab" href="#collection__all"
						role="tab" aria-controls="collection__all" aria-selected="true">Shop All</a>
				</li>
				<li class="nav-item flex-shrink-0 text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__value-kits" role="tab"
						aria-controls="collection__value-kits" aria-selected="false">Value Kits</a>
				</li>
				<li class="nav-item flex-shrink-0 text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__face-mask" role="tab"
						aria-controls="collection__face-mask" aria-selected="false">Face Masks</a>
				</li>
				<li class="nav-item flex-shrink-0 text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__serum" role="tab"
						aria-controls="collection__serum" aria-selected="false">Moisturisers & Serums</a>
				</li>
				<li class="nav-item flex-shrink-0 text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__cleanser" role="tab"
						aria-controls="collection__cleanser" aria-selected="false">Cleanser & Exfoliators</a>
				</li>
				<li class="nav-item flex-shrink-0 text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__body" role="tab"
						aria-controls="collection__body" aria-selected="false">Body</a>
				</li>
				<li class="nav-item flex-shrink-0 text-center mb-0 pl-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__accessories" role="tab"
						aria-controls="collection__accessories" aria-selected="false">Accessories</a>
				</li>
			</ul>

			<ul class="nav--filter list-unstyled d-none justify-content-between">
				<li class="col-12 col-lg-6 d-flex align-items-center pl-0 pl-lg-g flex-wrap">
					<div class="nav--filter__icon mb-2 mb-lg-0">
						<img class="svg filter mr-1 mr-lg-0" src="icons/filter.svg" replace-to-svg />
						<span class="d-inline d-lg-none font-weight-bold">Filter by:</span>
					</div>
					<div class="nav--filter__group d-flex flex-nowrap">
						<div class="dropdown dropdown--filter ml-0 ml-lg-g px-0">
							<button class="text-left btn dropdown-toggle dropdown-toggle--with-icon font-weight-bold pl-2 pr-4 d-flex align-items-center" type="button" id="dropdownMenuButton" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Skin Concerns<span class="dropdown-toggle__badge bg-dark text-white d-inline-flex justify-content-center align-items-center ml-1 text-center rounded-circle">1</span>
							</button>
							<div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item text-wrap px-2" href="#">Breakouts & Acne</a>
								<a class="dropdown-item text-wrap px-2" href="#">Drynes</a>
								<a class="dropdown-item text-wrap px-2" href="#">Dulness & Uneven Skin Tone</a>
								<a class="dropdown-item text-wrap px-2" href="#">Fine Lines & Wrinkles</a>
								<a class="dropdown-item text-wrap px-2" href="#">Redness & Sensivity</a>
								<a class="dropdown-item text-wrap px-2" href="#">Dark Spots & Hyperpigmentation</a>
							</div>
						</div>
						<div class="dropdown dropdown--filter px-0 ml-2 ml-lg-0">
							<button class="text-left btn dropdown-toggle dropdown-toggle--with-icon font-weight-bold pl-2 pr-4" type="button" id="dropdownMenuButton1" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Routine
							</button>
							<div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item text-wrap px-2" href="#">Cleanser</a>
								<a class="dropdown-item text-wrap px-2" href="#">Exfoliator</a>
								<a class="dropdown-item text-wrap px-2" href="#">Toner</a>
								<a class="dropdown-item text-wrap px-2" href="#">Mask</a>
								<a class="dropdown-item text-wrap px-2" href="#">Serum</a>
								<a class="dropdown-item text-wrap px-2" href="#">Moisturiser</a>
								<a class="dropdown-item text-wrap px-2" href="#">Sun Care</a>
								<a class="dropdown-item text-wrap px-2" href="#">Body Care</a>
							</div>
						</div>
					</div>
				</li>
				<li class="d-none d-lg-flex col-4 position-relative justify-content-end align-items-center">
					<div class="floating-label position-relative">
						<select id="selectInput" class="custom-select mb-0 pt-3 pb-1">
							<option selected>Bestsellers</option>
							<option>Lowest price</option>
							<option>Highest price</option>
							<option>Top rated</option>
						</select>
						<label for="selectInput" class="floating-label__text mb-0 position-absolute font-size-sm">Sort by:</label>
					</div>
				</li>
			</ul>
			<ul class="row nav--filter list-unstyled justify-content-between new-filter--abtest mt-3" data-main-collection="skincare-kits-value-bundles">
				<input type="hidden" id="isAbtest" value="true">
				<li class="col-12 col-lg-6 align-items-center flex-wrap d-flex mb-sm-3 mb-lg-0">
					<h2 id="collection__title" class="mb-0 pl-0">Kits &amp; Value Sets</h2>
				</li>
				<li class="col-6 col-lg-3 position-relative justify-content-center align-items-center">
					<div class="floating-label position-relative">
						<select id="sortCollection" class="collection__sort-by custom-select mb-0 pt-2 sort-desktop border-dark font-size-sm">
							<option value="best-selling">Bestsellers</option>
							<option value="manual" selected="">Popular</option>
							<option value="price-ascending">Lowest price</option>
							<option value="price-descending">Highest price</option>
							<option value="created-descending">Latest</option>
							<option value="created-ascending">Oldest</option>
						</select>
					</div>
				</li>
				<li class="col-6 col-lg-3 position-relative justify-content-center align-items-center">
					<a class="btn btn-lg btn-block btn-outline-dark mb-0 text-left font-size-sm" data-toggle="modal" data-target="#filter-drawer" role="button" data-cy="filter-icon">
						<img class="svg filter mr-1 mr-lg-0 font-size-lg" src="icons/filter-circle.svg" replace-to-svg="sg"/>
						<span class="pl-1">Filter by</span>
					</a>
				</li>
			</ul>
		</nav>

		<section class="tab-content">
			<div class="tab-pane active collection__featured mb-g" id="collection__featured" role="tabpanel" aria-labelledby="collection__featured">
				<h4 class="mb-3 d-lg-none">Featured</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Featured</h4>
				<div class="row">
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true rangeText='short'}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card-quiz-abtest collection=true class="d-none col-lg-3 product-card--quiz__dt" textClass="text-white" text="Discover your routine to flawless skin"}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card-quiz-abtest collection=true class="col-12 d-none product-card--quiz__mb" textClass="text-black" text="Find the perfect products for you"}}
					{{> compounds/product-card color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__value-kits mb-g" id="collection__value-kits" role="tabpanel" aria-labelledby="collection__value-kits">
				<h4 class="mb-3 d-lg-none">Value Kits</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Value Kits</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
				</div>
			</div>

			<div class="tab-pane active collection__face-mask mb-g" id="collection__face-mask" role="tabpanel" aria-labelledby="collection__face-mask">
				<h4 class="mb-3 d-lg-none">Face Mask</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Face Mask</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
				</div>
			</div>

			<div class="tab-pane active collection__serum mb-g" id="collection__serum" role="tabpanel" aria-labelledby="collection__serum">
				<h4 class="mb-3 d-lg-none">Moisturisers & Serums</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Moisturisers & Serums</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
				</div>
			</div>

			<div class="tab-pane active collection__cleanser mb-g" id="collection__cleanser" role="tabpanel" aria-labelledby="collection__cleanser">
				<h4 class="mb-3 d-lg-none">Cleanser & Exfoliators</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Cleanser & Exfoliators</h4>
				<div class="row">
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
				</div>
			</div>

			<div class="tab-pane active collection__body mb-g" id="collection__body" role="tabpanel" aria-labelledby="collection__body">
				<h4 class="mb-3 d-lg-none">Body</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Body</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
				</div>
			</div>

			<div class="tab-pane active collection__accessories mb-g" id="collection__accessories" role="tabpanel" aria-labelledby="collection__accessories">
				<h4 class="mb-3 d-lg-none">Accessories</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Accessories</h4>
				<div class="row">
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card color="66b3df" collection=true}}
					{{> compounds/product-card badgeimg=true color="66b3df" collection=true}}
				</div>
			</div>
		</section>

	</div>
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true popper=true}}
</body>
</html>
