<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Collection - AEA" yotpo_stars="true" }}
</head>

<body>
  <section class="container-fluid p-0 pb-4">
    <figure class="collection-banner text-center">
      <a href="/">
        <picture>
          <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
          <source srcset="https://via.placeholder.com/375x394"/>
          <img class="w-100" src="https://via.placeholder.com/375x394"/>
        </picture>
      </a>
      <figcaption class="bg-aea text-white p-2 p-lg-4 mx-auto text-center d-inline-block">
        <p class="h1 m-0 px-2">Australian Emu Apple and Glow Berries™</p>
      </figcaption>
    </figure>
  </section>
  <section class="aea-decoration position-relative">
    <div class="container p-0">
      <p class="mt-4 h4 pl-4 pl-lg-0 text-dark font-weight-normal">The power of Aussie earth to</p>
      <p class="pl-4 pl-lg-0 font-banner font-weight-bold mb-2 text-dark pr-2">Plump & Brighten</p>
      {{> range-aea }}
    </div>
  </section>
  <section class="mt-0 mt-lg-6 pt-4 pt-lg-6">
    <h1 class="h1 text-center mb-6">Our Range Products</h1>
    <div class="container">
      <div class="row justify-content-center">
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195" title="Porefining Face Mask"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        <div class="w-100 d-none d-lg-block"></div>
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
      </div>
    </div>
  </section>
  <section class="p-0 pb-3">
    <div class="bg-aea-light">
      <div class="mt-4 p-lg-0 container aea-map position-relative">
        <figure class="row flex-row position-relative mb-lg-2 mt-5 justify-content-center align-items-center py-6">
          <figcaption class="col-12 col-lg-5 position-relative font-banner text-aea font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
            From bush to your bathroom.
          </figcaption>
          <div class="col-12 col-lg-6 pl-lg-0 position-relative">
            <picture class="position-relative">
              <source srcset="../images/aea-map-desktop.svg" media="(min-width: 992px)"/>
              <img src="../images/aea-map-mobile.svg" class="w-100"/>
            </picture>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <section class="mt-6 pt-4">
    <div class="mt-4 container">
      <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 justify-content-center">
        <figcaption class="col-12 col-lg-6 order-last p-0">
          <div class="mx-g imagewtext--large__content bg-aea-light text-left py-4 py-lg-6 pl-0 pl-lg-6 imagewtext__aea-decoration">
            <p class="font-banner text-aea font-weight-bold text-center text-lg-left">Glow, you good thing!</p>
            <ul class="list-unstyled py-2 py-lg-4 text-left between-space px-2 px-lg-0">
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal pt-2"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Glow, with lit-from-within skin</li>
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Smooth and even skin tone</li>
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Plump, juicy, hydrated skin</li>
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Reduced appearance of  fine lines and pigmentation</li>
            </ul>
          </div>
        </figcaption>
        <div class="col-12 col-lg-6 p-0 p-lg-2">
          <picture class="d-block imagewtext--large__picture">
            <source srcset="https://via.placeholder.com/540x540" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/350x350" class="w-100"/>
          </picture>
        </div>
      </figure>
    </div>
  </section>
  <div class="my-5 bg-light">
    <div class="container py-5">
      <h2 class="h1">What they say</h2>
    </div>
  </div>
  <section class="pt-4 pb-6">
    {{> compounds/collection-banner reverse="true" background="bg-aea" }}
  </section>
  {{> sections/usp-banner}}
  {{> sections/newsletter-banner}}
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
