<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Collection - AEA" yotpo_stars="true" }}
</head>

<body>
  <section class="pb-4">
    <figure class="collection-banner text-center">
      <a href="/">
        <picture class="no-gutters__in-container">
          <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
          <source srcset="https://via.placeholder.com/375x394"/>
          <img class="w-100" src="https://via.placeholder.com/375x394"/>
        </picture>
      </a>
      <figcaption class="bg-aea text-white p-2 p-lg-4 mx-auto text-center d-inline-block">
        <p class="h1 m-0 px-2">Australian Emu Apple and Glow Berries™</p>
      </figcaption>
    </figure>
  </section>
  <section class="aea-decoration position-relative">
    <div class="container">
      <p class="mt-4 h4 font-banner-dark">The power of Aussie earth to</p>
      <p class="font-banner font-weight-bold mb-2 font-banner--dark">Plump & Brighten</p>
      {{> range-aea }}
    </div>
  </section>
  <section class="mobile-wrapper mt-6 pt-6">
    <h1 class="h1 text-center mb-2">Our Range Products</h1>
    <div class="container">
      <div class="row justify-content-center">
        {{> product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> product-card-secondary class="col-6 col-lg-3" color="cc3195" title="Porefining Face Mask"}}
        {{> product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        <div class="w-100 d-none d-lg-block"></div>
        {{> product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
      </div>
    </div>
  </section>
  <div class="bg-aea-light">
    <div class="mt-4 p-lg-0 container aea-map position-relative">
      <figure class="mobile-wrapper imagewtext row flex-row position-relative mb-lg-2 mt-5 justify-content-center align-items-center py-6">
        <figcaption class="col-12 col-lg-5 position-relative font-banner text-aea font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
          From bush to your bathroom.
        </figcaption>
        <div class="col-12 col-lg-5 pl-lg-0 position-relative">
          <picture class="position-relative">
            <img src="//cdn.shopify.com/s/files/1/0248/5370/8886/t/92/assets/australia.png?v=3568494905180984101" class="w-100"/>
          </picture>
        </div>
      </figure>
    </div>
  </div>
  <section class="pt-6">
    <div class="mt-4 p-lg-0 container">
      <figure class="mobile-wrapper imagewtext imagewtext--large row flex-row-reverse position-relative mb-lg-2 mt-5 justify-content-center no-gutters__in-container">
        <figcaption class="col-12 col-lg-6 order-last position-relative">
          <div class="imagewtext--large__content bg-aea-light text-left py-4 py-lg-6 pl-0 pl-lg-6 imagewtext__aea-decoration">
            <p class="font-banner text-aea font-weight-bold text-center text-lg-left">Glow, you good thing!</p>
            <ul class="list-unstyled py-2 py-lg-4 text-left between-space px-2 px-lg-0">
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Glow, with lit-from-within skin</li>
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Smooth and even skin tone</li>
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Plump, juicy, hydrated skin</li>
              <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center"><i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>Reduced appearance of  fine lines and pigmentation</li>
            </ul>
          </div>
        </figcaption>
        <div class="col-12 col-lg-6">
          <picture class="d-block imagewtext--large__picture no-gutters__in-container">
            <source srcset="https://via.placeholder.com/540x540" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/365x365" class="w-100">
          </picture>
        </div>
      </figure>
    </div>
  </section>
  <div class="mobile-wrapper my-5 bg-light">
    <div class="container py-5">
      <h2 class="h1">What they say</h2>
    </div>
  </div>
  <div class="container-fluid mt-4 p-lg-0">
    <figure class="imagewtext row flex-row-reverse position-relative mb-lg-2 mt-5 imagewtext--reverse align-items-center">
      <div class="col-12 col-lg-9 order-lg-last">
        <div class="no-gutters__in-container">
          <picture>
            <source srcset="https://via.placeholder.com/800x450/FEEDEF" media="(min-width: 992px)"/>
            <img src="https://via.placeholder.com/380x336/FEEDEF" class="w-100">
          </picture>
        </div>
      </div>
      <figcaption class="col-12 col-lg-3">
        <div class="imagewtext__reverse p-4 pt-lg-6 pb-lg-6 px-lg-6 bg-aea text-white text-center text-lg-left">
          <p class="font-banner-secondary text-white font-weight-bold pt-1 pt-lg-2">SAVE 20% with our Perfect Skin Kit</p>
          <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 rounded-0">Shop Now</a>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="mobile-wrapper my-5 bg-light">
    <div class="container py-5">
      <h2 class="h1">Section Benefits</h2>
    </div>
  </div>
  <div class="mobile-wrapper my-5 bg-light">
    <div class="container py-5">
      <h2 class="h1">Section Email Signup</h2>
    </div>
  </div>
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
