<!DOCTYPE html>
<html>

<head>
  {{> html-head title="Collections List" yotpo_stars="true" }}
</head>

<body>
  <section class="container-fluid p-0 pb-4">
    {{> collection-banner-all-products }}
  </section>
  <section class="mt-4">
    {{> filter}}
    <div class="container mt-4">
      <div class="row justify-content-center">
        <!-- <p class="h1 col-12 text-center pb-2">Best Sellers</p> -->
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="66b3df"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="ff6f8d" saving="20%" badge="true"}}
        {{> compounds/product-card-secondary class="col-6 col-lg-3" color="cc3195"}}
      </div>
    </div>
  </section>
  <div class="my-5 bg-light">
    <div class="container py-5">
      <h2 class="h1">Section What They Say...</h2>
    </div>
  </div>
  <section class="pt-4 pb-6">
    {{> compounds/collection-banner reverse="true" background="bg-aea" }}
  </section>
  {{> sections/usp-banner}}
  {{> sections/newsletter-banner}}
  {{> js jquery=true bootstrap=true main=true }}
</body>
</html>
