<!DOCTYPE html>
<html class="us-store">
<head>
	{{> html-head title="Collection Template" maincss="collection" }}
</head>
<body class="collection-template button-pink-abtest-active">
	{{> sections/header secondnav=true activefirst="active"}}
  <div class="collection-banner">
    <picture class="embed-responsive bg-shimmer">
      <source srcset="https://via.placeholder.com/1400x380" media="(min-width: 992px)">
      <img src="https://via.placeholder.com/750x840" alt="Slide 1" class="d-block w-100 embed-responsive-item fit--cover">
  	</picture>
	<picture class="embed-responsive bg-shimmer d-none">
      <source srcset="https://via.placeholder.com/1400x380?text=VARIANT" media="(min-width: 992px)">
      <img src="https://via.placeholder.com/750x840?text=VARIANT" alt="Slide 1" class="d-block w-100 embed-responsive-item fit--cover">
  	</picture>
  </div>
	<div class="container px-g mt-5">
		<div class="row justify-content-between align-items-center mb-4">
			<h1 id="collection__title" class="col-6 mb-0">Shop All</h1>
			<div class="col-6">
				<div class="floating-label position-relative d-lg-none">
					<select id="selectInput" class="custom-select mb-0 pt-3 pb-1">
						<option selected>Bestsellers</option>
						<option>Lowest price</option>
						<option>Highest price</option>
						<option>Top rated</option>
					</select>
					<label for="selectInput" class="floating-label__text mb-0 position-absolute font-size-sm">Sort by:</label>
				</div>
			</div>
		</div>

		<nav class="col d-none d-lg-block px-0">
			<ul class="tab nav nav-tabs tab--scroll mb-3 mb-lg-4 align-items-end" id="scrolltab" role="tablist">
				<li class="nav-item text-center mb-0 pr-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body active" data-toggle="tab" href="#collection__all"
						role="tab" aria-controls="collection__all" aria-selected="true">Shop All</a>
				</li>
				<li class="nav-item text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__value-kits" role="tab"
						aria-controls="collection__value-kits" aria-selected="false">Value Kits</a>
				</li>
				<li class="nav-item text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__face-mask" role="tab"
						aria-controls="collection__face-mask" aria-selected="false">Face Masks</a>
				</li>
				<li class="nav-item text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__serum" role="tab"
						aria-controls="collection__serum" aria-selected="false">Moisturisers & Serums</a>
				</li>
				<li class="nav-item text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__cleanser" role="tab"
						aria-controls="collection__cleanser" aria-selected="false">Cleanser & Exfoliators</a>
				</li>
				<li class="nav-item text-center mb-0 px-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__body" role="tab"
						aria-controls="collection__body" aria-selected="false">Body</a>
				</li>
				<li class="nav-item text-center mb-0 pl-g">
					<a class="nav-link mb-0 border-0 px-0 pb-2 text-body" data-toggle="tab" href="#collection__accessories" role="tab"
						aria-controls="collection__accessories" aria-selected="false">Accessories</a>
				</li>
				<li class="nav-item text-center mb-0 pl-g ml-auto tab--filter">
					<div class="floating-label position-relative mb-2">
						<select id="selectInputLg" class="custom-select mb-0 pt-3 pb-1">
							<option selected>Bestsellers</option>
							<option>Lowest price</option>
							<option>Highest price</option>
							<option>Top rated</option>
						</select>
						<label for="selectInputLg" class="floating-label__text mb-0 position-absolute font-size-sm">Sort by:</label>
					</div>
				</li>
			</ul>
		</nav>

		<section class="tab-content">
			<div class="tab-pane active collection__featured mb-g" id="collection__featured" role="tabpanel" aria-labelledby="collection__featured">
				<h4 class="mb-3 d-lg-none">Featured</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Featured</h4>
				<div class="row">
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__value-kits mb-g" id="collection__value-kits" role="tabpanel" aria-labelledby="collection__value-kits">
				<h4 class="mb-3 d-lg-none">Value Kits</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Value Kits</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__face-mask mb-g" id="collection__face-mask" role="tabpanel" aria-labelledby="collection__face-mask">
				<h4 class="mb-3 d-lg-none">Face Mask</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Face Mask</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__serum mb-g" id="collection__serum" role="tabpanel" aria-labelledby="collection__serum">
				<h4 class="mb-3 d-lg-none">Moisturisers & Serums</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Moisturisers & Serums</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__cleanser mb-g" id="collection__cleanser" role="tabpanel" aria-labelledby="collection__cleanser">
				<h4 class="mb-3 d-lg-none">Cleanser & Exfoliators</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Cleanser & Exfoliators</h4>
				<div class="row">
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__body mb-g" id="collection__body" role="tabpanel" aria-labelledby="collection__body">
				<h4 class="mb-3 d-lg-none">Body</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Body</h4>
				<div class="row">
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
				</div>
			</div>

			<div class="tab-pane active collection__accessories mb-g" id="collection__accessories" role="tabpanel" aria-labelledby="collection__accessories">
				<h4 class="mb-3 d-lg-none">Accessories</h4>
				<h4 class="h2 mb-3 d-none d-lg-block">Accessories</h4>
				<div class="row">
					{{> compounds/product-card badgeimg=true color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card color="66b3df"}}
					{{> compounds/product-card badgeimg=true color="66b3df"}}
				</div>
			</div>
		</section>

	</div>
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
