<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Home" }}
</head>

<body>
	{{> sections/header}}
	{{> carousel-banner }}

	{{> sections/featured-products}}

	<div class="mobile-wrapper my-5 bg-light">
		<div class="container py-5">
			<h2 class="h1">Ingredients block</h2>
		</div>
	</div>

	{{> sections/collection-section class="my-5" color="ff6f8d" range="apc" header="Detoxify with Australian Pink Clay" button="Shop all Detoxify"}}

	{{> sections/collection-section class="my-5" color="cc3195" range="aea" header="Brighten with Australian Emu Apple" button="Shop all Brighten"}}

	{{> sections/collection-section class="my-5" color="66b3df" range="tsw" header="Hydrate with Tasmanian Spring Water" button="Shop all Hydrate"}}

	{{> sections/a-beauty-banner}}

	{{> sections/instagram}}

	<div class="mobile-wrapper my-5 bg-light">
		<div class="container py-5">
			<h2 class="h1">Recognized A-Beauty leader by…</h2>
		</div>
	</div>

	<div class="mobile-wrapper bg-secondary-light">
		<div class="container py-5">
			<div class="row justify-content-lg-center">
				<div class="col-4 col-lg-3 text-secondary text-center">
					<i class="sni-text d-block" aria-hidden="true">ss</i>
					<span class="d-block mt-2">Easy Returns</span>
				</div>
				<div class="col-4 col-lg-3 text-secondary text-center">
					<i class="sni-text d-block" aria-hidden="true">ss</i>
					<span class="d-block mt-2">Free Shipping*</span>
				</div>
				<div class="col-4 col-lg-3 text-secondary text-center">
					<i class="sni-text d-block" aria-hidden="true">ss</i>
					<span class="d-block mt-2">Fast Delivery</span>
				</div>
			</div>
		</div>
	</div>

	<div class="mobile-wrapper bg-secondary">
		<div class="container py-5">
			<div class="row">
				<div class="col-12 col-lg-6 text-white">
					<h3>Join the A-Beauty movement and stay inspired with new content, special deals and more!</h3>
					<input class="form-control bg-transparent text-white border-white mt-2 mt-lg-3" placeholder="E-mail address" />
				</div>
			</div>
		</div>
	</div>

	{{> sections/footer}}

	{{> js jquery=false popper=false bootstrap=false main=false }}
</body>

</html>
