<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Home" maincss="home" }}
</head>

<body>
	{{> sections/header }}
	{{> sections/hero-carousel totalSlide=3 fullimage="true" indicator-timer="true"}}
	
	{{> sections/featured-products-with-tab}}

	{{> sections/collection-section class="my-5" color="ff6f8d" range="apc" header="Detoxify with Australian Pink Clay" button="Shop all Detoxify" subtitle="Hydrating • Exfoliates • Porefines"}}

	{{> sections/collection-section class="my-5" color="cc3195" range="aea" header="Brighten with Australian Emu Apple" button="Shop all Brighten" subtitle="Hydrating • Exfoliates • Porefines"}}

	{{> sections/collection-section class="my-5" color="66b3df" range="tsw" header="Hydrate with Tasmanian Spring Water" button="Shop all Hydrate" subtitle="Hydrating • Exfoliates • Porefines"}}

	{{> sections/a-beauty-banner}}

	{{> sections/instagram}}

	{{> sections/a-beauty-review}}

	{{> sections/usp-banner}}

	{{> sections/newsletter-banner}}

	{{> sections/footer}}
	{{> components/modal-newsletter }}

	{{> js jquery=true bootstrap=true main=true }}
</body>

</html>
