<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Range TSW" maincss="range-page" }}
</head>

<body>
	{{> sections/header}}
	{{> compounds/range-banner title="TASMANIAN SPRING WATER" background="bg-tsw" padding="p-4"}}
	{{> sections/tsw }}
	{{> sections/range-products }}
	{{> compounds/range-map-tsw }}
	{{> compounds/range-intro-tsw }}
	{{> sections/review-testimonials}}
	{{> compounds/bottom-banner badge="true" background="bg-tsw" reverse="true" }}
	{{> sections/usp-banner}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
