<!DOCTYPE html>
<html class="us-store">

<head>
	{{> html-head title="Range APC" maincss="range-page-abtest" }}
</head>

<body class="range-page--abtest">
	{{> sections/header}}
	{{> compounds/range-banner-abtest title="Australian Pink Clay" background="bg-secondary" padding="px-6 py-4"}}
	{{> sections/range-products-abtest }}
	{{> sections/range-result-abtest }}
	{{> sections/range-breakdown-abtest }}
	{{> sections/range-article-abtest}}
	{{> sections/range-review-abtest}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
