<!DOCTYPE html>
<html class="us-store">

<head>
	{{> html-head title="Range Oil" maincss="range-page" }}
</head>

<body>
	{{> sections/header}}
	{{> compounds/range-banner }}
	{{> sections/range-products imgUrl="https://via.placeholder.com/345x145" imgUrl_dt="https://via.placeholder.com/460x468" bannerClass="pr-lg-hg"
		title="Oil Control" subtitle="Balance • Antimicrobial • Non-drying" text="The nemesis of excess sebum and acne-prone skin. Eliminate imperfections and reveal clear, shine-free skin." color="286117" textclass="text-oil"}}
	{{> sections/range-result
		carousel=true oil="true"
		title="Oil Control Results"
		classes="range-result__decoration-oil"
		text="Perfecting skin complexion and drastically reducing breakouts achieved effortlessly with our Oil Control range, which helps to purify, balance, reduce inflammation and remove excessive shine. Say hello to smoother, calmer and clearer skin!"
		}}
	{{> sections/range-breakdown type="oil" oil="true" title="Breaking down the ingredients" svgClass="text-oil svg mr-2 mr-lg-1 mt-lg-1" headerClass="mt-lg-4"}}
	{{> sections/range-article titleclass="text-body" bgclass="bg-gray-100" type="oil"}}
	{{> sections/range-review textcolor="text-oil" linkColor="text-body"}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
