<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Range APC" maincss="range-page" }}
</head>

<body> 
	{{> sections/header}}
	{{> compounds/range-banner title="Australian Pink Clay" background="bg-secondary" padding="px-6 py-4"}}
	{{> sections/apc }}
	{{> sections/range-products }}
	{{> compounds/range-map-apc }}
	{{> compounds/range-intro-apc }}
	{{> sections/review-testimonials}}
	{{> compounds/bottom-banner background="bg-secondary" }}
	{{> sections/usp-banner}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
