<!DOCTYPE html>
<html class="us-store">

<head>
	{{> html-head title="Range AEA" maincss="range-page-abtest" }}
</head>

<body>
	{{> sections/header}}
	{{> compounds/range-banner-abtest }}
	{{> sections/range-products-abtest title="Australian Emu Apple" subtitle="Brighten • Hydrate • Restore" text="Packed with the world’s most potent Vitamin C - 100X more than an orange - to fight against premature aging, allowing you to achieve glow-from-within skin." color="cc3195" textclass="text-aea"}}
	{{> sections/range-result-abtest carousel=true aea="true" title="Australian Emu Apple results" text="Achieve brighter, radiant skin with our unique blend of Glow BerriesTM consisting of 3 Aussie superfruits - Emu Apple (or Muntries), Riberry and Pepperberry. Bursting with Vitamin C, E and antioxidants, bid goodbye to fine lines and pigmentation." classes="bg-aea-light range-result--abtest__decoration-aea" decoration="range-result--abtest__decoration-mobile-aea" }}
	{{> sections/range-breakdown-abtest type="aea" aea="true" title="Breaking down Australian Glow Berries™" }}
	{{> sections/range-article-abtest titleclass="text-aea" bgclass="bg-aea-light"}}
	{{> sections/range-review-abtest textcolor="text-aea"}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
