<!DOCTYPE html>
<html class="us-store">

<head>
	{{> html-head title="Range APC" maincss="range-page-abtest" }}
</head>

<body class="range-page--abtest">
	{{> sections/header}}
	{{> compounds/range-banner-abtest }}
	{{> sections/range-products-abtest title="Australian Pink Clay" subtitle="Detoxify • Refine • Soothe" text="Combats troubled, acne-prone and textured skin. Clears impurities and congestions, leaving you with soothed and pore-tight skin in minutes." color="ff6f8d" textclass="text-apc" }}
	{{> sections/range-apc-result-abtest }}
	{{> sections/range-apc-breakdown-abtest }}
	{{> sections/range-article-abtest titleclass="text-apc" bgclass="bg-apc-light"}}
	{{> sections/range-review-abtest textcolor="text-apc"}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
