<!DOCTYPE html>
<html class="us-store">

<head>
	{{> html-head title="Range TSW" maincss="range-page-abtest" }}
</head>

<body class="range-page--abtest">
	{{> sections/header}}
	{{> compounds/range-banner-abtest }}
	{{> sections/range-products-abtest title="Tasmanian Spring Water" subtitle="Hydrate • Revitalise • Fortify" text="Restores skin hydration and strengthens the skin barrier to lock in moisture, giving you smoother and more youthful skin." color="42A1CA" textclass="text-tsw"}}
	{{> sections/range-result-abtest carousel=true tsw="true" title="Tasmanian Spring Water results" text="Revitalize plump, healthy glowing skin by ensuring your skin is deeply hydrated and moisturised. Your skin will feel so soft, you could dive right in." classes="bg-tsw-light range-result--abtest__decoration-tsw" decoration="range-result--abtest__decoration-mobile-tsw" }}
	{{> sections/range-breakdown-abtest type="tsw" tsw="true" title="Breaking down the ingredients" }}
	{{> sections/range-article-abtest titleclass="text-tsw" bgclass="bg-tsw-light"}}
	{{> sections/range-review-abtest textcolor="text-tsw"}}
	{{> sections/newsletter-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
