<!DOCTYPE html>
<html>

<head>
		{{> html-head title="Stockist" maincss="stockists" }}
</head>
<body>
	{{> sections/header}}
	<section class="container text-center stockist my-4">
		<h1>Find us in a store near you</h1>
		<form class="form-row justify-content-center align-items-center">
			<label class="col-12 col-md-auto my-1 h4 mb-0 font-weight-bold">Choose your region:</label>
			<div class="col-8 col-md-3 my-1">
				<select class="custom-select mb-0 ml-md-2 stockist__select">
					<option value="united-kingdom" data-label="United Kingdom">United Kingdom</option>
					<option value="usa" data-label="USA" selected>USA</option>
					<option value="asia" data-label="Asia">Asia</option>
					<option value="europa" data-label="Europe">Europe</option>
					<option value="australia" data-label="Australia">Australia</option>
				</select>
			</div>
		</form>
		<p class="text-secondary mt-2">If we don't stock near you, you can buy online <a href="#" class="text-underline text-secondary">here</a> and take advantage of
			our worldwide delivery</p>
		<h2 class="mt-4 mb-3">Stockists in <span class="stockist__location">USA</span></h2>
		<hr class="d-lg-none my-3">
		<div class="row justify-content-center">
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.asos.com/women/face-body/a-to-z-of-brands/coco-eve/cat/?cid=28100" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Asos_2x_0337b3f4-d947-4656-a7ca-3ffc13dfdc5f_X100.png?v=1590061693" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.cultbeauty.co.uk/coco-eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Cult_Beauty_2x_bc78b491-259c-4fd2-8281-ff87f34c2110_X100.png?v=1590062256" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.selfridges.com/SG/en/cat/coco-eve/" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/SelfridgesCo_2x_23bdca4c-ed53-46fd-a24d-9645cff36283_X100.png?v=1590066838" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available in selected stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.prettylittlething.com/beauty/brands/coco-eve.html" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/PLT_2x_c76bfaa0-210f-4b1a-b7a3-e772c38d423a_X100.png?v=1590065390" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.oliverbonas.com/beauty/coco-and-eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/OliverBonas_2x_1_X100.png?v=1593593674" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available in select stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.beautybay.com/l/cocoeve/" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Beauty_Bay_2x_738fdcde-2894-4b5a-8501-8168617f063d_X100.png?v=1590061686" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4" data-toggle="united-kingdom usa">
				<a href="https://www.birchbox.com/brand/11892/coco-eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Birchbox_2x_2146e6c6-cc3a-419d-b8f8-af60f6912124_X100.png?v=1590061714" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.harveynichols.com/int/brand/coco-and-eve/" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/HarveyNichols_2x_3e1cb43a-1de4-4558-a85f-a76346d44e7c_X100.png?v=1590064316" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available in select stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="united-kingdom">
				<a href="https://www.libertylondon.com/uk/brands/c/coco-and-eve/" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Liberty_London_2x_b3980434-667c-4a9b-a456-19c5868ae3c5_X100.png?v=1590064355" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available in store</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4" data-toggle="usa">
				<a href="https://www.ulta.com/brand/coco-eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Ulta_2x_75f415fb-feef-4d6f-9587-88da438e02c3_X100.png?v=1590066840" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4" data-toggle="usa">
				<a href="https://www.revolve.com/coco-eve/br/499065/" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Revolve_2x_f572fcbb-5af9-46a8-94a6-a87954e80dc8_X100.png?v=1590065407" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4" data-toggle="australia">
				<a href="https://www.myer.com.au/b/Coco%20%26%20Eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Myer_2x_70e3adce-a8d5-47b1-af35-3c29ce8c6519_X100.png?v=1590064322" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available in select stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4" data-toggle="australia">
				<a href="https://www.adorebeauty.com.au/coco-and-eve.html" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Adore_Beauty_2x_cc07c7c4-375a-47c3-b5a5-429125642d85_X100.png?v=1590061709" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="europe">
				<a href="https://www.sephora.fr/marques/de-a-a-z/coco-et-eve-coco/" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Sephora_2x_62df55e7-b72f-4579-8dee-8e285b046c91_X100.png?v=1590066835" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">FR, DE, IT, GR, PL, PT, ES, CZ, DK, SE, BG, RS: Available in select
					stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="europe">
				<a href="https://www.birchbox.com/brand/11892/coco-eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Birchbox_2x_2146e6c6-cc3a-419d-b8f8-af60f6912124_X100.png?v=1590061714" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">FR: Available online</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="europe">
				<a href="https://www.galerieslafayette.com/c/beaute-soin/fm/coco+and+eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Galeries_Lafayette_2x_13e4e924-0837-4e00-9398-d2bb0793ea95_X100.png?v=1590062242" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">FR: Available in select stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="europe">
				<a href="https://www.douglas.de/Coco-%26-Eve/index_b5709.html" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Douglas_2x_118aa045-1799-4427-b420-aae4f9b908be_X100.png?v=1590062227" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">DE, NL: Available in select stores</figcaption>
			</figure>
			<figure class="m-0 col-6 col-md-4 d-none" data-toggle="asia">
				<a href="https://www.sephora.sg/brands/coco-and-eve" class="d-block py-lg-g rounded" target="_blank">
					<img src="//cdn.shopify.com/s/files/1/0286/1327/9779/files/Sephora_2x_62df55e7-b72f-4579-8dee-8e285b046c91_X100.png?v=1590066835" />
				</a>
				<figcaption class="h4 my-2 mb-lg-4 mx-lg-4">HK, SG, PH, MY, TH: Available in select stores</figcaption>
			</figure>
		</div>
		<h2 class="h1 mt-2">Didn’t find your answer?</h2>
		<p class="h4 font-weight-normal">No worries, you can email us: <a href="mailto:hello@sandandsky.com" class="text-underline font-weight-bold">hello@sandandsky.com</a></p>
	</section>
	{{> sections/instagram}}
	{{> sections/usp-banner}}
	{{> sections/footer}}
	{{> js jquery=true bootstrap=true main=true }}
</body>
</html>
