.cart-upsell--top {
    background-color: $gray-100;
}

.cart-upsell--pair {
    background-color: $range-apc-light;
}

.cart-upsell--arrow {
    width: max-content;
    margin-left: auto;
    background-color: $range-apc-light;
}