
body.cart-drawer-open .cart-drawer-overlay {
  position: absolute;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  z-index: 26;
  opacity: .7;
  z-index: 998;
  box-shadow: 0 0 150px rgba(0, 0, 0, .1);
}

.cart-side-panel {

  .show {
    display: block !important;
  }

  .btn {
    line-height: 1.42;
    text-decoration: none;
    white-space: normal;
    display: inline-block;
    margin: 0;
    width: auto;
    min-width: 90px;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #fff;
    background: #4acd8a;
    border-radius: 6px;
  }

  @media only screen and (max-width:767px) {
    .btn {
      padding: 9px 17px;
      font-size: 10px;
    }
  }

  .btn:hover {
    color: #fff;
    background-color: #ff5a8c;
  }

  .lazyload {
    opacity: 0;
  }

  .no-js .lazyload {
    display: none;
  }

  .btn:hover {
    background: #4bcd8b !important;
  }
}

.cart-change-variant {
  background: #f7f8f8;
  min-height: 220px;
  display: none;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eaeaea;
}

.cart-change-variant .ct-btn-update {
  display: none;
  background-color: #4acd8a;
  height: 52px;
  flex-flow: wrap;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.cart-change-variant .ct-btn-update .left {
  flex: 0 0 55%;
  text-align: center;
  color: #fff;
  border-right: 1px solid #fff;
}

.cart-change-variant .ct-btn-update .right {
  flex: 0 0 45%;
  text-align: center;
  color: #fff;
  border-left: 1px solid #fff;
}

.cart-change-variant .ct-update {
  padding-left: 30px;
  padding-right: 30px;
}

.cart-change-variant .ct-header {
  display: flex;
  flex-flow: wrap;
  position: relative;
  top: -15px;
}

.cart-change-variant .ct-header .close_update {
  display: inline-flex;
  flex: 0 0 calc(100% - 55% - 80px);
  justify-content: flex-end;
}

.cart-change-variant .ct-header .close_update img {
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.cart-change-variant .ct-header .img-ico img {
  height: 100px;
  width: 80px;
  border: 2px solid #4acd8a;
}

.cart-change-variant .ct-header .title {
  display: inline-flex;
  align-items: flex-end;
  flex: 0 0 55%;
}

.cart-side-panel {
  display: block;
  width: 100%;
  float: left;
  max-width: 375px;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 999999;
  overflow-y: scroll;
  transition: .3s transform ease-in-out;
  height: 100vh;
  transform: translateX(462px);
  -webkit-transform: translateX(462px);
  -o-transform: translateX(462px);
  -ms-transform: translateX(462px);
  -moz-transform: translateX(462px);
  box-shadow: -12px 0 48px #0000001A;
  color: #494949;
  overflow-x: hidden;
}

.cart-side-panel a,
.cart-side-panel span {
  color: #494949;
}

.cart-side-panel .cart_inner {
  overflow-y: auto;
}

.cart-side-panel .cart_inner p,
.cart-side-panel .cart_inner span {
  color: #494949;
}

.cart-side-panel .cart_inner .block-cart-header {
  text-align: center;
  position: relative;
  padding: 14px 25px 10px;
}

.cart-side-panel .cart_inner .block-cart-header svg {
  fill: #969696;
}

.cart-side-panel .cart_inner .block-cart-header span {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .5px;
}

.cart-side-panel .cart_inner .block-cart-header .cart-close {
  position: absolute;
  right: 25px;
}

.cart-side-panel .cart_inner .no-cart-items {
  display: block;
  text-align: center;
}

.cart-side-panel .cart_inner .block-cart-content .fsb-text {
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

@media (max-width:991px) {
  .cart-side-panel .cart_inner .block-cart-content .fsb-text {
    font-size: 14px;
  }
}

.cart-side-panel .cart_inner .block-cart-content .shipping-bar {
  padding: 10px;
  text-align: center;
  background: rgba(253, 219, 224, .5);
}

.cart-side-panel .cart_inner .block-cart-content .shipping-bar .fsb-bar-wrapper {
  margin: 0 48px 0 auto;
  width: 218px;
}

@media (min-width:991px) {
  .cart-side-panel .cart_inner .block-cart-content .shipping-bar .fsb-bar-wrapper {
    margin: 0 68px 0 auto;
  }
}

.cart-side-panel .cart_inner .block-cart-content .shipping-bar .fsb-bar-wrapper .fsb-bar {
  width: 100%;
  height: 8px;
  display: block;
  margin: 10px 0 0 0;
  position: relative;
  background-color: #f2cad0;
  border-radius: 5px;
}

@media (max-width:991px) {
  .cart-side-panel .cart_inner .block-cart-content .shipping-bar .fsb-bar-wrapper .fsb-bar {
    margin-bottom: 10px;
    background-color: #fcd1d8;
    max-width: 300px;
    margin: 10px auto 0 -20px;
    border-radius: 5px;
  }
}

.cart-side-panel .cart_inner .block-cart-content .shipping-bar .fsb-bar-wrapper .fsb-bar .fsb-cur {
  background-color: #ff798f;
  content: " ";
  position: absolute;
  height: 100%;
  left: 0;
  border-radius: 5px 0 0 5px;
}

.cart-side-panel .cart_inner .block-cart-content .shipping-bar .fsb-bar-wrapper .fsb-bar .fsb-hand {
  position: absolute;
  background-image: url('//cdn.shopify.com/s/files/1/0277/5262/8295/t/90/assets/hand-lines.svg?v=16348782838588858359');
  background-repeat: no-repeat;
  width: 45px;
  height: 35px;
  background-position: 0 0;
  right: -40px;
  background-size: 100%;
  top: -17px;
}

.cart-side-panel .cart-checkout-wrapper {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0 -3px 8px #0000001A;
}

.cart-side-panel .cart-checkout-wrapper .checkout-info-subtotal {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 15px;
}

.cart-side-panel .cart-checkout-wrapper .checkout-info-subtotal .checkout-subtotal-left {
  width: 50%;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  color: #494949;
  font-weight: 600;
}

.cart-side-panel .cart-checkout-wrapper .checkout-info-subtotal .checkout-subtotal-right {
  width: 50%;
  text-align: right;
  font-size: 16px;
  line-height: 16px;
  color: #494949;
  font-weight: 600;
}

.cart-side-panel .cart-checkout-wrapper .checkout-cta {
  background-color: #4acd8a;
  color: #fff;
  display: block;
  margin: 0;
  font-weight: 600;
  line-height: 47px;
  font-size: 16px;
  height: 48px;
  line-height: 2px;
  border: none;
}

body.cart-drawer-open .cart-side-panel {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  height: 100%;
  position: fixed;
}
.cart-side-panel {
  .btn--primary {
    background: #fff;
    color: #4acd8a;
    border-color: #4acd8a;
  }

  .btn--primary:hover {
    background: #4acd8a !important;
    color: #fff !important;
    transition: none !important;
    transition-delay: 0s !important;
  }

  .btn--primary {
    text-transform: none;
    font-weight: 700;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    transition: none !important;
    border-radius: 4px;
    letter-spacing: 1.12px;
  }
}

@-webkit-keyframes shine {
  100% {
    left: -200%;
  }
}

@keyframes shine {
  100% {
    left: -200%;
  }
}

@media only screen and (max-width:500px) {
  .js-add_cart-btn {
    padding: 20px;
    letter-spacing: 1px;
  }
}

.product-footer-buy {
  position: fixed;
  bottom: 0;
  widows: 100%;
  z-index: 20px;
  display: none;
}

.template-index {
  #btt-button {
    background: #fff;
    height: 55px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 25;
    width: 55px;
    padding: 15px 0;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 #000032;
    outline: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s ease-in;
    bottom: 50px;
    right: 20px;
    background-image: none;

    @media(max-width: 768px) {
      bottom: 75px;
    }
  }

  #btt-button.show {
    opacity: 1;
    visibility: visible;
  }

  #btt-button.show--popup {
    bottom: 145px;
  }

  #btt-button:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -5px;
    background: url('//cdn.shopify.com/s/files/1/0253/9847/6905/t/115/assets/icons.png?v=9835768317914198337');
    height: 21px;
    background-position: 0 9px;
    background-size: 175px auto;
    width: 14px;
    background-repeat: no-repeat;
    margin: auto;
  }
}

iframe#launcher {
  bottom: 130px!important;

  @media(max-width: 769px) {
    bottom: 60px!important;
    left: 0!important;
    right: auto!important;
    z-index: 10!important;
  }
}

.add-to-cart-notification {
  @media(min-width: 769px) {
    max-width: 414px;
    right: 50px;
    max-height: 68px;
  }
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;

  max-width: 100%;
  margin: 0 auto 20px;
  z-index: 0;
  position: relative;
  text-align: center;
  color: #494949;
  position: absolute;
  width: 100%;

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  .close {
    cursor: pointer;
    position: absolute;
    width: 25px;
    border: 1px solid #4bcd8b;
    height: 25px;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background: none;

    &:after {
      content: ' ';
      position: absolute;
      border-top: 2px solid #4bcd8b;
      width: 13px;
      left: 5px;
      transform: rotate(135deg);
      top: 11px;
    }

    &:before {
      content: ' ';
      position: absolute;
      border-top: 2px solid #4bcd8b;
      width: 13px;
      top: 11px;
      transform: rotate(45deg);
      left: 5px;
    }
  }
}

#success-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
  margin: 10px;
}

@media (min-width: 1200px) {
  #success-message {
    max-width: 1170px;
    margin: 0 auto 20px;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 10px;
  }
}
