.cart-upsell--top {
    background-color: $gray-100;
}

.cart-upsell--pair {
    .col-12::before {
        content: '';
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $range-apc-light;
        top: -10px;
        right: 35%;
    }

    &__content {
        background-color: $range-apc-light;
        display: flex;

        &.collapsing {
            display: block;
        }
    }

    &__arrow {
        cursor: pointer;
        margin-left: auto;
        border: 1px solid transparent;
        background-color: $range-apc-light;
    
        &.collapsed {
            background-color: transparent;
            border-color: $body-color;
    
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

html.us-store {
    .cart-upsell-top-active {
        .cart-upsell {
            display: none;
        }

        .cart-upsell--top {
            display: flex !important;
        }
    }
    
    .cart-upsell-pair-active {
        .cart-upsell {
            display: none;
        }

        .cart-upsell--arrow,
        .cart-upsell--pair {
            display: block !important;
        }
    }
}