.collection-section {
	@include media-breakpoint-up(lg) {
		&__cover {
			.embed-responsive {
				padding-top: 339px;
			}
		}

		&__ranges-products {
			@include make-col(3, 5);
		}
	}

	&__header .svg {
		font-size: calc-em(30);
	}
}

@include media-breakpoint-down(sm) {
	.collection-section__header h2, h4 {
		width: 90%;
	}

	.collection-section__subtitle {
		display:  block !important;
	}
}
