.customer-reviews {
    background-repeat: repeat-x;
    background-image: url("https://cdn.shopify.com/s/files/1/0277/5262/8295/t/8/assets/review-pattern.p.svg?v=10567752531309195980");
    background-position: left 45%;

    .carousel-control--background {
        border: 1px solid $primary;
        color: $primary;
    }

    @include media-breakpoint-up(lg) {
        .carousel-control-next {
            right: 0;
            transform: translateX(100%);
        }

        .carousel-control-prev {
            left: 0;
            transform: translateX(-100%);
        }
    }

}
