html.au-store {
    .featured-products-abtest,
    .featured-products-tab-content-abtest {
        display: none !important;
    }

    .homepage-abtest {
        .featured-products-abtest {
            display: flex !important;

            .nav-link:before {
                display: block;
                content: attr(title);
                font-weight: bold;
                height: 0;
                visibility: hidden;
            }
        }

        .featured-products-tab-content-abtest {
            display: block !important;
        }

        .featured-products-carousel:not(.featured-products-carousel-abtest) {
            display: none !important;
        }
    }
}