.offcanvas-active {
	overflow: hidden;
}

.main-header {
	z-index: $zindex-fixed;
	position: fixed;
	width: 100%;
	top: 0;

	.offcanvas-active & {
		height: 100%;
	}

	&.scrolled-down {
		transform: translateY(-100%);
		transition: all 0.1s ease-in-out;
	}

	&.scrolled-up {
		transition: all 0.4s ease-in-out, right 0s;
		top: 0;
		right: 0;
		left: 0;
		box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
		@include media-breakpoint-down(md) {
			align-items: flex-start;
		}

		.announcement-bar {
			display: none;
		}
	}

	@include media-breakpoint-down(lg) {
		//992 - 1259 screen width
		.h4 {
			font-size: calc-em(16);
		}
	}

	.nav-link {
		&__icon {
			font-size: calc-em(20, 16);
			@include media-breakpoint-up(lg) {
				font-size: calc-em(22, 16);
			}
		}

		&:hover {
			color: $primary;
		}
	}

	~ .main-content {
		margin-top: calc-em(103);
	}
}

.mega-menu {
	visibility: hidden;
	max-height: 0;
	transition: max-height .8s ease;
	left: 0;
	top: 90%;
	box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
	z-index: $zindex-sticky;
	overflow: hidden;
	margin-top: -1em;

	.nav-item--mega-menu:hover & {
		max-height: 100vh;
		visibility: visible;
		transition: max-height .8s ease;
	}
}

.nav-item {
	&--mega-menu:hover {
		.nav-link .svg {
			transform: rotate(180deg) translateX(0%);
		}
	}
}

.navbar-toggler {
	flex-basis: 20%;

	span {
		width: calc-em(25, 20);
		height: 2px;
		background-color: $body-color;
		position: relative;

		&::before,
		&::after {
			content: '';
			height: 2px;
			background: $body-color;
			position: absolute;
			left: 0;
		}

		&::before {
			width: calc-em(21, 20);
			top: -(calc-em(8, 20));
		}

		&::after {
			width: calc-em(19, 20);
			top: calc-em(8, 20);
		}
	}

	&:focus {
		outline: none;
	}
}

.navbar-nav {
	flex-basis: 20%;
}

.cart-drawer {
	&__count {
		position: absolute;
		font-size: calc-em(10);
		top: calc-em(14, 10);
		right: calc-em(8, 10);
		left: 0;

		@include media-breakpoint-up(lg) {
			font-size: calc-em(12);
			top: calc-em(10, 12);
		}
	}
}

.cookies-banner {
	z-index: $zindex-modal-backdrop;
}
