.offcanvas-active {
	overflow: hidden;
}

.main-header {
	z-index: $zindex-sticky;

	.offcanvas-active & {
		height: 100%;
	}

	&.position-fixed {
		top: 0;
		right: 0;
		left: 0;
		box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
		@include media-breakpoint-down(md) {
			align-items: flex-start;
		}
	}

	&.scrolled-down {
		transform: translateY(-100%);
		transition: all 0.1s ease-in-out;

		.tooltip.show {
			transform: translateY(calc-em(33, 16));

			@include media-breakpoint-up(lg) {
				transform: translateY(0);
			}
		}
	}

	&.scrolled-up {
		transform: translateY(0);
		transition: all 0.4s ease-in-out, right 0s;
	}

	@include media-breakpoint-down(lg) {
		//992 - 1259 screen width
		.h4 {
			font-size: calc-em(16);
		}
	}

	.sni__search {
		z-index: $zindex-sticky;

		&:before {
			cursor: pointer;
		}
	}

	.sni__user {
		z-index: $zindex-sticky;
	}

	.sni__chevron-down {
		&:after {
			font-size: calc-em(12, 16);
			margin-left: calc-em(10, 16);
		}
	}

	.nav-link {
		&:hover {
			color: $primary;
		}
	}
}

.mega-menu {
	visibility: hidden;
	max-height: 0;
	transition: max-height .8s ease;
	left: 0;
	top: 90%;
	box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
	z-index: $zindex-sticky;
	overflow: hidden;
	margin-top: -1em;

	.nav-item--mega-menu:hover & {
		max-height: 100vh;
		visibility: visible;
		transition: max-height .8s ease;
	}
}

.nav-item {
	&--mega-menu:hover {
		.sni__chevron-down:after {
			transform: rotate(180deg) translateX(0%);
		}
	}

	.sni__cart {
		z-index: $zindex-sticky;

		&:before {
			margin: 0;
		}
	}
}

.navbar-toggler {
	flex-basis: 20%;

	span {
		width: calc-em(25, 20);
		height: 2px;
		background-color: $body-color;
		position: relative;

		&::before,
		&::after {
			content: '';
			height: 2px;
			background: $body-color;
			position: absolute;
			left: 0;
		}

		&::before {
			width: calc-em(21, 20);
			top: -(calc-em(8, 20));
		}

		&::after {
			width: calc-em(19, 20);
			top: calc-em(8, 20);
		}
	}

	&:focus {
		outline: none;
	}
}

.navbar-nav {
	flex-basis: 20%;
}

.cart-drawer {
	&__count {
		position: absolute;
		font-size: calc-em(10);
		top: calc-em(20);
		right: calc-em(8);
		left: 0;

		@include media-breakpoint-up(lg) {
			font-size: calc-em(12);
			top: calc-em(11);
		}
	}
}

.cookies-banner-show {
	.main-header,
	.mobile-nav,
	.search-box {
		margin-top: calc(#{($font-size-xs + $line-height-base) * 2.5} + #{map-get($spacers,1)});
		@include media-breakpoint-up('lg') {
			margin-top: calc(#{($font-size-xs + $line-height-base) * 2} + #{map-get($spacers,1)});
		}
	}

	&--expanded {
		.main-header,
		.mobile-nav {
			margin-top: calc(#{($font-size-xs + $line-height-base) * 8} + #{map-get($spacers,1)});
			@include media-breakpoint-up('lg') {
				margin-top: calc(#{($font-size-xs + $line-height-base) * 7} + #{map-get($spacers,1)});
			}
		}
	}
}
