html.us-store {
    .header-icons-abtest-active {
        @include media-breakpoint-down(md) {
            .navbar-toggler {
                flex-basis: 10%;
            }

            .nav-item__user {
                display: flex !important;
            }

            .nav-item__hide {
                display: none !important;
            }

            .nav-item__search-abtest {
                display: block !important;
            }
        }
    }
}