.howto-video {

	&__apc-light {
		background-color: $range-apc-light;
	}

	&__tsw-light {
		background-color: $range-tsw-light;
	}

	&__aea-light {
		background-color: $range-aea-light;
	}
}

.howto-gift__step {
	height: calc-em(30, 14);
}
