.howto-video {

	&__apc-light {
		background-color: $range-apc-light;
	}

	&__tsw-light {
		background-color: $range-tsw-light;
	}

	&__aea-light {
		background-color: $range-aea-light;
	}

	&__essentials {
		background-color: $range-essentials;
	}

	&__essentials-light {
		background-color: $range-essentials-light;
	}

	&__supercharge img {
		max-width: calc-em(120);
	}
}

.howto-gift__step {
	height: calc-em(30, 14);
}
