html.us-store {
	.range-product--abtest {
		@include media-breakpoint-up(lg) {
			.carousel-control-next,
			.carousel-control-prev {
				top: 27.5%;
				transform: translateY(-45%);
			}

			.carousel-control-next {
				right: $grid-gutter-width * 0.5;
			}

			.col-lg-products {
				@include make-col(9.345);
			}
		}
	}
}
