html.us-store {
	.range-product--abtest {
		@include media-breakpoint-up(lg) {
			.carousel-control-next,
			.carousel-control-prev {
				top: 27.5%;
				transform: translateY(-45%);
			}

			.col-lg-products {
				@include make-col(9.3);
			}
		}
	}
}
