html.us-store {
	.range-result--abtest {

		&__decoration,
		&__decoration-mobile {
			&:after,
			&:before {
				position: absolute;
				background-size: 100%;
				background-repeat: no-repeat;
				content: '';
			}
		}

		&__decoration {

			&-mobile {
				&:before {
					bottom: 0;
					right: 0;

					@include media-breakpoint-up(lg) {
						content: none;
					}
				}

				&-aea:before,
				&-tsw:before {
					opacity: .15;
				}

				&-apc:before {
					opacity: .25;
					background-image: url(asset-url('range-apc-decor-2-abtest.svg'));
					width: calc-em(155);
					height: calc-em(84);
				}

				&-aea:before {
					background-image: url(asset-url('range-aea-decor-2-abtest.svg'));
					width: calc-em(183);
					height: calc-em(221);
				}

				&-tsw:before {
					background-image: url(asset-url('range-tsw-decor-2-abtest.svg'));
					width: calc-em(99);
					height: calc-em(139);
					bottom: $grid-gutter-width * .5;
					right: $grid-gutter-width * .5;
				}
			}

			&-apc:before,
			&-aea:before,
			&-tsw:before {
				top: 0;
				left: 0;
			}

			&-aea:before,
			&-aea:after,
			&-tsw:before,
			&-tsw:after {
				opacity: .15;
			}

			&-apc:before {
				opacity: .25;
				background-image: url(asset-url('range-apc-decor-1-abtest.svg'));
				width: calc-em(293);
				height: calc-em(71);

				@include media-breakpoint-up(lg) {
					left: calc(50% - #{$grid-gutter-width});
					width: calc-em(468);
					height: calc-em(126);
				}
			}

			&-apc:after {
				opacity: .25;
				background-image: url(asset-url('range-apc-decor-3-abtest.svg'));
				bottom: 0;
				width: calc-em(205);
				height: calc-em(86);
				left: calc(50% - #{$grid-gutter-width});

				@include media-breakpoint-down(md) {
					content: none;
				}
			}

			&-aea:before {
				background-image: url(asset-url('range-aea-decor-1-abtest.svg'));
				width: calc-em(136);
				height: calc-em(84);

				@include media-breakpoint-up(lg) {
					background-image: url(asset-url('range-aea-decor-3-abtest.svg'));
					width: calc-em(293);
					height: calc-em(295);
					left: calc(50% - #{$grid-gutter-width});
				}
			}

			&-aea:after {
				content: none;
				@include media-breakpoint-up(lg) {
					content: '';
					background-image: url(asset-url('range-aea-decor-4-abtest.svg'));
					width: calc-em(215);
					height: calc-em(202);
					right: 0;
					bottom: 0;
				}
			}

			&-tsw:before {
				background-image: url(asset-url('range-tsw-decor-1-abtest.svg'));
				top: $grid-gutter-width;
				width: calc-em(142);
				height: calc-em(137);

				@include media-breakpoint-up(lg) {
					background-image: url(asset-url('range-tsw-decor-3-abtest.svg'));
					width: calc-em(227);
					height: calc-em(166);
					left: calc(50% - #{$grid-gutter-width});
				}
			}

			&-tsw:after {
				content: none;
				@include media-breakpoint-up(lg) {
					content: '';
					background-image: url(asset-url('range-tsw-decor-4-abtest.svg'));
					width: calc-em(158);
					height: calc-em(168);
					right: $grid-gutter-width;
					bottom: $grid-gutter-width;
				}
			}
		}
	}
}
