.range--quiz {
	figcaption {
		top: 50%;
		transform: translateY(-50%);
	}

	@include media-breakpoint-down(md) {
		margin-left: -($grid-gutter-width * 0.5);
		margin-right: -($grid-gutter-width * 0.5);
		max-width: calc(100% + #{$grid-gutter-width});
		flex: 0 0 calc(100% + #{$grid-gutter-width});
	}

}
