@include media-breakpoint-up(lg) {
	.range-product {

		.carousel-control-next,
		.carousel-control-prev {
			top: calc-em(139);
			transform: none;
		}

		.col-lg-products {
			@include make-col(9.3);

			&__no-carousel {
				@include make-col(7.1);
			}
		}

		.col-lg-banner img {
			max-width: calc-em(219);
		}

		.product-card__text:is(a) {
			min-height: calc-em(40);
		}
	}
}
