.yotpo {
	div, span, p, a, img, i, strong, sup, ul, li, form, label {
		font-family: $font-family-sans-serif;
		font-size: $font-size-base;
		line-height: $line-height-base;
		color: $body-color;
	}
}
