.yotpo-widget {
	&__score {
		font-size: calc-em(24);
		height: calc-em(30, 24);
		width: calc-em(35, 24);
		@include media-breakpoint-up(lg) {
			font-size: calc-em(36);
			height: calc-em(45, 36);
			width: calc-em(53, 36);
		}
	}

	&__thanks {
		border-color: $text-muted;

		.close {
			top: map-get($spacers, 2);
			right: map-get($spacers, 2);
			z-index: 1;
		}
	}

	&__modal {
		.close {
			top: map-get($spacers, 1);
			right: map-get($spacers, 1);
			z-index: 1;
		}
	}
}
