.yotpo {

	&__avg-score {
		height: calc-em(30, 24);
		width: calc-em(35, 24);
		@include media-breakpoint-up(lg) {
			height: calc-em(45, 36);
			width: calc-em(53, 36);
		}
	}

	&__filter-form .svg {
		cursor: pointer;
		font-size: calc-em(19, 16);
	}

	&__likes {
		.svg {
			cursor: pointer;
		}
	}

	&__lightbox {
		.close {
			z-index: 1;
			right: calc-em(8);
			top: calc-em(8);
		}
	}

	&__images img {
		max-height: calc-em(100, 16);
	}
}
