<div id="announcementBar_2" class="announcement-bar bg-primary position-relative p-0">
    <div class="announcement-bar__marquee w-100 overflow-hidden position-relative">
        <div class="announcement-bar__content">
			{{#times 10}}
				<a href="#" class="text-center text-white pl-5 pr-5 font-size-sm">FREE Pink Clay Mask with any kit purchase!* <u>SHOP NOW</u></a>
				<a href="#" class="text-center text-white pl-5 pr-5 font-size-sm">Sign up for SMS &amp; receive 15% OFF your first order!*</a>
				<a href="#" class="text-center text-white pl-5 pr-5 font-size-sm">Bonus Face Mitt with our Pore Perfection Kit</a>
			{{/times}}
        </div>
    </div>
</div>