<div id="announcementBar" class="announcement-bar bg-secondary carousel slide" data-ride="carousel">
	<div class="carousel-inner container">
		<div class="carousel-item active text-center font-weight-bold text-white">
			<a href="#" class="d-flex align-items-center justify-content-center">Holiday Shopping? Check out our limited edition kits</a>
		</div>
		<div class="carousel-item text-center font-weight-bold text-white align-items-center justify-content-center">
			<a href="#" class="d-flex align-items-center justify-content-center">Slide 2</a>
		</div>
	</div>
</div>