<div id="announcementBar_2" class="announcement-bar bg-primary position-relative p-0">
    <div class="announcement-bar__marquee w-100 overflow-hidden position-relative">
        <div class="announcement-bar__content">
			{{#times 4}}
				<span><a href="#" class="text-center text-white font-size-sm">FREE Pink Clay Mask with any kit purchase!* <u>SHOP NOW</u></a></span>
				<span><a href="#" class="text-center text-white font-size-sm">Sign up for SMS &amp; receive 15% OFF your first order!*</a></span>
				<span><a href="#" class="text-center text-white font-size-sm">Bonus Face Mitt with our Pore Perfection Kit</a></span>
			{{/times}}
        </div>
    </div>
</div>