{{#unless countdown}}
<div id="announcementBar" class="announcement-bar bg-secondary carousel slide" data-ride="carousel">
	<div class="carousel-inner container">
		<div class="carousel-item active text-center text-white">
			<a href="#" class="d-flex align-items-center justify-content-center font-size-sm">Holiday Shopping? Check out our limited edition kits</a>
		</div>
		<div class="carousel-item text-center text-white align-items-center justify-content-center">
			<a href="#" class="d-flex align-items-center justify-content-center font-size-sm">Slide 2</a>
		</div>
	</div>
</div>
{{else}}
<div class="announcement-bar announcement-bar__timer bg-dark">
	<div class="container text-center text-white">
		<span class="d-block d-lg-inline mr-lg-1 mb-1">BLACK FRIDAY SALE STARTS IN</span>
		<ul class="d-inline list-inline mb-0 font-weight-bold">
			<li id="timerDays" class="list-inline-item">2 DAYS</li>
			<li id="timerHrs" class="list-inline-item">15 HRS</li>
			<li id="timerMin" class="list-inline-item">40 MIN</li>
			<li id="timerSec" class="list-inline-item">05 SEC</li>
		</ul>
	</div>
</div>
{{/unless}}
