<ul class="my-n2 mb-lg-0 list-unstyled d-none list--icon">
	<li class="py-1 d-flex align-items-center text-center">
		<img src="icons/benefit-1.svg" replace-to-svg />
		<p class="mb-0 ml-1 ml-lg-2 text-left">Detoxifies skin in under 10 minutes</p>
	</li>
	<li class="py-1 d-flex align-items-center text-center">
		<img src="icons/benefit-2.svg" replace-to-svg />
		<p class="mb-0 ml-1 ml-lg-2 text-left">Clears out impurities & congestion</p>
	</li>
	<li class="py-1 d-flex align-items-center text-center">
		<img src="icons/benefit-3.svg" replace-to-svg />
		<p class="mb-0 ml-1 ml-lg-2 text-left">Dramatic reduction in pore size instantly</p>
	</li>
	<li class="py-1 d-flex align-items-center text-center">
		<img src="icons/benefit-4.svg" replace-to-svg />
		<p class="mb-0 ml-1 ml-lg-2 text-left">Soothes inflammation</p>
	</li>
	<li class="py-1 d-flex align-items-center text-center">
		<img src="icons/benefit-5.svg" replace-to-svg />
		<p class="mb-0 ml-1 ml-lg-2 text-left">Tackles pigmentation & even skin tone</p>
	</li>
	<li class="py-1 d-flex align-items-center text-center">
		<img src="icons/benefit-6.svg" replace-to-svg />
		<p class="mb-0 ml-1 ml-lg-2 text-left">Immediate improvement to skin radiance</p>
	</li>
</ul>

<ul class="mt-n2 mb-n3 mb-lg-0 pl-4 list-check list-unstyled d-none list--check">
	<li class="py-1 py-lg-g">Detoxifies skin in under 10 minutes</li>
	<li class="py-1 py-lg-g">Clears out impurities & congestion</li>
	<li class="py-1 py-lg-g">Dramatic reduction in pore size instantly</li>
	<li class="py-1 py-lg-g">Soothes inflammation</li>
	<li class="py-1 py-lg-g">Tackles pigmentation & even skin tone</li>
	<li class="py-1 py-lg-g">Immediate improvement to skin radiance</li>
</ul>
