<section class="cookies-banner d-none bg-secondary-light">
  <div class="container py-2 font-size-xs">
    <p class="text-center">
      We use cookies to enhance your browsing experience, analyse traffic and serve tailored advertisements.<a href="#" class="text-dark text-underline">Find out more.</a>
    </p>
    <div class="collapse mt-3" id="collapseCookieBanner">
      <ul class="list-unstyled">
        <li class="pb-2 pt-0 pb-lg-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" disabled checked id="functional">
            <label class="custom-control-label pt-0 pt-lg-2 pl-1" for="functional"><strong>Functional:</strong> These cookies are required for basic site functionality and are therefore always enabled.</label>
          </div>
        </li>
        <li class="py-2 pt-lg-2 pb-lg-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" checked id="performance">
            <label class="custom-control-label pt-0 pt-lg-2 pl-1" for="performance"><strong>Performance:</strong> These cookies allow us to improve the site's functionality by tracking usage on this website.</label>
          </div>
        </li>
        <li class="py-2 pt-lg-2 pb-lg-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" checked id="ads">
            <label class="custom-control-label pt-0 pt-lg-2 pl-1" for="ads"><strong>Social Media and Advertising:</strong> These cookies allow us to improve the site's functionality by tracking usage on this website.</label>
          </div>
        </li>
      </ul>
    </div>
    <div class="text-center mt-1">
      <a class="text-underline text-dark mr-1 btn px-0" data-toggle="collapse" href="#collapseCookieBanner" role="button" aria-expanded="false" aria-controls="collapseExample">Change</a>
      <a class="text-underline text-dark use-default d-none mr-1 btn px-0">Use Default</a>
      <button class="btn btn-outline-dark rounded-0 accept-cookie" type="button">OK</button>
    </div>
  </div>
</section>
