<div class="modal fade tab-ingredient__modal" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content mx-g px-4 py-5 tab-ingredient__modal">
			<h2 class="mb-3 tab-ingredient__modal-title">Hydroxyethyl Acrylate/sodium Acryloyldimethyl Taurate Copolymer</h2>
			<p class="mb-3 tab-ingredient__modal-definition"><strong>Definition:</strong> A polymer used as a dispersing agent (disperse solids in liquids), emulsion stabilizer (prevent separation of ingredients), opacifying agent (give pearly look), and to increase viscosity (thickness).</p>
			<p class="mb-3 tab-ingredient__modal-note"><strong>Note:</strong> This ingredient is sustainably sourced.</p>
			<p class="mb-3 tab-ingredient__modal-quality"><strong>Qualities:</strong> Mineral derived.</p>
			<p class="mb-5 tab-ingredient__modal-func"><strong>Functions:</strong> Emulsion stabiliser, viscosity agent.</p>
			<small>Powered by ClearForMe</small>
			<button type="button" class="close position-absolute text-body d-flex font-size-sm" data-dismiss="modal" aria-label="Close">
				<img class="svg" src="icons/close.svg" replace-to-svg />
			</button>
		</div>
	</div>
</div>
