<div class="modal fade" id="KlarnaModal" tabindex="-1" role="dialog" aria-labelledby="KlarnaModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered klarna" role="document">
		<div class="modal-content p-4 rounded-0">
			<div class="modal-header position-relative text-center py-0 border-0 sni sni__klarna-logo justify-content-center">
				<button type="button" class="close position-absolute text-body sni-after sni__close p-0" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body px-1 px-lg-3">
				<h2>4 interest-free payments of <br><span id="modal-price">£9.22</span></h2>
				<p class="mb-3">Buy what you love and split the cost. It’s easy and interest-free.</p>
				<ul class="list-unstyled klarna__list">
					<li class="sni sni__square pb-3 position-relative">Add item(s) to your cart</li>
					<li class="sni sni__square pb-2 position-relative">Go to checkout and choose <i class="sni sni__klarna-logo align-items-center ml-1 bg-secondary-light rounded px-1 py-2 position-relative"></i></li>
					<li class="sni sni__square pb-3 position-relative">Enter your debit or credit card information</li>
					<li class="sni sni__square pb-2 position-relative">Your first payment is taken when the order is processed and the remaining 3 are automatically taken every two weeks</li>
				</ul>
				<p class="font-size-sm">See payment <a tabindex="0" href="https://cdn.klarna.com/1.0/shared/content/legal/terms/0/en_us/sliceitinx" target="_blank">terms</a>. A
					higher initial payment may be required for some consumers. CA residents:
					Loans made or arranged pursuant to a California Finance Lenders Law license.</p>
			</div>
			<button type="button" class="btn btn-primary btn-block mb-2 rounded-0 bg-body-color border-0" data-dismiss="modal"
				aria-label="Close">Close</button>
		</div>
	</div>
</div>
