<div class="modal modal--sweepstakes fade px-g px-lg-0" id="modal-sweepstakes" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content mx-auto overflow-hidden">
			<picture class="w-100 position-absolute">
				<source srcset="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/BFCM_Sweepstakes_Website_Assets1260x900_V2.jpg?v=1636540373" media="(min-width: 992px)">
				<img src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/BFCM_Sweepstakes_Website_Assets690x1060_V2.jpg?v=1636540373" alt="Placeholder" class="d-block w-100">
			</picture>
			<div class="modal-header justify-content-end">
		        <button type="button" class="close font-size-base text-white" data-dismiss="modal">
					<img class="svg" src="icons/close.svg" replace-to-svg />
				</button>
		    </div>
			<div class="row align-items-center text-white">
				<div id="newsletter-form" class="col-lg-6 pl-lg-0 offset-lg-6">
					<div class="px-4 pr-lg-5 pl-lg-2 py-1 mt-7 mt-lg-0 text-center justify-content-center mb-2 mb-lg-4">
						<h2 class="mb-1 w-100 mt-4 mt-lg-0">Win up to $1,500 worth<br>of products</h2>
						<p class="mb-1 mb-lg-g font-size-sm font-weight-bold mx-lg-2">Sign up for a chance to win and receive exclusive deals</p>
						<form class="w-100">
							<div class="form-group">
								<input type="email" class="form-control font-size-sm" placeholder="Email (required)">
								<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid email address.</small>
							</div>
							<div class="form-group row countries-options">
								<div class="input-group mb-1 col-4 col-lg-3 countries-options">
									<label class="countries-options__label position-absolute rounded-left text-body font-size-sm" for="countries-options">+1</label>
									<select class="countries-options__select font-size-sm" name="country" id="countries-options">
										<option value="" disabled="" selected="">Country</option>
										<option value="US" data-code="1">United States</option>
										<option value="GB" data-code="44">United Kingdom</option>
										<option value="CA" data-code="1">Canada</option>
										<option value="DE" data-code="49">Germany</option>
									</select>
								</div>
								<div class="input-group mb-1 col-8 col-lg-9 pl-0">
									<input type="text" class="form-control font-size-sm rounded-right" placeholder="Phone numer (optional)">
								</div>
								<small id="phoneError" class="form-text text-left text-danger d-none">Invalid phone number</small>
							</div>
							<p class="w-100 font-size-xs mt-g mb-g">By signing up, you agree to receive exclusive offers via email or automated marketing SMS (4/mth). Msg & data rates may apply. Consent not required for purchase. Opt out any time.</p>
							<div class="row">
								<div class="form-group col">
									<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="account-form" class="col-lg-6 pl-lg-0 d-none offset-lg-6">
					<div class="px-4 pr-lg-5 pl-lg-2 mt-7 py-1 mt-lg-0 mb-lg-5 mb-2 text-center justify-content-center">
						<h2 class="mb-1 w-100 mt-5">Almost there!</h2>
						<p class="mb-1 mb-lg-g font-size-sm font-weight-bold mx-lg-3">Register for an account to participate in the giveaway</p>
						<form class="w-100">
							<div class="form-row">
								<div class="col-6 mb-1">
									<input type="email" class="form-control font-size-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name">
									<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid first name.</small>
								</div>
								<div class="col-6 mb-1">
									<input type="text" class="form-control font-size-sm" placeholder="Last name">
									<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid last name.</small>
								</div>
								<div class="col-12">
									<input type="password" class="form-control font-size-sm" placeholder="Enter email">
									<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid password.</small>
								</div>
								<p class="col-12 font-size-xs my-g">Participants with unsuccessful account creation will not be eligible to win.</p>
								<div class="col-12">
									<button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Join giveaway</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="completed-form" class="col-lg-6 pl-lg-0 d-none  offset-lg-6">
					<div class="px-3 pr-lg-5 pl-lg-3 py-1 mt-7  mt-lg-6 mt-lg-0 mb-2 mb-lg-7 text-center justify-content-center">
						<h2 class="mb-3 w-100 mt-5 mt-lg-2">Thank you for participating</h2>
						<p class="mb-5">You have successfully submitted your entry. Winners will be contacted via email, by XXX.</p>
						<p class="font-size-xs mb-7 mb-lg-1">Each participant is only allowed 1 entry. Sweepstakes will end on 22 November 2021, 2pm SGT.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>