<div class="modal modal--waitlist fade px-g px-lg-0" id="modal-waitlist" tabindex="-1" role="dialog" aria-labelledby="modal-waitlist" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered waitlist-modal" role="document">
    <div class="modal-content mx-auto">
      <div class="modal-header border-bottom-0">
        <button type="button" class="d-flex btn btn-primary p-1 mt-n4 ml-auto position-relative font-size-xs" data-dismiss="modal" aria-label="Close">
          <img class="svg" src="icons/close.svg" replace-to-svg />
        </button>
      </div>
      <div class="modal-body pt-0 container">
        <p class="h2 d-lg-none text-center mb-3">Restock coming soon!</p>
        <figure class="row">
          <picture class="col-4">
            <img src="https://via.placeholder.com/160x200?text=Product" class="w-100" alt="Product Image" loading="lazy">
          </picture>
          <figcaption class="col-8 d-flex flex-wrap align-content-center pl-lg-0" id="modal-desktop-content-form">
            <p class="h2 d-none d-lg-block">Restock coming soon!</p>
            <p class="h4">Australian Pink Flash Perfection Exfoliator</p>
            <p class="font-size-sm mb-3">Leave us your email address and we'll let you know when it's back!</p>
            <form action="/" class="d-none d-lg-block">
              <div class="input-group mb-2">
                <input type="hidden" name="product" data-product-id />
                <input type="hidden" name="variant" data-product-variant/>
                <input type="email" class="form-control col-9 rounded" placeholder="Email address" aria-label="Email address" aria-describedby="Email address">
                <div class="input-group-append col-3">
                  <button class="btn btn-primary rounded" type="button">Submit</button>
                </div>
              </div>
            </form>
            <p class="h4 font-weight-normal text-danger message-error d-none font-size-sm d-none d-lg-block">Invalid Email Address</p>
          </figcaption>
          <figcaption class="col-8 flex-wrap align-content-center d-none" id="modal-desktop-content-submitted">
            <p class="h2 d-none d-lg-block">Thank you!</p>
            <p class="font-size-sm mb-3">We have received your email and will notifiy you when this item is back in stock!</p>
            <a class="btn btn-primary rounded d-none d-lg-block">Shop other products</a>
          </figcaption>
        </figure>
        <form action="/" class="d-lg-none">
          <div class="input-group mb-2 justify-content-center">
            <input type="hidden" name="product" data-product-id />
            <input type="hidden" name="variant" data-product-variant/>
            <input type="email" name="email" class="form-control col-8 rounded modal-mobile-content-form" placeholder="Email address" aria-label="Email address" aria-describedby="Email address">
            <div class="input-group-append col-4 modal-mobile-content-form">
              <button class="btn btn-primary rounded" type="submit">Submit</button>
            </div>
            <a class="btn btn-primary rounded d-none modal-mobile-content-submitted">Shop other products</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
