<div class="modal modal--waitlist fade px-g px-lg-0" id="modal-waitlist" tabindex="-1" role="dialog" aria-labelledby="modal-waitlist" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered waitlist-modal" role="document">
    <div class="modal-content mx-auto">
      <div class="modal-header border-bottom-0">
        <span type="button" class="sni sni__times p-1 position-relative ml-auto position-absolute font-size-xs" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </span>
      </div>
      <div class="modal-body pt-0 container">
        <figure class="row">
          <picture class="col-4">
            <img src="https://via.placeholder.com/160x200?text=Product" class="w-100" alt="Product Image" loading="lazy">
          </picture>
          <figcaption class="col-8 d-flex flex-wrap align-content-center">
            <p class="h2">Restock coming soon!</p>
            <p class="h4">Australian Pink Flash Perfection Exfoliator</p>
            <p class="font-size-sm mb-3">Leave us your email address and we'll let you know when it's back!</p>
            <form action="/">
              <div class="input-group mb-2">
                <input type="text" class="form-control col-7 rounded" placeholder="Email address" aria-label="Email address" aria-describedby="Email address">
                <div class="input-group-append col-5">
                  <button class="btn btn-primary rounded" type="button">Submit</button>
                </div>
              </div>
            </form>
            <p class="h4 font-weight-normal text-danger message-error d-none font-size-sm ">Invalid Email Address</p>
          </figcaption>
          <figcaption class="col-8 flex-wrap align-content-center d-none">
            <p class="h2">Thank you</p>
            <p class="font-size-sm mb-3">We have received your email and will notifiy you when this item is back in stock!</p>
            <button class="btn btn-primary rounded" type="button">Shop other products</button>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
