<div class="modal fade" id="subscriptionDetail" tabindex="-1" role="dialog" aria-labelledby="subscriptionDetail" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-secondary-light rounded-0">
      <div class="modal-body text-center p-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="font-weight-bold font-size-lg mb-4"><img class="svg mr-1 font-size-lg" src="icons/recurring.svg" replace-to-svg/> Subscriptions Detail</h2>
        <p class="mb-4">Subscription frequency may be updated after checkout.</p>
        <p>Switching up your routine? No worries! You may cancel your subscription any time with no minimum commitment or penalty.</p>
      </div>
    </div>
  </div>
</div>
