<div class="modal fade modal--checkout-upsell" id="modal-checkout-upsell" tabindex="-1" role="dialog" aria-labelledby="modal-checkout-upsell" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="close position-absolute font-size-base d-none d-lg-block " data-dismiss="modal">
				<img class="svg" src="icons/close.svg" replace-to-svg />
			</button>
			<div class="modal-body text-center px-4 px-lg-5 py-4">
				<img src="icons/percent-square.svg" replace-to-svg class="svg percentage-icon mb-3" />
				<h3 class="mb-2  font-weight-bold">Exclusive Offer Awaits!</h3>
				<p class="mb-4">Get additional discounted products now</p>
				<form action="" class="d-flex mb-3">
					<figure class="d-flex flex-grow-1 mb-0">
						<a href="#" class="flex-shrink-0">
							<picture class="d-block">
								<source srcset="https://via.placeholder.com/115x115" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/115x115" alt="" class="w-100">
							</picture>
						</a>
						<figcaption class="media-body pl-g text-left">
							<span class="font-size-xs mb-1 d-block range">Tasmanian Spring Water</span>
							<span class="font-weight-bold font-size-sm mb-1">Australian Pink Clay Porefining Face Mask</span>
							<p class="font-size-sm text-linethrough ">$53.00
								<span class="text-secondary font-weight-bold">$65.80</span>
							</p>
							<button type="submit" class="btn d-block mt-2 btn-primary">Add to cart</button>
						</figcaption>
					</figure>
				</form>

				<form action="" class="d-flex mb-3">
					<figure class="d-flex flex-grow-1 mb-0">
						<a href="#" class="flex-shrink-0">
							<picture class="d-block">
								<source srcset="https://via.placeholder.com/115x115" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/115x115" alt="" class="w-100">
							</picture>
						</a>
						<figcaption class="media-body pl-g text-left">
							<span class="font-size-xs mb-1 d-block range">Tasmanian Spring Water</span>
							<span class="font-weight-bold font-size-sm mb-1">Australian Pink Clay Porefining Face Mask</span>
							<p class="font-size-sm text-linethrough ">$53.00
								<span class="text-secondary font-weight-bold">$65.80</span>
							</p>
							<button type="submit" class="btn d-block mt-2 btn-primary">Add to cart</button>
						</figcaption>
					</figure>
				</form>

				<form action="" class="d-flex mb-3">
					<figure class="d-flex flex-grow-1 mb-0">
						<a href="#" class="flex-shrink-0">
							<picture class="d-block">
								<source srcset="https://via.placeholder.com/115x115" media="(min-width: 992px)">
								<img src="https://via.placeholder.com/115x115" alt="" class="w-100">
							</picture>
						</a>
						<figcaption class="media-body pl-g text-left">
							<span class="font-size-xs mb-1 d-block range">Tasmanian Spring Water</span>
							<span class="font-weight-bold font-size-sm mb-1">Australian Pink Clay Porefining Face Mask</span>
							<p class="font-size-sm text-linethrough ">$53.00
								<span class="text-secondary font-weight-bold">$65.80</span>
							</p>
							<button type="submit" class="btn d-block mt-2 btn-primary">Add to cart</button>
						</figcaption>
					</figure>
				</form>
			</div>
		</div>
	</div>
</div>
