<div class="modal modal--waitlist fade px-g px-lg-0" id="modal-waitlist" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content border-0 overflow-hidden">
			<div class="row align-items-center">
				<div class="col-lg-6 pr-lg-0">
					<picture class="">
						<source srcset="https://via.placeholder.com/320x542" media="(min-width: 992px)">
						<img src="https://via.placeholder.com/345x235" class="d-block w-100">
					</picture>
				</div>
				<div class="col-lg-6 pl-lg-0">
					<div class="modal-content__wrapper px-4 px-lg-5 py-3 pb-lg-3 mb-lg-0">
						<div class="d-flex flex-wrap mb-2 text-center justify-content-center">
							<h2 class="mt-3 mb-2 mb-lg-2 text-left w-100">Join the waitlist</h2>
							<p class="mb-3 text-left w-100">Be the first to know when Oil Control<br/>Clearing Cleanser is back in stock.</p>
							<form class="w-100">
								<input type="hidden" name="product" data-product-id value="{{ product.id }}"/>
            					<input type="hidden" name="variant" data-product-variant/>
								<div class="modal--waitlist__phone form-group row position-relative  mt-2 mb-1">
									<div class="input-group mb-1 col-3 col-lg-3 phone-countries">
										<label class="phone-countries__label position-absolute font-size-sm rounded-left text-center" for="countries-options">+1</label>
										<select class="phone-countries__select" name="country" id="countries-options">
											<option value="" disabled="" selected="">Country</option>
											<option value="US" data-code="492">United States</option>
											<option value="GB" data-code="44">United Kingdom</option>
											<option value="CA" data-code="1">Canada</option>
											<option value="DE" data-code="492">Germany</option>
										</select>
									</div>
									<div class="input-group mb-1 col-9 col-lg-9 pl-0">
										<input type="text" class="phone-countries__input form-control font-size-sm" placeholder="Notify me by SMS" name="phone">
									</div>
									<span class="d-block mb-0 font-size-sm text-center my-1 w-100 text-gray-600">- Or -</span>
								</div>
								<div class="modal--waitlist__phone-submitted form-group mb-3 d-none text-left align-items-center">
									<img class="checkmark" src="icons/green-checkmark.svg" replace-to-svg /><span class="ml-2">We will notify you when product are available by SMS.</span>
								</div>
								<div class="modal--waitlist__email form-group mb-3">
									<input type="email" name="email" class="form-control font-size-sm align-items-center" placeholder="Notify me by Email">
									<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid email address.</small>
								</div>
								<div class="modal--waitlist__email-submitted form-group mb-3 d-none text-left">
									<img class="checkmark" src="icons/green-checkmark.svg" replace-to-svg /><span class="ml-2">We will notify you when product are available by Email.</span>
								</div>
								<div class="row">
									<div class="form-group col">
										<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="close position-absolute font-size-base" data-dismiss="modal">
				<img class="svg" src="icons/close.svg" replace-to-svg />
			</button>
		</div>
	</div>
</div>
