<div class="modal fade px-g px-lg-0" id="modal-waitlist" tabindex="-1" role="dialog" aria-labelledby="modal-waitlist" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered waitlist-modal" role="document">
    <div class="modal-content mx-auto">
      <div class="modal-header border-bottom-0">
        <button type="button" class="sni sni__times btn btn-primary p-1 position-relative mt-n4 ml-auto" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body pt-0 container">
        <figure class="row">
          <p class="col-12 h1 mw-50 d-lg-none">Oh no!</p>
          <picture class="col-5">
            <img src="https://via.placeholder.com/160x200?text=Product" class="w-100" alt="Product Image">
          </picture>
          <figcaption class="col-7">
            <p class="h1 mw-50 d-none d-lg-block">Oh no!</p>
            <p class="h4 font-weight-normal">You just missed out on our</p>
            <p class="h2 mw-50">Australian Pink Flash Perfection Exfoliator</p>
            <p class="h4 font-weight-normal mw-50 d-none d-lg-block">Leave us your email address and we'll let you know when it's back!</p>
          </figcaption>
          <p class="col h4 font-weight-normal mw-50 d-lg-none mt-2 mb-0">Leave us your email address and we'll let you know when it's back!</p>
        </figure>
        <form action="/">
          <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Email address" aria-label="Email address" aria-describedby="Email address">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Join Waitlist</button>
            </div>
          </div>
        </form>
        <p class="h4 font-weight-normal text-success message-success">Thank you, you will be the first to know when we launch.</p>
        <p class="h4 font-weight-normal text-danger message-error d-none">Invalid Email Address</p>
      </div>
    </div>
  </div>
</div>
