<div class="modal modal--newsletter fade" id="main-newsletter-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered mt-0" role="document">
		<div class="modal-content mx-0 position-relative border-0 rounded-0 overflow-hidden mx-1">
			<img src="https://via.placeholder.com/808x310?text=1" class="w-100 modal--newsletter__bg d-lg-none" alt="Product Image" loading="lazy">
			<img src="https://via.placeholder.com/730x560?text=1" class="w-100 modal--newsletter__bg-completed d-lg-none d-none" alt="Product Image" loading="lazy">
			<div class="row align-items-center">
				<div class="col-lg-6 pr-lg-0 d-none d-lg-block">
					<img src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/APC_icon_Desktop_800_1180_with-text.jpg?v=1654568998" class="w-100 modal--newsletter__bg" alt="Product Image" loading="lazy">
					<img src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/SS_BrandMood_Desktop_800_1180.jpg?v=1654568998" class="w-100 modal--newsletter__bg-completed d-none" alt="Product Image" loading="lazy">
				</div>
				<div id="less-intrusive-newsletter-form--newsletter" class="col-lg-6 pl-lg-0">
					<div class="modal-content__wrapper modal-content__wrapper-bg px-4 px-lg-5 py-3 pb-lg-3">
						<div class="d-flex flex-wrap mb-2 text-center justify-content-center">
							<img class="svg union mt-4 text-body d-none d-lg-block" src="icons/envelope.svg" replace-to-svg />
							<h2 class="h1 mt-1 mt-lg-3 mb-2 w-100 modal-content__wrapper-title">Join the club & get 15% off</h2>
							<p class="mb-3">Sign up to our newsletter and be the first to know all about our exclusive offers and skincare tips to achieve your dream skin.</p>
							<form class="w-100">
								<div class="form-group  position-relative mb-2">
									<input type="email" class="form-control font-size-sm" placeholder="Enter email">
									<small id="emailHelp" class="form-text text-left text-danger d-none font-size-sm">Invalid email address.</small>
								</div>
								<span class="d-block mb-0 font-size-sm">and / or</span>
								<div class="form-group row position-relative  mt-2 mb-3">
									<div class="input-group mb-1 col-3 col-lg-3 countries-options">
										<label class="countries-options__label position-absolute font-size-sm rounded-left" for="countries-options">+1</label>
	                            		<select class="countries-options__select" name="country" id="countries-options">
											<option value="" disabled="" selected="">Country</option>
											<option value="US" data-code="492">United States</option>
											<option value="GB" data-code="44">United Kingdom</option>
											<option value="CA" data-code="1">Canada</option>
											<option value="DE" data-code="492">Germany</option>
										</select>
	                            	</div>
	                            	<div class="input-group mb-1 col-9 col-lg-9 pl-0">
										<input type="text" class="countries-options__input form-control font-size-sm" placeholder="Enter Phone Number">
									</div>
									<small id="phoneError" class="form-text text-left text-danger d-none font-size-sm">Invalid phone number</small>
								</div>
								<p class="w-100 font-size-sm mt-0 mb-3">Our <a href="#">Privacy Policy</a> has more information about how we use your data.</p>
								<div class="row">
									<div class="form-group col mt-0 ">
										<button class="btn btn-lg btn-primary btn-block" type="submit">Sign me up</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="account-form--newsletter" class="col-lg-6 pl-lg-0 d-none">
					<div class="modal-content__wrapper modal-content__wrapper-bg px-4 px-lg-5 py-3 pb-lg-3">
						<div class="d-flex flex-wrap mb-2 text-center justify-content-center">
							<img class="svg union mt-4 d-none d-lg-block" src="icons/account-two.svg" replace-to-svg />
							<h2 class="mt-3 mb-2 mb-lg-2 w-100">Thanks for subscribing!</h2>
							<p class="mb-3 mb-lg-3">Join our Sand & Sky Rewards program today and receive bonus <strong>50 POINTS</strong> that can be redeemed for discounts and/or products!</p>
							<form class="w-100">
								<div class="row">
									<div class="form-group mb-2 position-relative col-6 validated">
										<input type="email" class="form-control font-size-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
										<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid first name.</small>
									</div>
									<div class="form-group mb-2 position-relative col-6">
										<input type="text" class="form-control font-size-sm" placeholder="Last Name">
										<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid last name.</small>
									</div>
								</div>
								<div class="form-group mb-2 position-relative">
									<input type="email" class="form-control font-size-sm" placeholder="Email">
									<small id="emailHelp" class="form-text text-left text-danger d-none">Invalid email.</small>
								</div>
								<div class="form-group mb-0  position-relative ">
									<input type="password" class="form-control font-size-sm" placeholder="Password">
									<small id="emailHelp" class="form-text text-left text-danger d-none">Please enter at least 8 characters with: 1 uppercase, 1 lowercase, 1 special character.</small>
								</div>
								<div class="row mb-3 position-relative ">
									<div class="form-group col mt-3">
										<button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>
									</div>
								</div>
								<a href="javascript:void(0);" class="w-100 font-size-sm mt-3 mb-3"><u>No thanks, maybe another time.</u></a>
							</form>
						</div>
					</div>
				</div>
				<div id="completed-form--newsletter" class="col-lg-6 pl-lg-0 d-none">
					<div class="modal-content__wrapper px-4 px-lg-5 py-3 pb-lg-3 mb-lg-0">
						<div class="d-flex flex-wrap mb-2 text-center justify-content-center">
							<img class="svg union mt-4 d-none d-lg-block" src="icons/convetti.svg" replace-to-svg />
							<h2 class="mt-1 mb-3 mb-lg-2 w-100">Sign up successfull!</h2>
							<p class="mb-3">You have received a bonus of <strong>50 POINTS</strong> that can be used to redeem discounts and/or products!</p>
							<p class="mb-2">Use code to save 15% on your purchase:</p>
							<a href="javascript:void(0);" class="btn btn-lg btn-primary btn-block mb-3 d-flex align-items-center justify-content-center">
								COPY: WELCOME15
								<img src="icons/copy.svg" class="ml-1" replace-to-svg />
							</a>
							<a href="javascript:void(0);" class="font-size-sm mt-2" data-dismiss="modal">Learn more about Rewards</a>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="close position-absolute font-size-base d-none d-lg-block " data-dismiss="modal">
				<img src="icons/close-circle-dark.svg" replace-to-svg />
			</button>
		</div>
	</div>
</div>
