<div class="product-variant product-variant--subscription w-100 mb-4 position-relative py-3 border border-top-1 border-bottom-1 border-left-0 border-right-0">
    <div class="row mx-0 mb-3">
        <div class="col-6 pl-0 product-variant--subscription__selector">
			<input id="OnetimeVariant" class="custom-control-input" type="radio" name="variant"/>
            <label for="OnetimeVariant" class="p-2 w-100 text-center rounded subscription-label">
                <span class="product-variant__price font-weight-bold">$44.90</span>
                <span class="font-size-sm d-block w-100 text-muted">One-time purchase</span>
            </label>
        </div>
        <div class="col-6 pr-0 product-variant--subscription__selector">
    		<input id="SubscriptionVariant" checked class="custom-control-input" type="radio" name="variant"/>
            <label for="SubscriptionVariant" class="p-2 w-100 text-center rounded subscription-label">
                <span class="text-linethrough text-muted">$89.80</span>
                <span class="product-variant__price font-weight-bold">$44.90</span>
                <span class="font-size-sm d-block w-100 text-muted">Subscribe & save!</span>
            </label>
        </div>
    </div>
	<figure class="mb-0">
		<noscript class="loading-lazy">
			<picture class="embed-responsive bg-shimmer position-absolute">				
				<img src="../images/subscription-aea.jpg" alt="Slide {{@index}}" class="d-block w-100 embed-responsive-item fit--cover" loading="lazy">
			</picture>
		</noscript>
		<figcaption class="p-3">
                <p class="text-secondary font-weight-bold font-size-lg">Glow, you good thing!</p>
                <ul class="list-unstyled pb-0 text-left between-space mb-0">
                    <li class="d-flex flex-row justify-content-start align-items-center font-weight-normal font-size-sm">
                        <img class="svg font-size-xs text-secondary d-inline mr-1" src="icons/checklist.svg" replace-to-svg />
                        15% off now + every recurring order
                    </li>
                    <li class="d-flex flex-row justify-content-start align-items-center font-weight-normal font-size-sm mt-1">
                        <img class="svg font-size-xs text-secondary d-inline mr-1" src="icons/checklist.svg" replace-to-svg />
                        Billed every 2 months
                    </li>
                    <li class="d-flex flex-row justify-content-start align-items-center font-weight-normal font-size-sm mt-1">
                        <img class="svg font-size-xs text-secondary d-inline mr-1" src="icons/checklist.svg" replace-to-svg />
                        No lock ins, cancel anytime
                    </li>
                </ul>
		</figcaption>
	</figure>
    <a href="javascript:void(0)" class="mt-2 text-underline font-size-sm d-block w-100 text-center" data-toggle="modal" data-target="#subscriptionDetail">
		<img class="svg mr-1 font-size-lg" src="icons/recurring.svg" replace-to-svg/> Subscriptions Detail
	</a>
</div>
