<div class="modal fade" id="shippingModal" tabindex="-1" role="dialog" aria-labelledby="shippingModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
			<div class="modal-content">
				<div class="modal-body p-lg-5">
					<p class="mb-g">Enjoy <b>FREE</b> shipping on orders over $XX*</p>
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="bg-secondary-light text-center align-middle">Country</th>
								<th class="bg-secondary-light text-center align-middle">Orders over $XX</th>
								<th class="bg-secondary-light text-center align-middle">Orders over $XX</th>
							</tr>
							<tr>
								<td class="text-center align-middle">Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Austria</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
							<tr>
								<td class="text-center align-middle">
									Germany</td>
								<td class="text-center align-middle"> <b>FREE</b><br>3 - 4 days</td>
								<td class="text-center align-middle"> €5.90<br>2 - 3 days</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button type="button" class="close position-absolute bg-primary d-flex p-2 font-size-sm" data-dismiss="modal" aria-label="Close">
					<img class="svg text-white" src="icons/close.svg" replace-to-svg />
				</button>
			</div>
	</div>
</div>
