<a href="#" class="btn btn-block border-dark font-weight-normal">
	<img class="mr-1" src="icons/auth-fb.svg" replace-to-svg />
    Login with Facebook
</a>
<a href="#" class="btn btn-block border-dark font-weight-normal">
	<img class="mr-1" src="icons/auth-google.svg" replace-to-svg />
    Login with Google
</a>