<div class="swell-banner bg-primary-light px-2 py-4 {{#if class}}{{class}}{{else}}d-flex{{/if}} align-items-center">
    <a class="swell-banner swell-banner--content d-flex align-items-center" href="#">
        <p class="mb-0 font-size-sm swell-banner__text">
            Earn point & exclusive <br/> rewards <strong>every time you shop!</strong>
        </p>
        <picture class="position-absolute swell-banner__img">
            <img src="../images/swell-banner.svg"/>
        </picture>
    </a>
</div>
