<div class="col-lg-4 tooltip text-center py-2 rounded mx-ng">
    <i id="tooltip__close" class="sni sni__close-circle text-primary"></i>
    Item added to cart
    <a href="#" class="d-block text-body text-underline">Proceed to checkout</a>
</div>