<div class="container position-relative {{ class }}">
	<div class="col-lg-4 tooltip text-center py-2 rounded mr-lg-3 {{#if show}}show{{/if}}">
		<img id="tooltip__close" class="svg text-primary" src="icons/close-circle.svg" replace-to-svg />
		Item added to cart
		<a href="#" class="d-block text-body text-underline">Proceed to checkout</a>
	</div>
</div>
