<div class="modal fade" id="videoCardModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered video-modal" role="document">
		<div class="modal-content">
			<video controls>
				<source src="" type="video/mp4">
			</video>
			<iframe class="d-none embed-responsive-item" src=""></iframe>
			<button type="button" class="close position-absolute bg-primary sni-after sni__close" data-dismiss="modal" aria-label="Close"></button>
		</div>
	</div>
</div>
