<div class="bg-light py-6">
	<h2 class="container px-g h1 text-center mb-0">Recognized A-Beauty leader by…</h2>
	<div id="a-beauty-review" class="a-beauty-review container px-g carousel slide" data-interval="7000">
		<ul class="list-unstyled carousel-inner mb-0 px-3 py-7 py-lg-5">
			<li
				class="carousel-item text-center font-size-lg font-weight-light font-italic justify-content-center align-items-center active">
				“It's selling out around the world.”
			</li>
			<li
				class="carousel-item text-center font-size-lg font-weight-light font-italic justify-content-center align-items-center">
				“Pores appeared visibly smaller… <br>This mask is no lie!”
			</li>
			<li
				class="carousel-item text-center font-size-lg font-weight-light font-italic justify-content-center align-items-center">
				“A-Beauty is the new K-Beauty.”
			</li>
			<li
				class="carousel-item text-center font-size-lg font-weight-light font-italic justify-content-center align-items-center">
				“Found to shrink existing acne, detoxify the pores and refine the skin to prevent future pimples.”
			</li>
		</ul>

		<a class="carousel-control-prev text-body justify-content-start" href="#a-beauty-review" role="button"
			data-slide="prev">
			<span
				class="carousel-control-prev-icon carousel-control--background bg-transparent sni sni__chevron-prev justify-content-center align-items-center"
				aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next text-body justify-content-end" href="#a-beauty-review" role="button"
			data-slide="next">
			<span
				class="carousel-control-next-icon carousel-control--background bg-transparent sni sni__chevron-next justify-content-center align-items-center"
				aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

		<ol class="carousel-indicators mx-0 mb-0 justify-content-between">
			<li data-target="#a-beauty-review" data-slide-to="0"
				class="d-flex justify-content-center align-items-center active">
				<img class="d-block mw-100 mh-100" src="{{ imageUrl }}/logo-dailymail.png" />
			</li>
			<li data-target="#a-beauty-review" data-slide-to="1"
				class="d-flex justify-content-center align-items-center carousel-indicator--next">
				<img class="d-block mw-100 mh-100" src="{{ imageUrl }}/logo-refinery29.png" />
			</li>
			<li data-target="#a-beauty-review" data-slide-to="2"
				class="d-flex justify-content-center align-items-center carousel-indicator--next-out">
				<img class="d-block mw-100 mh-100" src="{{ imageUrl }}/logo-elle.png" />
			</li>
			<li data-target="#a-beauty-review" data-slide-to="3"
				class="d-flex justify-content-center align-items-center carousel-indicator--next-out">
				<img class="d-block mw-100 mh-100" src="{{ imageUrl }}/logo-glamour.png" />
			</li>
		</ol>
	</div>
</div>
