<section class="aea-decoration position-relative">
  <div class="container p-0">
    <p class="mt-4 pl-g pl-lg-0 text-dark font-weight-lighter h2">The power of Aussie earth to</p>
    <p class="pl-g pl-lg-0 font-banner font-weight-bold mb-2 text-dark pr-2 h1">Plump & Brighten</p>
    {{> sections/range-aea }}
  </div>
</section>
