<section class="container">
	<div class="d-flex justify-content-center justify-content-lg-between align-items-center">
		<p class="h1 mb-0">Our bestsellers</p>
		<a href="#" class="btn btn-lg btn-outline-primary d-none d-lg-block">Shop all</a>
	</div>
	{{#> sections/carousel-scroll id="bestsellers-products" class="mb-5 my-lg-0 bestsellers-products-carousel px-lg-0" home-carousel=true nextControlclass="carousel-control-next--tabs" prevControlclass="carousel-control-prev--tabs"}}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines) 1"}}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="cc3195" }}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="66b3df" badge="Best Seller" }}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="ff6f8d" }}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="cc3195" badge="New"}}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="66b3df" }}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="ff6f8d" }}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="cc3195" }}
		{{> compounds/product-card home-range-section=true class="carousel-item col-9 col-lg-3 mb-0" color="66b3df" }}
	{{/ sections/carousel-scroll}}
</section>
