<div class="featured-products-tab-wrapper w-100">
	<div class="featured-products-tab__heading container justify-content-between align-items-start mb-0 mt-5 mt-lg-7 px-g d-flex">
		<h2 class="h1 mb-3 text-center text-lg-left">Find products that would suit you just right</h2>
		<button class="btn btn-lg btn-outline-primary d-none d-lg-block">Shop all</button>
	</div>

	{{#> sections/carousel-scroll id="featured-products-1" class="mb-5 my-lg-0 featured-products-carousel d-none d-lg-block" button="Shop all featured" }}
		{{> compounds/product-card class="carousel-item mb-0" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines) 1"}}
		{{> compounds/product-card class="carousel-item mb-0" color="cc3195" }}
		{{> compounds/product-card class="carousel-item mb-0" color="66b3df" badge="Best Seller" }}
		{{> compounds/product-card class="carousel-item mb-0" color="ff6f8d" }}
		{{> compounds/product-card class="carousel-item mb-0" color="cc3195" badge="New"}}
		{{> compounds/product-card class="carousel-item mb-0" color="66b3df" }}
		{{> compounds/product-card class="carousel-item mb-0" color="ff6f8d" }}
		{{> compounds/product-card class="carousel-item mb-0" color="cc3195" }}
		{{> compounds/product-card class="carousel-item mb-0" color="66b3df" }}
	{{/ sections/carousel-scroll}}

	<ul class="featured-products-tab tab nav nav-tabs container border-0 px-g justify-content-center justify-content-lg-start d-flex d-lg-none" id="tabFeaturedProductHead" role="tablist">
		<li class="nav-item text-center">
			<a class="nav-link border-0 pb-2 text-body active" data-toggle="tab" href="#tab-1-featured" role="tab" aria-controls="tab-1-featured" aria-selected="true" title="Best sellers">Best sellers</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-2-featured" role="tab" aria-controls="tab-2-featured" aria-selected="false" title="Pore refining">Pore refining</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-3-featured" role="tab" aria-controls="tab-3-featured" aria-selected="false" title="Acne">Acne</a>
		</li>
		<li class="nav-item text-center">
			<a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-3-featured" role="tab" aria-controls="tab-3-featured" aria-selected="false" title="Exfoliating">Exfoliating</a>
		</li>
	</ul>

	<div class="tab-content featured-products-tab-content-abtest d-block d-lg-none" id="tabFeaturedProductContentFeatured">
		<div id="tab-1-featured" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-1-featured">
			{{#> sections/carousel-scroll id="featured-products-1" class="mb-5 my-lg-0 featured-products-carousel" button="Shop all featured" controlclass="always-hide-on-mobile" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines) 1"}}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" badge="Best Seller" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" badge="New"}}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" }}
			{{/ sections/carousel-scroll}}
		</div>
		<div id="tab-2-featured" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-2-featured">
			{{#> sections/carousel-scroll id="featured-products-2" class="my-b my-lg-0 featured-products-carousel" button="Shop all featured" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines) 2"}}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" badge="Best Seller" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" badge="New"}}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" }}
			{{/ sections/carousel-scroll}}
		</div>
		<div id="tab-3-featured" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-3-featured">
			{{#> sections/carousel-scroll id="featured-products-3" class="my-b my-lg-0 featured-products-carousel" button="Shop all featured" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines) 3"}}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" badge="Best Seller" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" badge="New"}}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="ff6f8d" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="cc3195" }}
				{{> compounds/product-card class="carousel-item mb-0 col-8 col-lg-3" color="66b3df" }}
			{{/ sections/carousel-scroll}}
		</div>
	</div>
</div>
