<div class="modal fade cart-drawer pr-0 filter-drawer" id="filter-drawer" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-md m-0 w-100 mh-100 float-right">
        <div class="modal-content vh-100 mh-100 border-0 rounded-0">
            <div class="modal-body pt-0 px-0">
                <div class="container px-g d-flex flex-column align-items-stretch text-left pt-3">
                    <h2 class="font-size-lg">Filter by</h2>
                    <button type="button" class="close text-body m-0 p-3 position-absolute font-size-xs" data-dismiss="modal" aria-label="Close" data-cy="close-icon">
                        <img class="d-flex svg text-secondary" src="icons/close.svg" replace-to-svg />
                    </button>
                </div>
                <div class="container px-g">
                    <div class="row">
                        <div class="col-12">
                            <ul id="accordion" class="accordion list-unstyled">
                                <li>
                                    <span class="pt-3 pb-1 w-100 d-flex justify-content-between collapsed font-weight-bold font-size-lg" type="button" data-toggle="collapse" data-target="#collapsible2" aria-expanded="true" aria-controls="collapsible2">
                                        Skin Concerns
                                        <img class="svg plus" src="icons/plus.svg" replace-to-svg />
                                        <img class="svg minus" src="icons/minus.svg" replace-to-svg />
                                    </span>
                                    <div id="collapsible2" class="collapse" data-parent="#accordion">
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="breakouts-acne" value="breakouts-acne" data-type="skin">
                                            <label class="custom-control-label" for="breakouts-acne" role="button">Breakouts &amp; Acne</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="dryness" value="dryness" data-type="skin">
                                            <label class="custom-control-label" for="dryness" role="button">Dryness</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="dullness-uneven-skin-tone" value="dullness-uneven-skin-tone" data-type="skin">
                                            <label class="custom-control-label" for="dullness-uneven-skin-tone" role="button">Dullness &amp; Uneven Skin Tone</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="fine-lines-wrinkles" value="fine-lines-wrinkles" data-type="skin">
                                            <label class="custom-control-label" for="fine-lines-wrinkles" role="button">Fine Lines &amp; Wrinkles</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="redness-sensitivity" value="redness-sensitivity" data-type="skin">
                                            <label class="custom-control-label" for="redness-sensitivity" role="button">Redness &amp; Sensitivity</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="dark-spots-hyperpigmentation" value="dark-spots-hyperpigmentation" data-type="skin">
                                            <label class="custom-control-label" for="dark-spots-hyperpigmentation" role="button">Dark Spots &amp; Hyperpigmentation</label>
                                        </div>
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2 p-0">
                                            <a class="text-primary text-decoration-none reset-single-filter" data-filter="skin-filter" role="button">Reset filter</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="pt-3 pb-1 w-100 d-flex justify-content-between collapsed font-weight-bold font-size-lg" type="button" data-toggle="collapse" data-target="#collapsible3" aria-expanded="true" aria-controls="collapsible3">
                                        Routine
                                        <img class="svg plus" src="icons/plus.svg" replace-to-svg />
                                        <img class="svg minus" src="icons/minus.svg" replace-to-svg />
                                    </span>
                                    <div id="collapsible3" class="collapse" data-parent="#accordion">  
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="cleanser" value="cleanser" data-type="routine">
                                            <label class="custom-control-label" for="cleanser" role="button">Cleanser</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="exfoliator" value="exfoliator" data-type="routine">
                                            <label class="custom-control-label" for="exfoliator" role="button">Exfoliator</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="toner" value="toner" data-type="routine">
                                            <label class="custom-control-label" for="toner" role="button">Toner</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="mask" value="mask" data-type="routine">
                                            <label class="custom-control-label" for="mask" role="button">Mask</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="serum" value="serum" data-type="routine">
                                            <label class="custom-control-label" for="serum" role="button">Serum</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="moisturiser" value="moisturiser" data-type="routine">
                                            <label class="custom-control-label" for="moisturiser" role="button">Moisturiser</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="eye-care" value="eye-care" data-type="routine">
                                            <label class="custom-control-label" for="eye-care" role="button">Eye Care</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="sun-care" value="sun-care" data-type="routine">
                                            <label class="custom-control-label" for="sun-care" role="button">Sun Care</label>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2">
                                            <input type="checkbox" name="filters[]" class="custom-control-input pristine filter-item" id="body-care" value="body-care" data-type="routine">
                                            <label class="custom-control-label" for="body-care" role="button">Body Care</label>
                                        </div>
                                        <div class="custom-control custom-checkbox d-flex justify-content-start mt-2 p-0">
                                            <a class="text-primary text-decoration-none reset-single-filter" data-filter="routine-filter" role="button">Reset filter</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <a class="btn btn-outline-primary btn-block mb-2 resetFilter" role="button">Reset all filters</a>
                <a class="btn btn-primary btn-block applyFilter" role="button">Apply filters</a>
            </div>
        </div>
    </div>
</div>