<footer class="pt-md-6 pt-2 pt-lg-4 pb-1 {{ footclass }}">
	<div class="container px-g">
		<div class="row mb-5 pt-5">
			<div class="col-12 col-lg-2 text-center text-lg-left">
				<img class="svg logo-ss text-secondary mb-5" src="icons/logo-ss.svg" replace-to-svg />
			</div>
			<div class="col-12 col-lg-3 offset-lg-1 justify-content-center mb-5 order-lg-4 text-center text-lg-left">
				<h4 class="text-primary mb-4 w-100 d-none d-lg-block">Social</h4>

				<a href="https://www.facebook.com/SandAndSkyAUS/" class="d-inline pr-1 ml-lg-0 mx-2" target="_blank">
					<img class="svg font-size-lg" src="icons/facebook.svg" replace-to-svg />
				</a>
				<a href="https://www.pinterest.com.au/sandandskyaus/" class="d-inline pr-1 mx-2" target="_blank">
					<img class="svg font-size-lg" src="icons/pinterest.svg" replace-to-svg />
				</a>
				<a href="https://www.instagram.com/sandandskyaus/" class="d-inline pr-1 mx-2" target="_blank">
					<img class="svg font-size-lg" src="icons/instagram.svg" replace-to-svg />
				</a>
				<a href="https://www.youtube.com/c/sandandskyaus" class="d-inline pr-1 mx-2" target="_blank">
					<img class="svg font-size-lg" src="icons/youtube.svg" replace-to-svg />
				</a>
				<a href="https://www.tiktok.com/@sandandskyaus" class="d-inline pr-1 mx-2" target="_blank">
					<img class="svg font-size-lg" src="icons/tiktok.svg" replace-to-svg />
				</a>
			</div>
			<div class="col-6 col-lg-2 d-none d-lg-block">
				<h4 class="text-primary mb-4 w-100">Shop</h4>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="">Value Kits</a></li>
					<li class="mb-2"><a href="">Face Masks</a></li>
					<li class="mb-2"><a href="">Moisturisers & Serums</a></li>
					<li class="mb-2"><a href="">Cleanser & Exfoliators</a></li>
					<li class="mb-2"><a href="">Body</a></li>
					<li class="mb-2"><a href="">Accessories</a></li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 d-none d-lg-block">
				<h4 class="text-primary mb-4 w-100">Company</h4>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="">Terms & Conditions</a></li>
					<li class="mb-2"><a href="">Privacy Policy</a></li>
					<li class="mb-2"><a href="">Terms of Service</a></li>
					<li class="mb-2"><a href="">Refund policy</a></li>
					<li class="mb-2"><a href="">Accessibility Statement</a></li>
					<li class="mb-2"><a href="">Careers</a></li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mt-4 mt-lg-0 d-none d-lg-block">
				<h4 class="text-primary mb-4 w-100">Support</h4>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="">Shipping</a></li>
					<li class="mb-2"><a href="">Refund</a></li>
					<li class="mb-2"><a href="">Contact Us</a></li>
					<li class="mb-2"><a href="">Stockist</a></li>
					<li class="mb-2"><a href="">FAQ</a></li>
					<li class="mb-2"><a href="">Track My Order</a></li>
					<li class="mb-2"><a href="">Affiliate Program</a></li>
				</ul>
			</div>
			<div class="col-12 d-lg-none">
              	<ul id="accordion" class="accordion list-unstyled">
					<li class="border-dark border-bottom border-top">
						<span class="py-3 w-100 d-flex justify-content-between collapsed font-weight-bold font-size-lg text-body" type="button" data-toggle="collapse" data-target="#shop" aria-expanded="true" aria-controls="shop">
							Shop
							<img class="svg font-size-xs ml-1" src="icons/chevron-down.svg" replace-to-svg="sg" />
						</span>
						<div id="shop" class="collapse" data-parent="#accordion">
							<ul class="list-unstyled mb-3">
								<li class="mb-2"><a href="/collections/skincare-kits-value-bundles">Value Kits</a></li>
								<li class="mb-2"><a href="/collections/face-mask">Face Masks</a></li>
								<li class="mb-2"><a href="/collections/moisturisers-serums">Moisturisers &amp; Serums</a></li>
								<li class="mb-2"><a href="/collections/cleanser-exfoliators">Cleansers</a></li>
								<li class="mb-2"><a href="/collections/body">Body</a></li>
								<li class="mb-2"><a href="https://dev.sandandsky.com/collections/austrialian-beauty-accessories">Accessories</a></li>
							</ul>
						</div>
					</li>
            	</ul>
          	</div>
			<div class="col-12 d-lg-none">
				<ul id="accordion" class="accordion list-unstyled">
					<li class="border-dark border-bottom ">
						<span class="py-3 w-100 d-flex justify-content-between collapsed font-weight-bold font-size-lg text-body" type="button" data-toggle="collapse" data-target="#company" aria-expanded="true" aria-controls="company">
							Company
							<img class="svg font-size-xs ml-1" src="icons/chevron-down.svg" replace-to-svg="sg" />
						</span>
						<div id="company" class="collapse" data-parent="#accordion">
							<ul class="list-unstyled mb-3">
								<li class="mb-2"><a href="/pages/a-beauty">About Us</a></li>
								<li class="mb-2"><a href="/pages/term-condition">Terms &amp; Conditions</a></li>
								<li class="mb-2"><a href="/pages/privacy-policy">Privacy Policy</a></li>
								<li class="mb-2"><a href="/pages/accessibility-statement">Accessibility Statement</a></li>
								<li class="mb-2"><a href="https://beta.supernovabrands.com/join.html?brand=sand_and_sky">Careers</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-12 d-lg-none">
				<ul id="accordion" class="accordion list-unstyled">
					<li class="border-dark border-bottom ">
						<span class="py-3 w-100 d-flex justify-content-between collapsed font-weight-bold font-size-lg text-body" type="button" data-toggle="collapse" data-target="#support" aria-expanded="true" aria-controls="support">
							Support
							<img class="svg font-size-xs ml-1" src="icons/chevron-down.svg" replace-to-svg="sg" />
						</span>
						<div id="support" class="collapse" data-parent="#accordion">
						<ul class="list-unstyled mb-3">
							<li class="mb-2"><a href="https://support.sandandsky.com/hc/en-us/sections/360005231193-DELIVERY-">Shipping</a></li>
							<li class="mb-2"><a href="https://support.sandandsky.com/hc/en-us/articles/360015719354--What-is-your-return-refund-policy-">Refund Policy</a></li>
							<li class="mb-2"><a href="/pages/contact-us">Contact Us</a></li>
							<li class="mb-2"><a href="/pages/stockists">Stockists</a></li>
							<li class="mb-2"><a href="https://support.sandandsky.com/hc/en-us">FAQ</a></li>
							<li class="mb-2"><a href="/pages/track-my-order">Track My Order</a></li>
							<li class="mb-2"><a href="/pages/affiliate-program">Affiliate Program</a></li>
						</ul>
						</div>
					</li>
				</ul>
          	</div>
		</div>
		<small class="text-center d-block mb-5">*Everyone’s skin is different and results may vary from person to person.</small>
		<small class="text-center d-block">Sand & Sky respectfully acknowledges the Traditional Owners of the land on which we operate, the Boon Wurrung and Woiwurrung (Wurundjeri) peoples of the Kulin Nation, and their connections to land, sea and community. We pay our respect to their elders past, present and future extend that respect to all Aboriginal and Torres Strait Islander peoples today.</small>
		<hr>
		<small class="text-center d-block mb-5 mb-lg-3">© 2021 Sand&Sky <br class="d-lg-none"/><span class="d-none d-lg-inline">&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a href="/pages/term-condition">Terms and Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;All rights reserved</small>
	</div>
</footer>
