<header class="main-header bg-white">
	{{#if cookiebanner}}
	{{> components/cookies-banner }}
	{{/if}}
	{{> components/announcement-bar countdown=true }}
	{{> components/announcement-bar-abtest}}
	<nav class="navbar navbar-expand-lg px-g">
		<div class="container">
			<button class="navbar-toggler" type="button">
				<span class="d-block"></span>
			</button>
			<ul class="navbar-nav align-items-center d-none d-lg-flex">
				<li class="nav-item nav-item--mega-menu">
					<a href="#" class="nav-link font-weight-bold d-flex align-items-baseline mr-1 m-0 pl-0">
						Shop
						<img class="svg font-size-xs ml-1" src="icons/chevron-down.svg" replace-to-svg />
					</a>
					{{> compounds/mega-menu-shop}}
				</li>
				<li class="nav-item nav-item--mega-menu">
					<a class="nav-link font-weight-bold d-flex align-items-baseline m-0" href="#">
						About
						<img class="svg font-size-xs ml-1" src="icons/chevron-down.svg" replace-to-svg />
					</a>
					{{> compounds/mega-menu-about}}
				</li>
				<li class="nav-item">
					<a class="nav-link h4 m-0 font-weight-bold" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link h4 m-0 font-weight-bold" href="#">Sweepstakes</a>
				</li>
			</ul>
			<a href="#" class="navbar-brand mx-auto">
				<img class="svg" src="icons/logo-ss.svg" replace-to-svg />
			</a>
			<ul class="navbar-nav d-lg-flex justify-content-end flex-row">
				<li class="nav-item d-none d-lg-block">
					<a class="nav-link h4 font-weight-bold m-0" href="#" data-cy="tracking-order">Track My Order</a>
				</li>
				<li class="nav-item d-none d-lg-block">
					<div class="dropdown dropdown--onhover">
						<a class="dropdown-toggle font-weight-bold m-0 nav-link d-flex align-items-baseline" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							US (USD)
							<img class="svg font-size-xs ml-1" src="icons/chevron-down.svg" replace-to-svg />
						</a>
						<div class="dropdown-menu border-0 p-0 text-right pt-2 pb-2 overflow-hidden d-block" aria-labelledby="dropdownMenuLink">
							{{#unless critical}}
							<a class="dropdown-item pt-2 pb-2 pr-5" href="#">United Kingdom (GBP)</a>
							<a class="dropdown-item pt-2 pb-2 pr-5 active" href="#">USA (USD)</a>
							<a class="dropdown-item pt-2 pb-2 pr-5" href="#">Canada (CAD)</a>
							<a class="dropdown-item pt-2 pb-2 pr-5" href="#">Australia (AUD)</a>
							<a class="dropdown-item pt-2 pb-2 pr-5" href="#">Europe (EUR)</a>
							<a class="dropdown-item pt-2 pb-2 pr-5" href="#">Rest of the World (USD)</a>
							{{/unless}}
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link h4 m-0 d-flex search-box__open"><img class="svg nav-link__icon" src="icons/search.svg" replace-to-svg /></a>
				</li>
				<li id="dropdownMenuForm" class="nav-item d-none d-lg-block dropdown dropdown--account">
					<a href="#" class="nav-link h4 m-0 d-flex dropdown-toggle" role="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="svg nav-link__icon" src="icons/user.svg" replace-to-svg />
					</a>
					<div class="dropdown-menu border-0 rounded-0 pt-g pb-0 d-block" aria-labelledby="dropdownMenuUser">
						<form id="dropdown__login" class="px-3 pt-g pb-3 shadow collapse show" data-parent="#dropdownMenuForm">
							<div class="form-group">
								<label for="dropdownLoginFormEmail" class="font-size-sm">Email</label>
								<input type="email" class="form-control" id="dropdownLoginFormEmail" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="dropdownLoginFormPassword" class="font-size-sm">Password</label>
								<input type="password" class="form-control" id="dropdownLoginFormPassword" placeholder="Password">
							</div>
							<div class="form-group font-size-sm d-flex justify-content-between my-g">
								<a href="#" class="text-underline">Forgot your password?</a>
								<a href="#dropdown__register" class="text-underline" data-toggle="collapse">Register Account</a>
							</div>
							<button type="submit" class="btn btn-primary btn-block mt-g">Log In</button>
						</form>
						<form id="dropdown__register" class="px-3 py-g shadow collapse" data-parent="#dropdownMenuForm">
							<div class="form-group">
								<label for="dropdownRegisterFormFName" class="font-size-sm">First Name</label>
								<input type="text" class="form-control" id="dropdownFormFName" placeholder="First Name">
							</div>
							<div class="form-group">
								<label for="dropdownRegisterFormLName" class="font-size-sm">Last Name</label>
								<input type="text" class="form-control" id="dropdownRegisterFormLName" placeholder="Last Name">
							</div>
							<div class="form-group">
								<label for="dropdownRegisterFormEmail" class="font-size-sm">Email</label>
								<input type="email" class="form-control" id="dropdownRegisterFormEmail" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="dropdownRegisterFormPassword" class="font-size-sm">Password</label>
								<input type="text" class="form-control" id="dropdownRegisterFormPassword" placeholder="Password">
							</div>
							<div class="custom-control custom-checkbox d-flex justify-content-center mt-g">
								<input type="checkbox" name="agreement" value="true" class="custom-control-input" id="agreement" required="" aria-required="true" aria-invalid="true">
								<label class="custom-control-label font-size-sm" for="agreement">
									By clicking here, I agree to the <a href="/pages/term-condition" class="text-body font-weight-bold">Terms of Use</a> and <a href="/pages/privacy-policy" class="text-body font-weight-bold">Privacy Policy</a>
								</label>
							</div>
							<div class="custom-control custom-checkbox d-flex justify-content-center mt-g">
								<input type="checkbox" name="customer[accepts_marketing]" class="custom-control-input pristine" value="true" id="accept-marketing" checked="">
								<label class="custom-control-label font-size-sm" for="accept-marketing">Sign up for exclusive presales, skincare tips, and promotions.</label>
							</div>
							<button type="submit" class="btn btn-primary btn-block mt-g">Create Account</button>
						</form>
					</div>
				</li>

				<li class="nav-item pl-3 pl-lg-2">
					<a href="#" class="nav-link h4 m-0 d-flex font-weight-normal position-relative px-0" data-toggle="modal" data-target="#cart-drawer" role="button" data-cy="cart-icon">
						<img class="svg nav-link__icon" src="icons/cart.svg" replace-to-svg />
						<span class="cart-drawer__count text-secondary d-block w-100 text-center">0</span>
					</a>
				</li>
			</ul>

		</div>
	</nav>
	{{> compounds/mobile-menu}}
	{{> compounds/mobile-menu-abtest}}
	{{> compounds/search-box}}

	{{#if blognav}}
	{{> compounds/blog-nav}}
	{{/if}}

	{{#if secondnav}}
	{{> compounds/secondary-nav gridclass="px-0"}}
	{{/if}}

	{{> components/tooltip}}
</header>

{{> sections/cart-drawer}}

{{!-- Adding this to include bg-shimmer related classes in critical css --}}
{{#if critical}}
<div class="d-none embed-responsive bg-shimmer"><img class="embed-responsive-item fit--cover" /></div>
{{/if}}
