<div class="hero-ingredients w-100 py-5 py-lg-7">
	<h2 class="text-center h1 mb-3 px-g">Made with A-grade hero<br>ingredients</h2>
    <div class="carousel--scroll position-relative container" data-loop="true">
        <div class="carousel-inner d-flex flex-nowrap row w-auto px-g" data-item-scroll="1" role="listbox">
            <div class="col-12 col-lg-3 d-flex flex-column carousel-item">
                <picture class="d-block mx-3 mx-lg-0">
					<source srcset="https://cdn.shopify.com/s/files/1/0253/9847/6905/files/abeauty-carousel-1_540x454_crop_center.jpg?v=1665731344" media="(min-width: 992px)">
					<img class="w-100" src="https://cdn.shopify.com/s/files/1/0253/9847/6905/files/abeauty-carousel-1_768x646_crop_center.jpg?v=1665731344" alt="" loading="lazy">
				</picture>
                <h4 class="h1 w-100 h2 text-center mb-g text-aea mb-lg-2">Australian<br>Pink Clay</h4>
                <p class="font-size-sm text-center mb-0 px-5 px-lg-0">Sourced from pristine parts of the country, Australian Pink Clay is the ultimate detoxifier – absorbing impurities and combating pollution like a boss. Combined with powerful botanicals, it deep-cleanses the skin and refines pores. No dryness, zero irritation.</p>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column carousel-item">
                <picture class="d-block mx-3 mx-lg-0">
					<source srcset="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/abeauty-carousel-2_768x646_crop_center.jpg?v=1665635278" media="(min-width: 992px)">
					<img class="w-100" src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/abeauty-carousel-2_768x646_crop_center.jpg?v=1665635278" alt="" loading="lazy">
				</picture>
                <h4 class="h1 w-100 h2 text-center mb-g text-apc mb-lg-2">Australian Glow<br>Berries</h4>
                <p class="font-size-sm text-center mb-0 px-5 px-lg-0">Found deep in the outback, Australian Glow Berries™ pack a stronger antioxidant punch than most superfoods. Protecting the skin from ageing free radicals, it boosts Vitamin C absorption for a plump, juicy, glowing complexion.</p>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column carousel-item">
                <picture class="d-block mx-3 mx-lg-0">
					<source srcset="https://cdn.shopify.com/s/files/1/0253/9847/6905/files/abeauty-carousel-3_540x454_crop_center.jpg?v=1665731344" media="(min-width: 992px)">
					<img class="w-100" src="https://cdn.shopify.com/s/files/1/0253/9847/6905/files/abeauty-carousel-3_540x454_crop_center.jpg?v=1665731344" alt="" loading="lazy">
				</picture>
                <h4 class="h1 w-100 h2 text-center mb-g text-tsw mb-lg-2">Tasmanian Spring<br>Water</h4>
                <p class="font-size-sm text-center mb-0 px-5 px-lg-0">Found deep within the Great Western Tiers, Tasmanian Spring Water is fortified with over 15 essential minerals, strengthening the skin as it delivers deep hydration. Each drop delivers strong, healthy, hydrated skin straight from the source.</p>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column carousel-item">
                <picture class="d-block mx-3 mx-lg-0">
					<source srcset="https://cdn.shopify.com/s/files/1/0253/9847/6905/files/abeauty-carousel-4_540x454_crop_center.jpg?v=1665731343" media="(min-width: 992px)">
					<img class="w-100" src="https://cdn.shopify.com/s/files/1/0253/9847/6905/files/abeauty-carousel-4_540x454_crop_center.jpg?v=1665731343" alt="" loading="lazy">
				</picture>
                <h4 class="h1 w-100 h2 text-center mb-g text-oil mb-lg-2">Old Man<br>Weed</h4>
                <p class="font-size-sm text-center mb-0 px-5 px-lg-0">An indigenous Australian plant prized for its medicinal properties, Old Man Weed is packed with anti-inflammatory properties and antioxidants to soothe and calm acne and redness.</p>
            </div>
        </div>
        <a class="carousel-control-prev text-body d-lg-none ml-2" role="button">
			<span class="carousel-control-icon carousel-control-prev-icon d-flex justify-content-center align-items-center" aria-hidden="true">
				<img class="svg" src="icons/chevron-prev.svg" replace-to-svg="sg" />
			</span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next text-body d-lg-none mr-2" role="button">
			<span class="carousel-control-icon carousel-control-next-icon d-flex justify-content-center align-items-center" aria-hidden="true">
				<img class="svg" src="icons/chevron-next.svg" replace-to-svg="sg" />
			</span>
			<span class="sr-only">Next</span>
		</a>
    </div>
    </div>
</div>