<section class="pt-5 pb-3 py-lg-7 {{bg}}">
	<div class="container px-g">
		<h2 class="h1 mb-3 text-center d-lg-none">How to use</h2>
		<div class="row align-items-center">
			<picture class="col-lg-6">
				<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)">
				<img src="https://via.placeholder.com/345x345" alt="Placeholder" class="d-block w-100">
			</picture>
			<div class="col-lg-6">
				<h2 class="h1 mb-3 d-none d-lg-block">How to use</h2>
				<ul class="list-unstyled">
					<li class="my-3">
						<figure class="media mb-0">
						  <img class="mr-g" src="../images/trolley.svg" alt="Generic placeholder image">
						  <div class="media-body d-flex flex-column">
						    <p class="howto-gift__step m-0 d-inline-flex align-items-center font-weight-bold">Step 1.</p>
						    <p class="mt-1 mb-0">Do the Add To Cart, click-y thing.</p>
						  </div>
						</figure>
					</li>
					<li class="my-3">
						<figure class="media mb-0">
						  <img class="mr-g" src="../images/ecard.svg" alt="Generic placeholder image">
						  <div class="media-body d-flex flex-column">
						    <p class="howto-gift__step m-0 d-inline-flex align-items-center font-weight-bold">Step 2.</p>
						    <p class="mt-1 mb-0">e-Card instantly appears in your inbox. Magic.</p>
						  </div>
						</figure>
					</li>
					<li class="my-3">
						<figure class="media mb-0">
						  <img class="mr-g" src="../images/envelope.svg" alt="Generic placeholder image">
						  <div class="media-body d-flex flex-column">
						    <p class="howto-gift__step m-0 d-inline-flex align-items-center font-weight-bold">Step 3.</p>
						    <p class="mt-1 mb-0">Forward it to your pal via email, post or carrier pigeon.</p>
						  </div>
						</figure>
					</li>
					<li class="my-3">
						<figure class="media mb-0">
						  <img class="mr-g" src="../images/glowing.svg" alt="Generic placeholder image">
						  <div class="media-body d-flex flex-column">
						    <p class="howto-gift__step m-0 d-inline-flex align-items-center font-weight-bold">Step 4.</p>
						    <p class="mt-1 mb-0">Await glowing praise. Seriously, glowing.</p>
						  </div>
						</figure>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
