<section class="container py-4 py-lg-4 overflow-hidden position-relative">
	<div class="d-flex justify-content-between align-items-center container pt-lg-3">
		<h2 class="h1 col-12 mb-4 mb-lg-5 text-lg-center">Don’t take our word for it…</h2>
	</div>
	<div class="row">
		<div class="carousel--scroll position-relative px-1 px-lg-0 overflow-hidden w-100">
			<div class="carousel-inner d-flex flex-nowrap " role="listbox">
				{{> compounds/ig-reel-card id="17986397506940385" carousel="carousel-item" }}
				{{> compounds/ig-reel-card id="18265520599130967" carousel="carousel-item" }}
                {{> compounds/ig-reel-card id="17875701149850169" carousel="carousel-item" }}  
                {{> compounds/ig-reel-card id="17959939502251969" carousel="carousel-item" }}  
			</div>
		</div>
	</div>
</section>
