<div class="newsletter-banner bg-secondary">
	<div class="container px-g py-5">
		<div class="row">
			<div class="col-12 col-lg-6 text-white">
				<h2>Join the A-Beauty movement and stay inspired with new content, special deals and more!</h2>
				<form class="d-flex col-lg-8 px-0 mt-2 mt-lg-3">
					<input class="form-control border-right-0 rounded-right-0 bg-transparent border-white text-white"
						placeholder="E-mail address" />
					<button
						class="input-group-text bg-transparent border-left-0 border border-white text-white rounded-left-0 sni sni__chevron-next"
						type="button" aria-label="Submit" />
				</form>
			</div>
		</div>
	</div>
</div>
