<div class="mt-4 container p-0">
  <figure class="imagewtext row flex-row-reverse position-relative mb-lg-2 mt-5 mx-0 justify-content-center">
    <figcaption class="col-12 col-lg-6 order-last position-relative p-0">
      <div class="imagewtext__content-secondary mt-lg-4 px-4 py-6 px-lg-6 bg-secondary-light text-left imagewtext__apc-decoration">
        <p class="h4 mt-2 font-weight-normal text-dark">Sourced from Southern and Western Australia, and combined with the best Australian botanical ingredients, Australian Pink Clay powerfully absorbs impurities, drawing out toxins and combating pollution.</p>
        <p class="h4 mt-2 font-weight-normal text-dark">Non-drying and gentle on sensitive skin, it instantly reduces the appearance of pores.</p>
        <picture class="leaf d-none d-lg-block position-absolute">
          <img src="leaf.svg"/>
        </picture>
      </div>
    </figcaption>
    <picture class="col-12 col-lg-4 px-g px-lg-1 wrapper overflow-hidden">
      <source srcset="https://via.placeholder.com/540x665" media="(min-width: 992px)"/>
      <img src="https://via.placeholder.com/407x407" class="w-100">
    </picture>
  </figure>
</div>
