<section class="container mb-5 range-breakdown">
	<div class="row align-items-center position-relative range-breakdown__decoration range-breakdown__decoration-{{ type }}">
		<div class="col-lg-6 px-g">
			<div class="d-flex align-items-center range-breakdown__header">
				<img class="svg mr-3 mr-lg-3 mt-lg-1 text-{{ type }}" src="icons/range-{{ type }}.svg" replace-to-svg />
				<p class="h1 pt-g mb-3 flex-grow-1">{{ title }}</p>
			</div>
			{{#if apc}}
			<p class="mb-5 mb-lg-3">Australian Pink Clay is rich in minerals (silica, magnesium and zinc) known for its natural anti-inflammatory and moisture retention properties. Commonly referred to as the most gentle of all the clays, it is a magnet for impurities and excess oils; deeply cleansing and refining the skin, achieving itty-bitty pores without drying it out. It is perfect for all skin types, including dry, sensitive and eczema-prone skin.</p>
			{{/if}}

			{{#if aea}}
			<p class="font-weight-bold text-aea mb-0">Pepperberry</p>
			<p class="mb-3 mb-lg-4">Supercharged with 3X more antioxidants than blueberries, which improves skin elasticity and radiance.</p>

			<p class="font-weight-bold text-aea mb-0">Riberry</p>
			<p class="mb-3 mb-lg-4">Rich in Vitamin E and minerals that protects your skin against free radicals and inflammation.</p>

			<p class="font-weight-bold text-aea mb-0">Emu Apple</p>
			<p class="mb-5">Packed with 100X more Vitamin C than an orange,<br>boosting skin brightness with great anti-ageing <br class="d-none d-lg-block">properties.</p>
			{{/if}}

			{{#if tsw}}
			<p class="font-weight-bold text-tsw">Tasmanian Spring Water</p>
			<p class="mb-3 mb-lg-4">Pure and rich in minerals, it strengthens the skin to fortify from within.</p>

			<p class="font-weight-bold text-tsw">Hyaluronic Acid</p>
			<p class="mb-3 mb-lg-4">A holy grail for deep hydration and retaining skin moisture.</p>

			<p class="font-weight-bold text-tsw">Fermented Sea Kelp</p>
			<p class="mb-5">Clinically proven to boost skin elasticity and protect skin barrier.</p>
			{{/if}}
		</div>
		<picture class="col-lg-6 px-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
	</div>
</section>
