<section class="container mb-5 range-product--abtest">
	<div class="row d-flex d-lg-block">
		<p class="h1 px-g">Australian Pink Clay</p>
		<p class="font-weight-bold text-secondary px-g mb-2">Detoxify • Refine • Soothe</p>
		<p class="mb-3 mb-lg-5 px-g">Combats troubled, acne-prone and textured skin. Clears impurities and congestions, leaving<br class="d-none d-lg-block"> you with soothed and pore-tight skin in minutes.</p>
		{{#> sections/carousel-scroll-abtest id="range-products-abtest" class="featured-products-carousel" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
			{{> compounds/product-card-abtest class="carousel-item mb-0 pb-lg-0" color="ff6f8d" }}
		{{/ sections/carousel-scroll-abtest}}
	</div>
</section>
