<section class="container mb-5 range-breakdown--abtest">
	<div class="row align-items-center position-relative range-breakdown--abtest__decoration range-breakdown--abtest__decoration-tsw">
		<div class="col-lg-6 px-g">
			<div class="d-flex align-items-center range-breakdown--abtest__header">
				<img class="svg mr-3 mr-lg-3 mt-lg-1 text-tsw" src="icons/range-tsw.svg" replace-to-svg />
				<p class="h1 pt-g mb-3 flex-grow-1">Breaking down the ingredients</p>
			</div>
			<p class="font-weight-bold text-tsw">Tasmanian Spring Water</p>
			<p class="mb-3 mb-lg-4">Pure and rich in minerals, it strengthens the skin to fortify from within.</p>

			<p class="font-weight-bold text-tsw">Hyaluronic Acid</p>
			<p class="mb-3 mb-lg-4">A holy grail for deep hydration and retaining skin moisture.</p>

			<p class="font-weight-bold text-tsw">Fermented Sea Kelp</p>
			<p class="mb-5">Clinically proven to boost skin elasticity and protect skin barrier.</p>

			<img class="w-auto d-none d-lg-inline-block" src="https://via.placeholder.com/70x76?text=1" alt="Placeholder">
		</div>
		<picture class="col-lg-6 px-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
	</div>
</section>
