<div class="range-tab container mt-5 {{ class }}">
    <h2 class="h1 mb-3 text-center text-lg-left">Here for every skincare goal</h2>

    <ul class="range-tab tab nav nav-tabs container border-0 justify-content-center justify-content-lg-start px-0" id="rangeTab" role="tablist">
        <li class="nav-item text-center">
            <a class="nav-link border-0 pb-2 text-body active" data-toggle="tab" href="#tab-1-range" role="tab" aria-controls="tab-1-range" aria-selected="false" title="Clarify">Clarify</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-2-range" role="tab" aria-controls="tab-2-range" aria-selected="false" title="Hydrate">Hydrate</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link border-0 pb-2 text-body" data-toggle="tab" href="#tab-3-range" role="tab" aria-controls="tab-3-range" aria-selected="false" title="Brighten">Brighten</a>
        </li>
    </ul>

    <div class="tab-content range-tab-content" id="rangeTabContent">
	    <div id="tab-1-range" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-1-range">
            <div class="row pt-3">
                <div class="collection-section__cover d-none d-lg-block col-lg-3">
                    <noscript class="loading-lazy">
                        <img src="https://via.placeholder.com/900x522/" alt="Placeholder" class="d-block w-100" loading="lazy">
                    </noscript>
                    <h2 class="h1 mt-4">Oil Control Range</h2>
                    <p class="mb-2">Combats troubled, acne-prone and textured skin. Clears impurities and congestions, leaving you with soothed and pore-tight skin in minutes.</p>
                    <a href="" class="text-secondary">Explore the range</a>
                </div>
                {{#> sections/carousel-scroll id="range-tab-products-1" class="collection-section__carousel col-lg-9 px-0" button="Shop all featured" range-section="true" }}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines) 1" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" badge="Best Seller" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" badge="New" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="ff6f8d" home-range-section="true"}}
                {{/ sections/carousel-scroll}}
            </div>
        </div>
        <div id="tab-2-range" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-2-range">
            <div class="row pt-3">
                <div class="collection-section__cover d-none d-lg-block col-lg-3">
                    <noscript class="loading-lazy">
                        <img src="https://via.placeholder.com/900x522/" alt="Placeholder" class="d-block w-100" loading="lazy">
                    </noscript>
                    <h2 class="h1 mt-4">Oil Control Range</h2>
                    <p class="mb-2">Combats troubled, acne-prone and textured skin. Clears impurities and congestions, leaving you with soothed and pore-tight skin in minutes.</p>
                    <a href="" class="text-secondary">Explore the range</a>
                </div>
                {{#> sections/carousel-scroll id="range-tab-products-2" class="collection-section__carousel col-lg-9 mb-5 px-0" button="Shop all featured" range-section="true" }}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" title="Hydration Boost Cream Moisturiser (2 lines) 1" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" badge="Best Seller" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" badge="New" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="cc3195" home-range-section="true"}}
                {{/ sections/carousel-scroll}}
            </div>
        </div>
        <div id="tab-3-range" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-3-range">
            <div class="row pt-3">
                <div class="collection-section__cover d-none d-lg-block col-lg-3">
                    <noscript class="loading-lazy">
                        <img src="https://via.placeholder.com/900x522/" alt="Placeholder" class="d-block w-100" loading="lazy">
                    </noscript>
                    <h2 class="h1 mt-4">Oil Control Range</h2>
                    <p class="mb-2">Combats troubled, acne-prone and textured skin. Clears impurities and congestions, leaving you with soothed and pore-tight skin in minutes.</p>
                    <a href="" class="text-secondary">Explore the range</a>
                </div>
                {{#> sections/carousel-scroll id="range-tab-products-3" class="collection-section__carousel col-lg-9 mb-5 px-0" button="Shop all featured" range-section="true" }}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" title="Hydration Boost Cream Moisturiser (2 lines) 1" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" badge="Best Seller" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" badge="New" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" home-range-section="true"}}
                    {{> compounds/product-card class="carousel-item mb-0 col-lg-4 col-6" color="66b3df" home-range-section="true"}}
                {{/ sections/carousel-scroll}}
            </div>
        </div>
    </div>
</div>