<section class="container mb-5 range-breakdown--abtest">
	<div class="row align-items-center position-relative range-breakdown--abtest__decoration range-breakdown--abtest__decoration-aea">
		<div class="col-lg-6 px-g">
			<div class="d-flex align-items-center range-breakdown--abtest__header">
				<img class="svg mr-3 mr-lg-3 mt-lg-1 text-aea" src="icons/range-aea.svg" replace-to-svg />
				<p class="h1 pt-g mb-3 flex-grow-1">Breaking down<br class="d-none d-lg-block"> Australian Glow Berries™</p>
			</div>
			<p class="font-weight-bold text-aea mb-0">Pepperberry</p>
			<p class="mb-3 mb-lg-4">Supercharged with 3X more antioxidants than blueberries, which improves skin elasticity and radiance.</p>

			<p class="font-weight-bold text-aea mb-0">Riberry</p>
			<p class="mb-3 mb-lg-4">Rich in Vitamin E and minerals that protects your skin against free radicals and inflammation.</p>

			<p class="font-weight-bold text-aea mb-0">Emu Apple</p>
			<p class="mb-5">Packed with 100X more Vitamin C than an orange, boosting skin brightness with great anti-ageing properties.</p>

			<img class="w-auto d-none d-lg-inline-block" src="https://via.placeholder.com/70x76?text=1" alt="Placeholder">
		</div>
		<picture class="col-lg-6 px-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
	</div>
</section>
