<section class="range-result--abtest container px-lg-0 mb-5">
	<div class="row align-items-center bg-aea-light mx-lg-g position-relative range-result--abtest__decoration range-result--abtest__decoration-aea">
		<div class="col-lg-6 order-lg-2 py-3 px-g range-result--abtest__decoration-mobile range-result--abtest__decoration-mobile-aea">
			<p class="h1 pt-g mb-3">Australian Emu Apple results</p>
			<p class="mb-3">Achieve brighter, radiant skin with our unique blend of Glow BerriesTM consisting of 3 Aussie superfruits - Emu Apple (or Muntries), Riberry and Pepperberry. Bursting with Vitamin C, E and antioxidants, bid goodbye to fine lines and pigmentation.</p>
			<ul class="list-unstyled row mb-0 mb-lg-5">
				<li class="col-6 col-lg-4 mb-3">
					<p class="h1 text-aea mb-0">144%</p>
					<strong class="text-aea">boost</strong> in collagen production
				</li>
				<li class="col-6 col-lg-8 mb-3">
					<p class="h1 text-aea mb-0">29%</p>
					<strong class="text-aea">increase</strong> in hydration instantly
				</li>
				<li class="col-6 col-lg-4 mb-3">
					<p class="h1 text-aea mb-0">39%</p>
					<strong class="text-aea">reduction</strong> in visible wrinkles
				</li>
				<li class="col-6 col-lg-8 mb-3">
					<p class="h1 text-aea mb-0">28%</p>
					<strong class="text-aea">reduction</strong> in melanin content
				</li>
			</ul>
			<p class="font-size-sm mb-g">Based on in-vitro testing on Glow Berries™,<br>3-O-Ethyl-Adcprboc Acid and Kakadu Plum.</p>
		</div>
		<picture class="col-lg-6 order-lg-1 px-0 pl-lg-0 pr-lg-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
	</div>
</section>
