<section class="range-result--abtest container px-lg-0 mb-5">
	<div class="row align-items-center bg-apc-light mx-lg-g position-relative range-result--abtest__decoration range-result--abtest__decoration-apc">
		<div class="col-lg-6 order-lg-2 py-3 px-g range-result--abtest__decoration-mobile range-result--abtest__decoration-mobile-apc">
			<p class="h1 pt-g mb-3">Australian Emu Apple results</p>
			<p class="mb-3">Achieve brighter, radiant skin with our unique blend of Glow BerriesTM consisting of 3 Aussie superfruits - Emu Apple (or Muntries), Riberry and Pepperberry. Bursting with Vitamin C, E and antioxidants, bid goodbye to fine lines and pigmentation.</p>
			<ul class="list-unstyled row">
				<li class="col-6 col-lg-4 mb-3">
					<strong class="text-apc d-lg-block">Draws out</strong> impurities and oil
				</li>
				<li class="col-6 col-lg-8 mb-3">
					<strong class="text-apc d-lg-block">Reduce</strong> inflammation
				</li>
				<li class="col-6 col-lg-4 mb-3">
					<strong class="text-apc d-lg-block">Drastically reduces</strong> pore size
				</li>
				<li class="col-6 col-lg-8 mb-3">
					<strong class="text-apc d-lg-block">Moisturise and resurface</strong> soft skin
				</li>
			</ul>
		</div>
		<picture class="col-lg-6 order-lg-1 px-0 pl-lg-0 pr-lg-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
	</div>
</section>
