<section class="range-result--abtest container px-lg-0 mb-5">
	<div class="row align-items-center bg-tsw-light mx-lg-g position-relative range-result--abtest__decoration range-result--abtest__decoration-tsw">
		<div class="col-lg-6 order-lg-2 py-3 px-g range-result--abtest__decoration-mobile range-result--abtest__decoration-mobile-tsw">
			<p class="h1 pt-g mb-3">Tasmanian Spring Water results</p>
			<p class="mb-3">Revitalize plump, healthy glowing skin by ensuring your skin is deeply hydrated and moisturised. Your skin will feel so soft, you could dive right in.</p>
			<ul class="list-unstyled row mb-0 mb-lg-5">
				<li class="col-6 col-lg-3 mb-3">
					<p class="h1 text-tsw mb-0">40%</p>
					<strong class="text-tsw">boost</strong> in skin hydration
				</li>
				<li class="col-6 col-lg-9 mb-3">
					<p class="h1 text-tsw mb-0">30%</p>
					<strong class="text-tsw">increase</strong> in moisture retention
				</li>
				<li class="col-6 col-lg-3 mb-3">
					<p class="h1 text-tsw mb-0">17%</p>
					<strong class="text-tsw">increase </strong> in skin elasticity
				</li>
				<li class="col-6 col-lg-9 mb-3">
					<p class="h1 text-tsw mb-0">12%</p>
					<strong class="text-tsw">reduction</strong> in sebum production
				</li>
			</ul>
			<p class="font-size-sm mb-g">*Based on in-vitro testing on Hyaluronic Acid and Tasmanian Fermented Sea Kelp.</p>
		</div>
		<picture class="col-lg-6 order-lg-1 px-0 pl-lg-0 pr-lg-g">
			<source srcset="https://via.placeholder.com/570x570" media="(min-width: 992px)"/>
			<img class="w-100" src="https://via.placeholder.com/570x570?text=1" alt="Placeholder">
		</picture>
	</div>
</section>
