<section class="container">
	<div class="d-flex justify-content-center justify-content-lg-between align-items-center">
		<p class="h1 mb-0">Real Results</p>
		<a href="#" class="btn btn-lg btn-outline-primary d-none d-lg-block">Shop all</a>
	</div>
	{{#> sections/carousel-scroll id="reels" class="mb-5 my-lg-0" home-carousel=true nextControlclass="carousel-control--tabs-next" prevControlclass="carousel-control--tabs-prev"}}
		{{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
		{{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
        {{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
        {{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
        {{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
        {{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
        {{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
        {{> compounds/reel-card category="hair" class="carousel-item col-9 col-lg-3 mb-0" src="https://cdn.shopify.com/videos/c/o/v/7f1a20442c35438eadc9b87edeca66af.mp4"}}
	{{/ sections/carousel-scroll}}
</section>
