<section class="review-carousel py-4 py-lg-7 overflow-hidden position-relative">
	<div class="d-flex justify-content-between align-items-center container pt-lg-3">
		<h2 class="h1 col-10 mb-4 mb-lg-5">Don’t take our word for it…</h2>
		<i class="review-carousel__decoration review-carousel__decoration-top position-absolute text-secondary mb-lg-4 d-flex">
			<img class="svg" src="icons/apc-leaf.svg" replace-to-svg />
		</i>
	</div>

	<div class="carousel--scroll position-relative px-1 px-lg-0 overflow-hidden">
		<div class="carousel-inner d-flex flex-nowrap mx-ng px-g w-auto" role="listbox">
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. "}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother"}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother."}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother"}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. "}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother"}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother."}}
			{{> review-card carousel="carousel-item" content="I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother" reveal="hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. "}}
		</div>

		<div class="px-2 px-lg-4 container mt-3 review-carousel__scroll">
			<div class="scrollbar">
				<div class="scrollbar--thumb"></div>
			</div>
		</div>

		<a class="carousel-control carousel-control-prev text-body d-none" role="button">
			<span class="carousel-control-prev-icon carousel-control--background d-flex justify-content-center align-items-center" aria-hidden="true">
				<img class="svg" src="icons/chevron-prev.svg" replace-to-svg />
			</span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control carousel-control-next text-body" role="button">
			<span class="carousel-control-next-icon carousel-control--background d-flex justify-content-center align-items-center" aria-hidden="true">
				<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			</span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<div class="review-carousel__decoration review-carousel__decoration-bottom text-secondary d-none d-lg-inline-block">
		<img class="svg d-flex" src="icons/apc-leaf.svg" replace-to-svg />
	</div>
</section>
