<section class="container pb-4 py-lg-4 overflow-hidden position-relative">
	<div class="d-flex justify-content-between align-items-center container pt-lg-3">
		<h2 class="h1 col-12 mb-g mb-lg-5 text-lg-center font-weight-normal">Pair with it</h2>
	</div>
	<div class="row px-1 px-lg-0">
		{{> compounds/shop-routine-card compare_price="$44.90" price="$34.90" content="Skip the massage, and leave it on as a mini 5 minute mask before rinsing to let the AHAs do the heavy lifting." titleFull="Australian Pink Clay Deep Pore Cleanser" title="Deep Pore Cleanser" range="Australian Pink Clay"}}
		{{> compounds/shop-routine-card compare_price="$44.90" price="$34.90" content="Use our Marshmallow Toner daily, morning and night, after cleansing your skin and before your serum and moisturiser." titleFull="Australian Pink Clay Deep Pore Cleanser" title="Deep Pore Cleanser" range="Australian Pink Clay"}}
		{{> compounds/shop-routine-card compare_price="$44.90" price="$34.90" content="Squeeze a pea-sized amount of the Clearing Cleanser onto your palm and lather it with water for it to foam." titleFull="Oil Control Goodbye Breakout Kit" title="Goodbye Breakout Kit" range="Oil Control"}}
	</div>
</section>
