<section class="container py-4 py-lg-4 overflow-hidden position-relative">
	<div class="d-flex justify-content-between align-items-center container pt-lg-3">
		<h2 class="h1 col-12 mb-4 mb-lg-5 text-lg-center">Shop the Routine</h2>
	</div>
	<div class="row">
		<div class="carousel--scroll position-relative px-1 px-lg-0 overflow-hidden">
			<div class="carousel-inner d-flex flex-nowrap " role="listbox">
				{{> compounds/shop-routine-card carousel="carousel-item" compare_price="$44.90" price="$34.90" content="Skip the massage, and leave it on as a mini 5 minute mask before rinsing to let the AHAs do the heavy lifting." title="Australian Pink Clay Deep Pore Cleanser"}}
				{{> compounds/shop-routine-card carousel="carousel-item" compare_price="$44.90" price="$34.90" content="Use our Marshmallow Toner daily, morning and night, after cleansing your skin and before your serum and moisturiser." title="Australian Pink Clay Deep Pore Cleanser"}}
				{{> compounds/shop-routine-card carousel="carousel-item" compare_price="$44.90" price="$34.90" content="Squeeze a pea-sized amount of the Clearing Cleanser onto your palm and lather it with water for it to foam." title="Oil Control Goodbye Breakout Kit"}}
			</div>
		</div>
	</div>
</section>
