<div class="usp-banner py-5 bg-secondary-light position-relative">
	<img class="position-absolute decor decor-left" src="{{ imageUrl }}/decor-usp-left.svg" />
	<img class="position-absolute decor decor-right" src="{{ imageUrl }}/decor-usp-right.svg" />
	<div class="container px-g">
		<div class="row justify-content-lg-center">
			<div class="col-4 col-lg-3 text-secondary text-center">
				<i class="sni-text icon-size-lg d-block" aria-hidden="true">returns</i>
				<span class="font-size-sm d-block mt-2">Easy <br class="d-lg-none"> Returns</span>
			</div>
			<div class="col-4 col-lg-3 text-secondary text-center">
				<i class="sni-text icon-size-lg d-block" aria-hidden="true">shipping</i>
				<span class="font-size-sm d-block mt-2">Free <br class="d-lg-none"> Shipping*</span>
			</div>
			<div class="col-4 col-lg-3 text-secondary text-center">
				<i class="sni-text icon-size-lg d-block" aria-hidden="true">trophy</i>
				<span class="font-size-sm d-block mt-2">Winner of XX Awards</span>
			</div>
		</div>
	</div>
</div>
