<div class="usp-banner py-6 bg-secondary-light position-relative">
	<img class="position-absolute decor decor-left" src="{{ imageUrl }}/decor-usp-left.svg" data-skip-inject-svg="true" />
	<img class="position-absolute decor decor-right" src="{{ imageUrl }}/decor-usp-right.svg" data-skip-inject-svg="true" />
	<div class="container px-g">
		<div class="row justify-content-lg-center">
			<div class="col-4 col-lg-3 text-secondary text-center">
				<i class="sni sni__returns icon-size-lg d-block" aria-hidden="true"></i>
				<span class="d-block mt-2">Easy <br class="d-lg-none"> Returns</span>
			</div>
			<div class="col-4 col-lg-3 text-secondary text-center">
				<i class="sni sni__shipping icon-size-lg d-block" aria-hidden="true"></i>
				<span class="d-block mt-2">Free <br class="d-lg-none"> Shipping*</span>
			</div>
			<div class="col-4 col-lg-3 text-secondary text-center">
				<i class="sni sni__trophy icon-size-lg d-block" aria-hidden="true"></i>
				<span class="d-block mt-2">Winner of XX Awards</span>
			</div>
		</div>
	</div>
</div>
