{{!-- DEV --}}
<div
	class="react-yotpo-widget px-0" data-product-id="4633315409991"
	data-name="Australian Pink Clay Porefining Face Mask"
	data-url="https://dev.sandandsky.com/products/porefining-face-mask"
	data-description="Refine pores, detoxify and brighten with the original Australian Pink Clay Face Mask (60g). Powered by Aussie botanicals, this 4-in-1 treatment will get you glowing!"
	{{#if reviewOnly }}data-review-only="true"{{/if}}
	{{#unless reviewOnly }}data-can-create="true"{{/unless}}></div>

{{!-- US --}}
{{!-- <div class="react-yotpo-widget container px-g" data-product-id="3595105992809"
	data-name="Australian Pink Clay Porefining Face Mask"
	data-url="https://us.sandandsky.com/products/porefining-face-mask"
	data-description="Refine pores, detoxify and brighten with the original Australian Pink Clay Face Mask (60g). Powered by Aussie botanicals, this 4-in-1 treatment will get you glowing!"
	{{#if reviewOnly }}data-review-only="true"{{/if}}
	{{#unless reviewOnly }}data-can-create="true"{{/unless}}></div> --}}
