@font-face {
	font-family: "sofia-pro";
	src: url(font-url('SofiaPro-Bold.woff2')) format("woff2"),
		url(font-url('SofiaPro-Bold.woff')) format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "sofia-pro";
	src: url(font-url('SofiaPro-Regular.woff2')) format("woff2"),
		url(font-url('SofiaPro-Regular.woff')) format("woff");
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}