h3, .h3 {
	font-weight: $font-weight-normal;
	font-style: italic;
}

@include media-breakpoint-up(lg) {
	h1, .h1 {
		@include font-size($h1-font-size-lg);
	}
	h2, .h2 {
		@include font-size($h2-font-size-lg);
	}
	h3, .h3 {
		@include font-size($h3-font-size-lg);
	}
	h4, .h4 {
		@include font-size($h4-font-size-lg);
	}
	h5, .h5 {
		@include font-size($h5-font-size-lg);
	}
}

.text-linethrough {
	text-decoration: line-through;
}

.text-underline {
	text-decoration: underline;
}

.font-size-lg {
	font-size: $font-size-lg !important;
}

.font-size-base {
	font-size: $font-size-base !important;
}

.font-size-sm {
	font-size: $font-size-sm !important;
}

.font-size-xs {
	font-size: $font-size-xs !important;
}

.icon-size-xl {
	font-size: calc-em(40) !important;
}

// Range color text
@include text-emphasis-variant(".text-aea", $range-aea, true);
@include text-emphasis-variant(".text-apc", $range-apc, true);
@include text-emphasis-variant(".text-tsw", $range-tsw, true);
@include text-emphasis-variant(".text-oil", $range-oil, true);

.link-secondary {
	color: $secondary;

	&:hover {
		color: $secondary;
		text-decoration: underline;
	}
}
