// Light pink background color
@include bg-variant(".bg-secondary-light", $secondary-light, true);

// APC range background color
@include bg-variant(".bg-apc", $secondary, true);
@include bg-variant(".bg-apc-light", $secondary-light, true);

// AEA range background color
@include bg-variant(".bg-aea", $range-aea, true);
@include bg-variant(".bg-aea-light", $range-aea-light, true);

// TSW range background color
@include bg-variant(".bg-tsw", $range-tsw, true);
@include bg-variant(".bg-tsw-light", $range-tsw-light, true);

// Gray 100 background color
@include bg-variant(".bg-gray-100", $gray-100, true);

// bg body color
@include bg-variant(".bg-body-color", $body-color, true);


.rounded-right-0 {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

// Half gutter padding
@include media-breakpoint-down(md) {
	.pr-hg, .px-hg {
		padding-right: $grid-gutter-width * 0.5 !important;
	}
	.pl-hg, .px-hg {
		padding-left: $grid-gutter-width * 0.5 !important;
	}
}
@include media-breakpoint-up(lg) {
	.pr-lg-hg, .px-lg-hg {
		padding-right: $grid-gutter-width * 0.5 !important;
	}
	.pl-lg-hg, .px-lg-hg {
		padding-left: $grid-gutter-width * 0.5 !important;
	}
}

.fit--cover {
	object-fit: cover;
}

@keyframes gradient-shimmer {
	0%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
}

.bg-shimmer {
	background: $gray-600;
	background: linear-gradient(130deg, $gray-600 33%, $gray-100 50%, $gray-600 67%);
	background-size: 1000% 1000%;
	animation: gradient-shimmer 2.5s ease infinite;
}

// To make button looks like text
.btn-unstyled {
	border: 0;
	padding: 0;
	background: none;
	&:focus {
		outline: none;
	}
}

// Hover overlay for blog image
.hover-overlay {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: background-color $hover-transition-timing;
	}
	&:hover:after {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

// Sticky sidebar at bottom
.sticky-bottom {
	top: auto;
	bottom: map-get($spacers, 3);

	&__container {
		display: flex;
		align-items: flex-end;
	}
}

@include media-breakpoint-up(lg) {
	.position-lg-sticky {
		position: sticky !important;
	}
}
