// Grid
$grid-gutter-width: 15px;
$grid-gutter-width-lg: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

$spacer: calc-em(20, $context: 16, $unit: 1rem);
$spacers: (
  1: $spacer * 0.25,      // 5
  2: $spacer * 0.5,       // 10
  3: $spacer,             // 20
  4: $spacer * 1.5,       // 30
  5: $spacer * 2,         // 40
  6: $spacer * 3,         // 60
  7: $spacer * 4,         // 80
  g: $grid-gutter-width,  // 15
);

// Typography
$font-family-sans-serif: "sofia-pro", "Helvetica Neue", Arial, sans-serif;

$line-height-base: calc-em(20, $context: 16, $unit: 1);
$line-height-lg: $line-height-base;
$line-height-sm: $line-height-base;

$headings-font-weight: 700;
$headings-line-height: $line-height-base;

$font-size-base: calc-em(16);
$font-size-sm: calc-em(14);
$font-size-xs: calc-em(12);

$h1-font-size: calc-em(24);
$h2-font-size: calc-em(20);
$h3-font-size: calc-em(20);
$h4-font-size: calc-em(16);
$h5-font-size: calc-em(14);

$h1-font-size-lg: calc-em(36);
$h2-font-size-lg: calc-em(24);
$h3-font-size-lg: calc-em(24);
$h4-font-size-lg: calc-em(16);
$h5-font-size-lg: calc-em(14);

$paragraph-margin-bottom: map-get($spacers, 1);

// Colors
$primary: #4ACD8A;
$primary-light: #D2F3E2;
$primary-dark: #4CB376;

// Products
$range-apc: #FF6F8D;
$range-apc-light: #FFEFF2;
$range-aea: #CC3195;
$range-aea-light: #F5E7F3;
$range-tsw: #42A1CA;
$range-tsw-light: #DFF4F9;

$secondary: $range-apc;
$secondary-light: $range-apc-light;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);

$body-color: #484848;

$gray-100: #F8F8F8;
$gray-400: #CECECE;
$gray-600: #969696;

$border-color: $gray-400;

// Forms
$form-group-margin-bottom: map-get($spacers, 1);
$input-color: $body-color;
$input-placeholder-color: $gray-400;
$input-btn-focus-color: transparent;
$input-focus-border-color: $gray-400;
$input-disabled-bg: $gray-100;
$input-disabled-color: $gray-400;
$custom-control-gutter: .5em;
$custom-control-indicator-size: 1em;

$input-font-size: $font-size-sm;
$input-padding-y: calc-em(28 / 2, 14);
$input-padding-x: 1em;
$custom-select-indicator-padding: 1em;

$input-padding-y-sm: calc-em(15 / 2, 14);
$input-padding-x-sm: calc-em(6, 14);

$search-icon-padding-y-sm: calc-em(6, 14);
$input-border-radius-sm: calc-em(18, 14);

// Nav
$nav-link-padding-y: calc-em(12/2);
$nav-link-padding-x: calc-em(12/2);
$nav-link-padding-y-lg: calc-em(24/2);
$nav-link-padding-x-lg: calc-em(24/2);

// Buttons

$btn-hover-darken: 23.5%;
$btn-font-weight: 700;
$btn-font-size: $font-size-sm;
$btn-padding-y: calc-em(10.5, 14);
$btn-padding-x: calc-em(28, 14);
$btn-padding-x-icon: calc-em(20);

$btn-font-size-lg: $font-size-base;
$btn-line-height-lg: $line-height-base;
$btn-border-radius-lg: calc-em(4, $unit: 1rem);
$btn-padding-y-lg: calc-em(28 / 2);
$btn-padding-x-lg: calc-em(30);

$btn-padding-y-sm: calc-em(15 / 2, 14);
$btn-padding-x-sm: calc-em(28, 14);

// HR
$hr-border-color: $gray-600;

// Carousels
$carousel-indicator-width: calc-em(12);
$carousel-indicator-height: calc-em(12);
$carousel-control-color: $primary;
$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;

// Upsell
$upsell-padding-y: calc-em(10);
$upsell-padding-x: calc-em(15);
$upsell-padding-y-lg: calc-em(10);
$upsell-padding-x-lg: calc-em(10);

// Video Carousel
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: 1;

// Breadcrumb
$breadcrumb-bg: white;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$breadcrumb-divider: quote(">");
$breadcrumb-item-padding: calc-em(5);
$breadcrumb-font-size: calc-em(12);
$breadcrumb-padding-x: 0;

// Social Icon
$icon-primary-font-size: calc-em(30);

// Alert
$alert-padding-x: 1.25em;

// Interactions
$hover-transition-timing: 0.15s ease-in-out;

// Cart Drawer
// To be above zendesk help
$zindex-cartdrawer: 9999991;

// Icons
$supernova-icon-asset: url(font-url('supernova-icon.woff2')) format("woff2"),
  url(font-url('supernova-icon.woff')) format("woff");
