<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Card" }}
</head>

<body class="mobile-wrapper">
	<div class="container mt-4">
		<h1>Product Card</h1>

		<div class="row">
			{{> product-card class="col-6 col-lg-3" color="ff6f8d"}}
			{{> product-card class="col-6 col-lg-3" color="cc3195"}}
			{{> product-card class="col-6 col-lg-3" color="66b3df"}}
		</div>
	</div>
</body>

</html>
