<div class="reading-proggress-bar w-100 m-0">
  <div class="reading-proggress-bar__proggress"></div>
</div>
<nav class="text-center bg-secondary-light py-3 px-2 d-lg-none w-100">
	<ul class="nav justify-content-center align-items-center">
		<li class="nav-item">
			<a href="/blogs/news" class=" nav-link pb-0 pt-0">All</a>
		</li>
		<li class="nav-item">
			<a href="#" class="active nav-link pb-0 pt-0">Skintervention</a>
		</li>
		<li class="nav-item">
			<a href="#" class=" nav-link pb-0 pt-0">Skinsiders</a>
		</li>
		<li class="nav-item">
			<a href="#" class=" nav-link pb-0 pt-0">Skingredients</a>
		</li>
	</ul>
</nav>
