<figure class="hero-banner hero-banner--reverse position-relative mb-0 {{ class }}">
	<picture class="d-block">
		<source srcset="https://via.placeholder.com/1810x1020" media="(min-width: 992px)">
		<source srcset="https://via.placeholder.com/750x600">
		<img src="https://via.placeholder.com/750x600" alt="Bottom Banner" class="d-block w-100">
	</picture>
	<figcaption class="mt-n4 my-lg-3 mx-g mx-lg-0 bg-secondary align-items-center">
		<div class="hero-banner__text p-4 p-lg-0 text-center text-lg-left text-white">
			{{> @partial-block }}
		</div>
	</figcaption>
</figure>
