<figure class="bottom-bannerwtext {{#if reverse}}bottom-bannerwtext--reverse{{/if}} position-relative mb-6">
  <picture class="d-block">
    <source srcset="https://via.placeholder.com/1810x1020" media="(min-width: 992px)"/>
    <img src="https://via.placeholder.com/750x600" alt="Slide" class="d-block w-100"/>
  </picture>
  <figcaption class="mt-n7 mb-lg-n4 mt-lg-4 mx-g mx-lg-0 {{background}}">
    {{#if badge }}
    <div class="bottom-bannerwtext__badge position-absolute">
      <picture>
        <img src="../images/tsw-badge.svg" class="w-100"/>
      </picture>
    </div>
    {{/if}}
    <div class="bottom-bannerwtext__text py-4 text-center text-lg-left text-white p-4 px-lg-0">
      <p class="h1">SAVE 20% with our Perfect Skin Kit</p>
      <button class="btn btn-lg btn-primary">Shop Now</button>
    </div>
  </figcaption>
</figure>
