<figure class="hero-banner {{#if reverse}}hero-banner--reverse{{/if}} position-relative mb-0 {{ class }}">
	<picture class="d-block">
		<source srcset="https://via.placeholder.com/1810x1020" media="(min-width: 992px)">
		<img src="https://via.placeholder.com/750x600" alt="Slide {{@index}}" class="d-block w-100">
	</picture>
	<figcaption class="mx-g mx-lg-0 bg-white d-flex align-items-center">
		<div class="hero-banner__text py-3 py-lg-4">
			{{#if @partial-block}}{{> @partial-block }}{{/if}}
		</div>
	</figcaption>
</figure>
