<figure class="ig-reels-card col-9 col-lg-3 flex-grow-1 d-flex flex-wrap flex-column carousel-item mb-0">
    <div class="m-0 pb-3 d-flex flex-column flex-grow-1">
        <video class="w-100" data-id="{{id}}" controls="false" name="media">
        </video>
    </div>
</figure>