<figure class="mega-menu-post-card w-100 position-relative">
	<img src="https://cdn.shopify.com/s/files/1/0277/5262/8295/articles/skinsiders-with-erica_1080x.jpg?v=1616478010" class="w-100">
	<figcaption class="mega-menu-post-card__caption position-absolute bg-white p-2 m-auto">
		<h4 class="text-secondary">Sand & Sky Skinsiders with Erica Jade</h4>
		<a href=""><u>Read more</u></a>
	</figcaption>
</figure>
