<div class="mega-menu position-absolute w-100 pb-3 border-top">
	<div class="container px-g mt-4">
		<div class="row">
			<div class="col-3">
				<a href="#" class="mb-3 font-weight-bold d-inline-block text-decoration-none mega-menu__subtitle">Skin Concern</a>
				<ul class="list-unstyled mb-4">
					<li class="py-1"><a href="#" class="text-decoration-none">Breakouts & Acne</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Dryness</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Dullness & Uneven Skin Tone</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Fine Lines & Wrinkles</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Redness & Sensitivity</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Dark Spots & Hyperpigmentation</a></li>
				</ul>
			</div>
			<div class="col-3">
				<a href="#" class="mb-3 font-weight-bold d-inline-block text-decoration-none mega-menu__subtitle">Ingredients</a>
				<ul class="list-unstyled mb-4">
					<li class="py-1"><a href="#" class="text-decoration-none">Niacinamide</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Vitamin C</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Acids</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Serumides</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Enzymes</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Peptides</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Prebiotics & Probiotics</a></li>
				</ul>
			</div>
			<div class="col-3">
				<a href="#" class="mb-3 font-weight-bold d-inline-block text-decoration-none mega-menu__subtitle">Routine</a>
				<ul class="list-unstyled mb-4">
					<li class="py-1"><a href="#" class="text-decoration-none">Cleanser</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Exfoliator</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Toner</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Mask</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Serum</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Moisturiser (Moisturizer in US)</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Body Care</a></li>
				</ul>
			</div>
			<div class="col-3">
				<a href="#" class="mb-3 font-weight-bold d-inline-block text-decoration-none mega-menu__subtitle">Ranges</a>
				<ul class="list-unstyled mb-4">
					<li class="py-1"><a href="#" class="text-decoration-none">Australian Pink Clay</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Australian Glow Berries</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Tasmanian Spring Water</a></li>
					<li class="py-1"><a href="#" class="text-decoration-none">Oil Control</a></li>
				</ul>
				<a href="#" class="mb-3 font-weight-bold d-inline-block text-decoration-none mega-menu__subtitle">Accessories</a>
			</div>
			<a href="/collections/all" class="px-g text-primary font-weight-bold">Shop all products</a>
		</div>
	</div>
</div>
