<div class="mega-menu position-absolute bg-white w-100 pb-5">
	{{#unless critical}}
	<div class="container px-g mt-4">
		<div class="row flex-grow-1">
			<div class="col-2">
				<h5 class="mb-3">Get To Know Us</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="">Our Story</a></li>
					<li class="mb-2"><a href="">A-Beauty</a></li>
					<li class="mb-2"><a href="">Sustainability</a></li>
				</ul>
			</div>
			<div class="col-2">
				<h5 class="mb-3">Skin Benefits</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="">Real Results</a></li>
					<li class="mb-2"><a href="">FAQ</a></li>
				</ul>
			</div>
			<div class="col-2">
				<h5 class="mb-3">More</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="">Rewards</a><span class="bg-primary px-1 font-size-xs rounded ml-2 text-white">New</span></li>
					<li class="mb-2"><a href="">Login</a></li>
				</ul>
			</div>
			<div class="col-3">
				{{> compounds/mega-menu-post-card }}
			</div>
			<div class="col-3">
				{{> compounds/mega-menu-post-card }}
			</div>
		</div>
	</div>
	{{/unless}}
</div>
