<figure class="mega-menu-post-card w-100 position-relative">
	<img src="https://cdn.shopify.com/s/files/1/0253/9847/6905/articles/header_270x180_crop_center.jpg?v=1627280749" class="w-100">
	<figcaption class="mega-menu-post-card__caption position-absolute bg-white p-2 m-auto">
		<h4 class="text-secondary">Sand & Sky Skinsiders with Erica Jade</h4>
		<a href=""><u>Read more</u></a>
	</figcaption>
</figure>
