<div class="mega-menu position-absolute bg-white w-100 pb-5">
	<div class="container px-g mt-4">
		<div class="row">
			<div class="col-6">
				<h5>Products</h5>
				<ul class="row list-unstyled">
					<li class="col-6 mb-3">
						<h4 class="mb-2">Face Masks</h4>
						<ul class="list-unstyled">
							<li class="mb-2"><a href="" class="link-secondary">Australian Pink Clay Mask</a><span class="bg-secondary p-1 rounded ml-2 text-white">New</span></li>
							<li class="mb-2"><a href="" class="link-secondary">Super Bounce Hydrating Mask</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Major Multi-Masking Kit</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Detox & Glow Kit</a></li>
							<li class="mb-2 d-flex align-items-center"><a href="" class="link-secondary">See all</a><i class="sni sni__long-arrow-right ml-1"></i></li>
						</ul>
					</li>
					<li class="col-6 mb-3">
						<h4 class="mb-2 d-block">Cleanser & Exfoliator</h4>
						<ul class="list-unstyled">
							<li class="mb-2"><a href="" class="link-secondary">Deep Pore Cleanser</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Enzyme Powder Exfoliating Polish</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Flash Perfection Exfoliator</a></li>
							<li class="mb-2 d-flex align-items-center"><a href="" class="link-secondary">See all</a><i class="sni sni__long-arrow-right ml-1"></i></li>
						</ul>
					</li>
					<li class="col-6 mb-3">
						<h4 class="mb-2">Moisturisers & Serums</h4>
						<ul class="list-unstyled">
							<li class="mb-2"><a href="" class="link-secondary">Dreamy Glow Drops Serum</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Splash Serum</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Hydration Boost Cream Moisturizer</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Healthy Hydration Kit</a></li>
							<li class="mb-2 d-flex align-items-center"><a href="" class="link-secondary">See all</a><i class="sni sni__long-arrow-right ml-1"></i></li>
						</ul>
					</li>
					<li class="col-6 mb-3">
						<h4 class="mb-2">Body</h4>
						<ul class="list-unstyled">
							<li class="mb-2"><a href="" class="link-secondary">Wonder Body Lotion</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Smoothing Body Sand Scrub</a></li>
							<li class="mb-2"><a href="" class="link-secondary">Total Detox Kit</a></li>
							<li class="mb-2 d-flex align-items-center"><a href="" class="link-secondary">See all</a><i class="sni sni__long-arrow-right ml-1"></i></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<h5>Skin Benefits</h5>
				<ul class="list-unstyled">
					<li class="mega-menu__range mb-2 sni sni__range-apc position-relative align-items-center">
						<a href="" class="d-block text-decoration-none ml-2">
							<small class="d-block">Detoxify</small>
							<h4 class="font-weight-normal mb-0">Australia Pink Clay</h4>
						</a>
					</li>
					<li class="mega-menu__range mb-2 sni sni__range-aea position-relative align-items-center">
						<a href="" class="d-block text-decoration-none ml-2">
							<small class="d-block">Brighten</small>
							<h4 class="font-weight-normal mb-0">Australia Emu Apple</h4>
						</a>
					</li>
					<li class="mega-menu__range mb-2 sni sni__range-tsw position-relative align-items-center">
						<a href="" class="d-block text-decoration-none ml-2">
							<small class="d-block">Hydrate</small>
							<h4 class="font-weight-normal mb-0">Tasmanian Spring Water</h4>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-3">
				<h5>More</h5>
				<ul class="list-unstyled">
					<li class="mb-2"><a href="" class="link-secondary">Bestsellers</a></li>
					<li class="mb-2"><a href="" class="link-secondary">Gift & Kits</a></li>
					<li class="mb-2"><a href="" class="link-secondary">Travel Size</a></li>
					<li class="mb-2"><a href="" class="link-secondary">Accesories</a></li>
					<li class="mb-2"><a href="" class="link-secondary">Gift Cards</a></li>
				</ul>
			</div>
			<button class="col-3 btn btn-primary mb-2">Shop All</buttom>
		</div>
	</div>
</div>