<nav class="mobile-nav bg-white position-fixed d-lg-none">
	{{#unless critical}}
	<img class="svg mobile-nav__close" src="icons/close.svg" replace-to-svg />
	<ul id="mobileMenu" class="mobile-nav__menu h-100 col-12 bg-white list-unstyled p-0">
		<li class="d-flex justify-content-center w-100">
			<a href="#" class="navbar-brand mx-auto d-flex text-secondary">
				<img class="svg" src="icons/logo-ss.svg" replace-to-svg />
			</a>
		</li>
		<li class="d-flex mobile-nav__banner w-100  p-2 border-0">
			<div class="position-relative m-0 d-flex px-g py-2 bg-aea-light">
				<img class="svg text-body" src="icons/percent-square.svg" replace-to-svg />
				<div class="mobile-nav__banner-content pl-g">
					<p class="mb-0">Up to 50% OFF SALE!</p>
					<a href="javascript:void(0);" class="text-primary text-underline">on selected items</a>
				</div>
				<img class="svg text-range-aea-light position-absolute banner-decoration" src="icons/menu-banner-decoration.svg" replace-to-svg />
			</div>
		</li>
		<li class="d-flex mobile-nav__banner w-100 pt-0 pb-2 px-2 border-0">
			<div class="position-relative m-0 w-100 d-flex px-g py-2 bg-secondary-light">
				<img class="svg text-body" src="icons/skin-pore.svg" replace-to-svg />
				<div class="mobile-nav__banner-content pl-g">
					<p class="mb-0">Discover your routine to flawless skin</p>
					<a href="javascript:void(0);" class="text-primary text-underline">Take our Skin Quiz</a>
				</div>
			</div>
		</li>
		<li class="px-3 py-2 d-flex align-items-center w-100">
			<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			<input type="radio" name="menu" class="d-none" id="skin-concerns">
			<label class="position-relative m-0 w-100" for="skin-concerns">Skin Concerns</label>
			<ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
				<input type="radio" name="menu" id="back-to-menu-skin-concerns" class="d-none">
				<label for="back-to-menu-skin-concerns" class="mobile-nav__back px-3 py-2 m-0 position-absolute d-flex align-items-center">
					<img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
					Back
				</label>
				<li class="px-3 py-2"><h4>Skin Concerns</h4></li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Breakouts & Acne</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Dryness</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Dullness & Uneven Skin Tone</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Fine Lines & Wrinkles</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Redness & Sensitivity</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Dark Spots & Hyperpigmentation</a>
				</li>
			</ul>
		</li>
		<li class="px-3 py-2 d-flex align-items-center w-100">
			<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			<input type="radio" name="menu" class="d-none" id="ingredients">
			<label class="position-relative m-0 w-100" for="ingredients">Ingredients</label>
			<ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
				<input type="radio" name="menu" id="back-to-menu-ingredients" class="d-none">
				<label for="back-to-menu-ingredients" class="mobile-nav__back px-3 py-2 m-0 position-absolute d-flex align-items-center">
					<img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
					Back
				</label>
				<li class="px-3 py-2"><h4>Ingredients</h4></li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Niacinamide</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Vitamin C</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Acids</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Enzymes</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Peptides</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Prebiotics & Probiotics</a>
				</li>
			</ul>
		</li>
		<li class="px-3 py-2 d-flex align-items-center w-100">
			<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			<input type="radio" name="menu" class="d-none" id="routine">
			<label class="position-relative m-0 w-100" for="routine">Routine</label>
			<ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
				<input type="radio" name="menu" id="back-to-menu-routine" class="d-none">
				<label for="back-to-menu-routine" class="mobile-nav__back px-3 py-2 m-0 position-absolute d-flex align-items-center">
					<img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
					Back
				</label>
				<li class="px-3 py-2"><h4>Routine</h4></li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Cleanser</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Exfoliator</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Toner</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Mask</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Serum</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Moisturizer</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<a href="#">Body Care</a>
				</li>
			</ul>
		</li>
		<li class="px-3 py-2 d-flex align-items-center">
			<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			<input type="radio" name="menu" class="d-none" id="ranges">
			<label class="position-relative m-0 w-100" for="ranges">Ranges</label>
			<ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
				<input type="radio" name="menu" id="back-to-menu-ranges" class="d-none">
				<label for="back-to-menu-ranges" class="mobile-nav__back px-3 py-2 m-0 position-absolute d-flex align-items-center">
					<img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
					Back
				</label>
				<li class="px-3 py-2"><h4>Ranges</h4></li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
					<img class="svg range-icon text-secondary mr-2" src="icons/range-apc.svg" replace-to-svg />
					<a href="#" class="position-relative m-0 w-100">
						<h4 class="d-block font-weight-bold m-0 text-secondary">Australian Pink Clay</h4>
						<h5 class="font-weight-normal mb-0">Detoxify</h5>
					</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
					<img class="svg range-icon text-aea mr-2" src="icons/range-aea.svg" replace-to-svg />
					<a href="#" class="position-relative m-0 w-100">
						<h4 class="d-block font-weight-bold m-0 text-aea">Australian Emu Apple</h4>
						<h5 class="font-weight-normal mb-0">Brighten</h5>
					</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
					<img class="svg range-icon text-tsw mr-2" src="icons/range-tsw.svg" replace-to-svg />
					<a href="#" class="position-relative m-0 w-100">
						<h4 class="d-block font-weight-bold m-0 text-tsw">Tasmanian Spring Water</h4>
						<h5 class="font-weight-normal mb-0">Hydrate</h5>
					</a>
				</li>
				<li class="px-4 py-2 d-flex align-items-center w-100">
					<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
					<img class="svg range-icon text-oil mr-2" src="icons/range-oil.svg" replace-to-svg />
					<a href="#" class="position-relative m-0 w-100">
						<h4 class="d-block font-weight-bold m-0 text-oil">Oil Control</h4>
						<h5 class="font-weight-normal mb-0">Purify</h5>
					</a>
				</li>
			</ul>
		</li>
		<li class="px-3 py-2 align-items-center">
			<a class="position-relative m-0">Value Kits</a>
		</li>
		<li class="px-3 py-2 align-items-center">
			<a class="position-relative m-0">Best Sellers</a>
		</li>
		<li class="px-3 py-2 align-items-center">
			<a class="position-relative m-0">Accesories</a>
		</li>
		<li class="px-3 py-3 align-items-center">
			<a class="position-relative m-0 btn btn-lg btn-primary w-100">Shop All</a>
		</li>
		<li class="px-3 py-2 d-flex align-items-center w-100">
			<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
			<input type="radio" name="menu" class="d-none" id="countries">
			<label class="position-relative m-0 w-100 d-flex countries" for="countries">
				<img class="svg mr-2" src="icons/earth.svg" replace-to-svg />
				US (USD)
			</label>
			<ul class="mobile-nav__menu-child position-absolute bg-white col-12 list-unstyled p-0 h-100">
				<input type="radio" name="menu" id="back-to-menu" class="d-none">
				<label for="back-to-menu" class="mobile-nav__back px-3 py-2 m-0 position-absolute d-flex align-items-center bg-white">
					<img class="svg font-size-sm mr-1" src="icons/chevron-prev.svg" replace-to-svg />
					Back
				</label>
				<li class="px-3 py-2"><h4>Language / Currency</h4></li>
				<li class="px-4 py-2 align-items-center w-100">

					<a class="position-relative m-0 w-100 d-block">USA (USD)</a>
				</li>
				<li class="px-4 py-2 align-items-center w-100">
					<a class="position-relative m-0 w-100 d-block mobile-nav__currency-active">Australia (AUD)</a>
				</li>
			</ul>
		</li>
		<li class="mobile-nav__other-menu w-100">
			<ul class="row list-unstyled px-3 my-2">
				<li class="col-6 px-3 py-1 border-0 nav-item__hide">
					<a href="" class="position-relative m-0">Login</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">A Beauty</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Sustainability</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Our Mission</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Rewards <span class="bg-primary px-1 font-size-xs rounded text-white">New</span></a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">FAQ</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Track My Order</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Blog</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Sustainability</a>
				</li>
				<li class="col-6 px-3 py-1 border-0">
					<a href="" class="position-relative m-0">Sweepstakes <span class="bg-primary px-1 font-size-xs rounded text-white">New</span></a>
				</li>
			</ul>
		</li>
	</ul>
	{{/unless}}
</nav>
