<ul class="list-unstyled dropdown-menu overflow-hidden d-block mt-0 border-0 rounded-0 p-g" aria-labelledby="{{id}}">
	{{#if ddSkinConcern }}
	<li class="pb-3"><a href="#" class="text-decoration-none">Breakouts & Acne</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Dryness</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Dullness & Uneven Skin Tone</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Fine Lines & Wrinkles</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Redness & Sensitivity</a></li>
	<li class="pb-1"><a href="#" class="text-decoration-none">Dark Spots & Hyperpigmentation</a></li>
	{{/if}}
	{{#if ddIngredients }}
	<li class="pb-3"><a href="#" class="text-decoration-none">Niacinamide</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Vitamin C</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Acids</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Serumides</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Enzymes</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Peptides</a></li>
	<li class="pb-1"><a href="#" class="text-decoration-none">Prebiotics & Probiotics</a></li>
	{{/if}}
	{{#if ddRoutine}}
	<li class="pb-3"><a href="#" class="text-decoration-none">Cleanser</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Exfoliator</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Toner</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Mask</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Serum</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Moisturiser (Moisturizer in US)</a></li>
	<li class="pb-1"><a href="#" class="text-decoration-none">Body Care</a></li>
	{{/if}}
	{{#if ddRanges}}
	<li class="pb-3"><a href="#" class="text-decoration-none">Australian Pink Clay</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Australian Glow Berries</a></li>
	<li class="pb-3"><a href="#" class="text-decoration-none">Tasmanian Spring Water</a></li>
	<li class="pb-1"><a href="#" class="text-decoration-none">Oil Control</a></li>
	{{/if}}
</ul>
