<ul class="nav justify-content-center nav__range-desktop d-none">
	<li class="nav-item">
		<a href="#" class="nav-link p-g font-weight-bold">Australian Pink Clay</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link p-g font-weight-bold">Tasmanian Spring Water</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link p-g font-weight-bold">Australian Emu Apple</a>
	</li>
	<li class="nav-item">
		<a href="#" class="nav-link p-g font-weight-bold">Oil Control</a>
	</li>
</ul>
