<div class="blog-post-grid__newsletter container px-0 bg-primary text-white">
	<div class="w-100 row bg-primary-light-second mb-2 mx-0">
		<picture class="col-lg-3 col-12 p-0">
			<source srcset="https://via.placeholder.com/180x278.jpg/F9F9F9" media="(min-width: 992px)">
			<img src="https://via.placeholder.com/375x120.jpg/F9F9F9" class="w-100">
		</picture>
		<div class="blog-post-grid__newsletter--content col-12 col-lg-9 p-4 pr-lg-6">
			<h2 class="font-weight-bold mb-3">The place you need to go to for all things  Sand & Sky!</h2>
			<p class="mb-3">From expert tips to routines, problem-solutions to blog-exclusive deals - you definitely do not want to miss this!</p>
			<form class="d-flex col-lg-9 px-0 mt-2 mt-lg-3">
				<input class="form-control border-right-0 rounded-right-0 bg-transparent border-white text-white"
					placeholder="E-mail address" />
				<button
					class="input-group-text bg-transparent border-left-0 border border-white text-white rounded-left-0 d-flex"
					type="submit" aria-label="Submit">
					<img class="svg" src="icons/chevron-next.svg" replace-to-svg />
				</button>
			</form>
			<div class="blog-post-grid__newsletter--submitted d-none ml-3 ml-lg-0 form-group mb-3 text-left align-items-center">
				<img class="checkmark" src="icons/green-checkmark.svg" replace-to-svg /><span class="ml-1">We will send you an email when product is available again.</span>
			</div>
			<p class="font-size-sm mt-3 mb-0">Our Privacy Policy has more information about how we use data.</p>
		</div>
	</div>
</div>