<figure class="{{ class }} flex-column pb-2 product-card px-0 px-lg-g product-card product-card--quiz position-relative">
	<picture class="mx-n2 m-lg-0">
        <source media="(min-width:992px)" srcset="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/SkinQuiz_DT_Banner_570x1080_crop_center.jpg?v=1686814228">
        <img alt="Tan Quiz" class="w-100 rounded-0" src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/SkinQuiz_M_Banner.jpg?v=1686814227" loading="lazy">
	</picture>

    <figcaption class="position-absolute mt-lg-5 mx-ng col-7 col-lg-auto text-center pr-lg-0">
		<p class="font-size-lg product-card--quiz__title font-weight-bold mb-2 mb-lg-3 {{ textClass }}">{{ text }}</p>
		<a href="/pages/customers-survey" class="btn btn-lg p-2 bg-white border-primary text-primary font-weight-bold quiz__link--trigger">Find my match</a>
	</figcaption>
</figure>
