
<figure class="product-card__featured col-md-3">
	<picture class="d-block">
		<img src="https://via.placeholder.com/444x558" alt="Placeholder" class="d-block w-100">
	</picture>
	<figcaption class="mt-2 text-center">
        <p class="h5 font-weight-normal">Tasmanian Spring Water</p>
        <h4>Hydration Boost Cream</h4>
		<p class="mb-2"><span class="text-muted text-linethrough">$39.73</span> <span class="font-weight-bold">$39.73</span></p>
        <button class="btn btn-primary btn-block">Add to Cart</button>
	</figcaption>
</figure>
