<div class="product__waitlist-form bg-gray-100 w-100 p-3 mb-3 rounded text-center">
	<h4>Restock coming soon</h4>
	<p class="mb-3 font-size-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat id sit nunc sit ut tellus cursus blandit lacus. Vestibulum sed pharetra vitae cras pharetra in.</p>
	<form class="d-flex">
		<input type="text" class="form-control py-1 px-2 text-body border-dark font-size-dt-lg rounded flex-grow-1" placeholder="Email address">
		<button class="btn btn-primary btn-block ml-g ml-lg-2 col-3 col-lg-3 px-1 btn-black">Submit</button>
	</form>
	<small class="col-12 text-danger email-error d-none px-0 mt-1 text-left">Invalid Email Address</small>
</div>
<div class="product__waitlist-submitted bg-gray-100 w-100 p-3 my-3 rounded text-center d-none">
	<h4>Thank you</h4>
	<p class="mb-3 font-size-sm">We have received your email and will notifiy you when this item is back in stock!</p>
	<a class="btn btn-primary btn-block col-7 col-lg-5 mx-auto">Shop other products</a>
</div>