<figure class="product-card position-relative col-6 mb-2 {{ class }}">
	<picture class="d-block">
		<img src="https://via.placeholder.com/444x558{{# if color}}/{{ color }}/fff{{/if}}" alt="Placeholder" class="d-block w-100">
	</picture>
	<figcaption class="mt-1">
		{{# if badge}}<span class="badge badge-light position-absolute font-weight-normal">{{ badge }}</span>{{/if}}
		<p class="product-card__text-sm mb-1 text-muted">Tasmanian Spring Water</p>
		<p class="product-card__text mb-1 font-weight-bold">Hydration Boost Cream</p>
		<p class="product-card__text-sm mb-1">4.8/5 - 120 reviews</p>
		<p class="product-card__text mb-1"><span class="text-muted text-linethrough">$39.73</span> <span class="font-weight-bold">$39.73</span></p>
		<button class="btn btn-lg btn-block btn-outline-primary">Add to cart</button>
	</figcaption>
</figure>
