<div class="mt-4 container pt-7">
  <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 justify-content-center">
    <figcaption class="col-12 col-lg-6 order-last p-0">
      <div class="mx-g imagewtext--large__content bg-aea-light text-left py-2 py-lg-6 pl-0 pl-lg-6 imagewtext__aea-decoration">
        <p class="text-aea font-weight-bold text-center text-lg-left h1">Glow, you good thing!</p>
        <ul class="list-unstyled py-2 py-lg-4 text-left between-space px-2 px-lg-0">
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal pt-2">
            <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
            Glow, with lit-from-within skin
          </li>
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
            Smooth and even skin tone
          </li>
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
            Plump, juicy, hydrated skin
          </li>
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-aea d-inline mr-1 mb-0 mt-1"></i>
            Reduced appearance of  fine lines and pigmentation
          </li>
        </ul>
      </div>
    </figcaption>
    <div class="col-12 col-lg-6 p-0 p-lg-2">
      <picture class="d-block imagewtext--large__picture">
        <source srcset="https://via.placeholder.com/540x540" media="(min-width: 992px)"/>
        <img src="https://via.placeholder.com/350x350" class="w-100">
      </picture>
    </div>
  </figure>
</div>
