<figure class="range-banner mb-5">
  <a href="/">
    <picture class="d-block">
      <source srcset="https://via.placeholder.com/1440x200" media="(min-width: 992px)"/>
      <img class="w-100" src="https://via.placeholder.com/750x200"/>
    </picture>
  </a>
</figure>
