<div class="mt-4 p-0 pt-7 pt-lg-4 container">
  <figure class="imagewtext imagewtext--large row flex-row-reverse mb-lg-2 mt-5 mx-0 justify-content-center align-items-center">
    <figcaption class="col-12 col-lg-5 order-last p-0">
      <div class="mx-g mr-lg-n7 imagewtext--large__content mt-lg-0 p-2 pt-lg-6 pb-lg-6 px-lg-6 bg-tsw text-left text-white imagewtext__tsw-decoration">
        <p class="text-white font-weight-bold text-center text-lg-left h1">Take the plunge</p>
        <ul class="list-unstyled pt-0 pb-2 py-lg-4 text-left between-space px-2 px-lg-0">
          <li class="h4 d-flex flex-row justify-content-start align-items-center pt-5 pt-lg-0 font-weight-normal">
            <img class="svg text-primary d-inline mr-1" src="icons/range-tsw.svg" replace-to-svg />
            Deeply hydrated, healthy skin
          </li>
          <li class="pt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <img class="svg text-primary d-inline mr-1" src="icons/range-tsw.svg" replace-to-svg />
            Repaired skin barrier + reduced moisture loss
          </li>
          <li class="pt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <img class="svg text-primary d-inline mr-1" src="icons/range-tsw.svg" replace-to-svg />
            Smooth texture & even skin tone
          </li>
          <li class="pt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <img class="svg text-primary d-inline mr-1" src="icons/range-tsw.svg" replace-to-svg />
            Skin so soft, you could dive right in
          </li>
        </ul>
      </div>
    </figcaption>
    <div class="col-12 col-lg-5 p-0">
      <picture class="d-block imagewtext--large__picture">
        <source srcset="https://via.placeholder.com/470x470" media="(min-width: 992px)"/>
        <img src="https://via.placeholder.com/350x350" class="w-100"/>
      </picture>
    </div>
  </figure>
</div>
