<div class="bg-secondary-light">
  <div class="mt-4 p-lg-0 container">
    <figure class=" row flex-row position-relative mb-lg-2 mt-5 justify-content-center align-items-center py-4">
      <figcaption class="h1 col-12 col-lg-5 offset-lg-1 position-relative text-secondary font-weight-bold text-center text-lg-left pb-2 pb-lg-0 pr-lg-0">
        From bush to your <br/> bathroom.
      </figcaption>
      <div class="col-12 col-lg-6 pl-lg-0 position-relative">
        <picture class="position-relative">
          <source srcset="../images/apc-map-desktop.svg" media="(min-width: 992px)"/>
          <img src="../images/apc-map-mobile.svg" class="w-100" data-skip-inject-svg="true" />
        </picture>
      </div>
    </figure>
  </div>
</div>
