<div class="mt-4 px-0 container-fluid pt-7">
  <figure class="imagewtext imagewtext--reverse row flex-row-reverse mb-lg-2 mt-5 justify-content-center align-items-center mx-0 py-lg-4">
    <div class="col-12 col-lg-6 order-first order-lg-last p-0">
      <picture class="position-absolute dots-decoration">
        <img src="../images/pores-pink-dotes.svg" data-skip-inject-svg="true">
      </picture>
      <picture class="position-relative">
        <source srcset="https://via.placeholder.com/640x560" media="(min-width: 992px)"/>
        <img src="https://via.placeholder.com/375x375" class="w-100"/>
      </picture>
    </div>
    <figcaption class="col-12 col-lg-6 p-0">
      <div class="mx-g mt-n6 mt-lg-0 ml-lg-n6 mr-lg-0 imagewtext__content-reverse-text mt-lg-0 bg-secondary-light text-center text-lg-left p-4 p-lg-7">
        <p class="text-secondary pt-2 pt-lg-7 font-weight-bold px-2 h1 pl-lg-6">Show your pores who’s boss.</p>
        <ul class="list-unstyled py-2 py-lg-4 text-left px-3 pl-lg-6">
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
            Deep cleansed, detoxified skin
          </li>
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
            Refined pores &amp; a perky complexion
          </li>
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
            Smooth texture &amp; even skin tone
          </li>
          <li class="mt-1 h4 d-flex flex-row justify-content-start align-items-center font-weight-normal">
            <i class="h6 sni sni__checklist text-secondary d-inline mr-1 mb-0 mt-1"></i>
            Shine-free, radiant results
          </li>
        </ul>
        <a href="#" class="btn btn-lg btn-primary mt-2 mb-2 mb-lg-7 rounded-0 ml-lg-7">Shop Now</a>
      </div>
    </figcaption>
  </figure>
</div>
