<figure class="range-banner text-center mb-6">
  <a href="/">
    <picture>
      <source srcset="https://via.placeholder.com/1280x320" media="(min-width: 992px)"/>
      <source srcset="https://via.placeholder.com/375x394"/>
      <img class="w-100" src="https://via.placeholder.com/375x394"/>
    </picture>
  </a>
  <figcaption class="px-g d-inline-block mt-n6">
    <p class="h1 m-0 {{padding}} text-white text-center {{background}}">{{title}}</p>
  </figcaption>
</figure>
