<figure class="review-card col-9 col-lg-4">
	<picture class="d-block">
        <source srcset="https://via.placeholder.com/370x370" media="(min-width: 992px)">
        <img src="https://via.placeholder.com/280x280" alt="Placeholder" class="d-block w-100">
	</picture>
	<figcaption class="mt-n2 mx-3 p-2 p-lg-3 text-center position-relative font-size-sm">
        <p>Love this amazing face mask made out of PINK AUSTRALIAN CLAY. This amazing mask: DETOXS, INVIGORATES, REFINES, BRIGHTENS #facemaskfriday #sandandsky<br>-<br>@yueli_iacopino_official_</p>
	</figcaption>
</figure>
