<div class="search-box w-100 overflow-hidden bg-white">
	{{#unless critical}}
	<div class="search-box__top w-100">
		<div class="container px-g">
			<div class="row position-relative d-flex align-items-center">
				<input type="text" placeholder="Type search terms here" name="q" class="col-12  border-0 py-3">
				<a class="search-box__clear position-absolute align-items-center font-weight-bold disabled" href="javascript:void(0)">Clear</a>
				<a class="search-box__close position-absolute align-items-center font-weight-bold d-flex" href="javascript:void(0)">
					<img class="svg font-size-xs" src="icons/close.svg" replace-to-svg />
				</a>
			</div>
		</div>
	</div>
	<h5 class="search-box__no-result text-center pb-3 d-none">Your search returned no results</h5>
	<div class="search-box__home container px-g pt-3">
		<div class="row">
			<h5 class="col-12 col-lg-4 mb-lg-4 font-weight-normal order-1 font-weight-normal">Popular searched here</h5>
			<h5 class="col-12 col-lg-8 mb-lg-4 font-weight-normal order-3 order-lg-2 font-weight-normal">Popular searched products</h5>
			<div class="col-12 col-lg-4 order-2 mb-2">
				<span class="search-box__tag p-2 mr-1 d-inline-block mb-2">exfoliator</span>
				<span class="search-box__tag p-2 mr-1 d-inline-block mb-2">moisturizer</span>
				<span class="search-box__tag p-2 mr-1 d-inline-block mb-2">hydrate</span>
				<span class="search-box__tag p-2 mr-1 d-inline-block mb-2">cream</span>
				<span class="search-box__tag p-2 mr-1 d-inline-block mb-2">serum</span>
			</div>
			{{> compounds/search-box-product-card class="mb-2 order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
			{{> compounds/search-box-product-card class="mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
			{{> compounds/search-box-product-card class=" mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
			{{> compounds/search-box-product-card class=" mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
		</div>
	</div>
	<div class="search-box__result container mt-lg-4 px-g" style="display: none;">
		<div class="row">
			<h4 class="container mt-3 mt-lg-0">X Results</h4>
			{{#> sections/carousel-scroll class="mb-3" id="search-products" no-scrollbar="true" controlclass="carousel-control d-none d-lg-flex"}}
				{{> compounds/search-box-product-card class="carousel-item mb-2 order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
				{{> compounds/search-box-product-card class="carousel-item mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
				{{> compounds/search-box-product-card class="carousel-item mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
				{{> compounds/search-box-product-card class="carousel-item mb-2  order-4" color="ff6f8d" title="Hydration Boost"}}
				{{> compounds/search-box-product-card class="product-image-carouse mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
				{{> compounds/search-box-product-card class="product-image-carousel mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
				{{> compounds/search-box-product-card class="product-image-carousel mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
				{{> compounds/search-box-product-card class="product-image-carousel mb-2  order-4" color="ff6f8d" title="Hydration Boost Cream Moisturiser (2 lines)"}}
			{{/ sections/carousel-scroll}}
		</div>
		<p>Now what you're looking for? Check our <a href="https://support.sandandsky.com/hc/en-us" class="link-secondary">FAQs here</a></p>
	</div>
	{{/unless}}
</div>
