<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Accordion | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
	
</head>
<body>
	<div class="container mt-4">
		<h1>Accordion</h1>
		<div class="row">
			<div class="col-12 col-lg-5">
				<ul id="accordion" class="accordion list-unstyled border-top mt-4">
					<li class="border-bottom">
						<span class="py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible1" aria-expanded="true" aria-controls="collapsible1">Colapsible 1</span>
						<div id="collapsible1" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
					<li class="border-bottom">
						<span class="py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible2" aria-expanded="true" aria-controls="collapsible2">Colapsible 2</span>
						<div id="collapsible2" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
					<li class="border-bottom">
						<span class="py-3 w-100 justify-content-between collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#collapsible3" aria-expanded="true" aria-controls="collapsible3">Colapsible 3</span>
						<div id="collapsible3" class="collapse" data-parent="#accordion">
							<p class="pb-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	
	<script src="/sandandsky-styleguides/js/bootstrap.js" defer></script>
	<script src="/sandandsky-styleguides/js/globals.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
	
</body>
</html>