<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Announcement Bar | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous" />
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
</head>

<body>
	<div class="container mt-4">
		<h1>Announcement Bar</h1>
	</div>
	<div class="announcement-bar bg-secondary">
		<div class="container font-weight-bold text-center">
			<a href="#">Up to 25% off + Free Gift worth $25.40</a>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	
	<script src="/sandandsky-styleguides/js/bootstrap.js" defer></script>
	<script src="/sandandsky-styleguides/js/globals.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
</body>

</html>
