<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Breadcrumb | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
</head>
<body>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#" class="text-underline breadcrumb-item__link">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#" class="text-underline breadcrumb-item__link">Skintervention</a>
				</li>
				<li class="breadcrumb-item d-block active" aria-current="page">
					How To Style & Maintain Bangs: The Ultimate Guide How To Style & Maintain Bangs
				</li>
			</ol>
		</nav>
	</div>
</body>
</html>
