<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Buttons | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Buttons</h1>
		<div class=" d-flex flex-column align-items-start">
			<button class="btn btn-primary mb-2">Button</button>
			<button class="btn btn-outline-primary mb-2">Button</button>
			<a class="btn btn-primary mb-2" role="button">Button using class</a>
			<button class="btn btn-primary mb-2" disabled>Button disabled</button>
			<button class="btn btn-outline-primary mb-2" disabled>Button disabled</button>
			<button class="btn btn-primary btn__with-icon d-flex align-items-center mb-2 sni-after sni__search">Button With Icon</button>
			<button class="btn btn-lg btn-primary mb-2">Button Large</button>
			<button class="btn btn-lg btn-outline-primary mb-2">Button Large</button>
			<button class="btn btn-primary btn-block mb-2">Button Block</button>
			<button class="btn btn-outline-primary btn-block mb-2">Button Block</button>
			<button class="btn btn-lg btn-primary btn-block mb-2">Button Large Block</button>
			<button class="btn btn-lg btn-outline-primary btn-block mb-2">Button Large Block</button>
			<button class="btn btn-secondary">Button Secondary</button>
		</div>
	</div>
</body>

</html>
