<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Dropdown | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
	
</head>

<body>
	<div class="container mt-4 px-g">
		<h1>Dropdown</h1>
		<div class="dropdown">
			<a class="dropdown-toggle font-weight-bold" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				US (USD)
			</a>
			<div class="dropdown-menu p-0 text-right" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5 active" href="#">United Kingdom (GBP)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">USA (USD)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Canada (CAD)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Australia (AUD)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Europe (EUR)</a>
				<a class="dropdown-item position-relative pt-2 pb-2 pr-5" href="#">Rest of the World (USD)</a>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/sandandsky-styleguides/js/bootstrap.js" defer></script>
	<script src="/sandandsky-styleguides/js/globals.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
	
</body>
</html>
