<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Forms | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
	
</head>

<body>
	<div class="container mt-4">
		<h1>Forms</h1>
		<div class="row">
			<div class="col col-lg-12">
				<form class="px-g">
					<div class="row form-group">
						<label for="inputText">Input:</label>
			    	<input type="text" class="form-control" id="inputText">
					</div>
					<div class="row form-group">
						<label for="inputSearch">Search:</label>
						<div class="input-group">
							<input type="text" id="inputSearch" class="form-control border-right-0" placeholder="input with icon">
							<div class="input-group-append">
								<span class="input-group-text sni sni__search"></span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label for="inputSearch">Select:</label>
						<div class="input-group">
							<select class="custom-select">
								<option selected>Select</option>
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<label for="inputSearch">Textarea:</label>
						<div class="input-group">
					    <textarea type="text" class="form-control" row="8" id="textarea" placeholder="textarea"></textarea>
						</div>
				  </div>
				</form>
			</div>
		</div>

		<h1>Form Horizontal</h1>
		<div class="row">
			<div class="col col-lg-12">
				<form class="px-g">
					<div class="row">
				    <div class="col-lg-6 px-0 px-lg-g">
							<label for="inputText1">Label</label>
				      <input type="text" class="form-control" id="inputText1">
				    </div>
				    <div class="col-lg-6 px-0 px-lg-g">
							<label for="inputText2">Label</label>
				      <input type="text" class="form-control" id="inputText2">
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	
	
	<script src="/sandandsky-styleguides/js/globals.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
	
</body>

</html>
