<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Product Image Carousel | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous" />
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
</head>
<body>
	<div class="container mt-4">
		<h1>Product Image Vertical Carousel</h1>
		<div class="row">
			<div class="product-image-carousel__container col-12 col-lg-6 order-lg-2 px-0 px-lg-g">
				<figure id="product-image-carousel" class="product-image-carousel carousel slide mb-0 no-gutters__in-container d-none d-lg-flex flex-column" data-ride="carousel" data-interval="false" data-indicator="#product-image-carousel__indicator">
					<div class="carousel-inner d-flex flex-nowrap order-lg-2" role="listbox">
						<picture class="col-12 px-0 carousel-item active">
							<source srcset="https://via.placeholder.com/1140x1418/?text=1" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=1" alt="Slide 1">
						</picture>
						<picture class="col-12 px-0 carousel-item ">
							<source srcset="https://via.placeholder.com/1140x1418/?text=2" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=2" alt="Slide 2">
						</picture>
						<picture class="col-12 px-0 carousel-item">
							<source srcset="https://via.placeholder.com/1140x1418/?text=3" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=3" alt="Slide 3">
						</picture>
						<picture class="col-12 px-0 carousel-item">
							<source srcset="https://via.placeholder.com/1140x1418/?text=4" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=4" alt="Slide 4">
						</picture>
						<picture class="col-12 px-0 carousel-item">
							<source srcset="https://via.placeholder.com/1140x1418/?text=5" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=5" alt="Slide 5">
						</picture>
						<picture class="col-12 px-0 carousel-item">
							<source srcset="https://via.placeholder.com/1140x1418/?text=6" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=6" alt="Slide 6">
						</picture>
						<picture class="col-12 px-0 carousel-item">
							<source srcset="https://via.placeholder.com/1140x1418/?text=7" media="(min-width: 992px)">
							<img class="w-100" src="https://via.placeholder.com/750x750/?text=7" alt="Slide 7">
						</picture>
					</div>
				</figure>
			
				<figure class="product-image-carousel carousel carousel--preview slide mb-0 no-gutters__in-container d-lg-none flex-column" data-ride="carousel" data-interval="false" data-indicator="#product-image-carousel__indicator">
					<div class="carousel-inner d-flex flex-nowrap order-lg-2" role="listbox">
						<div class="col-12 px-0 carousel-item active">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=1" alt="Slide 1">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=2" alt="Slide 2">
						</div>
						<div class="col-12 px-0 carousel-item ">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=2" alt="Slide 2">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=3" alt="Slide 3">
						</div>
						<div class="col-12 px-0 carousel-item">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=3" alt="Slide 3">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=4" alt="Slide 4">
						</div>
						<div class="col-12 px-0 carousel-item">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=4" alt="Slide 4">
							<img class="item__third" src="https://via.placeholder.com/750x750/?text=1" alt="Slide 1">
						</div>
					</div>
			
					<ol class="carousel-indicators d-lg-none position-static mt-2 mb-0 mx-g justify-content-end">
						<li data-target="#product-image-carousel-ab-2" data-slide-to="0" class="rounded active"></li>
						<li data-target="#product-image-carousel-ab-2" data-slide-to="1" class="rounded"></li>
						<li data-target="#product-image-carousel-ab-2" data-slide-to="2" class="rounded"></li>
						<li data-target="#product-image-carousel-ab-2" data-slide-to="3" class="rounded"></li>
					</ol>
				</figure>
			
				<picture class="product-image-carousel__badge position-absolute">
					<img class="w-100" src="https://cdn.shopify.com/s/files/1/0277/5262/8295/files/BFCM_Roundel-BUNDLE_v2.svg?v=1657855164">
				</picture>
			</div>
			
			<div id="product-image-carousel__indicator-vertical" class="d-none d-lg-block product-image-carousel__indicator col-12 col-lg-1 order-lg-1 carousel slide carousel--loop mb-1" data-interval="false" >
				<div class="carousel-inner d-flex flex-nowrap flex-lg-column justify-content-start justify-content-lg-start" data-target="#product-image-carousel">
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100 active" data-slide-to="0" data-index="1" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-secondary" src="https://via.placeholder.com/150x150/?text=1" alt="Slide 1">
					</div>
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="1" data-index="2" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-white" src="https://via.placeholder.com/150x150/?text=2" alt="Slide 2">
					</div>
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="2" data-index="3" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-white" src="https://via.placeholder.com/150x150/?text=3" alt="Slide 3">
					</div>
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="3" data-index="4" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-white" src="https://via.placeholder.com/150x150/?text=4" alt="Slide 4">
					</div>
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="4" data-index="5" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-white" src="https://via.placeholder.com/150x150/?text=5" alt="Slide 5">
					</div>
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="5" data-index="6" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-white" src="https://via.placeholder.com/150x150/?text=6" alt="Slide 6">
					</div>
					<div class="product-image-carousel__indicator__item carousel-item col-12 px-lg-0 pb-lg-2 mw-100" data-slide-to="6" data-index="7" data-target="#product-image-carousel">
						<img class="m-0 border img-fluid mx-auto d-block border-white" src="https://via.placeholder.com/150x150/?text=7" alt="Slide 7">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/sandandsky-styleguides/js/globals.js"></script>
	<script src="/sandandsky-styleguides/js/lazyload.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	
	<script src="/sandandsky-styleguides/js/bootstrap.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
</body>
</html>
