<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Tooltip | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous" />
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
</head>

<body>
	<div class="container mt-4 px-g">
		<div class="col-12">
			<h1>Tooltip</h1>
			<h3>Tooltip with close button</h3>
		</div>
	</div>
	<div class="container position-relative px-g">
		<div class="col-lg-4 tooltip text-center py-2 rounded mr-lg-3 show">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="tooltip__close" class="svg text-primary"><path d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-18C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2m2.59 6L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8z"></path></svg>
			Item added to cart
			<a href="#" class="d-block text-body text-underline">Proceed to checkout</a>
		</div>
	</div>

	<script src="/sandandsky-styleguides/js/globals.js"></script>
	<script src="/sandandsky-styleguides/js/lazyload.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	
	<script src="/sandandsky-styleguides/js/bootstrap.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
</body>

</html>
