<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Tooltip | Sand and Sky Style Guides</title>
	
	<link rel="shortcut icon" href="/sandandsky-styleguides/images/favicon.png" type="image/png">
	
	<link rel="preload" href="https://p.typekit.net/p.css?s=1&k=bys6mnm&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552&a=12606089&app=typekit&e=css" as="style" crossorigin="anonymous">
	
	<link rel="stylesheet" href="/sandandsky-styleguides/css/main.css">
	
</head>

<body>
	<div class="container mt-4 px-g">
		<div class="col-12">
			<h1>Tooltip</h1>
			<h3>Tooltip with close button</h3>
		</div>
	</div>
	<div class="container position-relative px-g">
		<div class="col-lg-4 tooltip text-center py-2 rounded mx-ng mr-lg-3">
			<i id="tooltip__close" class="sni sni__close-circle text-primary"></i>
			Item added to cart
			<a href="#" class="d-block text-body text-underline">Proceed to checkout</a>
		</div>	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	
	<script src="/sandandsky-styleguides/js/bootstrap.js" defer></script>
	<script src="/sandandsky-styleguides/js/globals.js" defer></script>
	<script src="/sandandsky-styleguides/js/main.js" defer></script>
	
</body>

</html>
