<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Carousel Banner" }}
</head>

<body>
	<div class="mobile-wrapper">
		<div class="container mt-4">
			<h1>Carousel Banner</h1>
		</div>
	</div>

	{{> carousel-banner}}
</body>

</html>
