<div class="bg-secondary-light">
  <div class="container py-5">
    <div class="row justify-content-lg-center">
      <div class="col-4 col-lg-3 text-secondary text-center">
        <i class="sni-text d-block" aria-hidden="true">ss</i>
        <span class="d-block mt-2">Easy Returns</span>
      </div>
      <div class="col-4 col-lg-3 text-secondary text-center">
        <i class="sni-text d-block" aria-hidden="true">ss</i>
        <span class="d-block mt-2">Free Shipping*</span>
      </div>
      <div class="col-4 col-lg-3 text-secondary text-center">
        <i class="sni-text d-block" aria-hidden="true">ss</i>
        <span class="d-block mt-2">Fast Delivery</span>
      </div>
    </div>
  </div>
</div>
