<div class="border-bottom border-top product-filter">
  <div class="container">
    <nav class="navbar ml-lg-auto">
      <button class="close-filter btn text-white bg-primary p-1 position-absolute d-lg-none" type="button" data-toggle="collapse" data-target="#productFilter" aria-controls="productFilter" aria-expanded="false" aria-label="Toggle navigation">
        <i class="sni sni__plus"></i>
      </button>
      <button class="navbar-toggler text-left btn-block d-flex justify-content-between align-items-center collapsed px-0" type="button" data-toggle="collapse" data-target="#productFilter" aria-controls="productFilter" aria-expanded="false" aria-label="Toggle navigation">
        <p class="m-0">
          <span class="font-weight-normal h6">Filter by</span>
          <br/>
          <span id="filter-selected" class="font-weight-bold h6">All</span>
        </p>
        <i class="sni sni__chevron-up text-primary"></i>
      </button>
      <div class="collapse w-100 bg-white py-2 px-lg-2" id="productFilter">
        <ul class="navbar-nav">
          <li class="nav-item d-none d-lg-flex justify-content-end">
            <a class="close-filter text-decoration-none" href="javascript:void(0)" data-toggle="collapse" data-target="#productFilter">
              <i class="sni sni__plus"></i>
            </a>
          </li>
          <li class="nav-item mb-1">
            <a class="text-dark" href="javascript:void(0)" data-handle="skincare-kits-value-bundles" data-title="Kits &amp; Value Sets ">Kits &amp; Value Sets </a>
          </li>
          <li class="nav-item mb-1">
            <a class="text-dark" href="javascript:void(0)" data-handle="best-sellers" data-title="Best Sellers">Best Sellers</a>
          </li>
          <li class="nav-item mb-1">
            <a class="text-dark mb-1 d-block" href="javascript:void(0)" data-handle="pores,skincare-skin-concern-acne-and-blemishes,skincare-concern-dryness,skincare-skin-concern-fine-lines,skincare-skin-concern-dark-spots" data-title="Skin Concerns">Skin Concerns</a>
            <ul class="navbar-nav pl-2">
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="pores" data-title="Pores">Pores</a>
              </li>
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="skincare-skin-concern-acne-and-blemishes" data-title="Acne and blemishes">Acne and blemishes</a>
              </li>
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="skincare-concern-dryness" data-title="Dryness">Dryness</a>
              </li>
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="skincare-skin-concern-fine-lines" data-title="Fine Lines">Fine Lines</a>
              </li>
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="skincare-skin-concern-dark-spots" data-title="Dark Spots">Dark Spots</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="text-dark mb-1 d-block" href="javascript:void(0)" data-handle="australian-pink-clay,australian-emu-apple,skincare-tasmanian-spring-water" data-title="Ranges">Ranges</a>
            <ul class="navbar-nav pl-2">
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="australian-pink-clay" data-title="Australian Pink Clay">Australian Pink Clay</a>
              </li>
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="australian-emu-apple" data-title="Australian Emu Apple">Australian Emu Apple</a>
              </li>
              <li class="nav-item mb-1">
                <a class="text-dark" href="javascript:void(0)" data-handle="skincare-tasmanian-spring-water" data-title="Tasmanian Spring Water">Tasmanian Spring Water</a>
              </li>
            </ul>
          </li>
          <li class="nav-item mb-1"><a class="text-dark" href="javascript:void(0)" data-handle="face-masks" data-title="Face Mask">Face Mask</a></li>
          <li class="nav-item mb-1"><a class="text-dark" href="javascript:void(0)" data-handle="cleanser-exfoliators" data-title="Cleanser &amp; Exfoliators">Cleanser &amp; Exfoliators</a></li>
          <li class="nav-item mb-1"><a class="text-dark" href="javascript:void(0)" data-handle="moisturisers-serums" data-title="Moisturisers &amp; Serums">Moisturisers &amp; Serums</a></li>
          <li class="nav-item mb-1"><a class="text-dark" href="javascript:void(0)" data-handle="body" data-title="Body">Body</a></li>
          <li class="nav-item mb-1"><a class="text-dark" href="javascript:void(0)" data-handle="austrialian-beauty-accessories" data-title="Accessories">Accessories</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
