<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ title }} | Sand and Sky Style Guides</title>

<link rel="shortcut icon" href="{{ imageUrl }}/favicon.png" type="image/png">
