<div class="mt-4 p-lg-0 container">
  <figure class="mobile-wrapper imagewtext row flex-row-reverse position-relative mb-lg-2 mt-5 justify-content-center no-gutters__in-container">
    <figcaption class="col-12 col-lg-6 order-last position-relative">
      <div class="imagewtext__content-secondary mt-lg-3 p-4 pt-lg-6 pb-lg-6 px-lg-6 bg-secondary-light text-left no-gutters__in-container imagewtext__apc-decoration">
        <p class="h4 mt-2">Sourced from Southern and Western Australia, and combined with the best Australian botanical ingredients, Australian Pink Clay powerfully absorbs impurities, drawing out toxins and combating pollution.</p>
        <p class="h4 mt-2">Non-drying and gentle on sensitive skin, it instantly reduces the appearance of pores.</p>
        <picture class="leaf d-none d-lg-block position-absolute">
          <img src="../images/leaf.svg"/>
        </picture>
      </div>
    </figcaption>
    <div class="col-12 col-lg-4">
      <picture>
        <source srcset="https://via.placeholder.com/540x665" media="(min-width: 992px)"/>
        <img src="https://via.placeholder.com/407x501" class="w-100">
      </picture>
    </div>
  </figure>
</div>


