<div class="mt-4 p-lg-0 container">
  <figure class="mobile-wrapper imagewtext row flex-row-reverse position-relative mb-lg-2 mt-5 justify-content-center align-items-center no-gutters__in-container overflow-hidden">
    <figcaption class="col-12 col-lg-6 order-last position-relative">
      <div class="triangle left d-lg-none"></div>
      <div class="triangle right d-lg-none"></div>
      <div class="imagewtext__content-secondary mt-lg-0 px-4 py-6 px-lg-6 bg-tsw-light text-left no-gutters__in-container">
        <p class="h4 mt-2 font-weight-normal text-dark">Found deep within a pristine lake in a remote national park, Tasmanian Spring Water is a hydrating, strengthening force of nature. Revitalising skin from the first drop, it quenches, plumps and fortifies with a unique blend of naturally occurring essential minerals.</p>
        <p class="h4 mt-2 font-weight-normal text-dark">Teaming up with Hyaluronic Acid for improved moisture retention, it delivers instant hydration and radiance, plus lasting relief from dryness and sensitivity.</p>
      </div>
    </figcaption>
    <div class="col-12 col-lg-5">
      <picture>
        <source srcset="https://via.placeholder.com/470x470" media="(min-width: 992px)"/>
        <img src="https://via.placeholder.com/350x350" class="w-100"/>
      </picture>
    </div>
  </figure>
</div>
