<div class="mt-4 p-lg-0 container p-0">
  <figure class="imagewtext row flex-row-reverse position-relative mb-lg-2 mt-5 mx-0 justify-content-center">
    <figcaption class="col-12 col-lg-6 order-last position-relative p-0">
      <div class="imagewtext__content-secondary mt-lg-3 px-4 py-6 px-lg-6 bg-aea-light text-left no-gutters__in-container">
        <p class="h4 mt-2 font-weight-normal text-dark">Buried deep in the Aussie bush is a national treasure. Bursting with antioxidants, Australian Emu Apple boosts Vitamin C absorption and shields against free radicals. Meaning? Skin that’s younger, longer. And a glow that just keeps going!</p>
      </div>
    </figcaption>
    <div class="col-12 col-lg-4 px-g px-lg-1">
      <picture>
        <source srcset="https://via.placeholder.com/540x665" media="(min-width: 992px)"/>
        <img src="https://via.placeholder.com/407x407" class="w-100">
      </picture>
    </div>
  </figure>
</div>
