<figure class="col-9 carousel-item review-card mb-0">
	<img src="https://via.placeholder.com/255x255" alt="Placeholder" class="d-block w-100">
	<figcaption class="m-0 bg-secondary-light font-size-sm px-g py-3">
		<p class="mb-3 text-body">@greivy.nyc</p>
		<i class="d-block text-body">{{ content }}
			<span class="d-none review-card__more-text">{{ reveal }}<a href="#" class="d-none text-underline text-body review-card__less">Less</a></span>
			<a href="#" class="text-underline text-body review-card__more">More</a>
		</i>
	</figcaption>
</figure>
