<figure class="col-9 carousel-item review-card mb-0">
	<picture class="d-block">
		<img src="https://via.placeholder.com/255x255" alt="Placeholder" class="d-block w-100">
	</picture>
	<figcaption class="m-0 bg-secondary-light font-size-sm px-g py-3">
		<p class="mb-3 text-body">@greivy.nyc</p>
		<i class="d-block text-body">I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother
			<span class="d-none review-card__more-text">hood I absolutely love to pamper my skin with the amazing pink clay mask from @sandandskyaus I wouldn’t have ended my Mother. <a href="#" class="d-none text-underline text-body review-card__less">Less</a></span>
			<a href="#" class="text-underline text-body review-card__more">More</a>
		</i>
	</figcaption>
</figure>
