*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}
header,nav{display:block}
body{margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-size:1em;font-weight:400;line-height:1.25;color:#484848;text-align:left;background-color:#fff}
ul{margin-top:0;margin-bottom:1rem}
a{color:#484848;text-decoration:none;background-color:transparent}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
button{border-radius:0;margin:0;font-family:inherit;font-size:inherit;line-height:inherit;overflow:visible;text-transform:none}
[type=button],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}
.h4{margin-bottom:.625rem;font-weight:700;line-height:1.25;font-size:1em}
.container{width:100%;padding-right:7.5px;padding-left:7.5px;margin-right:auto;margin-left:auto}
@media (min-width:375px){
.container{max-width:540px}
}
@media (min-width:768px){
.container{max-width:720px}
}
@media (min-width:992px){
.container{max-width:960px}
}
@media (min-width:1260px){
.container{max-width:1200px}
}
.col,.col-lg-4{position:relative;width:100%;padding-right:7.5px;padding-left:7.5px}
.col{flex-basis:0;flex-grow:1;max-width:100%}
@media (min-width:992px){
.col-lg-4{flex:0 0 33.33333%;max-width:33.33333%}
}
.fade:not(.show){opacity:0}
.dropdown{position:relative}
.dropdown-toggle{white-space:nowrap}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent}
.dropdown-menu{position:absolute;top:100%;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1em;color:#484848;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem}
.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}
.nav-link{display:block;padding:.375em}
.nav-tabs{border-bottom:1px solid #dee2e6}
.nav-tabs .nav-link{margin-bottom:-1px;border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:0 .46875em}
.navbar .container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between}
.navbar-brand{display:inline-block;padding-top:.5625em;padding-bottom:.5625em;margin-right:.46875em;font-size:1.25em;line-height:inherit;white-space:nowrap}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}
.navbar-toggler{padding:.25rem 0;font-size:1.25em;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}
@media (min-width:992px){
.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-lg .navbar-nav{flex-direction:row}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.625em;padding-left:.625em}
.navbar-expand-lg>.container{flex-wrap:nowrap}
.navbar-expand-lg .navbar-toggler{display:none}
}
.modal{position:fixed;top:0;left:0;z-index:1050;display:none;width:100%;height:100%;overflow:hidden;outline:0}
.tooltip{position:absolute;display:block;margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-style:normal;font-weight:400;line-height:1.25;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;white-space:normal;line-break:auto;font-size:.875em;word-wrap:break-word;opacity:0}
.carousel{position:relative}
.carousel-inner{position:relative;width:100%;overflow:hidden}
.carousel-inner::after{display:block;clear:both;content:""}
.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.carousel-item.active{display:block}
.bg-secondary{background-color:#ff6f8d!important}
.bg-white{background-color:#fff!important}
.border-0{border:0!important}
.border-bottom-0{border-bottom:0!important}
.rounded{border-radius:.25rem!important}
.d-none{display:none!important}
.d-block{display:block!important}
.d-flex{display:flex!important}
@media (min-width:992px){
.d-lg-none{display:none!important}
.d-lg-block{display:block!important}
.d-lg-flex{display:flex!important}
}
.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden}
.embed-responsive::before{display:block;content:""}
.flex-row{flex-direction:row!important}
.flex-nowrap{flex-wrap:nowrap!important}
.flex-shrink-0{flex-shrink:0!important}
.justify-content-end{justify-content:flex-end!important}
.justify-content-center{justify-content:center!important}
.align-items-center{align-items:center!important}
.overflow-hidden{overflow:hidden!important}
.position-relative{position:relative!important}
.position-absolute{position:absolute!important}
.position-fixed{position:fixed!important}
.w-100{width:100%!important}
.w-auto{width:auto!important}
.m-0{margin:0!important}
.mb-0{margin-bottom:0!important}
.mr-1{margin-right:.3125rem!important}
.mr-2{margin-right:.625rem!important}
.p-0{padding:0!important}
.px-0{padding-right:0!important}
.pl-0,.px-0{padding-left:0!important}
.pt-2,.py-2{padding-top:.625rem!important}
.pr-2,.px-2{padding-right:.625rem!important}
.pb-2,.py-2{padding-bottom:.625rem!important}
.pl-2,.px-2{padding-left:.625rem!important}
.pb-3{padding-bottom:1.25rem!important}
.pl-3{padding-left:1.25rem!important}
.pb-5{padding-bottom:2.5rem!important}
.pr-g,.px-g{padding-right:15px!important}
.pl-g,.px-g{padding-left:15px!important}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}
.font-weight-normal{font-weight:400!important}
.font-weight-bold{font-weight:700!important}
.text-white{color:#fff!important}
.text-primary{color:#4acd8a!important}
.text-secondary{color:#ff6f8d!important}
.text-body{color:#484848!important}
@media (min-width:992px){
.mr-lg-3{margin-right:1.25rem!important}
.pl-lg-2{padding-left:.625rem!important}
.h4{font-size:1em}
.col,.container,[class*=col-]{padding-right:15px;padding-left:15px}
}
.text-underline{text-decoration:underline}
.font-size-sm{font-size:.875em!important}
.fit--cover{-o-object-fit:cover;object-fit:cover}
@-webkit-keyframes gradient-shimmer{
0%{background-position:100% 50%}
100%{background-position:0 50%}
}
@keyframes gradient-shimmer{
0%{background-position:100% 50%}
100%{background-position:0 50%}
}
.bg-shimmer{background:#969696;background:linear-gradient(130deg,#969696 33%,#f8f8f8 50%,#969696 67%);background-size:1000% 1000%;-webkit-animation:2.5s infinite gradient-shimmer;animation:2.5s infinite gradient-shimmer}
.bg-shimmer img{opacity:0}
.sni,.sni-after{display:flex}
.sni-after:after,.sni:before{font-family:supernova-icon!important;font-style:normal;font-weight:400!important;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.sni.sni__cart:before{content:""}
.sni-after.sni__chevron-down:after{content:""}
.sni.sni__close-circle:before{content:""}
.sni.sni__search:before{content:""}
.sni.sni__times:before{content:""}
.sni.sni__user:before{content:""}
.announcement-bar{padding:.59375em 0}
.announcement-bar a{color:#fff}
.tab .nav-link{border-bottom:2px solid transparent!important}
.tab--scroll{overflow:auto hidden}
.tab--scroll::-webkit-scrollbar{display:none}
.tooltip{background-color:#d2f3e2;top:100%;transform:translateY(-100%);visibility:hidden;left:0;right:0;width:auto;z-index:1030}
.tooltip .sni{position:absolute;right:.5em;top:50%;transform:translateY(-50%);font-size:1.5em}
.dropdown-menu{left:auto;right:0;height:0;visibility:hidden}
.dropdown-toggle:after{border:none}
.navbar-brand{z-index:1020}
.navbar-brand:before{font-size:1.7em}
@media (min-width:1260px){
.navbar-brand:before{font-size:2.05em}
}
.nav-link{color:#484848}
.nav-link.sni:before{font-size:1.375em}
@media (max-width:991.98px){
.navbar-expand-lg>.container{padding-right:0;padding-left:0}
.nav-link.sni__cart,.nav-link.sni__cart:before{font-size:1.25em}
.nav-link.sni__search{font-size:1em;flex-basis:10%}
.nav-link.sni__search:before{font-size:1.25em;margin-right:.1875em}
}
@media (min-width:992px){
.tooltip{left:auto;right:0;margin-right:15px;width:100%}
.navbar-brand svg{height:2.0625em}
.navbar-expand-lg .navbar-nav{flex-basis:40%}
.navbar-expand-lg .navbar-nav .nav-link{line-height:1.375em}
.navbar-expand-lg .nav-item:first-child{padding-left:0}
.navbar-expand-lg .nav-item:last-child{padding-right:0}
}
.nav__secondary{box-shadow:0 .25em .3125em 0 rgba(0,0,0,.06)}
.nav__secondary:after,.nav__secondary:before{content:"";width:15px;top:0;bottom:0;position:absolute}
.nav__secondary:before{background:linear-gradient(90deg,#fff 60%,rgba(255,255,255,0) 100%);left:0}
.nav__secondary:after{background:linear-gradient(270deg,#fff 60%,rgba(255,255,255,0) 100%);right:0}
.mega-menu:before{content:" ";width:100%;height:1em;margin-top:-.5em}
.mobile-nav{top:0;bottom:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);z-index:1070;transform:translateX(-100%);overflow:hidden scroll}
.mobile-nav:before{position:absolute;right:3%;top:.875em;font-size:.875em}
.mobile-nav.sni__times:before{z-index:1030}
.search-box{box-shadow:0 4px 6px #0000000d;position:fixed;top:0;left:100%;height:100vh;opacity:0;z-index:1020}
@media (min-width:992px){
.search-box{height:0;position:absolute;top:auto;left:0}
}
.main-header{z-index:1020}
@media (max-width:1259.98px){
.main-header .h4{font-size:1em}
}
.main-header .sni__search,.main-header .sni__user{z-index:1020}
.main-header .sni__chevron-down:after{font-size:.75em;margin-left:.625em}
.mega-menu{visibility:hidden;max-height:0;left:0;top:90%;box-shadow:0 .25em .3125em 0 rgba(0,0,0,.06);z-index:1020;overflow:hidden;margin-top:-1em}
.nav-item .sni__cart{z-index:1020}
.nav-item .sni__cart:before{margin:0}
.navbar-toggler{flex-basis:20%}
.navbar-toggler span{width:1.25em;height:2px;background-color:#484848;position:relative}
.navbar-toggler span::after,.navbar-toggler span::before{content:"";height:2px;background:#484848;position:absolute;left:0}
.navbar-toggler span::before{width:1.05em;top:-.4em}
.navbar-toggler span::after{width:.95em;top:.4em}
.navbar-nav{flex-basis:20%}
.cart-drawer__count{position:absolute;font-size:.625em;top:1.25em;right:.5em;left:0}
@media (min-width:992px){
.cart-drawer__count{font-size:.75em;top:.6875em}
}
