*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}
figcaption,figure,header,nav,section{display:block}
body{margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-size:1em;font-weight:400;line-height:1.25;color:#484848;text-align:left;background-color:#fff}
h1,h2,h3,h4,h5{margin-top:0}
p{margin-top:0;margin-bottom:.3125rem}
ol,ul{margin-top:0;margin-bottom:1rem}
ul ul{margin-bottom:0}
strong{font-weight:bolder}
a{color:#272727;text-decoration:underline;background-color:transparent}
figure{margin:0 0 1rem}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
label{display:inline-block;margin-bottom:.5rem}
button{border-radius:0}
button,input,select{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button,input{overflow:visible}
button,select{text-transform:none}
select{word-wrap:normal}
[type=button],[type=submit],button{-webkit-appearance:button}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
.h4,h1,h2,h3,h4,h5{margin-bottom:.625rem;font-weight:700;line-height:1.25}
h1{font-size:1.5em}
h2,h3{font-size:1.25em}
.h4,h4{font-size:1em}
h5{font-size:.875em}
small{font-size:80%;font-weight:400}
.list-unstyled{padding-left:0;list-style:none}
.container{width:100%;padding-right:7.5px;padding-left:7.5px;margin-right:auto;margin-left:auto}
@media (min-width:375px){
.container{max-width:540px}
}
.row{display:flex;flex-wrap:wrap;margin-right:-7.5px;margin-left:-7.5px}
.col-12,.col-6,.col-lg-1,.col-lg-4,.col-lg-5,.col-lg-6{position:relative;width:100%;padding-right:7.5px;padding-left:7.5px}
.col-6{flex:0 0 50%;max-width:50%}
.col-12{flex:0 0 100%;max-width:100%}
.form-control{display:block;width:100%;height:calc(1.25em + 1.75em + 2px);padding:.875em 1em;font-size:1em;font-weight:400;line-height:1.25;color:#484848;background-color:#fff;background-clip:padding-box;border:1px solid #969696;border-radius:.25rem}
.form-group{margin-bottom:.3125rem}
.btn{display:inline-block;font-weight:700;color:#484848;text-align:center;text-decoration:none;vertical-align:middle;background-color:transparent;border:1px solid transparent;padding:.75em 2em;font-size:.875em;line-height:1.25;border-radius:.25rem}
.btn-primary{background-color:#d7395a;border-color:#d7395a}
.btn-lg{padding:.875em 1.875em;font-size:1em;line-height:1.25;border-radius:.25rem}
.btn-block{display:block;width:100%}
.fade:not(.show){opacity:0}
.collapse:not(.show){display:none}
.dropdown{position:relative}
.dropdown-toggle{white-space:nowrap}
.dropdown-toggle::after{display:inline-block;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent}
.dropdown-menu{position:absolute;top:100%;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1em;color:#484848;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem}
.input-group-text{display:flex;align-items:center;padding:.875em 1em;margin-bottom:0;font-size:1em;font-weight:400;line-height:1.25;color:#484848;text-align:center;white-space:nowrap;background-color:#fff;border:1px solid #969696;border-radius:.25rem}
.custom-control{position:relative;z-index:1;display:block;min-height:1.25em;padding-left:1.5em;-webkit-print-color-adjust:exact;color-adjust:exact}
.custom-control-input{position:absolute;left:0;z-index:-1;width:1em;height:1.125em;opacity:0}
.custom-control-label{position:relative;margin-bottom:0;vertical-align:top}
.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}
.nav-link{display:block;padding:.375em;text-decoration:none}
.nav-tabs{border-bottom:1px solid #dee2e6}
.nav-tabs .nav-link{margin-bottom:-1px;border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}
.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:0 .46875em}
.navbar .container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between}
.navbar-brand{display:inline-block;padding-top:.5625em;padding-bottom:.5625em;margin-right:.46875em;font-size:1.25em;line-height:inherit;white-space:nowrap}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}
.navbar-toggler{padding:.25rem 0;font-size:1.25em;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem}
@media (max-width:991.98px){
.navbar-expand-lg>.container{padding-right:0;padding-left:0}
}
.media{display:flex;align-items:flex-start}
.media-body{flex:1}
.close{float:right;font-size:1.5em;font-weight:700;line-height:1;color:#000;text-shadow:none;opacity:.5}
button.close{padding:0;background-color:transparent;border:0}
.tooltip{position:absolute;display:block;margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-style:normal;font-weight:400;line-height:1.25;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;white-space:normal;line-break:auto;font-size:.875em;word-wrap:break-word;opacity:0}
.carousel{position:relative}
.carousel-inner{position:relative;width:100%;overflow:hidden}
.carousel-inner::after{display:block;clear:both;content:""}
.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.carousel-item.active{display:block}
.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:flex;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}
.carousel-indicators li{box-sizing:content-box;flex:0 1 auto;width:.75em;height:.75em;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:#fff;background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5}
.carousel-indicators .active{opacity:1}
.bg-primary,.bg-secondary{background-color:#d7395a!important}
.bg-white{background-color:#fff!important}
.border{border:1px solid #cecece!important}
.border-0{border:0!important}
.border-right-0{border-right:0!important}
.border-left-0{border-left:0!important}
.border-secondary{border-color:#d7395a!important}
.border-dark{border-color:#343a40!important}
.border-white{border-color:#fff!important}
.rounded{border-radius:.25rem!important}
.rounded-0{border-radius:0!important}
.d-none{display:none!important}
.d-block{display:block!important}
.d-flex{display:flex!important}
.d-inline-flex{display:inline-flex!important}
.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden}
.embed-responsive::before{display:block;content:""}
.embed-responsive .embed-responsive-item{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
.flex-row{flex-direction:row!important}
.flex-column{flex-direction:column!important}
.flex-nowrap{flex-wrap:nowrap!important}
.flex-grow-0{flex-grow:0!important}
.flex-grow-1{flex-grow:1!important}
.flex-shrink-0{flex-shrink:0!important}
.justify-content-start{justify-content:flex-start!important}
.justify-content-end{justify-content:flex-end!important}
.justify-content-center{justify-content:center!important}
.justify-content-between{justify-content:space-between!important}
.align-items-start{align-items:flex-start!important}
.align-items-center{align-items:center!important}
.align-items-baseline{align-items:baseline!important}
.overflow-hidden{overflow:hidden!important}
.position-static{position:static!important}
.position-relative{position:relative!important}
.position-absolute{position:absolute!important}
.position-fixed{position:fixed!important}
.fixed-bottom{position:fixed;right:0;bottom:0;left:0;z-index:1030}
.shadow{box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important}
.w-100{width:100%!important}
.h-100{height:100%!important}
.h-auto{height:auto!important}
.mw-100{max-width:100%!important}
.m-0{margin:0!important}
.my-0{margin-top:0!important}
.mb-0,.my-0{margin-bottom:0!important}
.mb-1{margin-bottom:.3125rem!important}
.ml-1{margin-left:.3125rem!important}
.mt-2,.my-2{margin-top:.625rem!important}
.mr-2{margin-right:.625rem!important}
.mb-2,.my-2{margin-bottom:.625rem!important}
.ml-2{margin-left:.625rem!important}
.mt-3{margin-top:1.25rem!important}
.mb-3{margin-bottom:1.25rem!important}
.mt-4{margin-top:1.875rem!important}
.mb-4{margin-bottom:1.875rem!important}
.mb-5{margin-bottom:2.5rem!important}
.mt-g{margin-top:15px!important}
.mx-g{margin-right:15px!important}
.ml-g,.mx-g{margin-left:15px!important}
.p-0{padding:0!important}
.py-0{padding-top:0!important}
.px-0{padding-right:0!important}
.pb-0,.py-0{padding-bottom:0!important}
.pl-0,.px-0{padding-left:0!important}
.pt-1{padding-top:.3125rem!important}
.pr-1,.px-1{padding-right:.3125rem!important}
.pb-1{padding-bottom:.3125rem!important}
.pl-1,.px-1{padding-left:.3125rem!important}
.pt-2,.py-2{padding-top:.625rem!important}
.pr-2,.px-2{padding-right:.625rem!important}
.pb-2,.py-2{padding-bottom:.625rem!important}
.pl-2,.px-2{padding-left:.625rem!important}
.pt-3,.py-3{padding-top:1.25rem!important}
.px-3{padding-right:1.25rem!important;padding-left:1.25rem!important}
.pb-3,.py-3{padding-bottom:1.25rem!important}
.p-4{padding:1.875rem!important}
.px-4{padding-right:1.875rem!important;padding-left:1.875rem!important}
.py-5{padding-top:2.5rem!important;padding-bottom:2.5rem!important}
.p-g{padding:15px!important}
.py-g{padding-top:15px!important;padding-bottom:15px!important}
.px-g{padding-right:15px!important;padding-left:15px!important}
.mx-n1{margin-right:-.3125rem!important;margin-left:-.3125rem!important}
.mx-auto{margin-right:auto!important}
.ml-auto,.mx-auto{margin-left:auto!important}
@media (min-width:375px){
.mt-sm-6{margin-top:3.75rem!important}
.pl-sm-2{padding-left:.625rem!important}
}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-center{text-align:center!important}
.font-weight-normal{font-weight:400!important}
.font-weight-bold{font-weight:700!important}
.text-white{color:#fff!important}
.text-primary,.text-secondary{color:#d7395a!important}
.text-body,.text-muted{color:#484848!important}
.img-fluid{max-width:100%;height:auto}
.badge{display:inline-block;padding:.5em .9375em;font-size:75%;font-weight:400;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem}
h3{font-weight:400}
.text-linethrough{text-decoration:line-through}
.text-underline{text-decoration:underline}
.font-size-sm{font-size:.875em!important}
.font-size-xs{font-size:.75em!important}
.text-aea{color:#cc3195!important}
.text-tsw{color:#03567a!important}
.bg-secondary-light{background-color:#ffeff2!important}
.bg-body-color{background-color:#484848!important}
.rounded-right-0{border-top-right-radius:0!important;border-bottom-right-radius:0!important}
.rounded-left-0{border-top-left-radius:0!important;border-bottom-left-radius:0!important}
.fit--cover{-o-object-fit:cover;object-fit:cover}
@-webkit-keyframes gradient-shimmer{
0%{background-position:100% 50%}
100%{background-position:0 50%}
}
@keyframes gradient-shimmer{
0%{background-position:100% 50%}
100%{background-position:0 50%}
}
.bg-shimmer{background:#969696;background:linear-gradient(130deg,#969696 33%,#f8f8f8 50%,#969696 67%);background-size:1000% 1000%;-webkit-animation:2.5s infinite gradient-shimmer;animation:2.5s infinite gradient-shimmer}
.bg-shimmer img{opacity:0}
@media only percy{
.react-yotpo-star{display:none!important}
}
.svg{height:1em}
.svg path{fill:currentColor}
.btn-primary{color:#fff}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield}
.announcement-bar{padding:.59375em 0}
.announcement-bar a{color:#fff;text-decoration:none}
.tab .nav-link{border-bottom:2px solid transparent!important}
.tab .nav-link.active{border-bottom-color:#d7395a!important;font-weight:700}
.tooltip{background-color:#ffeff2;top:100%;transform:translateY(-100%);visibility:hidden;left:0;right:0;width:auto;z-index:1030}
.tooltip .svg{position:absolute;right:.5em;top:50%;transform:translateY(-50%);font-size:1.5em}
.dropdown-menu{left:auto;right:0;height:0;visibility:hidden}
.dropdown-toggle:after{border:none}
.dropdown--account .dropdown-toggle:after{content:none}
.dropdown--account .dropdown-menu{border-color:transparent!important;position:fixed;width:100%;top:2.1875em;z-index:1030}
.navbar-brand{z-index:1020}
.navbar-brand .svg{color:#d7395a;font-size:2.25em}
.nav-link{color:#484848}
.nav-link.active{color:#d7395a}
.carousel--loop .carousel-item{margin-right:0}
.carousel--loop .carousel-item.active,.carousel--loop .carousel-item.active+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item,.carousel--loop .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item{display:block}
.carousel--preview{overflow:hidden}
.carousel--preview .carousel-indicators{margin-right:12.5%;margin-left:12.5%}
.carousel--preview .carousel-inner{width:225%;left:-62.5%}
.carousel--preview .item__third{display:block;float:left;position:relative;min-height:1px;width:33.33333333%}
.mobile-nav{top:0;bottom:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.6);z-index:1070;transform:translateX(-100%);overflow:hidden scroll}
.mobile-nav h4{color:#595959;font-size:.875em}
.main-header{z-index:1030;width:100%;top:0;position:relative}
@media (max-width:1259.98px){
.main-header .h4{font-size:1em}
}
.main-header .nav-link__icon{font-size:1.25em}
.navbar-toggler{flex-basis:20%}
.navbar-toggler span{width:1.25em;height:2px;background-color:#484848;position:relative}
.navbar-toggler span::after,.navbar-toggler span::before{content:"";height:2px;background:#484848;position:absolute;left:0}
.navbar-toggler span::before{width:1.05em;top:-.4em}
.navbar-toggler span::after{width:.95em;top:.4em}
.navbar-nav{flex-basis:20%}
.cart-drawer__count{position:absolute;font-size:.625em;top:1.4em;right:.8em;left:0}
.product-image-carousel picture::before{padding-top:100%}
.product-image-carousel__badge{top:0;right:0;width:6.875em;height:7em}
.product-image-carousel.carousel--preview{overflow:hidden}
.product-image-carousel.carousel--preview .carousel-inner{width:150%;left:0;margin-left:-2px;margin-right:-2px}
.product-image-carousel.carousel--preview .item__third{width:50%;padding-left:2px;padding-right:2px}
.product-image-carousel .carousel-indicators li{width:.375em;height:.375em;background:#cecece;border:1px solid #fff}
.product-image-carousel .carousel-indicators li.active{background:#969696;border-color:#969696}
.product__formula-list .formula-list .svg{font-size:2em;flex-basis:25%}
.product-swatch-mobile{visibility:hidden;opacity:0;z-index:1000!important}
