html.us-store {
	.hero-banner--abtest-v1,
	.hero-banner--abtest-v2 {
		.hero-carousel:not(.hero-carousel--abtest) {
			display: none !important;
		}

		.hero-carousel--abtest {
			display: block !important;
		}

		.carousel-control {
			bottom: auto;
			top: calc-em(145.5);
		}

		@include media-breakpoint-up(lg) {
			.hero-banner__note {
				position: absolute;
				bottom: 0;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.hero-banner--abtest-v1 .hero-banner {
			figcaption {
				grid-column-end: span 4;
			}

			&__text {
				margin-right: map-get($spacers, 5);
			}
		}

		.hero-banner--abtest-v2 {
			.carousel-indicators {
				justify-content: flex-start;
				left: map-get($spacers, 5);
			}

			.hero-banner {

				figcaption {
					grid-column-start: col-start 10;
					grid-column-end: span 3;
				}

				picture {
					grid-column-start: col-start 1;
					grid-column-end: span 9;
				}
			}
		}
	}
}
