html.us-store {
	.hero-banner--abtest-v2 .hero-carousel--abtest {
		.embed-responsive::before {
			padding-top: percentage(750 / 828);
			@include media-breakpoint-up(lg) {
			  padding-top: percentage(490 / 870);
			}
		}
	}

	.hero-banner--abtest-v1 .hero-carousel--abtest {
		.embed-responsive::before {
			padding-top: percentage(750 / 828);
			@include media-breakpoint-up(lg) {
			  padding-top: percentage(490 / 870);
			}
		}
	}

	.hero-banner--abtest-v1,
	.hero-banner--abtest-v2 {
		.hero-carousel:not(.hero-carousel--abtest) {
			display: none !important;
		}

		.carousel-control {
			bottom: auto;
			top: calc-em(145.5);
		}

		@include media-breakpoint-up(lg) {
			.hero-banner__note {
				position: absolute;
				bottom: 0;
			}
		}
	}

	.hero-banner--abtest-v1 .hero-carousel--abtest-v1 {
		display: block !important;
	}

	.hero-banner--abtest-v2 .hero-carousel--abtest-v2 {
		display: block !important;
	}

	@include media-breakpoint-up(lg) {
		.hero-carousel--abtest-v1 .hero-banner {
			figcaption {
				grid-column-end: span 4;
			}

			&__text {
				margin-right: map-get($spacers, 5);
			}
		}

		.hero-carousel--abtest-v2 {
			.carousel-indicators {
				justify-content: flex-start;
				left: map-get($spacers, 5);
			}

			.hero-banner {

				figcaption {
					grid-column-start: col-start 10;
					grid-column-end: span 3;
				}

				picture {
					grid-column-start: col-start 1;
					grid-column-end: span 9;
				}
			}
		}
	}
}
