.imagewtext {
  .sni__checklist {
    font-size: $font-size-xs;
  }

  .sni__range-tsw:before {
    color: $primary;
  }

  &--reverse {
    @include media-breakpoint-up(lg) {
      max-width: calc(100% + #{$grid-gutter-width-lg/2});
    }
  }

  &--large {
    &__content {
      margin-top: -115%;
      height: auto;

      @include media-breakpoint-up(lg) {
        height: 100%;
        margin-right: -60% !important;
        padding-right: 75%;
        margin-top: -3em;
      }
    }

    &__picture {
      @include media-breakpoint-up(lg) {
        margin-left: -10%;
      }
    }

    .between-space {
      margin-top: 115%;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
  }

  &__content {
    background: white;
    margin-top: -3em;

    @include media-breakpoint-up(lg) {
      height: 100%;
      margin-top: 0;
    }
  }

  &__content-reverse {
    margin-top: -3em;

    @include media-breakpoint-up(lg) {
      margin-right: -75%;
      margin-left: 25%;
    }
  }

  &__content-reverse-text {
    padding: map-get($spacers, 2);

    @include media-breakpoint-up(lg) {
      min-height: calc-em(500);
      margin-left: -20%;
      padding: calc-em(100) calc-em(170) calc-em(100) calc-em(230);
      margin-right: -#{$grid-gutter-width-lg/2};
    }
  }

  &__content-secondary {
    margin-top: -3em;

    @include media-breakpoint-up(lg) {
      margin-right: -15%;
      height: 100%;
      min-height: calc-em(350);
    }

    p {
      max-width: calc-em(420);
      color: $gray-600;
    }
  }

  &__apc-decoration {
    &:before {
      content: '';
      background: url('../images/apc-range-ingredients.png');
      position: absolute;
      background-size: 100%;
      width: calc-em(260);
      height: calc-em(88);
      bottom: -15%;
      left: -2%;
      transform: rotate(-15deg);

      @include media-breakpoint-up(lg) {
        width: calc-em(380);
        height: calc-em(132);
        bottom: -20%;
        left: -10%;
        transform: rotate(0deg);
      }
    }
  }

  &__aea-decoration {
    &:before,
    &:after {
      content: '';
      background: url('../images/aea-glow.svg');
      position: absolute;
      background-size: 100%;
      width: calc-em(84);
      height: calc-em(96);
    }

    &:before {
      top: -240%;
      left: -3%;

      @include media-breakpoint-up(lg) {
        top: -6em;
      }
    }

    &:after {
      bottom: calc-em(-40);
      right: calc-em(5);
      z-index: 1;
    }
  }

  &__tsw-decoration {
    &:before {
      @include media-breakpoint-up(lg) {
        content: '';
        background: url('../images/tsw-splash.png');
        position: absolute;
        background-size: 100%;
        bottom: -27%;
        left: -20%;
        width: calc-em(233);
        height: calc-em(216);
      }
    }
  }
}

.dots-decoration {
  top: -20%;
  left: -60%;
  img {
    width: calc-em(366);
    @include media-breakpoint-up(lg) {
      width: calc-em(600);
    }
  }

  @include media-breakpoint-up(lg) {
    left: 20%;
  }
}

.leaf {
  right: 0;
}
