@include media-breakpoint-up(lg) {
	.mega-menu {
		background-color: $gray-100;
		visibility: hidden;
		max-height: 0;
		transition: max-height .8s ease;
		left: 0;
		box-shadow: 0 calc-em(4) calc-em(5) 0 rgba(0, 0, 0, .06);
		z-index: $zindex-sticky;
		overflow: hidden;

		.nav-item--mega-menu:hover & {
			max-height: 100vh;
			visibility: visible;
			transition: max-height .8s ease;
		}

		&__subtitle {
			@include font-size($h2-font-size);
		}
	}
}
