.mobile-nav {
	top: 0;
	bottom: 0;
	left: 0;
	transition: transform .5s ease;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: $zindex-tooltip;
	transform: translateX(-100%);
	overflow: hidden scroll;

	.navbar-brand .svg {
		font-size: calc-em(34, 20);
	}

	&__close {
		position: absolute;
		right: 3%;
		top: calc-em(14);
		font-size: calc-em(14);
		z-index: $zindex-fixed;
	}

	.countries {
		align-items: center;
	}

	h4 {
		color: $gray-500;
		font-size: calc-em(14);
	}

	&__menu {

		li:not(:first-child) {
			border-bottom: 1px solid $gray-400;

			> .svg:not(.range-icon), fieldset .next-icon {
				position: absolute;
				right: calc-em(20);
				font-size: .75em;
			}
		}

		hr {
			border-color: $gray-400;
		}

		a:not(.btn) {
			color: $body-color;
			text-decoration: none;
		}

	}

	&__menu-child {
		transform: translateX(100%);
		transition: transform 0.15s ease-in-out;
		visibility: hidden;
		left: 0;
		z-index: $zindex-dropdown;
		height: 100vh !important;
		top: 3em;

		.range-icon {
			font-size: calc-em(24);
			flex-basis: 1em;
		}
	}

	&__currency-active {
		&:after {
			content: " ";
			width: calc-em(8);
			height: calc-em(8);
			display: block;
			position: absolute;
			background-color: $body-color;
			border-radius: 50%;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}

	&__back {
		margin-top: -3em !important;
	}

	&__menu-grandchild {
		transform: translateX(100%);
		transition: transform 0.15s ease-in-out;
		left: 0;
		z-index: $zindex-sticky;
		height: 100vh !important;
		top: 0;
	}

	&__other-menu {
		a {
			color: $gray-600 !important;
		}
	}

	input:checked {
		& ~ ul {
			transform: translateX(0);
			transition: transform 0.15s ease-in-out;
			visibility: visible;
		}
	}

	.mobile-nav-show & {
		transform: translateX(0%);
	}

	&__banner {
		div:not(.w-100) {
			width: calc(100% - 10px);
		}

		.banner-decoration {
			top: 0;
			right: -10px;
			height: 100%;
		}

		svg {
			height: 2em;
		}
	}
}

.mobile-menu-type-2 {
	.mobile-nav {
		&__close {
			right: auto;
			top: auto;
		}

		> div {
			border-top: 1px solid $gray-400;
		}

		> li:not(:first-child) {
			border-top: 1px solid $gray-400;
			border-bottom: none;
		}

		h3 {
			font-size: 1em;
		}

		&__accordion {
			.range-icon {
				font-size: calc-em(24);
			}

			li {
				border-top: 1px solid $gray-400;
			}
		}

		.card {
			ul {
				border-top: 1px solid $gray-400;
			}
		}

		.card__indicator {
			width: calc-em(20);
			height: calc-em(20);

			&:before, &:after {
				content: "";
				position: absolute;
				background: $body-color;
			}
			&:before {
				right: 8.5px;
				width: 2px;
				height: 0px;
				top: 0px;
			}
			&:after {
				right: 0;
				width: 18px;
				height: 2px;
				top: 8px;
			}
		}

		.collapsed {
			.card__indicator:before {
				height: 18px;
			}
		}

		u {
			min-width: 6em;
		}

		&__select,
		&__other-menu {
			background-color: $gray-100;
		}

		&.custom-select {
			border: 1px solid $gray-400;
		}

		.category-icon {
			height: 1.3em;
		}
	}
}
