.mobile-nav {
	top: 0;
	bottom: 0;
	left: 0;
	transition: transform .5s ease;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: $zindex-tooltip;
	transform: translateX(-100%);
	overflow: hidden scroll;

	.navbar-brand .svg {
		font-size: calc-em(34, 20);
	}

	&__close {
		position: absolute;
		right: 3%;
		top: calc-em(14);
		font-size: calc-em(14);
		z-index: $zindex-fixed;
	}

	.countries {
		align-items: center;
	}

	h4 {
		color: $gray-500;
		font-size: calc-em(14);
	}

	&__menu {

		li:not(:first-child) {
			border-bottom: 1px solid #f5f5f5;

			> .svg:not(.range-icon) {
				position: absolute;
				right: calc-em(20);
				font-size: .75em;
			}
		}

		hr {
			border-color: $gray-400;
		}

		a:not(.btn) {
			color: $body-color;
		}

	}

	&__menu-child {
		transform: translateX(100%);
		transition: transform 0.15s ease-in-out;
		left: 0;
		z-index: $zindex-dropdown;
		height: 100vh !important;
		top: 3em;

		.range-icon {
			font-size: calc-em(24);
		}
	}

	&__currency-active {
		&:after {
			content: " ";
			width: calc-em(8);
			height: calc-em(8);
			display: block;
			position: absolute;
			background-color: $body-color;
			border-radius: 50%;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}

	&__back {
		margin-top: -3em !important;
	}

	&__menu-grandchild {
		transform: translateX(100%);
		transition: transform 0.15s ease-in-out;
		left: 0;
		z-index: $zindex-sticky;
		height: 100vh !important;
		top: 0;
	}

	input:checked {
		& ~ ul {
			transform: translateX(0);
			transition: transform 0.15s ease-in-out;
		}
	}

	.mobile-nav-show & {
		transform: translateX(0%);
	}
}
