html.uk-store {
	.mobile-nav--abtest {
		&__close {
			right: auto;
			top: auto;
		}

		> div {
			border-top: 1px solid $gray-400;
		}

		> li:not(:first-child) {
			border-top: 1px solid $gray-400;
			border-bottom: none;
		}

		h3 {
			font-size: 1em;
		}

		&__accordion {
			.range-icon {
				font-size: calc-em(24);
			}

			li {
				border-top: 1px solid $gray-400;
			}
		}

		.tab-pane {
			a:hover {
				color: $body-color;
			}
		}

		.card {
			ul {
				border-top: 1px solid $gray-400;
			}

			&__tag{
				background-color: $primary-light;
			}
		}

		.card__indicator {
			width: calc-em(20);
			height: calc-em(20);

			&:before, &:after {
				content: "";
				position: absolute;
				background: $body-color;
			}
			&:before {
				right: 8.5px;
				width: 2px;
				height: 0px;
				top: 0px;
			}
			&:after {
				right: 0;
				width: 18px;
				height: 2px;
				top: 8px;
			}
		}

		.card-header.collapsed {
			.card__indicator:before {
				height: 18px;
			}
		}

		u {
			min-width: 6em;
		}

		&__select,
		&__other-menu {
			background-color: $gray-100;
		}

		&.custom-select {
			border: 1px solid $gray-400;
		}

		.category-icon {
			height: 1.3em;
		}
	}

	.mobile-menu-abtest {
		.mobile-nav {
			display: none;
		}

		.mobile-nav--abtest {
			display: block !important;
		}
	}
}