.product-card {
	@include media-breakpoint-up(lg) {
		@include make-col(1, 5);
	}

	.badge {
		top: calc-em(5, 12);
		left: calc-em(12.5, 12);
		padding: calc-em(5, 12) calc-em(10, 12);
		@include media-breakpoint-up(lg) {
			top: calc-em(10, 12);
			left: calc-em(25, 12);
		}
	}

	&__text {
		font-size: $font-size-sm;
		@include media-breakpoint-up(lg) {
			font-size: $font-size-base;
		}
	}

	&__text-sm {
		font-size: $font-size-xs;
		@include media-breakpoint-up(lg) {
			font-size: $font-size-sm;
		}
	}
}
