.product-card {
	picture::before {
		padding-top: percentage(558 / 444);
	}

	.badge {
		top: calc-em(5, 12);
		left: calc-em(12.5, 12);
		padding: calc-em(5, 12) calc-em(10, 12);
		@include media-breakpoint-up(lg) {
			top: calc-em(10, 12);
			left: calc-em(25, 12);
		}

		&--image {
			top: -(calc-em(30));
			right: 0;
			width: calc-em(75);
			height: calc-em(75);

			@include media-breakpoint-up(lg) {
				width: calc-em(95);
				height: calc-em(95);
			}
		}
	}

	&__text {
		font-size: $font-size-sm;
		@include media-breakpoint-up(lg) {
			font-size: $font-size-base;
		}
	}

	&__text-sm {
		font-size: $font-size-xs;
		@include media-breakpoint-up(lg) {
			font-size: $font-size-sm;
		}
	}

	&--search-result {
		> a {
			@include media-breakpoint-up(lg) {
				flex: none;
				max-width: none;
			}
		}

		picture {
			flex-basis: 20%;
		}

		img {
			max-height: calc-em(85, 16);
			object-fit: cover;

			@include media-breakpoint-up(lg) {
				max-height: none;
			}
		}
	}
}

// secondary image
.img--hover {
	opacity: 0;

	a:hover & {
		opacity: 1;
		transition: opacity .2s;
	}
}
