html.us-store,
html.uk-store,
html.au-store {
	.price-cta--abtest-v1,
	.price-cta--abtest-v2,
	.price-cta--abtest-v3,
	.price-cta--abtest-v4 {
		.product-card {
			&__btn {
				display: none !important;
			}

			&__btn-variant {
				display: block !important;
				@include media-breakpoint-up(lg) {
					display: flex !important;
				}
			}

			&__btn-variant-home {
				display: flex !important;
				min-height: calc-em(40, 14);
			}

			figure {
				border-radius: calc-em(8) !important;
			}

			@include media-breakpoint-up(lg) {
				&__btn-variant-text {
					@include font-size($font-size-base, true);
				}
			}

			@include media-breakpoint-down(md) {
				.btn__loading {
					min-height: calc-em(52.63, 14);

					&-home {
						min-height: calc-em(40, 14);
					}
				}
			}
		}

		@include media-breakpoint-down(md) {
			.featured-products-carousel:not(.col-lg-products) .product-card {
				@include make-col(9);
			}

			.collection__row .product-card__text {
				min-height: calc-em(35);
			}
		}

		.price-cta--abtest-loading .product-card__btn-variant {
			display: none !important;
		}

		@include media-breakpoint-up(lg) {
			.range-product {
				.col-lg {
					&-products {
						@include make-col(9);

						.product-card {
							@include make-col(4);
						}
					}

					&-banner img {
						max-width: calc-em(270);
					}
				}

				.carousel-control-next,
				.carousel-control-prev {
					top: calc-em(179);
				}
			}
		}
	}

	.price-cta--abtest-v1,
	.price-cta--abtest-v2 {
		.btn__loading {
			border-radius: $border-radius !important;
		}
	}

	.price-cta--abtest-v2,
	.price-cta--abtest-v4 {
		.product-card__btn-variant {
			@include button-variant($primary, $primary);
		}
	}

	.price-cta--abtest-v1,
	.price-cta--abtest-v3 {
		.product-card__btn-variant {
			@include button-variant($white, $gray-400, $white, $link-black);
			color: $link-black;
		}
	}

	.price-cta--abtest-v3,
	.price-cta--abtest-v4 {
		.product-card__btn-variant {
			border-radius: $rounded-pill !important;
		}
	}
}
