.search-box-active {
	overflow: hidden;

	@include media-breakpoint-up(lg) {
		overflow: auto;
	}
}

.search-box {
	box-shadow: 0 4px 6px #0000000d;
	transition: all 0.3s;
	position: fixed;
	top: 0;
	height: 100vh;
	opacity: 1;
	transform: translateX(100%);
	z-index: $zindex-sticky;

	@include media-breakpoint-up(lg) {
		opacity: 0;
		height: 0;
		position: absolute;
		transform: none;
		top: auto;
	}

	&.show {
		transition: all .5s ease;
		opacity: 1;
		height: 100vh;
		transform: translateX(0);

		@include media-breakpoint-up(lg) {
			height: 33em;
			transform: none;
		}
	}

	&__top {
		border-bottom: 1px solid $gray-400;

		input {
			&:focus,
			&:active {
				box-shadow: none;
				outline: 0;
			}
		}

		.sni__times {
			right: calc-em(16, 16);
			color: $body-color;

			&:after {
				font-size: calc-em(12, 16);
				margin-left: 1em;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__result {
		overflow-y: scroll;
		max-height: calc(100vh - 2.5rem);

		@include media-breakpoint-up(lg) {
			overflow-y: unset;
		}
	}

	&__tag {
		background-color: $gray-100;
		cursor: pointer;
	}

	&__clear {
		right: calc-em(42, 16);
		color: $body-color;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $body-color;
		}

		&.disabled {
			opacity: .5;
			pointer-events: none;
		}
	}

	.carousel-inner {
		@include media-breakpoint-down(md) {
			flex-wrap: wrap !important;
		}
	}

	@include media-breakpoint-up(md) {
		.carousel-control {
			transform: none;
		}
		
		.carousel--scroll {
			.carousel-control-next {
				top: auto;
				bottom: -27%;
			}

			.carousel-control-prev {
				top: auto;
				left: auto;
				right: 3%;
				bottom: -27%;
			}
		}
	}
}
