@include media-breakpoint-up('lg') {
	html.au-store {
		.nav__category--abtest,
		.nav__range--abtest {

			.navbar__main {
				display: none !important;

				&--abtest {
					display: flex !important;
				}

				&-right .font-weight-bold {
					font-weight: normal !important;
				}
			}
		}

		.nav__category--abtest:not(.nav__no-collection) {
			.nav__category-desktop {
				display: flex !important;
			}
		}

		.nav__range--abtest:not(.nav__no-collection) {
			.nav__range-desktop {
				display: flex !important;
			}
		}
	}
}
