@include media-breakpoint-up('lg') {
	html.uk-store {
		.nav__category--abtest,
		.nav__range--abtest {

			.navbar__main {
				display: none !important;

				&--abtest {
					display: flex !important;
				}

				&-right .font-weight-bold {
					font-weight: normal !important;
				}
			}
		}

		.nav__category--abtest {
			.nav__category-desktop {
				display: flex !important;
			}

			&.nav__category--abtest-hide-collection {
				.nav__category-desktop {
					display: none !important;
				}
			}
		}

		.nav__range--abtest {
			.nav__range-desktop {
				display: flex !important;
			}

			&.nav__range--abtest-hide-collection {
				.nav__category-desktop {
					display: none !important;
				}
			}
		}
	}
}
