/* new popup newsletter */


.popup-email-tiny {
  &.force-hide {
    display: none;
  }
  &.popup-email--show{
    display: block;
  }

  #signup-popup-tag{
    display:flex;
  }
  &.variant-hide{
    display: none;
  }
  &.popup-email {
    position: fixed;
    left: 0;
    bottom: -500px;
    right: 0;
    background: #fff;
    text-align: center;
    z-index: 9999999;
    border-top: 1px solid #e6e6e6;
    -webkit-transition: bottom 0.7s ease-out;
    transition: bottom 0.7s ease-out;
    border-radius: 10px;
    text-align: center;

    p {
      text-align: center;
    }

    @media (max-width: 768px){
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
      z-index: 1002;
    }
  }
  &.popup-email .input-text {
    line-height:normal;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-appearance: none;
    color: #191919;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    width: 100%;
    min-height: 48px;
    outline: none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #D9D9D9;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #D9D9D9;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #D9D9D9;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #D9D9D9;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }
  &.popup-email .btn {
    min-width:auto;
    max-width: 48px;
    padding: 0;
    background-color: #fff !important;
    border-color: #fff;
    border-radius: 0 5px 5px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 33.33%;
    &:hover{
      background-color: #fff !important;
    }
    svg{
      path{
        fill: #F4436C;
      }
    }
  }
  .popup-email--form p.p-privacy {
    line-height: 15px;
  }
  @media(max-width: 767px){
    .popup-email--form p, .popup-email--thankyou p {
      font-size: 14px !important;
      margin-top: 8px;
      line-height: normal;
      margin-bottom: 0;
    }
    .popup-email--form .popup-phone p{
      font-size: 10px !important;
    }
    .popup-email--form p{
      max-width: 284px;
      &.desc-hide{
        display: none;
      }
    }


    .popup-email--form p.p-privacy {
        font-size: 10px !important;
    }
    &.popup-email .input-text{
      width: 100%;font-size: 16px !important;
    }
    &.popup-email .btn {
      letter-spacing: normal;
      width: 48px;
      height: 50px;
      min-width:auto;padding-left: 0px;
      padding-right: 0px;
    }
  }
  &.popup-email--show {
    border-top: 1px solid transparent;
    -webkit-transition: bottom 0.1s ease-in;
    transition: bottom 0.1s ease-in;
    bottom: 15px;
    @media (max-width: 768px) {
      bottom: 0;
      &.template-pdp{
        bottom: 60px;
      }
    }
    &.has-fixed-bar {
      bottom: 95px;
      -webkit-transition: bottom 0.1s ease-in;
      transition: bottom 0.1s ease-in;
    }
  }
  @media (min-width: 768px) {
    &.popup-email {
      right: 20px;
      width: 344px;
      left: auto;
      border: none;
      border-bottom: none;
      z-index: 999999;
    }
  }
  @media (min-width: 768px) {
    &.popup-email {
      width: 344px;
      right: 20px;
    }
  }
  .popup-email p {
    font-size: 12px;
    &.desc-hide{
      display: none;
    }
  }
  @media (min-width: 769px) {
    &.popup-email p {
      font-size: 14px;
      color: #494949;
      max-width: 294px;
      margin-top: 8px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      &.desc-hide{
        display: none;
      }
    }
  }
  &.popup-email h3 {
    margin-bottom: 10px;
    margin-top: 0;
    color: #494949;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  @media (min-width: 992px) {
    &.popup-email h3 {
      font-size: 16px;
    }
  }
  .popup-email__content {
    position: relative;
    background: #FFF0F1;
    padding: 16px;
    border-radius: 10px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    .expanded-wrapper{
      display: none;
      &.expanded-wrapper-show{
        display: block;
      }
    }
    .expanded-ct{
      display: flex;
      justify-content: center;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      .or{
        width: 174px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 12.5px 0 12.5px;
        span{
          background:#FFF0F1;
          padding:0 10px;
          font-size: 14px;
          position: relative;
          display: inline;
          top: -2px;
        }
      }
    }
    .popup-phone{
      p{
        font-size: 10px;
        letter-spacing: 0.12px;
        line-height: 15px;
        max-width: none;
        color: #a9a9a9;
        a{
          text-decoration: underline;
          color: #a9a9a9;
        }
      }
      .btn {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        width: 100%;
        padding: 0;
        color: #fff;
        background: #f4436c !important;
        border-radius: 6px !important;
        text-transform: none;
        height: 50px;
        max-width: none;
        float: none;
        outline: none;

        @media (max-width:768px) {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0;
          padding: 16px;
        }
      }
      input.phone{
        outline: none;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #D9D9D9;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #D9D9D9;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #D9D9D9;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #D9D9D9;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
      }
      .input-group {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .country-select,
      input[type=email],
      input[type=text] {
        background: #fff;
        border-radius: 3px;
        color: #191919;
        border: 1px solid #fff;
        height: 48px !important;
        font-size: 16px;
        line-height: 21px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .country-select {
        position: relative;
        display: flex;
        align-items: center;
        width: 26vw;
        max-width: 120px;
        margin-right: 7px;
        background-image: url(#{"{{ 'select-arrow.png' | asset_url }}"});
        background-repeat: no-repeat;
        background-size: 11px;
        background-position: right 10px center;
      }

      .country-select-select {
        width: 100%;
        height: 39px !important;
        opacity: 0;
      }

      input[type=text] {
        border-radius: 0px 5px 5px 0;
        border-left: 1px solid #f5f5f5;
      }

      .country-select {
        margin-right: 0px;
        width: 70px;
        border-radius: 5px 0px 0px 5px;
      }

      .country-select-text {
        position: absolute;
        left: 10px;
      }

      input[type=email],
      input[type=text] {
        width: 100%;
        flex: 1;
        min-width: 120px;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    }
  }

  @media (min-width: 768px) {
    .popup-email__content {
      padding: 16px;
    }
  }
  &.popup-email .btn.js-close {
    width: 170px;
    border-radius: 5px;
  }
  &.popup-email .input-text {
    border-radius: 5px 0 0 5px;
    &.phone-open{
      border-radius: 5px;
    }
  }
  &.popup-email .close {
    position: absolute;
    top: 18px !important;
    right: 15px;
    opacity: 1;
    line-height: initial;
    height: auto;
    display: flex;
    padding: 0;
    svg{
      path{
        fill: #000;
      }
    }
    @media (max-width: 768px) {
      background: none;
      width: auto;
      bottom: auto;
    }
  }
  &.popup-email .close span {
    display:inline-block;line-height:24px;
  }
  &.popup-email .btngroup {
    overflow: hidden;
    margin-top: 15px;

  }

  .popup-email--thankyou{
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .thankyou_modal .modal-body {
    height: auto;
  }

  .thankyou_modal .close:focus {
    outline: none;
  }

  .popup-email--thankyou .btn:not(.btn--secondary):not(.btn--tertiary):not(.btn--inverse) {
    float: none;
  }
  .p-privacy {
    margin-top: 15px;
    font-size: 11px !important;
    margin-bottom: 0;
  }
  .p-privacy a {
    color: blue;
  }
  &.popup-email  .popup-email--thankyou .btn {
    border-radius: 4px;
  }

  .register-width-container {
    margin-top: 15px;

    .float-container {
      position: relative;
    }

    .float-container input, .float-container select {
      font-size: 16px;
      margin: 16px 0 10px;
      outline: 0;
      height: 48px;
      border: 1px solid #e4e4e4;
      background: #fff;
      position: relative;
      z-index: 1;

    }

    .float-container input:focus, .float-container select:focus {
      outline: 0;
      border: 1px solid #4bcd8b;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(75,205,139,0.38);
    }

    .float-container label:not(.error) {
        font-size: 16px;
        position: absolute;
        z-index: 2;
        transform-origin: top left;
        transform: translate(0, 16px) scale(1);
        transition: all .1s ease-in-out;
        text-transform: none;
        color: #cecece;
        letter-spacing: normal;
        left: 10px;
    }
    .float-container.active input, .float-container.active select {
      padding-top: 22px;
    }

    .float-container label.error {
      display: none !important;
    }

    label.error {
      display: none !important;
    }

    .float-container.active label:not(.error) {
      transform: translate(0, 4px) scale(.75);
    }

    .float-container {
      &:after {
        position: absolute;
        content: ' ';
        width: 12px;
        height: 12px;
        background: url('https://cdn.shopify.com/s/files/1/0277/5262/8295/files/check.svg?v=1621920535') no-repeat;
        z-index: 2;
        background-color: #4CB376;
        right: 10px;
        bottom: 20px;
        border-radius: 50%;
        display: none;
      }
      &.validated {
        &:after {
          display: block;
        }
      }
      input {
        width: 100%;
        margin: 0 0 10px 0;
        border: 1px solid #CECECE;
        border-radius: 4px;
        border: none;
        color: #494949;

        &:focus {
          box-shadow: none;
          border-color: #4CB376;
        }
      }

      label {
        font-size: 14px;
        line-height: 22px;

      }
      input {
        position: relative;
        padding: 8px 10px;
      }
    }

    button {
      width: 100%;
      display: block;
      max-width: none;
      background-color: #4CB376 !important;
      color: #fff;
      border-color: #4CB376 !important;
      border-radius: 4px !important;
      padding: 18px 10px 14px;
      font-weight: 700;
      border: none;
    }

    button[disabled] {
      opacity: .5;
    }

    .float-input-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .float-container { 
        width: 49%;
      }
    }

    .register-skip {

    }
  }

  .popup-email--done {
    h3 {
      font-size: 20px;
      line-height: 22px;
      max-width: 240px;
      text-align: center;
      margin: 0 auto 19px;
    }

    p {

    }

    a {
      width: 100%;
      background-color: #4acd8a;
      color: #fff;
      display: block;
      border-radius: 4px;
      padding: 14px;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;
    }
  }
}