.upsell {
	&__add {
    width: 3em;
  }

  &__spinner,
	.btn__loading {
    width: 3em;
  }

  &__remove {
    width: 3em;
  }

  &__pdp .spinner-border {
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
  }

}
