.upsell {
	&__add {
    width: 3em;
  }

  &__spinner,
	.btn__loading {
    width: 3em;
  }

  &__remove {
    width: 3em;
  }

  &__article a {
    color: $body-color;
    text-decoration: none;
  }

  &__pdp {
    a {
      max-width: calc-em(100);
    }

    .spinner-border {
      top: calc(50% - 0.5rem);
      left: calc(50% - 0.5rem);
    }

    .media-body p {
      @include font-size($font-size-sm);
      @include media-breakpoint-up(lg) {
        @include font-size($font-size-base);
      }
    }
  }
}
