.upsell {
	&__add {
    width: 3em;
  }

  &__spinner,
	.btn__loading {
    width: 3em;
  }

  &__remove {
    width: 3em;
  }

  &:not(.upsell__article) .btn__loading {
    min-width: calc-em(130, 14);
  }

}
