<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Article Critical" }}
	<link rel="stylesheet" href="{{ criticalUrl }}/article.css">
</head>

<body>
	{{> sections/header critical=true}}
	<div class="reading-proggress-bar reading-proggress-bar--scrolled-down d-none position-fixed w-100 m-0">
    <div class="reading-proggress-bar__proggress"></div>
  </div>
	<div class="container px-g mt-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="text-underline breadcrumb-item__link" href="#">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a class="text-underline breadcrumb-item__link" href="#">Category</a>
				</li>
				<li class="breadcrumb-item d-block active" aria-current="page">What is Australian Pink Clay?</li>
			</ol>
		</nav>
		<article class="blog-post-grid row mt-3 mt-lg-4 mb-lg-5">
			<div class="blog-post-grid__content col-12 d-lg-block">
				<h1 class="text-center h2">How to soothe ‘Strawberry Legs’</h1>
				<picture class="d-block mt-3 mb-2 mx-ng mx-lg-auto">
					<source srcset="https://via.placeholder.com/1540x800.jpg/" media="(min-width: 992px)" />
					<img class="w-100" src="https://via.placeholder.com/750x446.jpg/?text=1">
				</picture>
				<div class="text-center mb-4 mx-4 mb-lg-5">Super popular in recent years, and a lifesaver for stressed tresses during lockdown(!), hair masking is everyone’s favourite #selfcaresunday ritual.</div>
			</div>
			<aside class="blog-post-grid__sidebar position-lg-sticky sticky-bottom col-12 mt-3 mt-lg-0 mb-0 align-self-end d-flex d-lg-block flex-wrap">
				<section class="bg-secondary-light mt-lg-n2 mx-ng mx-lg-auto px-g py-3 px-lg-3 order-2">
					<h2 class="mb-3 text-center text-lg-left">Popular Reads</h2>
					<div id="carouselSidebar" class="carousel slide carousel--sidebar">
						<ol class="carousel-indicators carousel-indicators--primary mb-0 d-lg-none">
							<li data-target="#carouselSidebar" data-slide-to="0" class="rounded-circle border-0 bg-secondary active"></li>
							<li data-target="#carouselSidebar" data-slide-to="1" class="rounded-circle border-0 bg-secondary"></li>
						</ol>
						<ul class="list-unstyled carousel-inner mb-0 pb-1">
							<li class="carousel-item d-lg-block float-lg-none active">
								<article class="post-card mb-2 mb-lg-3">
									<h2><a href="#">Your essential guide to exfoliation</a></h2>
									<p class="mt-1 mb-3">Strawberry legs is the appearance of black dots caused by clogged up hair follicles and dry skin. Try these simple steps to soothe and banish them for good!</p>
								</article>
								<article class="post-card mb-2 mb-lg-3">
									<h2><a href="#">3 Unlikely Aussie Ingredients Set to Transform Your Skin 3 Unlikely Aussie Ingredients Set to Transform Your Skin</a></h2>
									<p class="mt-1 mb-3">We love celebrating A-Beauty over here at Sand & Sky, starting with our amazing community. Sarah Davidson is an ex-lawyer turned wellness co-founder of Matcha Maiden, Matcha Mylkbar and host of feel-good podcast....</p>
								</article>
							</li>
							<li class="carousel-item d-lg-block float-lg-none">
								<article class="post-card mb-2 mb-lg-0">
									<h2><a href="#">Your essential guide to exfoliation</a></h2>
									<p class="mt-1 mb-3">Content creator and writer Ruchi Page caught our attention with her inclusive beauty and body positive messaging. Her ability to serve both killer looks and light up a room with...</p>
								</article>
							</li>
						</ul>
					</div>
				</section>
				<section class="bg-secondary-light mt-3 mt-lg-n2 mx-ng mx-lg-auto px-g py-3 px-lg-3 pb-lg-4">
					<h4 class="text-center text-lg-left mb-3 h2 true">Shop The Article</h4>
					<ul class="list-unstyled mb-0">
						<li class="mb-3">
							<form action="" class="d-flex align-items-center bg-white upsell__article">
								<figure class="d-flex flex-grow-1 mb-0 align-items-center">
									<a href="#" class="flex-shrink-0">
										<picture class="d-block">
											<source srcset="https://via.placeholder.com/75x75" media="(min-width: 992px)">
											<img src="https://via.placeholder.com/75x75" alt="" class="w-100">
										</picture>
									</a>
									<figcaption class="d-flex flex-column ml-2">
										<a href="#" class="font-size-sm font-weight-bold mb-1">Australian Pink Clay Porefining Face Mask</a>
										<span class="font-size-sm">$53.00
											<span class="text-linethrough text-secondary font-weight-bold">$65.80</span>
											<span class="text-secondary font-weight-bold">(Save 19%)</span>
										</span>
									</figcaption>
								</figure>
								<button type="submit" class="btn flex-column flex-shrink-0 align-items-center font-size-sm upsell__add">
									<img src="../images/plus-circle.svg" alt="Generic placeholder image" data-skip-inject-svg="true">
								</button>
							</form>
						</li>
						<li>
							<form action="" class="d-flex align-items-center bg-white upsell__article">
								<figure class="d-flex flex-grow-1 mb-0 align-items-center">
									<a href="#" class="flex-shrink-0">
										<picture class="d-block">
											<source srcset="https://via.placeholder.com/75x75" media="(min-width: 992px)">
											<img src="https://via.placeholder.com/75x75" alt="" class="w-100">
										</picture>
									</a>
									<figcaption class="d-flex flex-column ml-2">
										<a href="#" class="font-size-sm font-weight-bold mb-1">Australian Pink Clay Porefining Face Mask</a>
										<span class="font-size-sm">$53.00
											<span class="text-linethrough text-secondary font-weight-bold">$65.80</span>
											<span class="text-secondary font-weight-bold">(Save 19%)</span>
										</span>
									</figcaption>
								</figure>
								<button type="submit" class="btn flex-column flex-shrink-0 align-items-center font-size-sm upsell__add">
									<img src="../images/plus-circle.svg" alt="Generic placeholder image" data-skip-inject-svg="true">
								</button>
							</form>
						</li>
					</ul>
				</section>
			</aside>
		</article>
	</div>
</body>
</html>
