<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Article Critical" }}
	<link rel="stylesheet" href="{{ criticalUrl }}/article.css">
</head>

<body>
	{{> sections/header critical=true}}
	<div class="reading-proggress-bar reading-proggress-bar--scrolled-down d-none position-fixed w-100 m-0">
    <div class="reading-proggress-bar__proggress"></div>
  </div>
	<div class="container px-g mt-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="text-underline breadcrumb-item__link" href="#">Home</a>
				</li>
				<li class="breadcrumb-item">
					<a class="text-underline breadcrumb-item__link" href="#">Category</a>
				</li>
				<li class="breadcrumb-item d-block active" aria-current="page">What is Australian Pink Clay?</li>
			</ol>
		</nav>
		<article class="blog-post-grid row mt-3 mt-lg-4 mb-lg-5">
			<div class="blog-post-grid__content col-12 d-lg-block">
				<h1 class="text-center h2">How to soothe ‘Strawberry Legs’</h1>
				<picture class="d-block mt-3 mb-2 mx-ng mx-lg-auto">
					<source srcset="https://via.placeholder.com/1540x800.jpg/" media="(min-width: 992px)" />
					<img class="w-100" src="https://via.placeholder.com/750x446.jpg/?text=1">
				</picture>
				<div class="text-center mb-4 mx-4 mb-lg-5">Super popular in recent years, and a lifesaver for stressed tresses during lockdown(!), hair masking is everyone’s favourite #selfcaresunday ritual.</div>
			</div>
		</article>
	</div>
</body>
</html>
