<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Blog Critical" }}
	<link rel="stylesheet" href="{{ criticalUrl }}/blog.css">
</head>

<body>
	{{> sections/header critical=true}}
	<div class="container px-g mt-4">
		<h1 class="text-center">SAND AND SKY BLOG</h1>
		<ul class="my-2 nav justify-content-center align-items-center nav-blog">
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">All</a></li>
			<li class="nav-item"><a href="#" class="nav-link  active py-0 h4 font-weight-normal px-lg-2 mb-0">Skintervention</a></li>
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">Skinsiders</a></li>
			<li class="nav-item"><a href="#" class="nav-link  py-0 h4 font-weight-normal px-lg-2 mb-0">Skingredients</a></li>
		</ul>

		<div class="blog-grid row mt-4 mt-lg-5 mb-lg-5">
			{{> compounds/post-card class="blog-grid__post1 post-card__featured col-12 d-lg-block mb-5 mb-lg-4" img="1" time="true" title="3 Unlikely Aussie Ingredients Set to Transform Your Skin" content="There has never been a time in history where staying home and cancelling plans  have been synonymous with being a hero. That’s right, your 35th session of ‘Friends’ reruns are..."}}
		</div>
	</div>
</body>
</html>
