<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Header" }}

	<link rel="stylesheet" href="{{ criticalUrl }}/header.css">
	{{!-- <link rel="stylesheet" href="{{ cssUrl }}/main.css"> --}}
</head>

<body>
	{{> sections/header}}
	{{!-- {{> js jquery=true bootstrap=true main=true }} --}}
</body>

</html>
