<!DOCTYPE html>
<html class="au-store">

<head>
	{{> html-head-meta title="Home" }}

	<link rel="stylesheet" href="{{ criticalUrl }}/home.css">
	{{!-- <link rel="stylesheet" href="{{ cssUrl }}/main.css"> --}}
</head>

<body class="button-abtest-active">
	{{> sections/header secondnav=true critical=true}}

	{{> sections/hero-carousel totalSlide=3 fullimage="true" indicator-timer="true"}}

	{{> sections/featured-products}}

	{{!-- {{> js jquery=true bootstrap=true main=true }} --}}
</body>

</html>
