<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Product Critical" }}
	<link rel="stylesheet" href="{{ criticalUrl }}/product.css">
</head>

<body>
	{{> sections/header critical=true}}

	<section class="container mb-4 mb-lg-7 mt-lg-5">
		<div class="row align-items-start">
			{{> product-image-carousel rangeclass="bg-aea" gutter=""}}
			<div class="col-12 col-lg-5 d-flex flex-column order-lg-3 px-g">
				<h1 class="mt-4">Australian Pink Clay Porefining Face Mask</h1>
				{{!-- DEV --}}
				<div class="react-yotpo-star mb-2" data-product-id="4633315409991" data-show-total="true"></div>
				{{!-- US --}}
				{{!-- <div class="react-yotpo-star mb-2" data-product-id="3595105992809" data-show-total="true"></div> --}}
				<p class="my-2 mb-lg-3">Smooth uneven texture and clear congestion with this triple-action facial exfoliator.</p>
				<div class="d-flex order-lg-3 mb-3">
					<form class="product-form">
						<div class="d-flex product-swatch-mobile__trigger">
							<div class="d-flex">
								<button class="quantity--minus input-group-text border-right-0 rounded rounded-right-0 border-dark flex-grow-0" type="button" aria-label="Add Subtract">
									<img class="svg" src="icons/minus.svg" replace-to-svg />
								</button>
								<input type="number" name="quantity" class="form-control border-left-0 border-right-0 rounded-0 p-0 text-center flex-grow-0 text-body border-dark font-size-dt-lg" value="1">
								<button class="quantity--plus input-group-text border-left-0 rounded rounded-left-0 border-dark flex-grow-0" type="button" aria-label="Add Quantity">
									<img class="svg" src="icons/plus.svg" replace-to-svg />
								</button>
							</div>
							<button class="btn btn-primary btn-block ml-g ml-lg-3" type="submit">Add to Cart</button>
						</div>
						<div class="product-swatch-mobile fixed-bottom d-lg-none px-g py-2 pb-3 bg-white">
							<button class="btn btn-lg btn-primary btn-block m-0" type="submit">Add to cart</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
