<!DOCTYPE html>
<html>

<head>
	{{> html-head-meta title="Range Page" }}
	<link rel="stylesheet" href="{{ criticalUrl }}/range-page.css">
</head>

<body>
	{{> sections/header secondnav=true critical=true}}

	{{> compounds/range-banner title="Australian Emu Apple and Glow Berries™" background="bg-aea" padding="p-4"}}
</body>

</html>
