h1,h2,ol,p,ul{margin-top:0}
.col-6,.container{padding-right:7.5px;padding-left:7.5px;width:100%}
.btn,body{color:#484848}
.btn,img,svg{vertical-align:middle}
.carousel,.carousel-inner,.carousel-item,.col-6,.header-sticky-wrapper,.hero-banner figcaption,.site-header{position:relative}
.badge,.sr-only{white-space:nowrap}
*,.slick-slider,::after,::before{box-sizing:border-box}
.header-wrapper a,.site-header__logo a,a{text-decoration:none}
.carousel-indicators li,body,body:not(.old-nav-enabled) .sequence-mega-menu .site-header{background-color:#fff}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}
.carousel-item.active,figcaption,figure,header,section{display:block}
body{margin:0;font-family:sofia-pro,"Helvetica Neue",Arial,sans-serif;font-size:1em;font-weight:400;line-height:1.25;text-align:left}
.btn,a{background-color:transparent}
p{margin-bottom:.3125rem}
ol,ul{margin-bottom:1rem}
a{color:#4acd8a}
figure{margin:0 0 1rem}
img{border-style:none}
svg{overflow:hidden}
button{border-radius:0;text-transform:none;-webkit-appearance:button}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;overflow:visible}
button::-moz-focus-inner{padding:0;border-style:none}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}
.btn,.btn-lg,.h1,h1,h2{line-height:1.25}
.h1,h1,h2{margin-bottom:.625rem;font-weight:700}
.h1,h1{font-size:1.5em}
h2{font-size:1.25em}
.container{margin-right:auto;margin-left:auto}
@media (min-width:375px){
.container{max-width:540px}
}
@media (min-width:768px){
.container{max-width:720px}
}
@media (min-width:992px){
.container{max-width:960px}
}
.row{display:flex;flex-wrap:wrap;margin-right:-7.5px;margin-left:-7.5px}
.badge,.btn{display:inline-block;font-weight:700;text-align:center}
.col-6{flex:0 0 50%;max-width:50%}
.btn{border:1px solid transparent;padding:.75em 2em;font-size:.875em;border-radius:.25rem}
.badge,.btn-lg{border-radius:.25rem}
.btn-primary{background-color:#4acd8a;border-color:#4acd8a}
.btn-lg{padding:.875em 1.875em;font-size:1em}
.badge{padding:.25em .4em;font-size:75%;line-height:1;vertical-align:baseline}
.badge-light{color:#212529;background-color:#f8f8f8}
.carousel-inner{width:100%;overflow:hidden}
.carousel-inner::after{display:block;clear:both;content:""}
.carousel-item{display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:flex;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}
.carousel-indicators li{box-sizing:content-box;flex:0 1 auto;width:.75em;height:.75em;margin-right:3px;margin-left:3px;text-indent:-999px;background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5}
.carousel-indicators .active{opacity:1}
.bg-white{background-color:#fff!important}
.border-0{border:0!important}
.d-none{display:none!important}
.d-block{display:block!important}
.d-flex{display:flex!important}
.flex-column{flex-direction:column!important}
.flex-nowrap{flex-wrap:nowrap!important}
.justify-content-center{justify-content:center!important}
.justify-content-between{justify-content:space-between!important}
.align-items-start{align-items:flex-start!important}
.align-items-center{align-items:center!important}
.position-relative{position:relative!important}
.position-absolute{position:absolute!important}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.w-100{width:100%!important}
.w-auto{width:auto!important}
.mb-0{margin-bottom:0!important}
.mx-1{margin-right:.3125rem!important;margin-left:.3125rem!important}
.mb-2{margin-bottom:.625rem!important}
.mb-3{margin-bottom:1.25rem!important}
.mt-4{margin-top:1.875rem!important}
.my-5{margin-top:2.5rem!important;margin-bottom:2.5rem!important}
.mx-g{margin-right:15px!important;margin-left:15px!important}
.py-4{padding-top:1.875rem!important;padding-bottom:1.875rem!important}
.px-g{padding-right:15px!important;padding-left:15px!important}
.mt-n4{margin-top:-1.875rem!important}
.text-center{text-align:center!important}
.font-weight-normal{font-weight:400!important}
.btn-primary{color:#fff}
.carousel--scroll .carousel-item{display:block;margin-right:0}
.carousel--scroll .carousel-inner{overflow:hidden;-ms-overflow-style:none;scrollbar-width:none}
.carousel--scroll .carousel-inner::-webkit-scrollbar{display:none}
.carousel-indicators--timer li{height:4px;width:30px;opacity:1;background-color:rgba(255,255,255,.5)}
.carousel-indicators--timer li::before{content:"";display:block;width:0;height:100%;background-color:#fff}
@media (min-width:992px){
.d-lg-none{display:none!important}
.d-lg-block{display:block!important}
.mx-lg-0{margin-right:0!important;margin-left:0!important}
.my-lg-3{margin-top:1.25rem!important;margin-bottom:1.25rem!important}
.my-lg-7{margin-top:5rem!important;margin-bottom:5rem!important}
.text-lg-left{text-align:left!important}
.h1,h1{font-size:2.25em}
h2{font-size:1.5em}
.container,[class*=col-]{padding-right:15px;padding-left:15px}
.row{margin-right:-15px;margin-left:-15px}
.carousel--scroll .carousel-inner{overflow-x:auto}
.hero-banner{grid-template-columns:[grid-start] 1fr repeat(12,[col-start] minmax(0,50px)) 1fr [grid-end];-moz-column-gap:30px;column-gap:30px}
.hero-banner.active{display:grid}
.hero-banner picture{grid-column-start:col-start 5;grid-column-end:grid-end}
.hero-banner figcaption{position:absolute;top:0;bottom:0;left:0;right:0;grid-column-start:col-start 1;grid-column-end:span 5;align-content:center;display:grid;grid-template-columns:repeat(5,[col-start] 1fr [gutter-start] 30px) [gutter-end] 1fr}
.hero-banner__text{grid-column-start:col-start 2;grid-column-end:span 6}
.product-card{flex:0 0 20%;max-width:20%}
}
.slick-list,.slick-slider,.slick-track{display:block;position:relative}
@media (min-width:1260px){
.container{max-width:1200px}
.hero-banner{grid-template-columns:[grid-start] 1fr repeat(12,[col-start] minmax(0,70px)) 1fr [grid-end]}
}
.product-card .badge{top:.41667em;left:1.04167em;padding:.41667em .83333em}
.slick-slider{-webkit-touch-callout:none;touch-action:pan-y}
.slick-list{overflow:hidden;margin:0;padding:0}
.slick-slider .slick-list,.slick-slider .slick-track{transform:translate3d(0,0,0)}
.slick-track{left:0;top:0}
.slick-track:after,.slick-track:before{content:"";display:table}
.slick-track:after{clear:both}
.slick-slide{float:left;height:100%;min-height:1px;display:none}
.page-width{max-width:1500px;margin:0 auto;padding:0 17px}
.header-wrapper a{color:#000;background:0 0}
.header-layout{display:flex;justify-content:space-between}
.header-item{display:flex;align-items:center;flex:1 1 auto}
.header-layout[data-logo-align=left] .site-header__logo{margin-right:10px}
.site-header__logo{position:relative;margin:10px 0;display:block;font-size:30px;z-index:6}
.site-header__logo a{max-width:100%;color:#19736a}
.site-header__logo-link{display:flex;align-items:center;color:#19736a}
.cart-side-panel,.currency-picker-desktop,.mega-menu-wrapper,.mega-search-wrapper,.mobile-sequence-wrapper,.site-header .open-mobi-nav,.site-header__search-container,.ss-mobile-sequence-overlay{display:none}
@media (max-width:767.98px){
.site-header__logo-link{margin:0 auto}
}
.cart-link__bubble--visible{display:block;position:absolute;top:2px;left:-1px;border:2px solid #fff;border-radius:50%}
.announcement-bar{font-size:13.6px;position:relative;text-align:center;color:#fff}
.announcement-slider{display:flex;align-items:center}
.announcement-slider__slide{display:block;position:relative;overflow:hidden;padding:0 5px;width:100vw}
.announcement-slider__slide:first-child,.announcement-text{display:block}
.announcement-link{display:block;color:#fff}
@media only screen and (min-width:768px){
.page-width{padding:0 40px}
.site-header{padding:20px 0}
.site-header__logo{text-align:left}
.announcement-slider--compact .announcement-text{display:inline}
}
.cart-link__bubble--visible{width:21px;color:#fff;font-size:12px;text-align:center;height:21px;display:flex;justify-content:center;align-items:center;background:#ff7b90}
#shopify-section-header ul,.site-header{padding:0}
.announcement-text{line-height:23px;font-weight:700;font-size:14px;letter-spacing:.4px}
.site-header .header-item.header-item-logo .site-header__logo,.slick-track{margin:0 auto}
@media only screen and (min-width:769px){
header .pink-header,header .pink-header>.header-layout{height:66px}
}
.announcement-bar{background:#ff7b90;padding:10.5px 0;min-height:44px}
.site-header{background:#fff}
@media (max-width:767px){
.announcement-bar .page-width{padding:0}
}
@media (min-width:992px){
.product-card .badge{top:.83333em;left:2.08333em}
header .page-width.pink-header{padding:0 15px;max-width:970px;height:66px}
header .pink-header>.header-layout{height:66px}
.header-item ul.desktop-nav-item li.burger-mobile,.mobi-product-section{display:none}
.site-header .page-width.pink-header{padding:0 50px}
}
@media (min-width:1200px){
header .page-width.pink-header,header .page-width.pink-header>.header-layout{max-width:1170px;height:66px}
}
.slick-initialized .slick-slide{display:block;position:relative;text-align:center}
.announcement-bar{background-color:#b1378e}
.announcement-bar .slick-slider .slick-track{display:flex;align-items:center;justify-content:center}
.site-header{border-bottom:1px solid #fff;z-index:27;background-color:transparent}
.site-header .page-width.pink-header{max-width:100%;border-bottom:none}
.site-header .page-width.pink-header>.header-layout{max-width:100%}
.site-header .header-item{flex:1}
body:not(.old-nav-enabled) .sequence-mega-menu .site-header .page-width.pink-header{padding:0;max-width:1230px}
@media (max-width:1260px){
body:not(.old-nav-enabled) .sequence-mega-menu .site-header .page-width.pink-header{max-width:90%}
}
@media (max-width:991px){
header .site-header__logo{position:absolute;margin:0!important;left:0;right:0;display:flex;justify-content:center;top:0;bottom:0}
header .pink-header{padding:0;position:relative;height:66px!important;border-bottom:1px solid #ececec}
header .js-drawer-open-cart{padding:0;position:absolute;top:0;bottom:0;right:15px;margin:auto;display:flex;align-items:center}
header .header-layout{height:100%}
.destop-product-section{display:none}
body:not(.old-nav-enabled) .sequence-mega-menu .site-header .page-width.pink-header{max-width:100%}
}
body:not(.old-nav-enabled) .sequence-mega-menu .site-header__logo a{width:45px}
.header-item ul.desktop-nav-item{list-style:none;margin:0;display:flex;align-items:center;padding:0}
.header-item ul.desktop-nav-item li{margin-bottom:0}
.header-item ul.desktop-nav-item li.track-nav{min-width:129px}
.header-item ul.desktop-nav-item li.currency-desktop-nav{position:relative;min-width:117px}
.header-item ul.desktop-nav-item li.cart-nav a{position:relative;right:0}
.header-item ul.desktop-nav-item li a.desktop-nav-link{color:#494949;font-weight:700;font-size:16px;line-height:19px;letter-spacing:.4px}
.header-item ul.desktop-nav-item li a.desktop-nav-link svg{margin-left:7px;margin-bottom:1px}
.header-item ul.desktop-nav-item li.burger-mobile{margin-bottom:0;height:16px;z-index:9}
.header-item.section-header-item-right{justify-content:flex-end}
.header-item.section-header-item-right ul li{margin-left:20px}
.header-item.section-header-item-right ul li:first-child{margin-left:0}
.header-item.section-header-item-right .cart-link__bubble--visible{background:0 0;color:#ff7b90;border:none}
.header-item.section-header-item-left .smega-menu{position:initial!important;margin-right:45px}
.search-nav{position:initial!important;z-index:10}
@media (max-width:991.98px){
.m-none{display:none!important}
.header-item ul.desktop-nav-item li.cart-nav a{z-index:9}
.header-item ul.desktop-nav-item li a.desktop-nav-link svg{margin-left:0;margin-bottom:0}
.header-item.section-header-item-right{padding-right:25px}
.header-item.section-header-item-right .cart-link__bubble--visible{top:6px}
.header-item.section-header-item-left{padding-left:25px}
.hero-carousel .carousel-indicators{top:55%;bottom:auto}
}
.hero-carousel .carousel-indicators li.active::before{-webkit-animation-duration:7s;animation-duration:7s}
