@charset 'UTF-8';

@import 'core/functions';
@import 'core/vars';
@import 'mixins/carousel';

@import 'bootstrap/main';

@import 'core/fonts';
@import 'core/type';
@import 'core/grid';
@import 'core/utilities';

@import 'components/icons';
@import 'components/buttons';
@import 'components/forms';
@import 'components/custom-forms';
@import 'components/announcement-bar';
@import 'components/tabs';
@import 'components/tooltip';
@import 'components/dropdown';
@import 'components/nav';
@import 'components/modal';
@import 'components/klarna';
@import 'components/carousel';

@import 'compounds/mega-menu-post-card';
@import 'compounds/mega-menu';
@import 'compounds/mobile-menu';
@import 'compounds/search-box';
@import 'compounds/product-card';

@import 'sections/header';
@import 'sections/cart-drawer';
@import 'sections/footer';
