@import 'core/functions';
@import 'core/vars';
@import 'mixins/carousel';

@import 'bootstrap/bootstrap';

@import 'core/fonts';
@import 'core/type';
@import 'core/grid';
@import 'core/utilities';

@import 'components/icons';
@import 'components/buttons';
@import 'components/pswp';
@import 'components/loading-old';
@import 'components/forms';
@import 'components/carousel';
@import 'components/product-image-carousel';

@import 'compounds/upsell';
@import 'compounds/signup-popup';

@import 'sections/slick-slider';
@import 'sections/header';
@import 'sections/cart-drawer-other';
@import 'sections/cart-drawer';
@import 'sections/usp-banner';
@import 'sections/newsletter-banner';
@import 'sections/footer';

@import 'templates/home';
