@import 'core/functions';
@import 'core/vars';
@import 'mixins/carousel';

@import 'bootstrap/bootstrap';

@import 'core/fonts';
@import 'core/type';
@import 'core/grid';
@import 'core/utilities';

@import 'components/icons';
@import 'components/buttons';
@import 'components/video-card';
@import 'components/accordion';
@import 'components/tabs';
@import 'components/forms';
@import 'components/carousel';
@import 'components/product-image-carousel';
@import 'components/announcement-bar';
@import 'components/tooltip';
@import 'components/dropdown';
@import 'components/ingredient';

@import 'compounds/hero-banner';
@import 'compounds/product-card';
@import 'compounds/upsell';
@import 'compounds/mega-menu-post-card';
@import 'compounds/mega-menu';

@import 'sections/header';
@import 'sections/cart-drawer';
@import 'sections/hero-carousel';
@import 'sections/featured-products';
@import 'sections/collection-section';
@import 'sections/instagram';
@import 'sections/a-beauty-review';
@import 'sections/usp-banner';
@import 'sections/newsletter-banner';
@import 'sections/yotpo';
@import 'sections/footer';
@import 'sections/how-to-video';
@import 'sections/review-carousel';

@import 'templates/home';
