@import 'core';
@import 'bootstrap/common';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/badge';
@import 'bootstrap/common-last';
@import 'common';

@import 'components/video-card';
@import 'components/accordion';
@import 'components/product-image-carousel';
@import 'components/list';
@import 'components/ingredient';
@import 'components/badge';
@import 'components/product-variant';

@import 'compounds/upsell';

@import 'sections/featured-products';
@import 'sections/newsletter-banner';
@import 'sections/how-to-video';
@import 'sections/yotpo';
@import 'sections/yotpo-reviews';
@import 'sections/review-carousel';

@import 'templates/product';
