<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Colors" }}

	<link rel="stylesheet" href="{{ cssUrl }}/colors.css">
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Colors</h1>
		<h2>Brand</h2>
		<div class="row">
			<div class="col-6 col-lg-2 mb-3 box-range-apc">APC</div>
			<div class="col-6 col-lg-2 mb-3 box-range-apc-light">APC Light</div>
			<div class="col-6 col-lg-2 mb-3 box-range-aea">AEA</div>
			<div class="col-6 col-lg-2 mb-3 box-range-aea-light">AEA Light</div>
			<div class="col-6 col-lg-2 mb-3 box-range-tsw">TSW</div>
			<div class="col-6 col-lg-2 mb-3 box-range-tsw-light">TSW Light</div>
			<div class="col-6 col-lg-2 mb-3 box-range-oil">OIL</div>
			<div class="col-6 col-lg-2 mb-3 box-range-oil-light">OIL Light</div>
		</div>
		<h2>Primary</h2>
		<div class="row">
			<div class="col-6 col-lg-2 mb-3 box-primary">Primary</div>
			<div class="col-6 col-lg-2 mb-3 box-primary-light">Primary Light</div>
			<div class="col-6 col-lg-2 mb-3 box-primary-dark">Primary Dark</div>
		</div>
		<h2>Body</h2>
		<div class="row">
			<div class="col-6 col-lg-2 mb-3 box-link">Link</div>
			<div class="col-6 col-lg-2 mb-3 box-body-color">Body</div>
			<div class="col-6 col-lg-2 mb-3 box-secondary-body">Secondary Body</div>
			<div class="col-6 col-lg-2 mb-3 box-white">White</div>
		</div>
		<h2>Others</h2>
		<div class="row">
			<div class="col-6 col-lg-2 mb-3 box-gray-500">Gray 500</div>
			<div class="col-6 col-lg-2 mb-3 box-gray-400">Gray</div>
			<div class="col-6 col-lg-2 mb-3 box-gray-100">Gray Light</div>
		</div>
	</div>
</body>

</html>
