<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Typography" }}
</head>

<body>
	<div class="container px-g mt-4">
		<h1>Typography</h1>
		<h1>H1 | Header 1</h1>
		<p class="h1">H1 | Header 1 using class</p>
		<h2>H2 | Header 2</h2>
		<p class="h2">H2 | Header 2 using class</p>
		<h3>H3 | Header 3</h3>
		<p class="h3">H3 | Header 3 using class</p>
		<h4>H4 | Header 4</h4>
		<p class="h4">H4 | Header 4 using class</p>
		<h5>H5 | Header 5</h5>
		<p class="h5">H5 | Header 5 using class</p>
		<p>Body | Font size base</p>
		<p class="font-size-sm">Body 2 | Font size sm</p>
		<p class="font-size-xs">Caption | Font size xs</p>
	</div>
</body>

</html>
