.collection-banner {
	picture::before {
		padding-top: percentage(331/828);

		@include media-breakpoint-up(lg) {
			padding-top: percentage(333/1920);
		}
	}
}

html.us-store, html.uk-store {
	.filter-menu--abtest {
		.new-filter--abtest {
			display: flex !important;
		}

		.tab-content--abtest {
			display: block !important;
		}
		
		.nav-filter--original, .collection-title--original, .tab-content--original {
			display: none !important;
		}
	}
}