html.uk-store {
	.tab-benefit--abtest {

		&-icon,
		&-check {
			.list-check:not(.list--check),
			.benefit__description {
				display: none;
			}
		}

		&-icon .list--icon {

			display: block !important;

			@include media-breakpoint-down(md) {
				svg {
					transform: scale(.8);
				}
			}
		}

		&-check .list--check {
			display: block !important;
		}
	}
}
