.product {
	&__formula-list li:before{
		font-size: calc-em(32,16);
		flex-basis: 25%;
	}

	&-swatch-mobile {
		visibility: hidden;
		opacity: 0;
		z-index: $zindex-dropdown !important;
		transition: opacity .25s linear;

		&.show {
			transition: opacity .25s linear;
			opacity: 1;
			visibility: visible;
		}
	}

	&__klarna {

		.sni__klarna-logo:before {
			font-size: calc-em(12, 14);
		}

		.sni__info-circle:before {
			cursor: pointer;
		}
	}
}

.sni__hyperlink {
	text-decoration: underline;
	
	&:before {
		position: absolute;
		right: calc-em(-22, 16);
		font-size: calc-em(14, 16);
	}
}
